<%= content_tag(:h3, container.title) if !container.title.blank? %>
<%= content_tag(:p, container.description) if !container.description.blank? %>
<%= form_for Subscriber.new, :remote => true, :class => 'onepager_form' do |f| %>
	<fieldset>
		<%= f.hidden_field :site_id_enc, :value => Subscriber.encrypt(container.page.site.id.to_s) %>
    <%= f.hidden_field :crosscheck, :value => "cross-c-confirm" %>
		<%= f.text_field :email, :placeholder => t('views.content_types.newsletters.email_placeholder', :default => 'Enter your email address'), :class => 'onepager_input' %>
		<%= f.submit I18n.t(:subscribe, :default => "Subscribe"), :class => 'onepager_submit' %>
	</fieldset>
<% end %>