<h2>
	<img src="/assets/dashboard/icon-header-profile.png" alt="" />
	User Profile
</h2>

<% if @user.errors.any? %>
	<div class="errors">
		<%=raw @user.errors.full_messages.join(", ") %>
	</div>
<% end %>

<% if !flash[:notice].blank? %>
	<div class="notice">
		<%=raw flash[:notice] %>
	</div>
<% end %>

<%= form_for @user, :url => "/account/settings" do |f| %>
	
	<fieldset>
		<%= f.label :first_name, 'Name' %>
		<%= f.text_field :first_name, :class => "user_input short_input", :placeholder => 'First' %>
		<%= f.text_field :last_name, :class => "user_input short_input", :placeholder => 'Last' %>
	</fieldset>
	<fieldset>
		<%= f.label :email, 'Email Address' %>
		<%= f.text_field :email, :class => 'user_input' %>
	</fieldset>
	
	<h4>Change Password</h4>
	<fieldset class="grouped">
		<ul>
			<li>
				<%= f.label :old_password, 'Old Password' %>
				<%= f.password_field :old_password, :class => 'user_input' %>
			</li>
			<li>
				<%= f.label :password, "New Password" %>
				<%= f.password_field :password, :class => 'user_input' %>
			</li>
		</ul>
	</fieldset>

	<div class="form_actions">
		<%= f.hidden_field :site_ids, :value => "nil" %><%# This is a hack to allow child users to update their account settings profile %>
		<%= f.submit "Save", :class => 'start' %>
	</div>
<% end %>

<% content_for :title do %>Profile - Account Management<% end %>