<%= content_tag(:h3, content.title) if !content.title.blank? %>
<%= content_tag(:p, content.description) if !content.description.blank? %>

<ul>
	<% if !content.phone.blank? %>
		<% if request.user_agent =~ /Mobile|webOS/ %>
			<li itemprop="telephone"><a href="tel:<%= content.phone.gsub(/\D/, "") %>"><%= content.phone %></a></li>
		<% else %>
			<li itemprop="telephone"><%= content.phone %></li>
		<% end %>
	<% end %>
	<% if !content.fax.blank? %>
		<li itemprop="faxNumber"><%= content.fax %> (Fax)</li>
	<% end %>
	<% if !content.email.blank? %>
		<li itemprop="email"><%= mail_to(content.email, content.email, :encode => "hex", :target => "_blank") %></li>
	<% end %>
	<% if !content.full_address.blank? %>
		<li itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><%=raw content.htmlized_address %></li>
	<% end %>
</ul>
<% if content.map_enabled? %>
	<a href="http://maps.google.com/maps?q=<%= CGI::escape(content.full_address) %>" target="_blank" itemprop="maps" class="map">
		<img src="http://maps.google.com/maps/api/staticmap?center=<%= CGI::escape(content.full_address) %>&zoom=15&size=<%= content.map_width %>x300&maptype=roadmap&markers=color:red%7Ccolor:red%7C<%= CGI::escape(content.full_address) %>&sensor=false&key=AIzaSyCJeGbqsAE52iUiWBc__AnQ-5YBjskkuo0" width="100%" />
	</a>
<% end %>
