<section class="contact_sections" id="contact_section_<%= content.id || 'new' %>" data-model-class="<%= content.class %>">
	<% if params[:action] != 'new' %>
		<div class="editable">
			<span class="form_edit">Click to Edit</span>
			<%= render "content_types/contact_sections/content", :content => content %>
		</div>
		<div class="addable">
			<a href="#" class="form_add">+ Add Content</a>
		</div>
	<% end %>
	<%= form_for [:content_types, content], :namespace => content.object_id, :remote => true do |f| %>
		<fieldset style="display: none;">
			<div class="form_header">
				<h6>Contact</h6>
				<a href="#" class="form_info" data-content-type="contact_sections">Info</a>
			</div>
			<ul>
				<li>
					<%= f.label :title %>
					<%= f.text_field :title, :class => 'user_input', :size => '' %>
				</li>
				<li>
					<%= f.label :description %>
					<%= f.text_area :description, :class => 'user_input', :size => '' %>
				</li>
			</ul>
			<ul>
				<li>
					<%= f.label :phone %>
					<%= f.text_field :phone, :class => 'user_input', :size => '' %>
				</li>
				<li>
					<%= f.label :fax %>
					<%= f.text_field :fax, :class => 'user_input', :size => '' %>
				</li>
				<li>
					<%= f.label :email %>
					<%= f.text_field :email, :class => 'user_input', :size => '' %>
				</li>
				<li>
					<%= f.label :address %>
					<%= f.text_field :address, :class => 'user_input', :size => '' %>
					<%= f.text_field :address2, :class => 'user_input', :size => '' %>
				</li>
				<li>
					<%= f.label :city %>
					<%= f.text_field :city, :class => 'user_input', :size => '' %>
				</li>
				<li>
					<span class="combo">
						<%= f.label :state %>
						<%= f.text_field :state, :class => 'user_input_short', :size => '' %>
					</span>
					<span class="combo">
						<%= f.label :zip, 'Postal Code' %>
						<%= f.text_field :zip, :class => 'user_input_short', :size => '' %>
					</span>
				</li>
			</ul>
			<ul>
				<li class="checkbox">
					<%= f.check_box :map_enabled %>
					<%= f.label :map_enabled, "Show a Google Map" %>
				</li>
			</ul>
			<div class="form_actions">
				<%= link_to "Delete?", [:content_types, content], :class => 'form_remove', :method => :delete, :remote => true, :data => { :confirm => 'Delete?' } if params[:action] != 'new' %>
				<a href="#" class="form_close">Cancel</a>
				<%= f.hidden_field :page_id, :value => page_id %>
				<%= f.hidden_field :position, :value => position if defined? position %>
				<%= f.submit "Done", :class => 'user_submit' %>
			</div>
		</fieldset>
	<% end %>
</section>