<%= content_tag(:h3, container.title) if !container.title.blank? %>
<%= content_tag(:p, container.description) if !container.description.blank? %>
<% container.social_button.social_links.each do |sl| %>
	<a href="<%= sl.full_url %>" target="_blank"<%= if sl.service == "Google+" then raw(' rel="publisher"') end %>><img src="/assets/pages/social-buttons/<%= sl.service.downcase %>.png" target="_blank" alt="<%= sl.service %>" width="32" /></a>
<% end %>

<div class="like_buttons">
	<% if action_name != 'edit' && action_name != 'update' %>
		<% if container.social_button.tweet_button? %>
			<a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-lang="en">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		<% end %>

		<% if container.social_button.google_plus_button? %>
			<!-- Place this tag where you want the +1 button to render. -->
			<div class="g-plusone" data-size="medium" data-annotation="none"></div>

			<!-- Place this tag after the last +1 button tag. -->
			<script type="text/javascript">
				(function() {
					var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
					po.src = 'https://apis.google.com/js/plusone.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				})();
			</script>
		<% end %>

		<% if container.social_button.like_button? %>

			<script>(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=135969636596541";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
      
			<div class="fb-like" data-href="<%= request.url %>" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div>
			<div id="fb-root"></div>
      
		<% end %>

		<% if container.social_button.linked_in_button? %>

			<script src="//platform.linkedin.com/in.js" type="text/javascript">
			 lang: en_US
			</script>
			<script type="IN/Share" data-url="<%= request.url %>" data-counter="right"></script>
			
		<% end %>

	<% else %>
		<%= image_tag( '/assets/pages/show/icon-tweet.png', :alt => 'Tweet' ) if container.social_button.tweet_button? %>
		<%= image_tag( '/assets/pages/show/icon-google-plus.png', :alt => 'Plus' ) if container.social_button.google_plus_button? %>
		<%= image_tag( '/assets/pages/show/icon-facebook-like.png', :alt => 'Like' ) if container.social_button.like_button? %>
		<%= image_tag( '/assets/pages/show/icon-linked-in-share.png', :alt => 'Share' ) if container.social_button.linked_in_button? %>
	<% end %>
	
</div>
