<section class="social_buttons" id="social_buttons_<%= container.id || 'new' %>" data-model-class="<%= container.class %>">
	<% if params[:action] != 'new' %>
		<div class="editable">
			<span class="form_edit">Click to Edit</span>
			<%= render "content_types/social_buttons/content", :container => container %>
		</div>
		<div class="addable">
			<a href="#" class="form_add">+ Add Content</a>
		</div>
	<% end %>
	
	<%= form_for [:content_types, container], :url => (container.new_record? ? content_types_social_buttons_path : content_types_social_button_path(container)), :namespace => container.object_id, :remote => true do |f| %>
		<fieldset style="display: none;">
			<div class="form_header">
				<h6>Social</h6>
				<a href="#" class="form_info" data-content-type="social_buttons">Info</a>
			</div>
			<ul>
				<li>
					<%= f.label :title %>
					<%= f.text_field :title, :class => 'user_input', :size => '' %>
				</li>
				<li>
					<%= f.label :description %>
					<%= f.text_area :description, :class => 'user_input', :size => '' %>
				</li>
			</ul>
			<%= f.fields_for :social_button do |sb| %>
				<div class="content_list">
					<h6>Links</h6>
					<ul>
						<% container.social_button.social_links.build if container.social_button.social_links.length == 0 %>
						<%= sb.fields_for :social_links do |sl| %>
							<li>
								<%= sl.select :service, SocialLink::SERVICES %>
								<%= sl.text_field :url, :placeholder => "e.g. http://facebook.com/zuck" %>
								<%= sl.hidden_field :_destroy %>
								<%= sl.hidden_field :id %>
								<a href="#" class="remove_item">Delete</a> <%# show this delete button only if there is more than 1 %>
							</li>
						<% end %>
					</ul>
					<a href="#" class="add_item">Add Links</a>
				</div>
				<div class="checkbox_list">
					<h6>Buttons <small>check the ones you'd like to appear</small></h6>
					<%= sb.check_box :tweet_button %><%= sb.label :tweet_button, image_tag( '/assets/pages/show/icon-tweet.png', :alt => 'Tweet' ) %>
					<%= sb.check_box :google_plus_button %><%= sb.label :google_plus_button, image_tag( '/assets/pages/show/icon-google-plus.png', :alt => 'Plus' ) %>
					<%= sb.check_box :like_button %><%= sb.label :like_button, image_tag( '/assets/pages/show/icon-facebook-like.png', :alt => 'Like' ) %>
					<%= sb.check_box :linked_in_button %><%= sb.label :linked_in_button, image_tag( '/assets/pages/show/icon-linked-in-share.png', :alt => 'Share' ) %>
				</div>
			<% end %>
			<div class="form_actions">
				<%= link_to "Delete?", content_types_social_button_path(container), :class => 'form_remove', :method => :delete, :remote => true, :data => { :confirm => 'Delete?' } if params[:action] != 'new' %>
				<a href="#" class="form_close">Cancel</a>
				<%= f.hidden_field :page_id, :value => page_id %>
				<%= f.hidden_field :position, :value => position if defined? position %>
				<%= f.submit "Done", :class => 'user_submit' %>
			</div>
		</fieldset>
	<% end %>
</section>