<% content_for :title do %>How Your Site is Performing<% end %>

<h2>
	<img src="/assets/dashboard/icon-header-analytics.png" alt="" />
	How Your Site is Performing
</h2>

<% if @analytics.blank? %>

	<h3>Still gathering data...</h3>
	<p>We've just started gathering data for your site. Once it's ready you'll be able to see your website activity on your dashboard.</p>
	<p>If you have a Google Analytics tracking ID and you'd like to hook that into your site, you can head over to the <a href="/dashboard/setting">advanced settings</a> page to add your ID.</p>
	
<% else %>
	
	<form method="GET" action="/dashboard">
		<fieldset class="time_travel">
			<select name="time_travel">
				<option value="week"<%=raw ' selected="selected"' if params[:time_travel] == 'week' %>>Past Week</option>
				<option value="month"<%=raw ' selected="selected"' if params[:time_travel] == 'month' %>>Past Month</option>
			</select>
		</fieldset>
	</form>

	<h4>Unique Visits</h4>
	<div id="performance_chart"></div>
		
	<span class="stat">
		Total Views
		<strong>
			<%= number_with_delimiter @analytics.total_views %>
		</strong>
	</span>
	<span class="stat">
		Average Time on Site
		<strong>
			<%= @analytics.avg_time_on_site.to_f.divmod(60)[0] %>:<%= "%02d" % @analytics.avg_time_on_site.to_f.divmod(60)[1].to_i %>
		</strong>
	</span>
	<span class="stat">
		New Visitors
		<strong>
		  <%= number_to_percentage @analytics.new_visitors, { :precision => 0 } %>
		</strong>
	</span>

	<dl class="performance_left">
		<dt>Top Sources</dt>
		<% @analytics.sources.each do |v| %>
			<dd>
				<%= v[:source] %>
				<strong><%= v[:visits] %></strong>
			</dd>
		<% end %>
	</dl>

	<dl class="performance_right">
		<dt>Top Keywords</dt>
		<% @analytics.keywords.each do |v| %>
			<dd>
				<%= v[:keyword] %>
				<strong><%= v[:visits] %></strong>
			</dd>
		<% end %>
	</dl>


	<% content_for :js_inject do %>
		<script type="text/javascript">
			Onepager.Analytics.show();
		</script>
	<% end %>

	<% content_for :head_js do %>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript">
			google.charts.load('current', {packages: ['corechart']});
			google.charts.setOnLoadCallback(drawChart);

			function drawChart() {
				var data = new google.visualization.DataTable();
				data.addColumn('string', 'Date');
				data.addColumn('number', 'Views');
				data.addRows(<%= @analytics.sorted_deep_dive.count %>);
		
				<% @analytics.sorted_deep_dive.each_with_index do |v, i| %>
					data.setValue(<%= i %>, 0, '<%= v[:month].to_s + '/' + v[:day].to_s  %>');
					data.setValue(<%= i %>, 1, <%= v[:visits]  %>);
				<% end %>

				var chart = new google.visualization.LineChart(document.getElementById('performance_chart'));
				chart.draw(data, {
					width: 746,
					height: 250,
					title: '',
					colors: [ 'ff7e39' ],
					lineWidth: 3,
					legend: 'none',
					backgroundColor: {
						stroke: '#fff',
						strokeWidth: 0
					},
					chartArea: {
						height: 200,
						width: 685
					},
					vAxis: {
						baseline: 0,
						baselineColor: '#c8c8c8',
						textStyle: {
							color: '#999999',
							fontSize: 11
						},
						titleTextStyle: {
							color: '#999999',
							fontSize: 12
						}
					},
					hAxis: {
						textStyle: {
							color: '#999999',
							fontSize: 10
						}
					},
					tooltipTextStyle: {
						color: '#999999',
						fontSize: 10
					}
				});
			}
		</script>
	<% end %>
	
<% end %>
