<% content_for :content_class do %>main_content<% end %>
<header>
	<h1>Change Password</h1>
</header>
<section class="signin">
	<%= form_for @user, :url => reset_password_path(:id => params[:id]), :method => :put do |f| %>
		<fieldset>
			<%= f.label :password, "New Password" %>
			<%= f.password_field :password, :class => 'user_input' %>
		</fieldset>
		<% if !flash[:notice].blank? %>
			<div class="notice">
				<%=raw flash[:notice] %>
			</div>
		<% end %>
		<% if @user.errors.any? %>
			<div class="errors">
				<%=raw @user.errors.full_messages.join(", ") %>
			</div>
		<% end %>
	
		<div class="form_actions">
			<%= submit_tag "Change", :class => 'start' %>
		</div>
	<% end %>
</section>