<% content_for :content_class do %>main_content<% end %>
<header>
	<h1>Reset Password</h1>
</header>
<section class="signin">
	<%= form_for reset_password_path do %>
		<fieldset>
			<label for="email">Email</label>
			<%= text_field_tag "email", '', :class => 'user_input' %>
		</fieldset>
		<% if !flash[:notice].blank? %>
			<div class="notice">
				<%=raw flash[:notice] %>
			</div>
		<% end %>
		<% if !flash[:errors].blank? %>
			<div class="errors">
				<%=raw flash[:errors] %>
			</div>
		<% end %>
		<div class="form_actions">
			<span class="note">
				A link to reset your password will be emailed to you.
			</span>
			<%= submit_tag "Submit", :class => 'start' %>
		</div>
	<% end %>
</section>