/*
------------------
TEXTAREA SECTION
------------------
*/
.text_areas {
	margin-bottom: 2em;
}


/*
------------------
SERVICES SECTION
------------------
*/
.services {
	margin-bottom: 2em;
}


/*
------------------
BUTTON SECTION
------------------
*/
.buttons {
	margin-bottom: 2em;
}
.call_to_action_button {
	font: bold 18px/42px arial, helvetica, sans-serif; text-align: center; text-decoration: none; color: #333; text-shadow: 1px 1px 0 #fbfbfb;
	background: url('/assets/pages/show/button-general.png') left top repeat-x;
	height: 42px; padding: 0 20px; border: 1px solid #b5b5b5; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px;
	display: inline-block; overflow: hidden; max-width: 90%;
}
	.call_to_action_button:hover {
		background-position: left -52px;
	}
	.call_to_action_button:active {
		background-position: left -104px;
		border-width: 1px 2px 1px 2px; padding-left: 19px; padding-right: 19px;
	}
	
/*
--------------
CONTACT INFO
-------------
*/
.contact_sections {
	margin-bottom: 2em;
}
	.contact_sections ul {
		list-style: none;
		padding-left: 0; margin-bottom: 0;
	}
	.contact_sections .map {
		margin-top: 1em;
		display: block;
	}
	
/*
--------------
EMBEDDED MEDIA
-------------
*/
.embeds {
	margin-bottom: 2em;
}
	.embeds iframe {
		max-width: 100%;
	}
	
/*
--------------
HOURS
-------------
*/
.hours {
	margin-bottom: 2em;
}
	.hours ul {
		list-style: none;
		padding-left: 0; margin-bottom: 0;
	}
	.hours li strong {
		margin-right: 3px;
	}

/*
--------------
SOCIAL MEDIA
-------------
*/
.social_buttons {
	margin-bottom: 2em;
}
	.social_buttons a {
		vertical-align: middle;
		margin-right: 5px; margin-bottom: 8px; width: 32px; height: 32px;
		display: inline-block; overflow: hidden;
	}
		.social_buttons a img {
			margin-top: 0;
		}
		.social_buttons a:hover img {
			margin-top: -65px;
		}
	.like_buttons {
		margin-top: 10px;
		overflow: hidden;
	}
		.like_buttons iframe, .fb-like, .like_buttons span, .like_buttons div {
			vertical-align: top !important;
		}
	span.IN-widget a {
		vertical-align: baseline;
		width: auto;
	}
	.fb_reset {
		display: inline-block;
	}

/*
--------------
FORM STYLES
-------------
*/
.contact_form_fields, .newsletters {
	margin-bottom: 2em;
}
	.onepager_form fieldset {
		font-family: inherit; font-size: inherit;
		background-color: transparent;
		margin-bottom: 10px; border: 0; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	}
	.onepager_form label {
		text-transform: inherit; color: inherit;
		margin-bottom: 2px;
		display: block;
	}
	.onepager_input {
		max-width: 225px;
	}
	textarea.onepager_input {
		max-width: 400px; height: 100px;
	}
		.newsletters input[type="text"] {
			line-height: 20px;
			padding: 4px 5px; width: 62%; height: 20px; margin-right: 5px;
		}
	.onepager_form_actions {
		padding-top: 5px;
	}
		.onepager_submit {
			font: bold 13px arial, helvetica, sans-serif; text-shadow: 1px 1px 0 #eaeaea; color: #333; cursor: pointer; vertical-align: middle;
			background: #fff url('/assets/pages/button-general.png?1') left top repeat-x;  box-shadow: inset 0 1px 0 0 #fff;
			padding: 5px 10px; border: 1px solid #a0a0a0; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
			display: inline-block;
		}
		.onepager_submit:hover {
			color: #191919;
			background-position: left -32px;
		}
		.onepager_submit:active {
			background-position: left top; box-shadow: inset;
			padding-top: 6px; padding-bottom: 4px;
		}
		
	.onepager_comments {
		display: none; opacity: 0; filter: alpha(opacity=0);
	}
		.onepager_comments label {
			display: none;
		}
		.onepager_comments input {
			display: none;
		}

/*
--------------
GALLERY IMAGES
-------------
*/
.galleries {
	margin-bottom: 2em;
}
	.galleries h3 {
		margin-bottom: 0.5em;
	}
	.galleries img {
		vertical-align: top;
		margin-right: 5px; margin-bottom: 10px; max-width: 100%;
		display: inline-block;
	}
	.thumbnails img {
		vertical-align: top; cursor: pointer;
		max-width: 137px;
	}
	.gallery_slideshow {
		text-align: center; vertical-align: middle;
		width: 100%;
		position: relative; overflow: hidden;
	}
		.gallery_slideshow span {
			vertical-align: middle;
			opacity: 0; filter: alpha(opacity=0);
			height: 100%; margin-left: -8px;
			display: inline-block;
			
			-webkit-transition: opacity 0.15s ease-out; -moz-transition: opacity 0.15s ease-out; -o-transition: opacity 0.15s ease-out; transition: opacity 0.15s ease-out;
		}
			.gallery_slideshow:hover span {
				opacity: 1; filter: alpha(opacity=100);
			}
		.gallery_slideshow img {
			cursor: default; vertical-align: middle;/* cursor: pointer;*/
			opacity: 1; filter: alpha(opacity=100);
			max-width: 100%; margin-right: 0; margin-bottom: 0;
		}
		
/*
-------------------
DOWNLOADABLE FILES
------------------
*/
.download_sections {
	line-height: 1.6em;
	margin-bottom: 2em;
}


/*
--------------------
PRODUCST (GUMROAD)
--------------------
*/
.products, .paypal_buttons {
	margin-bottom: 2em;
}
	.products img, .paypal_buttons img {
		max-width: 100%; margin-bottom: 10px;
	}
	.products p, .paypal_buttons p {
		margin-bottom: 1em;
	}
	.paypal_buttons .onepager_input {
		max-width: 125px;
	}
	

/*
--------------------
TRIAL USER BADGE
--------------------
*/
.badge {
	margin-top: 2em;
}

/*
------------------
FEED SECTION
------------------
*/
.social_feeds {
	margin-bottom: 2em;
}
	.social_feeds ul {
		list-style: none;
		padding-left: 0;
	}
	.social_feeds li {
		margin-bottom: 1em;
	}
		.social_feeds li p {
			margin-bottom: 0;
		}
			.social_feeds li p a {
				text-decoration: none;
			}
		.social_feeds time {
			font-size: 80%;
		}
		.social_feeds time a {
			text-decoration: none;
			opacity: 0.9; filter: alpha(opacity=90);
		}
		.social_feeds time a:hover {
			opacity: 1; filter: alpha(opacity=100);
		}

/*
--------------
PROMOTIONS
-------------
*/
.promotions {
	margin-bottom: 2em;
}
	.promotions .fb-like-box {
		margin-bottom: 1.5em;
	}
	.promotions .note {
		font-size: 80%;
		margin-top: 1.5em;
	}


/*
------------------
SCRIPT EMBEDS
------------------
*/
.script_embeds {
	margin-bottom: 2em;
}
	.script_embeds td {
		padding-bottom: 5px;
	}
	.script_embeds td select, .script_embeds td input[type="text"] {
		margin-bottom: 10px;
	}