/*
 * STYLES FOR ANY UI ELEMENTS GENERATED THROUGH JAVASCRIPT
 */

/*
===========================================
jQuery UI Styles - Visitor's Image Gallery
===========================================
*/
.ui-widget-overlay {
	background: #000; opacity: 0.5; filter: alpha(opacity=50);
	width: 100%; height: 100%; top: 0; left: 0;
	position: fixed; 
}
.ui-dialog {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	background-color: #ededed; -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 0 35px rgba(0, 0, 0, 0.25); box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
	max-height: 95%; -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;
	position: absolute; overflow: auto;
}
	.ui-dialog-titlebar {
		font-size: 30px; line-height: 1.5em; font-weight: 600; color: #aaa; text-shadow: 1px 1px 0 #f9f9f9;
		background: #e1e1e1 url('/assets/pages/background-header.png') left top repeat-x;
		padding: 20px 0; -moz-border-radius: 7px 7px 0 0; -webkit-border-radius: 7px 7px 0 0; border-radius: 7px 7px 0 0;
	}
	.ui-dialog-content {
		font-size: 14px; color: #333;
		background-color: #fff;
		padding: 25px 30px;
	}
		.ui-dialog-content h4 {
			color: #e16b2b; font-weight: 600; font-size: 18px;
			margin-bottom: 20px;
		}
		.ui-dialog-content p a {
			color: #428ac8; text-decoration: none;
		}
			.ui-dialog-content p a:hover {
				color: #5ca1dc; text-decoration: none;
			}
	.ui-dialog-buttonpane {
		box-shadow: inset 0 3px 8px 0 rgba(0,0,0,0.2); -moz-box-shadow: inset 0 3px 8px 0 rgba(0,0,0,0.2); -webkit-box-shadow: inset 0 3px 8px 0 rgba(0,0,0,0.2);
		padding: 18px 0;
	}
		.ui-dialog-buttonpane button {
			background: none;
			border: 0;
		}
			.ui-button-text{
				font-size: 18px; color: #fff; cursor: pointer; text-shadow: 0 0 5px #873d1b;
				background-image: url('/assets/pages/button-general-orange.png'); background-position: left top; background-repeat: repeat-x;
				box-shadow: inset 0 1px 1px 0 rgba(255,255,255,0.5); -moz-box-shadow: inset 0 1px 1px 0 rgba(255,255,255,0.5); -webkit-box-shadow: inset 0 1px 1px 0 rgba(255,255,255,0.5);
				padding: 11px 20px; border: 1px solid #b84f22; -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;
				display: inline-block;
			} 
			.ui-button-text:hover {
				background-position: left -45px;
			}
			.ui-button-text:active {
				background-position: left -90px;
				box-shadow: inset 0 1px 6px 0 rgba(0,0,0,0.3); -moz-box-shadow: inset 0 1px 6px 0 rgba(0,0,0,0.3); -webkit-box-shadow: inset 0 1px 6px 0 rgba(0,0,0,0.3);
				padding-top: 12px; padding-bottom: 10px;
			}


/*
-------------------------------
Dropdowns styles
-------------------------------
*/
.jq_dropdown {
	cursor: pointer; vertical-align: middle; font-size: 12px; line-height: 16px; text-transform: capitalize; font-family: Arial, Helvetica, sans-serif;
	background: #e7e7e7 url('/assets/pages/background-jq-dropdown.png?4') right -1px no-repeat;
	border: 1px solid #a9a9a9;
	position: relative; display: inline-block;
}
	.selected {
		color: #191919; text-shadow: 1px 1px #eee; white-space: nowrap; font-weight: 600;
		background: url('/assets/pages/arrows-jq-dropdown.gif?1') right center no-repeat;
		padding: 5px 25px 5px 5px;
		display: block; overflow: hidden;
	}
		.selected:hover {
			color: #000;
		}
		
	.options {
		background: #fff;
		left: -1px; top: 26px; min-width: 100%; max-height: 200px; padding: 4px 0; border: 1px solid #bdbdbd; 
		position: absolute; display: none; z-index: 2; overflow-y: auto; overflow-x: hidden;
	}
		.options a {
			color: #333; white-space: nowrap; text-decoration: none;
			padding: 2px 12px;
			display: block;
		}
			.options a:hover {
				color: #000;
				background: #eee;
			}
		a.highlight {
			color: #000;
			background: #fff2eb;
		}
	.optgroup {
		font-weight: 400;
		padding: 3px 8px;
		display: block;
	}
			
			
/*
-------------------------------
Theme picker tooltip styles
-------------------------------
*/
.theme_tooltip {
	background-color: #fff; box-shadow: 0 5px 8px 0 rgba(0,0,0,0.4); -webkit-box-shadow: 0 5px 8px 0 rgba(0,0,0,0.4); -moz-box-shadow: 0 5px 8px 0 rgba(0,0,0,0.4);
	top: -225px; left: 0; min-width: 250px; min-height: 210px; padding: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	position: absolute; z-index: 2;
}
	.theme_tooltip:after, .theme_tooltip:before {
		content: "\0000a0";
		border: solid transparent; height: 0; top: 100%; width: 0;
		position: absolute;
	}
	.theme_tooltip:after {
		border-width: 15px; border-top-color: #fff; left: 50%; margin-left: -15px;
	}
	.theme_tooltip:before {
		border-top-color: #fff; border-width: 15px; left: 50%; margin-left: -15px;
	}


/*
-------------------------------
Theme picker tooltip styles
-------------------------------
*/
.theme_error {
	/*top: -50px; left: 50%;*/
	font-weight: 600; color: #fff; line-height: 1.4em;
	background: url('/assets/pages/background-errors.png?2') left top repeat-x; box-shadow: 0 2px 8px 0 rgba(0,0,0,0.4); -moz-box-shadow: 0 2px 8px 0 rgba(0,0,0,0.4); -webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,0.4);
	top: -100px; left: 50%; padding: 15px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	position: absolute;
}
	.theme_error p {
		text-shadow: 0 0 5px rgba(0,0,0,0.2);
		background: url('/assets/pages/icon-error.gif') left center no-repeat;
		padding-left: 32px; padding-top: 2px; min-height: 20px; margin-bottom: 0;
	}


/*
-------------------------------
Theme color picker popup styles
-------------------------------
*/
#colorpicker {
	color: #333; font: 12px/1.1em arial, helvetica, sans-serif;
	background: url('/assets/pages/toolbox/background-colorpicker.png') left bottom no-repeat; 
	padding: 0 0 10px; width: 211px;
	position: absolute; z-index: 9;
}
	#colorpicker ul {
		list-style: none;
		background: #f8f8f8 url('/assets/pages/toolbox/background-colorpicker-list.gif') left bottom repeat-x;
		padding: 8px 8px 8px 9px; margin: 0; border: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 0;
		overflow: hidden;
	}
		#colorpicker li {
			line-height: 1em; text-indent: -10000px;
			width: 11px; height: 11px; border: 1px solid #000; margin-left: -1px; margin-bottom: -1px;
			float: left;
			cursor: pointer;
		}
		#colorpicker li:hover {
			border-color: #e8e8e8;
		}
		
	#colorpicker form {
		text-align: left;
		background: #e6e6e6 url('/assets/pages/toolbox/background-colorpicker-form.gif') left bottom repeat-x;
		padding: 8px; border-left: 1px solid rgba(0, 0, 0, 0.1); border-right: 1px solid rgba(0, 0, 0, 0.1); 
	}
		#colorpicker label {
			font-weight: normal;
			margin-right: 6px;
			display: inline-block;
		}
		#colorpicker input {
			text-transform: uppercase; font-size: 12px; line-height: 1em;
			background: #fff url('/assets/pages/toolbox/icon-hex.gif') 4px 5px no-repeat;
			padding: 3px 3px 3px 11px; border: 1px solid #666; width: 60px;
			display: inline-block;
		}


/*
---------------------
Upload button styles
---------------------
*/
.uploader {
	cursor: pointer; vertical-align: middle;
	/*width: 100%;*/
	position: relative; display: inline-block; overflow: hidden;
}
	.uploader input, .uploader input:focus {
		cursor: pointer;
		position: absolute; top: 0; left: 0; margin: 0; width: 100%; height: 100%;
		opacity: 0; filter: alpha(opacity=0);
	}
	.uploader .user_input {
		vertical-align: middle; cursor: pointer; white-space: nowrap;
		width: 100px;
		display: inline-block; overflow: hidden;
	}
	.uploader .browse {
		text-shadow: 1px 1px 0 #eaeaea; font-size: 12px; color: #333; cursor: pointer; vertical-align: middle;
		background: #fff url('/assets/pages/button-general.png?1') left top repeat-x;  box-shadow: inset 0 1px 0 0 #fff;
		padding: 4px 10px 4px 7px; border: 1px solid #a0a0a0; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
		display: inline-block;
	}
		.uploader .browse:before {
			content: '\0000a0'; vertical-align: bottom;
			background: url('/assets/pages/icon-upload.gif') left center no-repeat;
			width: 25px; height: 15px;
			display: inline-block;
		}
		.uploader:hover .browse {
			color: #191919;
			background-position: left -32px;
		}
		.uploader:active .browse {
			background-position: left top; box-shadow: inset;
			padding-top: 5px; padding-bottom: 3px;
		}
		.uploader iframe, .uploader button {
			display: none;
		}
		
	.textbox {
		vertical-align: middle; color: #555; white-space: nowrap; line-height: 1.3em;
		margin-left: 10px; max-width: 250px;
		display: inline-block; overflow: hidden;
	}
	.sidebar .textbox {
		max-width: 120px;
	}
		
	
/*
-----------------------
jQuery UI Slider styes
-----------------------
*/
.ui-slider {
	vertical-align: middle;
	background-color: #d5d5d5; box-shadow: inset 1px 1px 4px 0 rgba(0,0,0,0.3); -moz-box-shadow: inset 1px 1px 4px 0 rgba(0,0,0,0.3); -webkit-box-shadow: inset 1px 1px 4px 0 rgba(0,0,0,0.3);
	height: 10px; width: 110px; margin-left: 3px; border: 1px solid #909090; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px;
	position: relative; display: inline-block;
}
	.ui-slider-handle {
		background: #f9f9f9 url('/assets/pages/toolbox/background-slider-handle.png?1') center center no-repeat; box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
		width: 16px; height: 16px; top: -4px; margin-left: -9px; border: 1px solid #787878; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px;
		position: absolute;
	}

/*
-----------------------
Theme saving confirm
-----------------------
*/	
.response_bubble {
	color: #fff; text-align: left; text-transform: none; font-size: 13px;
	background: #e66f38 url('/assets/pages/toolbox/icon-loader.gif') 8px center no-repeat; box-shadow: 0 2px 8px 0 rgba(0,0,0,0.4); -moz-box-shadow: 0 2px 8px 0 rgba(0,0,0,0.4); -webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,0.4);
	right: 0; top: 4px; padding: 8px 15px 8px 30px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	position: absolute; z-index: 0;
}


/*
-------------------------
Walk the dog loader
-------------------------
*/
.loader_overlay {
	text-align: center;
	background: #000; opacity: 0.5; filter: alpha(opacity=50);
	position: fixed; width: 100%; height: 100%; top: 0; left: 0;
	z-index: 1000;
}
.loader {
	font: bold 18px/1.3em arial, helvetica, sans-serif; text-align: center; color: #fff;
	background: #ff7e39;
	top: 50%; left: 50%; width: 250px; height: 140px; padding: 20px; margin-top: -80px; margin-left: -145px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
	position: fixed;
	z-index: 1001;
}
	.loader img {
		margin: 0 auto 16px;
		display: block;
	}
	
	
/*
------------------------------
Sample box for empty sidebar
-----------------------------
*/
.sample_box .editable, .sample_box .editable:hover {
	cursor: default; text-align: center; color: inherit;
	background-color: transparent;
	padding: 20px; border: 4px dashed #bebebe; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
}

/*
------------------------------
Sortable content type
-----------------------------
*/
section.ui-state-highlight {
	border: 4px dashed #bebebe; -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;
}