/*
 *= require pages/reset
 *= require_self
 */

/*
-------------------------------
Onepager Common Page Structure
-------------------------------
*/
html, body {
	width: 100%; min-height: 100%; min-width: 984px;
}
body {
	background-image: none; background-position: center top; background-repeat: repeat;
}
	article {
		text-align: left;
		width: 450px; padding: 25px 30px; margin: 25px auto; 
		position: relative;
	}
		header {
			margin-bottom: 22px;
		}
		h1, h2, h3 {
			font-weight: normal;
		}
		
		.main_content {
			width: 505px;
			float: left;
		}
		.sidebar {
			width: 290px;
			float: right;
		}
		
		footer {
			font-size: 11px;
			padding-top: 1em;
			clear: both; overflow: hidden;
		}