/*
-----------------------
General toolbar styles
-----------------------
*/
.toolbox {
	font-size: 12px; font-family: 'Open Sans', arial, helvetica, sans-serif; text-align: center;
	background: #e4e4e4 url('/assets/pages/toolbox/background.png') left 1px repeat-x; box-shadow: inset 0 1px 0 0 #878787; -moz-box-shadow: inset 0 1px 0 0 #878787; -webkit-box-shadow: inset 0 1px 0 0 #878787;
	left: 0; bottom: 0; width: 100%; padding: 0; margin: 0; border-top: 1px solid #363636;  
	position: fixed; clear: both; z-index: 10;
}
	.toolbox nav {
		text-transform: uppercase; text-align: left;
		height: 38px; margin-top: 1px;
	}
		.toolbox nav a {
			vertical-align: middle; color: #999; line-height: 37px; text-decoration: none; font-weight: 600; text-shadow: 1px 1px 0 #333;
			margin-right: 10px; padding-right: 12px; padding-left: 5px;
			display: inline-block;
			-webkit-transition: color 0.15s ease-out; -moz-transition: color 0.15s ease-out; -o-transition: color 0.15s ease-out; transition: color 0.15s ease-out;
		}
			.toolbox nav a:before {
				content: '\0000a0'; vertical-align: middle;
				background-position: center top; background-repeat: no-repeat;
				width: 35px; height: 36px;
				display: inline-block;
			}
			.button_theme:before {
				background-image: url('/assets/pages/toolbox/icon-theme.png');
			}
			.button_styles:before {
				background-image: url('/assets/pages/toolbox/icon-styles.png');
			}
			.button_layout:before {
				background-image: url('/assets/pages/toolbox/icon-layout.png');
			}
		.toolbox nav a:hover {
			color: #e4e4e4;
		}
			.toolbox nav a:hover:before {
				background-position: center -35px;
			}
			
		.toolbox nav .on {
			color: #fff;
			background: #1f1f1f url('/assets/pages/toolbox/background-navigation.png') left top repeat-x; -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.8); -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.8); box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.8);
		}
			.toolbox nav .on:before {
				background-position: center -35px;
			}
		
		.toolbox nav .button_show, .toolbox nav .button_hide {
			text-indent: -1000px;
			background-image: url('/assets/pages/toolbox/arrows-show-hide.png'); background-repeat: no-repeat;
			width: 30px; height: 27px; padding: 0; border: 1px solid #272727; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
			overflow: hidden;
		}
			.toolbox nav .button_show:active, .toolbox nav .button_hide:active {
				box-shadow: inset 0 1px 7px rgba(0,0,0,0.35); -moz-box-shadow: inset 0 1px 7px rgba(0,0,0,0.35); -webkit-box-shadow: inset 0 1px 7px rgba(0,0,0,0.35);
			}
			.toolbox nav .button_show:active {
				background-position: center -38px;
			}
			.toolbox nav .button_hide:active {
				background-position: center -108px;
			}
		.button_show {
			background-position: center -4px;
		}
			.button_show:hover {
				background-position: center -39px;
			}
		.button_hide {
			background-position: center -74px;
		}
			.button_hide:hover {
				background-position: center -109px;
			}
		
	.toolbox form {
		text-align: left; color: #191919; font-size: 12px;
		width: 984px; margin: 0 auto; border: 0; 
		position: relative;
	}
		.toolbox fieldset {
			padding: 15px 0; height: 120px;
		}
		.toolbox .form_actions {
			background: url('/assets/pages/toolbox/background.png') left 0 repeat-x;
			min-height: 34px; min-width: 150px; top: 0; right: 0; padding: 0; padding-top: 4px; border: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;
			position: absolute; z-index: 1;
		}
			.form_actions .upgrade {
				color: #ccc; line-height: 27px; text-transform: none;
				background: url('/assets/pages/toolbox/button-upgrade.png?2') left top repeat-x; box-shadow: inset 0 1px 0 0 #858585; -moz-box-shadow: inset 0 1px 0 0 #858585; -webkit-box-shadow: inset 0 1px 0 0 #858585;
				border: 1px solid #2a2a2a; margin-right: 0; padding: 0 15px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
			}
				.toolbox .form_actions a:before {
					content: '';
					width: 0; height: 0;
				}
			.form_actions .upgrade:hover {
				background-position: left -30px;
			}
			.form_actions .upgrade:active {
				background-position: left top; box-shadow: inset 0 1px 7px rgba(0,0,0,0.35); -moz-box-shadow: inset 0 1px 7px rgba(0,0,0,0.35); -webkit-box-shadow: inset 0 1px 7px rgba(0,0,0,0.35);
				padding-top: 1px; border-bottom: 0;
			}
			.form_actions .user_submit {
				margin-left: 5px;
			}
			
		
/*
--------------------
Theme picker styles
--------------------
*/
.theme {
	position: relative; 
}
	.theme_limiter {
		left: 0; top: 15px; height: 42px; width: 100%; margin-top: 20px;
		position: absolute; z-index: 0;
	}
		.theme_limiter a {
			text-indent: -1000px;
			background-color: #eee; background-image: url('/assets/pages/toolbox/arrows-theme-limiter.gif?1'); background-repeat: no-repeat; background-position: right center;
			box-shadow: inset 0 1px 0 0 #fafafa; -moz-box-shadow: inset 0 1px 0 0 #fafafa; -webkit-box-shadow: inset 0 1px 0 0 #fafafa; opacity: 0.8; filter: alpha(opacity=80);
			right: 0; top: 0; border: 1px solid #b4b4b4; width: 32px; height: 40px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
			position: absolute; overflow: hidden;
		}
			.theme_limiter a:first-child {
				background-position: left center;
				left: 0; right: auto;
			}
		.theme_limiter a:hover {
			background-color: #f0f0f0;
			opacity: 1; filter: alpha(opacity=100);
		}
		
		.theme_limiter .disabled, .theme_limiter .disabled:hover {
			cursor: default;
			background-color: #e0e0e0; border-color: #ccc;
			opacity: 0.5; filter: alpha(opacity=50);
		}
			
	.theme_collection {
		width: 900px; left: 45px; top: 15px; height: 82px; 
		position: absolute; z-index: 1; overflow: hidden;
	}
		.theme_collection ul {
			width: 10000px;
		}
			.theme_collection li {
				background: url('/assets/pages/toolbox/background-themes.png') left top repeat; box-shadow: inset 0 1px 0 0 #fafafa; -moz-box-shadow: inset 0 1px 0 0 #fafafa; -webkit-box-shadow: inset 0 1px 0 0 #fafafa;
				margin-right: 8px; padding: 5px; border: 1px solid #b4b4b4; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
				float: left;
			}
				.theme_collection li a {
					vertical-align: bottom;
					width: 70px; height: 70px;
					display: inline-block; overflow: hidden;
				}
				
/*
-----------------------
Styles settings styles
-----------------------
*/
.background_body, .background_content, .fontsets, .layout_settings {
	background: url('/assets/pages/toolbox/background-themes.png') left top repeat;
	margin-right: 10px; padding: 8px 10px; height: 102px; border: 1px solid #b7b7b7; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	float: left;
}
.background_body {
	width: 185px;
}
.background_content {
	width: 155px;
}
.fontsets {
	width: 460px;
}
	.background_body label, .background_content label, .fontsets label {
		color: #333; text-shadow: 1px 1px 0 #fff;
	}
	.background_body label, .background_content label {
		display: block;
		margin-bottom: 5px;
	}
	.colorpicker {
		vertical-align: middle; line-height: 14px;
		background-color: #ededed; box-shadow: inset 0 1px 0 0 #fff;
		padding: 4px; margin-right: 7px; border: 1px solid #a0a0a0; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
		display: inline-block;
	}
		.colorpicker a {
			text-indent: -1000px; vertical-align: bottom;
			width: 14px; height: 14px; border: 1px solid #a0a0a0;
			display: inline-block; overflow: hidden;
		}
	.colorpicker:hover {
		background-color: #fefefe;
	}
	
	.background_body .jq_dropdown, .background_body .uploader {
		width: 145px;
	}
	.background_body p {
		font-size: 11px;
		padding-left: 36px; margin-top: 8px;
	}
		.background_body p input {
			vertical-align: middle;
			margin-bottom: 5px; margin-right: 2px;
			display: inline-block;
		}
		.background_body p label {
			font-weight: 300; text-shadow: none; color: #000; vertical-align: bottom;
			display: inline-block;
		}
		.disable_background_image {
			line-height: 18px; text-decoration: none;
			background: url('/assets/pages/icon-remove.gif') left top no-repeat;
			margin: 3px 0; padding-left: 17px;
			display: block;
		}
			.disable_background_image:hover {
				background-position: left -50px;
			}
	
	.fontsets li {
		margin-bottom: 7px;
	}
	.fontsets label {
		width: 95px;
	}
	.fontsets .jq_dropdown {
		width: 190px; margin-right: 7px;
	}
	

/*
-----------------------
Layout settings styles
-----------------------
*/
	.layout_settings {
		width: 230px;
	}
		.layout_settings label {
			margin-bottom: 5px;
			display: block;
		}
		.layout_settings a {
			background: url('/assets/pages/toolbox/background-themes.png') left top repeat; box-shadow: inset 0 1px 0 0 #fafafa; -moz-box-shadow: inset 0 1px 0 0 #fafafa; -webkit-box-shadow: inset 0 1px 0 0 #fafafa;
			width: 55px; height: 55px; margin-right: 5px; padding: 5px; border: 1px solid #b4b4b4; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
			display: inline-block;
		}
			.layout_settings img {
				opacity: 0.5; filter: alpha(opacity=50);
			}
		.layout_settings a:hover {
			background-color: #fafafa; background-image: none;
		}
		.layout_settings .enabled, .layout_settings .enabled:hover {
			background-color: #f4f4f4; background-image: url('/assets/pages/toolbox/background-themes.png');
			box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.2); -moz-box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.2); -webkit-box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.2);
		}
			.layout_settings .enabled img {
				opacity: 1; filter: alpha(opacity=100);
			}