.onepager_bar { font-size: 100%; text-align: center; color: #fff; line-height: 1.3em; background-color: #191919; top: 0; left: 0; width: 80%; padding: 15px 10% 15px 10%; position: fixed; z-index: 9999; }
.onepager_bar p { margin-bottom: 0; }
.onepager_bar p a { color: #4189c7; margin-left: 6px; display: inline-block; }
.onepager_bar_remove { text-indent: -1000px; background: url('http://onepagerapp.com/assets/pages/icon-close.png') center top no-repeat; top: 21px; right: 15px; width: 20px; height: 20px; position: absolute; overflow: hidden; }
	.onepager_bar_remove:hover { background-position: center -20px; }
#wrapper { padding-top: 62px; }