/*
 *= require application/reset
 */

/*
----------------------------------------
Onepager Dashboard Structure (light green)
----------------------------------------
*/

html {
	text-align: center;
	background-color: #c75832;
	width: 100%; height: 100%; min-height: 100%; min-width: 1020px;
}
body {
	background-color: #f5f5f5;
	width: 100%; min-width: 1020px;
}
	.dashboard_toolbar {
		background-color: #fff;
		border-bottom: 1px solid #d7d9d9; padding-top: 25px; padding-bottom: 25px;
		position: relative; z-index: 0;
	}
		.dashboard_toolbar h1 {
			text-align: left; font-size: 24px;
			width: 984px; margin: 0 auto;
		}
		.dashboard_toolbar nav {
			text-align: right;
			width: 492px; right: 50%; top: 25px; margin-right: -492px;
			position: absolute;
		}
			.dashboard_toolbar nav a {
				color: #fff; font-size: 12px; line-height: 1.2em; vertical-align: middle;
				background-color: #3187c7;
				padding: 6px 10px; margin-left: 4px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
				display: inline-block; clear: both;
			}
			.dashboard_toolbar nav a:hover {
				background-image: url('/assets/application/button-start.png?1'); background-position: left top; background-repeat: repeat-x;
			}
			.dashboard_toolbar a:active {
				background-image: none; -moz-box-shadow: inset 0 1px 8px rgba(0,0,0,0.3); -webkit-box-shadow: inset 0 1px 8px rgba(0,0,0,0.3); box-shadow: inset 0 1px 8px rgba(0,0,0,0.3);
				padding-top: 7px; padding-bottom: 5px;
			}
				.dashboard_toolbar a:before {
					content: '\0000a0'; vertical-align: middle;
					background-color: transparent; background-position: left top; background-repeat: no-repeat;
					width: 15px; height: 15px; margin-right: 4px;
					display: inline-block;
				}
	.dashboard {
		text-align: left; font-size: 14px;
		width: 982px; margin: 0 auto; border-left: 1px solid #d7d9d9; border-right: 1px solid #d7d9d9;
		z-index: 0; position: relative;
	}
		.dashboard nav {
			width: 185px;
			float: left; position: relative; z-index: 1;
		}
			.dashboard nav a {
				color: #999; text-transform: uppercase; font-weight: 600; line-height: 22px; font-size: 12px;
				padding: 8px; border-bottom: 1px solid #d7d9d9; border-top: 1px solid #fafafa;
				display: block;
			}
				.dashboard nav a:hover {
					color: #000;
				}
				
				.dashboard nav a.on {
					color: #000;
					background: #fff url('/assets/dashboard/arrow-on.gif?3') right center no-repeat;
					width: 170px; border-top: 0;
				}
				
				.dashboard nav a:before {
					content: '\0000a0'; vertical-align: middle;
					background-color: transparent; background-position: left top; background-repeat: no-repeat;
					width: 22px; height: 22px; margin-right: 8px;
					display: inline-block;
				}
					.analytics_link:before {
						background-image: url('/assets/dashboard/icon-analytics.png?3');
					}
					.newsletter_link:before {
						background-image: url('/assets/dashboard/icon-newsletter.png?4');
					}
					.forms_link:before {
						background-image: url('/assets/dashboard/icon-forms.png');
					}
					.domain_link:before {
						background-image: url('/assets/dashboard/icon-domain.png?3');
					}
					.settings_link:before {
						background-image: url('/assets/dashboard/icon-settings.png?3');
					}
					.profile_link:before {
						background-image: url('/assets/dashboard/icon-profile.png?3');
					}
					.users_link:before {
						background-image: url('/assets/dashboard/icon-users.png?1');
					}
					.billing_link:before {
						background-image: url('/assets/dashboard/icon-billing.png?4');
					}
					.affiliates_link:before {
						background-image: url('/assets/dashboard/icon-affiliates.png?4');
					}
					.whitelabel_link:before {
						background-image: url('/assets/dashboard/icon-white-label.png?1');
					}
					
				.dashboard nav a.on:before, .dashboard nav a:hover:before {
					background-position: left -50px;
				}
		
		.dashboard article {
			background-color: #fff;
			padding: 25px 25px 85px; min-height: 500px; margin-left: 185px; border-left: 1px solid #d7d9d9;
			position: relative; z-index: 0; overflow: hidden;
		}
			.dashboard header {
				margin-bottom: 30px;
				position: relative;
			}
				.dashboard header h2 {
					margin-bottom: 0;
				}
				.dashboard_search {
					right: 0; top: 0;
					position: absolute;
				}
					.dashboard header .start {
						font-size: 12px; font-weight: normal; text-transform: none;
						padding: 6px 10px; right: 0; top: 0;
						position: absolute;
					}
						.dashboard header .start:active {
							padding-top: 7px; padding-bottom: 5px;
						}
					.dashboard_search .general, .dashboard_search .action {
						font-size: 12px; line-height: 1.3em;
						padding: 6px 12px;
					}
						.dashboard_search .general:active, .dashboard_search .action:active {
							padding-top: 7px; padding-bottom: 5px;
						}
					.dashboard_search form {
						background-color: #f1f1f1;
						-webkit-border-radius: 5px; border-radius: 5px; margin-left: 3px;
						display: inline-block;
					}
						.dashboard_search .user_input {
							font-size: 13px; vertical-align: middle;
							min-width: 0; padding: 6px 10px;
							display: inline-block;
						}
						.dashboard_search .user_submit {
							vertical-align: middle; text-indent: -1000px; cursor: pointer;
							background: transparent url('/assets/dashboard/icon-search.png') center center no-repeat;
							width: 32px; height: 32px; border: 0;
							display: inline-block; overflow: hidden;
						
							filter: alpha(opacity=50); opacity: 0.5;
							-webkit-transition: opacity 0.2s ease-out; -moz-transition: opacity 0.2s ease-out; -o-transition: opacity 0.2s ease-out; transition: opacity 0.2s ease-out;
						}
							.dashboard_search .user_submit:hover {
								filter: alpha(opacity=100); opacity: 1;
							}
			.dashboard h2 {
				font-size: 18px; color: #000; font-weight: 600;
				background-position: left center; background-repeat: no-repeat;
				margin-bottom: 30px;
			}
				.dashboard h2 img {
					vertical-align: middle;
					margin-right: 6px;
					display: inline-block;
				}
			.dashboard .errors, .dashboard .notice {
				margin-bottom: 25px;
			}
			.dashboard h4 {
				font-size: 12px; font-weight: 600; text-transform: uppercase; color: #666;
				margin-bottom: 10px;
			}
		
			
	footer {
		font-size: 14px;
		background-color: #c75832;
	}
		footer section:first-child {
			font-size: 14px; text-transform: none; font-weight: normal; color: #fff; line-height: 1.4em;
			background-color: #f96d3c;
			width: 100%; padding-top: 30px; padding-bottom: 30px;
			position: relative;
		}
		footer nav {
			background-color: #f96d3c;
			width: 984px; margin: 0 auto;
		}
			footer nav a {
				color: inherit; vertical-align: middle;
				display: inline-block;
			}
				footer nav a:hover {
					text-decoration: none; color: #fae4dd;
				}
				footer nav a:before {
					content: ' \0000a0 \2022 \0000a0 ';
					margin-right: 5px;
					display: inline-block;
				}
				footer nav a:first-child:before {
					content: none;
					margin-right: 0;
					display: none;
				}
				
			footer section:first-child img {
				right: 50%; margin-right: -492px; top: -35px;
				position: absolute;
			}
		footer section {
			color: #f6c8b7; text-transform: uppercase; text-align: left; font-weight: 700; font-size: 12px; line-height: 1em;
			width: 984px; margin: 0 auto; padding: 20px 0;
		}
			footer section a {
				color: inherit; vertical-align: middle;
				max-height: 22px;
				display: inline-block; overflow: hidden;
			}
				footer section a:hover {
					color: #fae4dd; text-decoration: none;
				}
				footer section a:hover img {
					margin-top: -22px;
				}
			footer section img {
				margin-right: 12px;
			}
			footer section span {
				vertical-align: middle;
				margin-right: 5px; margin-left: 5px;
				display: inline-block;
			}
				footer section span:after {
					/* content: ' \0000a0 \2022 \0000a0 '; */
					margin-left: 5px;
					display: inline-block;
				}
