{
	"theme": {
		"id": "<%= @theme.id %>",
		"background_colour": "<%= @theme.background_colour %>",
		"content_background_colour": "<%= @theme.content_background_colour %>",
		"content_background_opacity": "<%= @theme.content_background_opacity %>",
		"background_image": "<%= @theme.background_image %>",
		"background_image_alignment": "<%= @theme.background_image_alignment %>",
		"background_image_enabled": <%= @theme.background_image_enabled || 'false' %>,
		"background_image_fixed": <%= @theme.background_image_fixed || true %>,
		"header_type": "<%= @theme.header_type %>",
		"header_colour": "<%= @theme.header_colour %>",
		"header_size": "<%= @theme.header_size %>",
		"subheader_type": "<%= @theme.subheader_type %>",
		"subheader_colour": "<%= @theme.subheader_colour %>",
		"subheader_size": "<%= @theme.subheader_size %>",
		"body_type": "<%= @theme.body_type %>",
		"body_colour": "<%= @theme.body_colour %>",
		"body_size": "<%= @theme.body_size %>"
	}
}