/*
 *= require application/reset
 */

html {
	background-color: #f5f5f5;
}
body {
	padding-bottom: 50px;
}
	.dashboard {
		border-bottom: 1px solid #d7d9d9;
	}
	
	.toolbar {
		background-color: #3187c7;
	}
		.toolbar .logo {
			color: #fff; font-size: 18px; line-height: 33px;
			border-right: 0; border-color: #2c79b3;
		}
		.account_dropdown a:first-child {
			background-image: url('/assets/dashboard/icon-toolbar-account-blue.png');
			border-color: #2c79b3;
		}
	
	header {
		padding-top: 100px; padding-bottom: 30px;
	}
		.sites header {
			padding-bottom: 0;
		}
	
	.signin {
		width: 464px; margin: 0 auto;
	}
		.signin .notice {
			border: 1px solid #d6dad9; border-top: 0;
		}
		.signin fieldset {
			text-align: left; font-size: 14px;
			background-color: #fff;
			padding: 30px; margin-bottom: 0; border: 1px solid #d7d9d9; -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0;
		}
			.signin fieldset label {
				text-transform: uppercase;
				display: block;
			}
			.signin input.user_input {
				margin-bottom: 15px; width: 375px;
				display: block;
			}
		.signin .form_actions {
			text-align: right; color: #666; font-size: 14px;
			background-color: #f7f7f7;
			padding: 20px 30px; border: 1px solid #d6dad9; border-top-color: #fff; -moz-border-radius: 0 0 3px 3px; -webkit-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px;
			position: relative;
		}
			.signin .form_actions .checkbox, .signin .form_actions .note {
				line-height: 38px;
				left: 30px; top: 18px;
				position: absolute;
			}
			.checkbox label {
				vertical-align: middle;
				margin-left: 5px;
				display: inline-block;
			}
			.signin .form_actions .note {
				font-size: 12px; font-style: italic;
			}
			.signin .start {
				margin-right: 0;
			}
		.signin p {
			text-align: right; font-size: 14px; color: #666;
			padding: 20px 30px;
		}
			.signin p a {
				color: inherit;
			}