<%= image_tag(content.preview_file) if !content.preview_file.blank? %>
<%= content_tag(:h3, content.name) if content.name %>
<p><%= strip_tags content.description %></p>
<form name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post" class="onepager_form">
  <input type="hidden" name="cmd" value="_xclick">
  <input type="hidden" name="business" value="<%= content.paypal_email %>">
  <input type="hidden" name="currency_code" value="<%= content.currency %>">
  <input type="hidden" name="item_name" value="<%= content.name %>">
  <input type="hidden" name="tax_rate" value="<%= content.tax_rate %>">
  <input type="hidden" name="shipping" value="<%= content.shipping %>">
  <% if content.customize_price %>
    <label for="amount">Amount</label>
    <input type="text" name="amount" value="" placeholder="Enter amount" class="onepager_input">
  <% else %>
    <input type="hidden" name="amount" value="<%= content.price %>">
  <% end %>
  <input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
</form>
