<section class="paypal_buttons" id="paypal_button_<%= content.id || 'new' %>" data-model-class="<%= content.class %>">
	<% if params[:action] != 'new' %>
		<div class="editable">
			<span class="form_edit">Click to Edit</span>
			<%= render "content_types/paypal_buttons/content", :content => content %>
		</div>
		<div class="addable">
			<a href="#" class="form_add">+ Add Content</a>
		</div>
	<% end %>
	<%= form_for [:content_types, content], :namespace => content.object_id, :remote => true, :html => { :multipart => true } do |f| %>
		<fieldset style="display: none;">
			<div class="form_header">
				<h6>Paypal Button</h6>
				<a href="#" class="form_info" data-content-type="paypal_button">Info</a>
			</div>
			<ul>
				<li>
					<%= f.label :name, 'Item Name' %>
					<%= f.text_field :name, :class => 'user_input', :size => '', :placeholder => 'Book Title, Event Name, etc.' %>
				</li>
				<li>
					<%= f.label :description %>
					<%= f.text_area :description, :class => 'user_input', :size => '' %>
				</li>
			</ul>
			<ul>
				<li>
					<%= f.label :preview_file, raw('Preview <small>We support jpgs, gifs, or pngs.</small>') %>
					<% if !content.preview_file.blank? %>
						<div class="preview_file">
							<%= image_tag content.preview_file %>
							<%= f.hidden_field :remove_preview_file %>
							<a href="#" class="remove_item">Delete</a>
						</div>
						<div class="upload_field" style="display: none;">
							<%= f.file_field :preview_file %>
						</div>
					<% else %>
						<div class="upload_field">
							<%= f.file_field :preview_file %>
						</div>
					<% end %>
				</li>
			</ul>
			<ul>
				<li<%=raw ' style="display: none;"' if content.customize_price? %>>
					<span class="combo">
						<%= f.label :price %>
						<%= f.text_field :price, :class => 'user_input_short', :value => number_to_currency(content.price, :unit => "") %>
					</span>
					<span class="combo">
						<%= f.label :currency %>
						<%= f.select :currency, PaypalButton::CURRENCIES, :class => 'user_input' %>
					</span>
				</li>
				<li class="checkbox">
					<%= f.check_box :customize_price %>
					<%= f.label :customize_price, "Allow customer to enter in their own price" %>
				</li>
			</ul>
			<ul>
				<li>
					<span class="combo">
						<%= f.label :shipping, "Shipping $" %>
						<%= f.text_field :shipping, :class => 'user_input_short' %>
					</span>
					<span class="combo">
						<%= f.label :tax_rate, "Tax Rate (%)" %>
						<%= f.text_field :tax_rate, :class => 'user_input_short' %>
					</span>
				</li>
				<li>
					<%= f.label :paypal_email %>
					<%= f.text_field :paypal_email %>
				</li>
			</ul>
			<div class="form_actions">
				<%= link_to "Delete?", [:content_types, content], :class => 'form_remove', :method => :delete, :remote => true, :data => { :confirm => 'Delete?' } if params[:action] != 'new' %>
				<a href="#" class="form_close">Cancel</a>
				<%= f.hidden_field :page_id, :value => page_id %>
				<%= f.hidden_field :position, :value => position if defined? position %>
				<%= f.submit "Done", :class => 'user_submit' %>
			</div>
		</fieldset>
	<% end %>
</section>
