<h3><%= content.title %></h3>
<p><strong>Prize:</strong> <%= content.prize %></p>
<p>To enter, fill out the following information<% if content.require_facebook_like %>, like our Facebook page<% end %> and click "Submit."</p>

<% if content.require_facebook_like %>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=135969636596541";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<div class="fb-like-box" data-href="<%= content.facebook_url %>" data-width="292" data-show-faces="false" data-stream="false" data-show-border="false" data-header="false"></div>
<% end %>

<%= form_tag promotion_responses_path, :remote => true, :class => 'onepager_form promotion_form'  do %>
	<fieldset>
		<% if content.require_name? %>
		<label for="name">Name</label>
		<input type="text" name="promotion_response[name]" class="onepager_input" />
		<% end %>
	</fieldset>
	<fieldset>
		<% if content.require_email? %>
		<label for="email">Email</label>
		<input type="text" name="promotion_response[email]" class="onepager_input" />
		<% end %>
	</fieldset>
	<fieldset>
		<% if content.require_phone? %>
		<label for="phone">Phone</label>
		<input type="text" name="promotion_response[phone]"  class="onepager_input" />
		<% end %>
	</fieldset>
	<fieldset class="onepager_comments">
		<%= label_tag "comment", "Comment" %>
		<%= text_field_tag "comment" %>
	</fieldset>
	<div class="onepager_form_actions">
		<input type="hidden" name="promotion_response[promotion_id]" value="<%= content.id %>" />
		<input type="hidden" name="promotion_response[page_id]" value="<%= content.page.id %>" />
		<%= submit_tag I18n.t(:submit, :default => "Submit"), :class => 'onepager_submit' %>
	</div>
<% end %>

<% if !content.other.blank? %>
	<p class="note"><%= content.other %></p>
<% end %>