<section class="promotions" id="promotion_<%= content.id || 'new' %>" data-model-class="<%= content.class %>">
	<% if params[:action] != 'new' %>
		<div class="editable">
			<span class="form_edit">Click to Edit</span>
			<%= render "content_types/promotions/content", :content => content %>
		</div>
		<div class="addable">
			<a href="#" class="form_add">+ Add Content</a>
		</div>
	<% end %>
	<%= form_for [:content_types, content], :namespace => content.object_id, :remote => true do |f| %>
		<fieldset style="display: none;">
			<div class="form_header">
				<h6>Promotion</h6>
				<a href="#" class="form_info" data-content-type="promotions">Info</a>
			</div>
			<ul>
				<li>
					<%= f.label :title %>
					<%= f.text_field :title, :class => 'user_input', :size => '', :placeholder => 'e.g. New Year Giveaway!' %>
				</li>
				<li>
					<%= f.label :prize %>
					<%= f.text_area :prize, :class => 'user_input', :size => '', :placeholder => 'e.g. $50 Amazon.com gift card' %>
				</li>
			</ul>
			<ul>
				<li>Entry Requirements</li>
				<li class="checkbox">
					<%= f.check_box :require_name %>
					<%= f.label :require_name, "Customer's Name" %>
				</li>
				<li class="checkbox">
					<%= f.check_box :require_email %>
					<%= f.label :require_email, "Customer's Email" %>
				</li>
				<li class="checkbox">
					<%= f.check_box :require_phone %>
					<%= f.label :require_phone, "Customer's Phone Number" %>
				</li>
				<li class="checkbox">
					<%= f.check_box :require_facebook_like %>
					<%= f.label :require_facebook_like, "Like Facebook Page" %>
				</li>
				<li>
					<%= f.label :facebook_url %>
					<%= f.text_field :facebook_url, :class => 'user_input', :size => '', :placeholder => 'e.g. http://facebook.com/zuck' %>
				</li>
			</ul>
			<ul>
				<li>
					<%= f.label :other, "Rules and Other Information" %>
					<%= f.text_area :other, :class => 'user_input', :size => '' %>
				</li>
			</ul>
			<ul>
				<li>
					<%= f.label :email, "Email Submissions To" %>
					<%= f.text_field :email, :class => 'user_input', :size => '', :placeholder => 'e.g. hi@onepagerapp.com' %>
				</li>
			</ul>
			<div class="form_actions">
				<%= link_to "Delete?", [:content_types, content], :class => 'form_remove', :method => :delete, :remote => true, :data => { :confirm => 'Delete?' } if params[:action] != 'new' %>
				<a href="#" class="form_close">Cancel</a>
				<%= f.hidden_field :page_id, :value => page_id %>
				<%= f.hidden_field :position, :value => position if defined? position %>
				<%= f.submit "Done", :class => 'user_submit' %>
			</div>
		</fieldset>
	<% end %>
</section>
