<%= content_tag(:h3, container.title) if !container.title.blank? %>
<%= content_tag(:p, container.description) if !container.description.blank? %>
<ul>
<% Hour.view_formatted_hours(container.id).each do |hour| %>
	<li><strong><%= Hour.translate_hours(hour[1].join(', ')) %></strong> <span><%= hour[0] %></span></li>
<% end %>
</ul>