<section class="hours" id="hours_<%= container.id || 'new' %>" data-model-class="<%= container.class %>">
	<% if params[:action] != 'new' %>
		<div class="editable">
			<span class="form_edit">Click to Edit</span>
			<%= render "content_types/hours/content", :container => container %>
		</div>
		<div class="addable">
			<a href="#" class="form_add">+ Add Content</a>
		</div>
	<% end %>
	
	<%= form_for [:content_types, container], :url => (container.new_record? ? content_types_hours_path : content_types_hour_path(container)), :namespace => container.object_id, :remote => true do |f| %>
		<fieldset style="display: none;">
			<div class="form_header">
				<h6>Hours</h6>
				<a href="#" class="form_info" data-content-type="hours">Info</a>
			</div>
			<ul>
				<li>
					<%= f.label :title %>
					<%= f.text_field :title, :class => 'user_input', :size => '', :value => 'Hours' %>
				</li>
				<li>
					<%= f.label :description %>
					<%= f.text_area :description, :class => 'user_input', :size => '' %>
				</li>
			</ul>
			<div class="content_list">
				<h6>Hours</h6>
				<ul>
					<%= f.fields_for :hours do |h| %>
						<li>
							<%= h.select :day, Hour::DAYS.enum_for(:each_with_index).collect { |h,i| [Hour::ABBR_DAYS[i], h] }, { :include_blank => "Day" } ,:class => 'hours_day' %>
							<%= h.select :start, Hour::TIMES, :include_blank => "Start" %>
							<%= h.select :end, Hour::TIMES, :include_blank => "End" %>
							<%= h.hidden_field :_destroy %>
							<%= h.hidden_field :id %>
							<a href="#" class="remove_item">Delete</a>
						</li>
					<% end %>
				</ul>
				<a href="#" class="add_item">Add Hours</a>
			</div>
			<div class="form_actions">
				<%= link_to "Delete?", content_types_hour_path(container), :class => 'form_remove', :method => :delete, :remote => true, :data => { :confirm => 'Delete?' } if params[:action] != 'new' %>
				<a href="#" class="form_close">Cancel</a>
				<%= f.hidden_field :page_id, :value => page_id %>
				<%= f.hidden_field :position, :value => position if defined? position %>
				<%= f.submit "Done", :class => 'user_submit' %>
			</div>
		</fieldset>
	<% end %>
</section>