<%= link_to image_tag(content.preview_file, :width => '100%'), content.gumroad_url if !content.preview_file.blank? %>
<%= content_tag(:h3, content.name) if content.name %>
<p><%= sanitize content.description %></p>
<a href="<%= content.gumroad_url %>" class="call_to_action_button">Purchase for <%= number_to_currency content.price %></a>
<script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>