<section class="products" id="product_<%= content.id || 'new' %>" data-model-class="<%= content.class %>">
	<% if params[:action] != 'new' %>
		<div class="editable">
			<span class="form_edit">Click to Edit</span>
			<%= render "content_types/products/content", :content => content %>
		</div>
		<div class="addable">
			<a href="#" class="form_add">+ Add Content</a>
		</div>
	<% end %>
	<%= form_for [:content_types, content], :namespace => content.object_id, :remote => true, :html => { :multipart => true } do |f| %>
		<fieldset style="display: none;">
			<div class="form_header">
				<h6>Sell</h6>
				<a href="#" class="form_info" data-content-type="product">Info</a>
			</div>
			<ul>
				<li>
					<%= f.label :name, 'Item Name' %>
					<%= f.text_field :name, :class => 'user_input', :size => '', :placeholder => 'Book Title, Event Name, etc.' %>
				</li>
				<li>
					<%= f.label :description %>
					<%= f.text_area :description, :class => 'user_input', :size => '' %>
				</li>
			</ul>
			<ul>
				<li>
					<%= f.label :product_type, 'It\'s a...' %>
					<%= f.select :product_type, Product::PRODUCT_TYPES %>
				</li>
				<% if content.product_type != "Digital Download" %>
					<li class="upload_field" style="display: none;">
						<%= f.file_field :product_file %>
						<%= f.text_field :url, :class => 'user_input', :placeholder => 'http://', :disabled => 'disabled', :style => 'display:none;' %>
						<p><a href="#" class="use_link">or use a link</a></p>
					</li>
				<% elsif content.product_type == "Digital Download" %>
					<% if !content.product_file.blank? %>
						<li class="product_file">
							<label>File</label>
							<%= content.product_file.file.filename %>
							<%= f.hidden_field :remove_product_file %>
							<a href="#" class="remove_item">Delete</a>
						</li>
						<li class="upload_field" style="display: none;">
							<%= f.file_field :product_file %>
							<%= f.text_field :url, :class => 'user_input', :placeholder => 'http://', :disabled => 'disabled', :style => 'display: none;' %>
							<p><a href="#" class="use_link">or use a link</a></p>
						</li>
					<% else %>
						<li class="upload_field">
							<%= f.file_field :product_file %>
							<%= f.text_field :url, :class => 'user_input', :placeholder => 'http://', :disabled => 'disabled', :style => 'display: none;' %>
							<p><a href="#" class="use_link">or use a link</a></p>
						</li>
					<% end %>
				<% else %>
					<li class="upload_field">
						<%= f.file_field :product_file, :disabled => 'disabled', :style => 'display: none;' %>
						<%= f.text_field :url, :class => 'user_input', :placeholder => 'http://' %>
						<p><a href="#" class="use_link">or upload a file</a></p>
					</li>
				<% end %>
				<li>
					<span class="combo">
						<%= f.label :price %>
						<%= f.text_field :price, :class => 'user_input_short', :placeholder => 'in USD', :value => number_to_currency(content.price, :unit => "") %>
					</span>
					<span class="combo">
						<%= f.label :max_purchase_count, 'Limit sales to...' %>
						<%= f.text_field :max_purchase_count, :class => 'user_input', :placeholder => '∞' %>
					</span>
				</li>
			</ul>
			<ul>
				<li>
					<%= f.label :preview_file, raw('Preview <small>We support image, audio, and video files</small>') %>
					<% if !content.preview_file.blank? %>
						<div class="preview_file">
							<%= image_tag content.preview_file %>
							<%= f.hidden_field :remove_preview_file %>
							<a href="#" class="remove_item">Delete</a>
						</div>
						<div class="upload_field" style="display: none;">
							<%= f.file_field :preview_file %>
						</div>
					<% else %>
						<div class="upload_field">
							<%= f.file_field :preview_file %>
						</div>
					<% end %>
				</li>
			</ul>
			<ul>
				<li>
					<%= f.label :country_available, 'Available...' %>
					<%= f.select :country_available, Product::COUNTRIES_AVAILABLE %>
				</li>
				<% if @show_paypal_email %>
					<li>
						<%= f.label :paypal_email %>
						<%= f.text_field :paypal_email, :value => current_user.email %>
					</li>
				<% end %>
			</ul>
			<div class="form_actions">
				<%= link_to "Delete?", [:content_types, content], :class => 'form_remove', :method => :delete, :remote => true, :data => { :confirm => 'Delete?' } if params[:action] != 'new' %>
				<a href="#" class="form_close">Cancel</a>
				<%= f.hidden_field :page_id, :value => page_id %>
				<%= f.hidden_field :position, :value => position if defined? position %>
				<%= f.submit "Done", :class => 'user_submit' %>
			</div>
		</fieldset>
	<% end %>
</section>
