<%= content_tag(:h3, container.title) if !container.title.blank? %>
<%= content_tag(:p, container.description) if !container.description.blank? %>

<% if container.format == 'slideshow' %>
	<div class="gallery_slideshow">
		<% if container.gallery_images.length > 1 %>
		<span>
			<a href="#" class="previous_image" data-direction="previous">Prev</a>
			<a href="#" class="next_image" data-direction="next">Next</a>
		</span>
		<% end %>
		<%= image_tag container.gallery_images.first.filename.medium.url, :alt => "#{strip_tags container.gallery_images.first.caption}", :title => "#{strip_tags container.gallery_images.first.caption}" if !container.gallery_images.blank? %>
		<% container.gallery_images.drop(1).each do |g| %>
			<%= image_tag g.filename.medium.url, :alt => "#{strip_tags g.caption}", :title => "#{strip_tags g.caption}", :style => 'display: none;' %>
		<% end %>
	</div>
<% elsif container.format == 'thumbnails' %>
	<% container.gallery_images.each do |g| %>
		<%= image_tag g.filename.thumbnail.url, :alt => "#{strip_tags g.caption}", :title => "#{strip_tags g.caption}", 'data-enlarged' => "#{g.filename.large.url}" %>
	<% end %>
<% elsif container.format == 'linkable' %>
	<% container.gallery_images.each do |g| %>
		<% if g.url.blank? %>
			<%= image_tag(g.filename.medium.url, :alt => "#{strip_tags g.caption}", :title => "#{strip_tags g.caption}") %>
		<% else %>
			<%= link_to image_tag(g.filename.medium.url, :alt => "#{strip_tags g.caption}", :title => "#{strip_tags g.caption}"), g.full_url, :target => '_blank' %>
		<% end %>
	<% end %>
<% end %>