<section class="galleries<%= ' ' + container.format if !container.format.blank? %>" id="galleries_<%= container.id || 'new' %>" data-model-class="<%= container.class %>">
	<% if params[:action] != 'new' %>
		<div class="editable">
			<span class="form_edit">Click to Edit</span>
			<%= render "content_types/galleries/content", :container => container %>
		</div>
		<div class="addable">
			<a href="#" class="form_add">+ Add Content</a>
		</div>
	<% end %>
	
	<%= form_for [:content_types, container], :url => (container.new_record? ? content_types_galleries_path : content_types_gallery_path(container)), :namespace => container.object_id, :remote => true, :html => { :multipart => true } do |f| %>
		<input type="hidden" name="container_id" value="<%= container.id || 'new' %>" />
		<fieldset style="display: none;">
			<div class="form_header">
				<h6>Images</h6>
				<a href="#" class="form_info" data-content-type="galleries">Info</a>
			</div>
			<ul>
				<li>
					<%= f.label :title %>
					<%= f.text_field :title, :class => 'user_input', :size => '', :placeholder => 'e.g. Image Gallery' %>
				</li>
				<li>
					<%= f.label :description %>
					<%= f.text_area :description, :class => 'user_input', :size => '' %>
				</li>
			</ul>
			<ul>
				<li>
					<%= f.label :format, 'Display as...' %>
					<%= f.select :format, Container::DISPLAY_FORMAT %>
				</li>
			</ul>
			<div class="content_list">
				<h6>Images <small>.jpgs, .pngs, or .gifs under 2mb please</small></h6>
				<ul>
					<%= f.fields_for :gallery_images do |g| %>
						<li>
							<div class="linkable"<%=raw ' style="display: none;"' if container.format != 'linkable' %>>
								<%= image_tag g.object.filename.medium.url %>
								<%= g.text_field :url, :size => '' , :placeholder => 'http://...' %>
							</div>
							<div class="slideshow"<%=raw ' style="display: none;"' if container.format != 'slideshow' %>>
								<%= image_tag g.object.filename.medium.url %>
							</div>
							<div class="thumbnails"<%=raw ' style="display: none;"' if container.format != 'thumbnails' %>>
								<%= image_tag g.object.filename.tiny.url %>
								<%= g.text_area :caption, :size => '' , :placeholder => 'Enter a caption...' %>
							</div>
							<%= g.hidden_field :_destroy %>
							<%= g.hidden_field :id %>
							<a href="#" class="remove_item">Delete</a>
						</li>
					<% end %>
				</ul>
				<div class="upload_field">
					<%= file_field_tag "gallery_image_files[]", :multiple => true, 'data-url' => content_types_gallery_images_path %>
				</div>
			</div>
			<div class="form_actions">
				<%= link_to "Delete?", content_types_gallery_path(container), :class => 'form_remove', :method => :delete, :remote => true, :data => { :confirm => 'Delete?' } if params[:action] != 'new' %>
				<a href="#" class="form_close">Cancel</a>
				<%= f.hidden_field :page_id, :value => page_id %>
				<%= f.hidden_field :position, :value => position if defined? position %>
				<%= f.submit "Done", :class => 'user_submit' %>
			</div>
		</fieldset>
	<% end %>
</section>