<%= content_tag(:h3, container.title) if !container.title.blank? %>
<%= content_tag(:p, container.description) if !container.description.blank? %>
<ul>
	<% container.services.each do |s| %>
		<li><%= s.body %></li>
	<% end %>
</ul>