<section class="services" id="services_<%= container.id || 'new' %>" data-model-class="<%= container.class %>">
	<% if params[:action] != 'new' %>
		<div class="editable">
			<span class="form_edit">Click to Edit</span>
			<%= render "content_types/services/content", :container => container %>
		</div>
		<div class="addable">
			<a href="#" class="form_add">+ Add Content</a>
		</div>
	<% end %>
	
	<%= form_for [:content_types, container], :url => (container.new_record? ? content_types_services_path : content_types_service_path(container)), :namespace => container.object_id, :remote => true do |f| %>
		<fieldset style="display: none;">
			<div class="form_header">
				<h6>Services</h6>
				<a href="#" class="form_info" data-content-type="services">Info</a>
			</div>
			<ul>
				<li>
					<%= f.label :title %>
					<%= f.text_field :title, :class => 'user_input', :size => '' %>
				</li>
				<li>
					<%= f.label :description %>
					<%= f.text_area :description, :class => 'user_input', :size => '' %>
				</li>
			</ul>
			<div class="content_list">
				<h6>Services</h6>
				<ul>
					<%= f.fields_for :services do |sf| %>
						<li>
							<%= sf.text_field :body, :size => '' , :placeholder => 'e.g. dry cleaning, tree trimmings, etc' %>
							<%= sf.hidden_field :_destroy %>
							<%= sf.hidden_field :id %>
							<a href="#" class="remove_item">Delete</a> <%# show this delete button only if there is more than 1 %>
						</li>
					<% end %>
				</ul>
				<a href="#" class="add_item">Add Service</a>
			</div>
			<div class="form_actions">
				<%= link_to "Delete?", content_types_service_path(container), :class => 'form_remove', :method => :delete, :remote => true, :data => { :confirm => 'Delete?' } if params[:action] != 'new' %>
				<a href="#" class="form_close">Cancel</a>
				<%= f.hidden_field :page_id, :value => page_id %>
				<%= f.hidden_field :position, :value => position if defined? position %>
				<%= f.submit "Done", :class => 'user_submit' %>
			</div>
		</fieldset>
	<% end %>
</section>