<div class="call_to_action">
	<% if current_user.payment_frequency == 'Trial' || current_user.payment_plan == 'Starter' %>
		<a href="/account/upgrade" class="start">Create A Onepager</a>
		<p>Interested in adding more Onepagers? <a href="/account/upgrade">Upgrade</a> your plan!</p>
	<% elsif current_user.sites_remaining < 1 %>
		<a href="/account/upgrade" class="start">Upgrade</a>
		<p>
			<span class="plans_progress">&nbsp;</span><br />
			You've hit your plan limit and need to upgrade to add additional sites.
		</p>
	<% else %>
		<%= link_to "Add A Site", account_sites_path, :method => :post, :class => 'start' %>
		<p>
			<span class="plans_progress">
				<style type="text/css">.plans_progress:before { width: <%= number_to_percentage((current_user.sites_total-current_user.sites_remaining).to_f/current_user.sites_total.to_f*100) %>; }</style>
			</span>
			You can build <%= current_user.sites_remaining %> more sites under your current plan. <% if current_user.payment_plan != 'Agency' %><a href="/account/upgrade">Upgrade</a> for more.<% end %>
		</p>
	<% end %>
</div>