<% content_for :title do %>Sites - Account Management<% end %>
<% content_for :body_class do %>sites<% end %>

<header>
	<h2>
		<img src="/assets/dashboard/icon-header-dashboard.gif" alt="" />
		Your Sites
	</h2>
	<section class="dashboard_search">
		<% if !params[:search].blank? %>
			<a href="/account/sites" class="general">Clear search</a>
		<% end %>
		<form method="GET">
			<input type="text" class="user_input" name="search" placeholder="Search sites" value="<%= params[:search] %>" />
			<input type="submit" value="Search" class="user_submit" />
		</form>
	</section>
</header>

<% if !flash[:notice].blank? %>
	<div class="notice">
		<%=raw flash[:notice] %>
	</div>
<% end %>

<ul>
<% if @sites.length == 0 %>
	<li>Your search returned 0 sites.</li>
<% end %>
<% @sites.each do |s| %>
	<li>
		<h3><%= link_to s.company_name, site_path(s) %></h3>
		<p>
			<% if request.domain == "easysiteadmin.com" %>
				<%= link_to s.url_fullpath.gsub("onepagerapp.com", "easysiteadmin.com"), s.url_fullpath.gsub("onepagerapp.com", "easysiteadmin.com"), :target => '_blank' %>
			<% else %>
				<%= link_to s.url_fullpath, s.url_fullpath, :target => '_blank' %>
			<% end %> 
			&nbsp; - &nbsp; Created <time datetime="<%= s.created_at.strftime("%Y-%m-%d") %>"><%= s.created_at.strftime("%b %e, %Y") %></time>
		</p>
		<div class="sites_actions">
			<%= link_to 'Dashboard', site_path(s), :class => "dashboard_link" %>
			<a href="<%= edit_site_page_path(s, s.pages.first) %>" class="edit_link">Edit Site</a>
			<% if request.domain == "easysiteadmin.com" %>
				<% site_url = s.url_fullpath.gsub("onepagerapp.com", "easysiteadmin.com") %>
			<% else %>
				<% site_url = s.url_fullpath %>
			<% end %>
			<a href="<%= site_url %>" target="_blank" class="view_link">View Site</a>
			<%= link_to 'Delete', account_site_path(s), :method => 'delete', :class => 'delete_link', :title => "Permanently delete #{s.company_name}", :confirm => "Are you sure you want to delete #{s.company_name}?" if @sites.length > 1 && current_user.payment_plan != 'Child' %>
		</div>
	</li>
<% end %>
</ul>

<%= will_paginate @sites %>

<%= render 'add_sites_call_to_action' if current_user.payment_plan != 'Child' or current_user.admin == true %>