/** CKEditor Textarea styles **/
.cke_chrome {
      box-shadow: none !important; -webkit-box-shadow: none !important; -moz-box-shadow: none !important;
	border:0 !important; padding: 0 !important;
}
.cke_inner {
  background: none !important;
}
.cke_top {
 -moz-box-shadow: none !important;  -webkit-box-shadow: none !important; box-shadow: none !important;
  margin-bottom: 0 !important; margin-right: 0 !important; padding: 0 !important; border-bottom: 0 !important; background-image: none !important; background-color: transparent !important;
}
	.cke_wrapper {
		background: none !important;
		padding: 0 !important;
	}
		a.cke_toolbox_collapser {
			display: none !important;
		}
		.cke_toolbox {
			overflow: hidden;
		}
		.cke_bottom {
			display: none !important;
		}
	.cke_dialog_tabs {
		display: none !important;
	}
		.cke_dialog_contents {
			background-color: transparent !important;
			height: auto !important; border: 0 !important; padding: 0 !important; margin-top: 0 !important;
		}
			.cke_dialog_page_contents {
				margin-bottom: 10px !important;
				height: auto !important; display: block !important;
			}
      .cke_dialog_contents_body {
        padding: 30px 0 !important; margin-top: 0 !important; height: auto !important;
      }
			.cke_dialog_ui_labeled_content {
				display: inline-block;
			}
			#cke_63_label {
				font-weight: bold;
				width: 87px;
				display: inline-block;
			}

/** CKEditor Dialog Box Styles **/

.cke_dialog_background_cover {
	background: #000 !important;
}

.cke_dialog_body {
	background: #e7e7e7 !important; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px;
	padding: 10px 15px !important; border: 5px solid #fff !important;
}	
  .cke_dialog_title {
    text-shadow: none !important;
		border: 0 !important; padding: 0 !important; background: none !important; box-shadow: none !important; -webkit-box-shadow: none !important; -moz-box-shadow: none !important;
	}
	.cke_dialog .cke_dialog_body .cke_dialog_close_button {
		display: none !important;
	}
	
	.cke_single_page .cke_dialog_contents {
		background: none !important;
		width: auto !important; height: auto !important; padding: 15px 0 !important; margin: 0 !important; border: 0 !important;
		overflow: hidden !important;
	}
		.cke_contents iframe {
			border: 1px solid #fff; min-width: 100% !important;
		}
			.cke_focus .cke_contents iframe {
				border-color: #c0dada;
			}
		.cke_single_page .cke_dialog_contents label {
			display: none;
		}
		.cke_dialog_ui_vbox_child {
			padding: 0 !important;
		}
		.cke_dialog_ui_input_select {
			vertical-align: middle;
			width: 65px;
			display: inline-block !important;
		}
		input.cke_dialog_ui_input_text {
			line-height: 1.5em; vertical-align: middle;
			height: 1.5em !important;
			display: inline-block;
		}
		.cke_focus {
			outline: none !important;
		}
	.cke_dialog_footer {
		text-align: left !important;
		background: none !important;
		border: 0 !important;
		padding-top: 30px;
    outline: none !important; box-shadow: none !important; -webkit-box-shadow: none !important; 
	}
		.cke_resizer {
			display: none !important;
		}
	
	.cke_dialog_footer_buttons {
		margin: 0 !important;
		overflow: hidden;
	}

		a.cke_dialog_ui_button {
			cursor: pointer !important; vertical-align: middle !important; border: 0 !important;
			display: inline-block; box-shadow: !important; -webkit-box-shadow: none !important;
		}
      .cke_dialog_footer_buttons a.cke_dialog_ui_button span {
        font-weight: normal !important;
      }
      .cke_dialog_footer_buttons a.cke_dialog_ui_button span {
        text-shadow: none !important;
      }
			a.cke_dialog_ui_button_cancel  {
				background: none !important;
				padding: 0 !important; margin-top: 7px !important;
			}
			a.cke_dialog_ui_button_ok {
				text-shadow: 1px 1px 0 #eaeaea; font-size: 13px; line-height: 12px; color: #191919 !important; text-decoration: none; font-weight: bold;
				background: #fff url('/assets/pages/button-general.png') left top repeat-x !important; -moz-box-shadow: 0 1px 0 #eaeaea; -webkit-box-shadow: 0 1px 0 #eaeaea; box-shadow: 0 1px 0 #eaeaea;
				height: 19px !important; padding: 6px 10px 0 !important; margin-right: 5px !important; border: 1px solid #a0a0a0 !important; -webkit-border-radius: 6px !important; -moz-border-radius: 6px !important; border-radius: 6px !important;
			}
		span.cke_dialog_ui_button {
			cursor: pointer !important;
			background: none !important;
			width: auto !important; min-width: 0 !important; padding: 0!important; margin: 0 !important;
		}


/*
-------------------------
SIDEBAR CKEDITOR
-------------------------
*/
.page_wide .sidebar .cke_wrapper {
	width: 268px;
}
.page_wide .sidebar .cke_skin_kama * {
	white-space: normal;
}