.toolbar {
	font-family: "Open Sans", Arial, Helvetica, sans-serif; font-weight: 600;
	background-color: #f47946;
	z-index: 1; position: relative;
}
	.toolbar nav {
		text-align: left;
		width: 984px; margin: 0 auto;
		position: relative;
	}
	.toolbar .logo {
		line-height: 33px; text-decoration: none; color: #fff;
		padding: 7px 36px 6px; border-left: 1px solid #e65b37; border-right: 1px solid #e65b37;
		display: inline-block;
	}
	.question_dropdown, .account_dropdown {
		position: absolute;
		 top: 0;
	}
	.question_dropdown {
		right: 44px;
	}
		.question_dropdown p {
			font-size: 14px; line-height: 1.4em;
			padding-bottom: 0;
		}
	.account_dropdown {
		right: 0;
	}
	
		.question_dropdown a:first-child, .account_dropdown a:first-child {
			text-indent: -1000px;
			background-position: center top; background-repeat: no-repeat;
			width: 23px; height: 32px; padding: 7px 10px; border-left: 1px solid #e65b37; border-right: 1px solid #e65b37;
			overflow: hidden; display: block;
		}
			.question_dropdown a:first-child {
				background-image: url("/assets/dashboard/icon-toolbar-question.png");
			}
			.account_dropdown a:first-child {
				background-image: url("/assets/dashboard/icon-toolbar-account.png");
			}
		.question_dropdown:hover a:first-child, .account_dropdown:hover a:first-child, .open a:first-child {
			background-color: #fff; background-position: center -46px;
		}
			
		
		.toolbar .dropdown {
			text-align: left;
			background-color: #fff; -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2); -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2); box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
			min-width: 120px; top: 46px; right: 1px; padding: 10px;
			position: absolute; display: none;
		}
			.toolbar .dropdown a:first-child {
				text-indent: 0;
				background: none;
				width: auto; height: auto; border: 0;
				overflow: visible;
			}
			.toolbar .dropdown a {
				color: #428ac8; text-transform: uppercase; text-decoration: none; text-shadow: none; font-size: 12px; line-height: 1.2em;
				padding: 5px 10px;
				display: block;
			}
			.toolbar .dropdown a:hover {
				color: #306da2;
			}
			.toolbar .dropdown:hover, .account_dropdown:hover .dropdown, .question_dropdown:hover .dropdown, .open .dropdown {
				display: block;
			}
		.question_dropdown .dropdown {
			right: -44px; width: 270px; padding: 25px;
		}
		
		.toolbar form {
			font-size: 12px; line-height: 1.2em; color: #666;
		}
			.toolbar form label {
				text-transform: uppercase;
			}
			.toolbar form textarea {
				font-size: 14px; font-family: "Open Sans", Arial, Helvetica, sans-serif; color: #191919; line-height: 1.5em;
				width: 255px; margin-bottom: 10px; margin-top: 10px; height: 85px; padding: 5px; border: 1px solid #acacac;
				display: block;
			}
			.toolbar form input {
				font-size: 12px; line-height: 1em; color: #fff; font-weight: 600; text-transform: uppercase; vertical-align: middle; cursor: pointer;
				background-color: #3187c7;
				border: 0; padding: 10px 15px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
				display: inline-block; clear: both;
			}
				.toolbar form input:hover {
					background-color: #3593d8;
				}
				.toolbar form input:active {
					-moz-box-shadow: inset 0 1px 8px rgba(0,0,0,0.35); -webkit-box-shadow: inset 0 1px 8px rgba(0,0,0,0.35); box-shadow: inset 0 1px 8px rgba(0,0,0,0.35);
					padding-top: 11px; padding-bottom: 9px;
				}