.wysihat {
	font-size: 14px; color: #191919; font-family: arial, helvetica, sans-serif;
	background-color: #fff;
	min-height: 100px; padding: 5px; border: 1px solid #ACACAC;
	outline: none; clear: both;
}
	.wysihat ol, .wysihat ul {
		padding-left: 20px; margin-bottom: 1em;
	}
	.wysihat a {
		color: #00c;
	}
	.wysihat p {
		line-height: 1.5em;
		margin-bottom: 1em;
	}
	
.wysihat_toolbar {
	/*background-color: #fff;*/
	/*padding: 3px;*/ margin-bottom: 5px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	float: left; clear: both;
}
	.wysihat_toolbar a {
		vertical-align: middle; color: #666; text-decoration: none; text-indent: -10000px;
		background-image: url('/assets/pages/icons-wysiwyg.png');
		width: 25px; height: 25px; margin-right: 3px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
		display: inline-block; overflow: hidden;
	}
		.wysihat_bold {
			background-position: left top;
		}
		.wysihat_italic {
			background-position: -25px top;
		}
		.wysihat_underline {
			background-position: -50px top;
		}
		.wysihat_link {
			background-position: -75px top;
		}
		.wysihat_ordered {
			background-position: -100px top;
		}
		.wysihat_unordered {
			background-position: -125px top;
		}
		
	.wysihat_toolbar .wysihat_selected {
		color: #191919;
		background-color: #dadada; box-shadow: inset 0 1px 2px rgba(0,0,0,0.25); -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25); -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	}
	
	

.wysihat ::selection { background-color: #000; text-shadow: none; color: #fff; }
.wysihat ::-moz-selection { background-color: #000; text-shadow: none; color: #fff; }
.wysihat ::-webkit-selection { background-color: #000; text-shadow: none; color: #fff; }
