<% if @user.errors.any? %>
	<div class="errors">
		<p>The following errors must be fixed before continuing:</p>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>