<header>
	<h1>Create Your Account</h1>
</header>

<div class="signups">
	<%= render 'errors' %>

	<% if @user.promo_code == "domainr" %>
		<div class="notice">Welcome, Domainr visitors! You get 10% off for being awesome.</div>
	<% end %>

	<%= form_for @user, :url => "/signup?ref=#{params[:ref]}" do |f| %>

		<% if params[:ref] == "domainr" || params[:ref] == "existing_custom_domain" %>

			<%= f.fields_for :sites do |s| %>
			
				<h2>Custom Domain Options</h2>
				<fieldset class="check_domains">
					<div class="domain_tabs">
						<span class="selected">
							<%= s.radio_button :domain_type, "new_custom_domain" %>
							<%= s.label :domain_type_new_custom_domain, "New Custom Domain" %>
						</span>
						<span>
							<%= s.radio_button :domain_type, "existing_custom_domain" %>
							<%= s.label :domain_type_existing_custom_domain, "Existing Custom Domain" %>
						</span>
						<span>
							<%= s.radio_button :domain_type, "no_custom_domain" %>
							<%= s.label :domain_type_no_custom_domain, "No Custom Domain" %>
						</span>
					</div>
					<section class="new_custom_domain">
						<p>Register a new domain with us for $15/year.<br />We register names ending in .com, .net, .org, .biz, .co, or .us</p>
						<div class="domain_input">
							<span>http://www.</span>
							<%= s.text_field :purchased_domain, :class => "user_input" %>
						</div>
					</section>
					<section class="existing_custom_domain">
						<p>Point a domain you already own to your Onepager. <a href="/en/resources/faq#a7" target="_blank">Learn More</a></p>
						<div class="domain_input">
							<span>http://www.</span>
							<%= s.text_field :domain_name, :class => "user_input" %>
						</div>
					</section>
					<section class="no_custom_domain">
						<p>No problem, you can access your site by using your Onepager address.</p>
						<div class="domain_input">
							<span>http://onepagerapp.com/</span>
							<%= s.text_field :onepager_address, :class => "user_input" %>
						</div>
					</section>
				</fieldset>
				
			<% end %>

		<% else %>

			<%= f.fields_for :sites do |s| %>
				<%= s.hidden_field :domain_type %>
				<%= s.hidden_field :onepager_address %>
			<% end %>

		<% end %>

		<h2>Create Your Login</h2>
		<fieldset>
			<ul>
				<li>
					<%= f.label :email %>
					<%= f.text_field :email, :class => 'user_input' %>
				</li>
				<li>
					<%= f.label :password %>
					<%= f.password_field :password, :class => 'user_input' %>
				</li>
			</ul>
		</fieldset>
		
		<h2>Current Charges</h2>
		<fieldset class="billing">
			<table>
				<tr class="subscription">
					<td>Onepager Subscription - <%= @user.payment_plan %> Plan, Billed <%= @user.payment_frequency %></td>
					<td class="price">$<%= @user.plan_only_yearly_total(:without_promo_code) + @user.monthly_total(:without_promo_code) %></td>
				</tr>
				<% if @user.promo_code == "domainr" %>
					<tr class="register_domain">
						<td>Domain Registration <span><%= @site.domain_name %></span></td>
						<td class="price">$15</td>
					</tr>
				<% end %>
				<% if !@user.promo_code.blank? && !User::PROMO_CODES[@user.promo_code].blank? %>
					<tr class="coupon" data-discount="<%= User::PROMO_CODES[@user.promo_code][:user] %>">
						<td>Discount</td>
						<td class="price"><%= User::PROMO_CODES[@user.promo_code][:user] %>% Off</td>
					</tr>
					<tr>
						<td class="totals" colspan="2">Total &nbsp; <span><%= number_to_currency @user.monthly_total + @user.yearly_total %></span></td>
					</tr>
					<%= f.hidden_field :promo_code, :value => @user.promo_code %>
				<% else %>
					<tr>
						<td>
							<input type="text" name="user[promo_code]" class="user_input" placeholder="Coupon Code" />
							<input type="button" name="apply_code" value="Apply Code" class="general" />
						</td>
						<td class="totals">Total &nbsp; <span><%= number_to_currency @user.monthly_total + @user.yearly_total %></span></td>
					</tr>
				<% end %>
			</table>
		</fieldset>
		
		<h2>Billing Address</h2>
		<fieldset>
			<ul>
				<li>
					<%= f.label :first_name, "Name" %>
					<%= f.text_field :first_name, :class => 'user_input short_input', :placeholder => 'First' %>
					<%= f.text_field :last_name, :class => 'user_input short_input', :placeholder => 'Last' %>
				</li>
				<li>
					<%= f.label :address %>
					<%= f.text_field :address, :class => 'user_input' %>
				</li>
				<li>
					<%= f.label :address2, raw('&nbsp;') %>
					<%= f.text_field :address2, :class => 'user_input' %>
				</li>
				<li>
					<%= f.label :zip, "Postal Code" %>
					<%= f.text_field :zip, :class => 'user_input short_input', :maxlength => 15 %>
				</li>
				<li>
					<%= f.label :city %>
					<%= f.text_field :city, :class => 'user_input' %>
				</li>
				<li>
					<%= f.label :state %>
					<%= f.text_field :state, :class => 'user_input' %>
				</li>
				<li>
					<%= f.label :country %>
					<%= f.text_field :country, :class => 'user_input' %>
				</li>
			</ul>
		</fieldset>
		
		<h2>Credit Card</h2>
		<fieldset class="credit_card">
			<%= f.fields_for :payments do |p| %>
				<ul>
					<li>
						<%= p.label :credit_card_number, "Card Number" %>
						<%= p.text_field :credit_card_number, :maxlength => 16, :class => 'user_input' %>
					</li>
					<li>
						<%= p.label :expiration_month, "Expiration Date" %>
						<%= p.select :expiration_month, Payment::EXP_MONTHS %>
						<span>/</span>
						<%= p.select :expiration_year, Payment::EXP_YEARS %>
					</li>
					<li>
						<%= p.label :security_code, "Security Code" %>
						<%= p.text_field :security_code, :maxlength => 4, :class => 'user_input short_input' %>
					</li>
					<li class="security">
						<img src="/assets/application/signup/icon-credit-cards.png" alt="Visa, MasterCard, Amex, Discover" />
						<img src="/assets/application/signup/icon-comodo.png" alt="Comodo" />
						<img src="/assets/application/signup/icon-authorize-net.png" alt="Authorize.net" />
					</li>
				</ul>
			<% end %>
			<div class="tooltip_bubbles" style="display: none;">
				<p>VISA/MasterCard<br />AMEX</p>
			</div>
		</fieldset>

		<div class="form_actions">
			<div class="checkboxes">
				<%= f.check_box :terms_and_conditions %>
				<label for="user_terms_and_conditions">I accept the <a href="/en/legal/terms-conditions" target="blank">Onepager Terms &amp; Conditions</a></label>
			</div>
			<%= f.submit "Finish", :class => 'start' %>
		</div>
		
		<%= f.hidden_field :payment_frequency, "data-price" => User::PLANS[@user.payment_frequency][@user.payment_plan] %>
		<%= f.hidden_field :payment_plan, "data-price" => User::PLANS[@user.payment_frequency][@user.payment_plan] %>
		
	<% end %>
	
	<section class="disclaimer">
		<h3>100% Money Back Guarantee</h3>
		<p>We are fully dedicated to the satisfaction of our customers. If your Onepager website is unsatisfactory for any reason, we will remove it and refund 100% of your investment.</p>
	</section>
</div>