<% content_for :title do %>Thank you!<% end %>

<section class="thank_you_introduction">
	<img src="/assets/application/signup/background-thank-you-paid.png" alt="" />
</section>

<section class="thank_you">
	<h2>You did it! Your new site is created!</h2>

	<article>
		<ul>
			<li>
				<% if current_user.sites.last.domain_type != "no_custom_domain" && !current_user.sites.last.domain_name.blank? %>
					<strong>Your Custom Domain</strong>
					<a href="http://<%= current_user.sites.last.domain_name %>"><%= current_user.sites.last.domain_name %></a>
				<% else %>
					<strong>Your Onepager Address</strong>
					<a href="http://onepagerapp.com/<%= current_user.sites.last.onepager_address %>">http://onepagerapp.com/<%= current_user.sites.last.onepager_address %></a>
				<% end %>
			</li>
			<li>
				<strong>Share With Your People</strong>
				<%= render "share" %>
			</li>
		</ul>
		<div class="buttons">
			<a href="<%= edit_dashboard_domain_url %>" class="general">Change Domain Settings</a>
			<strong>or</strong>
			<a href="<%= account_sites_url %>" class="general">Continue Editing</a>
		</div>
	</article>
	
	<%= render 'survey_form' %>
</section>