<header>
	<h1>Pricing Plan</h1>
</header>
<section class="plans">
	
	<div class="tabs">
		<a href="#" data-period="monthly">Billed Monthly</a>
		<a href="#" data-period="yearly" class="on">Billed Yearly (save up to 25%)</a>
	</div>
  	
	<div class="paids">
		<div class="paid agency" data-monthly="<%= User::PLANS["Monthly"]["Agency"].to_i %>" data-yearly="<%= User::PLANS["Yearly"]["Agency"].to_i %>">
			<h3>Agency</h3>
			<span class="plan_price"><strong><sup>$</sup><%= User::PLANS["Yearly"]["Agency"].to_i %></strong> / month</span>
			<ul>
				<li class="icon_url">Create <%= pluralize(User::PLANS_SITES_TOTALS["Agency"], "website") %></li>
				<li class="icon_users"><%= pluralize(User::PLANS_USERS_TOTALS["Agency"]-1, "additional user") %></li>
				<li class="icon_newsletter">Unlimited newsletters</li>
				<li class="icon_whitelabel">Rebrand / Private Label</li>
				<li class="icon_support">Priority support</li>
				<li><a href="?plan=Agency&frequency=Yearly" class="more">Pick Agency</a></li>
			</ul>
		</div>
		<div class="paid premium" data-monthly="<%= User::PLANS["Monthly"]["Premium"].to_i  %>" data-yearly="<%= User::PLANS["Yearly"]["Premium"].to_i %>">
			<h3>Premium</h3>
			<span class="plan_price"><strong><sup>$</sup><%= User::PLANS["Yearly"]["Premium"].to_i %></strong> / month</span>
			<ul>
				<li class="icon_url">Create <%= pluralize(User::PLANS_SITES_TOTALS["Premium"], "website") %></li>
				<li class="icon_users"><%= pluralize(User::PLANS_USERS_TOTALS["Premium"]-1, "additional user") %></li>
				<li class="icon_newsletter">40 newsletters / month</li>
				<li class="icon_whitelabel">Rebrand / Private Label</li>
				<li class="icon_support">Priority support</li>
				<li><a href="?plan=Premium&frequency=Yearly" class="more">Pick Premium</a></li>
			</ul>
		</div>
		<div class="paid standard" data-monthly="<%= User::PLANS["Monthly"]["Plus"].to_i %>" data-yearly="<%= User::PLANS["Yearly"]["Plus"].to_i %>">
			<h3>Plus <em>- best value!</em></h3>
			<span class="plan_price"><strong><sup>$</sup><%= User::PLANS["Yearly"]["Plus"].to_i %></strong> / month</span>
			<ul>
				<li class="icon_url">Create <%= pluralize(User::PLANS_SITES_TOTALS["Plus"], "website") %></li>
				<li class="icon_users"><%= pluralize(User::PLANS_USERS_TOTALS["Plus"]-1, "additional user") %></li>
				<li class="icon_newsletter">20 newsletters / month</li>
				<li class="icon_whitelabel">Onepager Admin Panel</li>
				<li class="icon_support">Email support</li>
				<li><a href="?plan=Plus&frequency=Yearly" class="start">Pick Plus</a></li>
			</ul>
		</div>
		<div class="paid starter" data-monthly="<%= User::PLANS["Monthly"]["Starter"].to_i %>" data-yearly="<%= User::PLANS["Yearly"]["Starter"].to_i %>">
			<h3>Starter</h3>
			<span class="plan_price"><strong><sup>$</sup><%= User::PLANS["Yearly"]["Starter"].to_i %></strong> / month</span>
			<ul>
				<li class="icon_url">Create <%= pluralize(User::PLANS_SITES_TOTALS["Starter"], "website") %></li>
				<li class="icon_users"><%= pluralize(User::PLANS_USERS_TOTALS["Starter"]-1, "additional user") %></li>
				<li class="icon_newsletter">1 newsletter / month</li>
				<li class="icon_whitelabel">Onepager Admin Panel</li>
				<li class="icon_support">Email support</li>
				<li><a href="?plan=Starter&frequency=Yearly" class="more">Pick Starter</a></li>
			</ul>
		</div>
	</div>
	
	<div class="features">
		<h2>All of our paid plans include...</h2>
		<ul>
			<li class="icon_bandwidth">Unlimited Bandwidth</li>
			<li class="icon_hosting">Rock Solid Cloud Hosting</li>
			<li class="icon_url">Use Your Own Custom Domain</li>
			<li class="icon_analytics">Monitor Your Traffic with Analytics</li>
			<li class="icon_newsletter">Set up custom contact forms</li>
			<li class="icon_ecommerce">Sell products with simple ecommerce</li>
		</ul>
	</div>

</section>
<section class="testimonials">
	<div class="testimonial bottom thenextweb">
		<blockquote>
			<h3>Onepager is the world's easiest way to create a beautiful website.</h3>
		</blockquote>
		<a href="http://thenextweb.com" rel="author" target="_blank"><img src="/assets/application/signup/the-next-web.png" alt="The Next Web" /></a>
	</div>
	<div class="testimonial left laurenleto">
		<a href="http://thingsthatscarelaurenleto.tumblr.com" rel="author" target="_blank"><img src="/assets/application/signup/lauren-leto.png" alt="Lauren Leto" /></a>
		<blockquote>
			<p>You don't know how happy this makes me. I've wanted to make my dad a site for so long but haven't had time. He needed this so badly. Thank you! You made life better.</p>
			<cite><a href="http://thingsthatscarelaurenleto.tumblr.com/" rel="author" target="_blank">Lauren Leto</a>, <a href="http://textsfromlastnight.com/" target="_blank">Texts From Last Night</a> &amp; <a href="http://letobuilding.com/" target="_blank">Leto Building</a></cite>
		</blockquote>
	</div>
	<div class="testimonial left marcoprotano">
		<a href="http://marcoprotano.com/" rel="author" target="_blank"><img src="/assets/application/signup/marco-protano.png" alt="Marco Protano" /></a>
		<blockquote>
			<p>I had 2 bad attempts at hiring a web team, always thought that web design was a "black box" costing thousands of dollars and taking on a life of its own in terms of time to completion.  With Onepager, I did it on my own in minutes and paid about $100 for a year.  I can update it in seconds or leave it alone. Thanks Onepager team!</p>
			<cite><a href="http://marcoprotano.com/" target="_blank" rel="author">Marco Protano</a>, Professor of Marketing and Strategy on 4 continents</cite>
		</blockquote>
	</div>
	<div class="testimonial bottom frbruced">
		<blockquote>
			<p>I have told a whole boatload of people about how easy and affordable onepager is. By far one of the best services anywhere on the internet!</p>
			<cite><a href="http://frbruced.org/" target="_blank">Father Bruce Douglas</a>, the Catholic Church</cite>
		</blockquote>
		<a href="http://frbruced.org" rel="author" target="_blank"><img src="/assets/application/signup/father-bruce-douglas.png" alt="Father Bruce Douglas" /></a>
	</div>
	<div class="testimonial top sunnysideyoga">
		<a href="http://sunnysideyoga.com" rel="author" target="_blank"><img src="/assets/application/signup/love-letter.png" alt="The Next Web" /></a>
		<blockquote>
			<p>Bottom line: this is my love letter to you, Onepager. You have effectively saved my sanity, my relationship with my sister, and possibly her business because her website gets way more traffic than her Facebook. Thank you, a million times thank you.</p>
			<cite>Adrienne Dye, sister to <a href="http://sunnysideyoga.com" target="_blank">Rebecca Dye</a> and author of the Onepager Love Letter</cite>
		</blockquote>
	</div>
</section>

<article class="frequently_asked_questions">
	<ul>
		<li>
			<h3>Who owns my data?</h3>
			<p>You do. Onepager will never claim to own the rights to your data. In fact, if you ever want to cancel your account you can request all your data be exported and sent to you.</p>
		</li>
		<li>
			<h3>Are there any benefits of paying now vs. upgrading later?</h3>
			<p>Yes. We are constantly adding features and improving existing ones while planning big releases for the future. If any big release warrants a price increase, we will allow existing users to be grandfathered in at the current price. In other words, we will never raise our price for existing customers.</p>
		</li>
		<li>
			<h3>Is it difficult and confusing to cancel my account?</h3>
			<p>No. Onepager was designed to be fast and easy-to-use for busy small business owners whose time is extremely valuable. We make canceling just as easy, all you have to do is email us at <a href="mailto:support@onepagerapp.com">support@onepagerapp.com</a> with "cancel please."</p>
		</li>
		<li>
			<h3>What if I have any other questions?</h3>
			<p>Feel free to email us at <a href="mailto:support@onepagerapp.com">support@onepagerapp.com</a> <!-- or call <a href="tel:9175248172">917-524-8172</a> --> and we will be glad to answer any questions you may have.</p>
		</li>
	</ul>
</article>
