<!-- TWITTER BUTTON -->
<a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= current_user.sites.last.url_fullpath %>" data-text="Take a look at my new site I made using Onepager and let me know what you think!" data-count="horizontal" data-via="onepagerapp">Tweet</a><script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>

<!-- GOOGLE+ BUTTON -->
<g:plusone size="medium" href="<%= current_user.sites.last.url_fullpath %>"></g:plusone>

<!--  Place this tag after the last plusone tag -->
<script type="text/javascript">
	(function() {
		var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		po.src = 'https://apis.google.com/js/plusone.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	})();
</script>

<!-- FACEBOOK LIKE BUTTON -->
<iframe src="https://www.facebook.com/plugins/like.php?href=<%= CGI::escape( current_user.sites.last.url_fullpath ) %>&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe>