<%= form_tag url_for(:action => 'thankyou_survey'), :remote => true do %>
	<%= label_tag "source", "How'd you hear about Onepager?" %>
	<%= text_area_tag 'source' %>
	<div class="onepager_form_actions">
		<%= submit_tag "Submit", :class => 'start' %>
	</div>
<% end %>