<header>
	<h1>Create Your Account</h1>
</header>

<section class="signups">
	
	<%= render 'errors' %>

	<%= form_for @user, :url => '/signup' do |f| %>
	
		<%= f.fields_for :sites do |s| %>
			<%= s.hidden_field :domain_type %>
			<%= s.hidden_field :onepager_address %>
		<% end %>
		
		<h2>Create Your Login</h2>
		<fieldset class="account">
			<ul>
				<li>
					<%= f.label :email %>
					<%= f.text_field :email, :class => 'user_input' %>
				</li>
				<li>
					<%= f.label :password %>
					<%= f.password_field :password, :class => 'user_input' %>
				</li>
			</ul>
		</fieldset>
		
		<div class="form_actions">
			<p>
				<%= f.check_box :terms_and_conditions %>
				<label for="user_terms_and_conditions">I accept the <a href="/en/legal/terms-conditions" target="blank">Onepager Terms &amp; Conditions</a></label>
			</p>
			<%= f.submit "Finish", :class => 'start' %>
		</div>
		
		<%= f.hidden_field :payment_frequency %>
		<%= f.hidden_field :payment_plan %>
		
		<%= f.fields_for :sites do |s| %>
			<%= s.hidden_field :domain_type, :value => "no_custom_domain" %>
		<% end %>
	<% end %>
</section>