<% content_for :title do %>Thank you for signing up for a free Onepager account!<% end %>

<section class="thank_you_introduction">
	<img src="/assets/application/signup/background-thank-you-trial.png" alt="" />
</section>

<section class="thank_you">
	<h2>Good work! Your website is launched!</h2>
	<article>
		<ul>
			<li>
				<strong>Your Onepager Address</strong>
				<%= link_to current_user.sites.last.url_fullpath, current_user.sites.last.url_fullpath %>
			</li>
			<li>
				<strong>Share With Your People</strong>
				<%= render "share" %>
			</li>
		</ul>
		<div class="buttons">
			<a href="<%= edit_dashboard_domain_url %>" class="general">Customize Your Onepager Address</a>
			<strong>or</strong>
			<a href="/account/upgrade" class="general">Upgrade for a Custom Domain</a>
		</div>
	</article>
	
	<%= render 'survey_form' %>
</section>