<% content_for :title do %>Thank you!<% end %>

<section class="thank_you_introduction">
	<img src="/assets/application/signup/background-thank-you-paid.png" alt="" />
</section>

<section class="thank_you">
	<h2>Woohoo! You’ve successfully upgraded!</h2>

	<article class="upgraded">
		<a href="<%= account_sites_url %>" class="general">Continue Editing</a>
		<strong>or</strong>
		<a href="<%= current_user.sites.last.url_fullpath %>" target="_blank" class="general">View Your Live Site</a>
	</article>
</section>