<% content_for :title do %>Sign Up<% end %>

<% if @user.payment_frequency != "Monthly" && @user.payment_frequency != "Yearly" && @user.payment_frequency != "Trial" %>

	<%= render 'pick_a_plan' %>
	
<% elsif @user.payment_frequency == "Trial" %>
	
	<% content_for :content_class do %>main_content<% end %>
	<%= render 'trial_form' %>
	
<% elsif @user.payment_frequency == "Monthly" || @user.payment_frequency == "Yearly" %>

	<% content_for :content_class do %>main_content<% end %>
	<%= render 'paid_form' %>
	
<% end %>

<% content_for :js_inject do %>
	<script type="text/javascript">
		Onepager.Users.create();
	</script>
<% end %>