<% content_for :content_class do %>main_content thank_you_content<% end %>

<header>
	<h1>Thank You</h1>
</header>

<% if params[:upgrade] == "true" %>
	
	<%= render 'upgrade_thankyou' %>
	
<% elsif current_user %>

	<% if current_user.payment_frequency == "Trial" %>

		<%= render 'trial_thankyou' %>
	
	<% elsif current_user.payment_frequency == "Monthly" || current_user.payment_frequency == "Yearly" %>

		<%= render 'paid_thankyou' %>
	
	<% end %>
	
<% end %>