$( '.thank_you form' ).after( '<div class="thank_you_done"><h3>Thanks for your submission!</h3><img src="/assets/application/signup/thank-you-survey.png?2" alt="" /></div>' );
$( '.thank_you form' ).remove();