<footer>
	<section>
		<nav>
			<a href="/en/resources/guides">Guides</a>
			<a href="/en/resources/how-to-videos">How-To Videos</a>
			<a href="/en/resources/faq">FAQ</a>
			<a href="/en/contact-us">Contact Us</a>
			<a href="/blog">Blog</a>
			<a href="/en/legal/privacy-policy">Privacy Policy</a>
			<a href="/en/legal/terms-conditions">Terms &amp; Conditions</a>
		</nav>
		<img src="/assets/dashboard/logo-footer.png" alt="Onepager" />
	</section>
	<section>
		<a href="http://facebook.com/onepager"><img src="/assets/application/facebook.png" alt="Facebook" /></a>
		<a href="http://twitter.com/onepagerapp"><img src="/assets/application/twitter.png" alt="Twitter" /></a>
		<span>&copy; 2016 Onepager Inc.</span>
	</section>
</footer>