<div class="gumroad_message" style="display: none;">
	<h4>Congratulations on setting up your Onepager to put money in your pocket!</h4>
	<img src="/assets/pages/onboarding/logo-gumroad.png" alt="Gumroad" />
	<p>Keep an eye open for emails from our partner, <a href="http://gumroad.com" target="_blank">Gumroad</a>. All Onepager transactions are processed through them and they’ll email you whenever you have money coming your way.</p>
	<p>Good luck with your sales and as always, shoot us an email at <a href="mailto:support@onepagerapp.com">support@onepagerapp.com</a> if we can help in any way.</p>
</div>