<div class="reminder_dialog" style="display: none;">
	<h4>You've successfully created a new Onepager website!</h4>
	<p>Your temporary Onepager Address is <a href="<%= @site.url_fullpath %>" target="_blank">onepagerapp.com/<%= @site.onepager_address %></a>. To change your Onepager Address or set a custom domain, go to your <a href="/dashboard/domain">Domain setting</a> page.</p>
	<img src="/assets/pages/onboarding/domain-reminder.png" alt="Custom Domain" />
</div>