<div class="onboarding" style="display: none;">
	<dl>
		<dt>Build</dt>
		<dd>
			<img src="/assets/pages/onboarding/build-edit.png" alt="Edit" />
			<p>Click on the content you’d like to <strong>edit</strong></p>
		</dd>
		<dd>
			<img src="/assets/pages/onboarding/build-add.png" alt="Add" />
			<p>Click <strong>Add Content</strong> to add something new</p>
		</dd>
	</dl>
	<dl>
		<dt>Customize</dt>
		<dd>
			<img src="/assets/pages/onboarding/customize.png" alt="Customize" />
			<p>Choose a theme, make your own, or change the page layout in the editor panel.</p>
		</dd>
	</dl>
	<dl>
		<dt>Launch</dt>
		<dd>
			<img src="/assets/pages/onboarding/launch.png" alt="Launch" />
			<p>Click <strong>Next</strong> to finish setting up your account and launch your Onepager!</p>
		</dd>
	</dl>
</div>