<section class="toolbar">
	<nav>
		<% if current_user.payment_plan == "Child" && current_user.white_label_title == "Onepager" %>
			<%= link_to image_tag('dashboard/logo-toolbar.png'), account_sites_path, :class => 'logo' %>
		<% elsif current_user.payment_plan == "Child" && current_user.white_label_title != "Onepager" %>
			<%= link_to current_user.white_label_title, account_sites_path, :class => 'logo' %>
		<% else %>
			<%= link_to image_tag('dashboard/logo-toolbar.png'), account_sites_path, :class => 'logo' %>
		
			<div class="question_dropdown">
				<a href="#" class="feedback">As A Question</a>
				<div class="dropdown">
					<%= form_tag account_feedback_path, :remote => true do %>
						<%= label_tag 'feedback', 'Ask us a question or provide feedback:' %>
						<%= text_area_tag 'feedback' %>
						<%= submit_tag "Submit", :class => 'start' %>
					<% end %>
				</div>
			</div>
		<% end %>
		<div class="account_dropdown">
			<%= link_to 'Account', '/account/settings' %>
			<div class="dropdown">
				<%= link_to 'Profile', '/account/settings' %>
				<%= link_to 'Users', account_users_path if current_user.paying_user? %>
				<%= link_to 'Billing', '/account/billing' if current_user.paying_user? %>
				<%= link_to 'Affiliates', account_affiliate_path if current_user.payment_plan != 'Child' %>
				<%= link_to 'Private Label', account_whitelabel_path if current_user.paying_user? %>
				<%= link_to 'Sign Out', signin_path, :method => :delete %>
			</div>
		</div>
	</nav>
</section>