<section class="toolbox" style="height: 38px;">
	
	<%= form_for @site, :url => site_page_path(@site, @page), :remote => true, :html => { :enctype => "multipart/form-data" } do |f| %>
		<nav>
			<a href="#" class="button_show">Show</a>
			<a href="#" data-section="theme" class="button_theme">Theme</a>
			<a href="#" data-section="styles" class="button_styles">Styles</a>
			<a href="#" data-section="layout" class="button_layout">Layout</a>
			<div class="form_actions">
				<input type="hidden" name="section" value="theme" />
				<%= link_to 'Get More Features!', account_upgrade_path, :class => 'upgrade' if current_user && current_user.payment_frequency == "Trial" %>
				<% unless request.domain == "easysiteadmin.com" and @site.user_id.blank? %>
					<%= f.submit ( current_user ? 'Save' : 'Next' ), :class => 'user_submit save_page' %>
				<% end %>
				<%= f.submit 'Save & Close', :class => 'user_submit close_page' if current_user %>
			</div>
		</nav>
		<fieldset class="theme" style="display: none;">
			<div class="theme_collection">
				<ul>
					<li><a href="#" data-id="custom" class="theme_custom"><img src="/assets/pages/toolbox/icon-custom.png?1" alt="Custom" /></a></li>
					<%# Temp iterator %>
					<% @themes.each do |t| %>
						<li><%= link_to image_tag(t.screenshot_image, :alt => ''), theme_path(t), :remote => true, 'data-type' => 'json' %></li>
					<% end %>
				</ul>
			</div>
			<div class="theme_limiter">
				<a href="#" data-direction="left">Previous</a>
				<a href="#" data-direction="right">Next</a>
			</div>
			<%= f.hidden_field :theme_id %>
		</fieldset>
		<fieldset class="styles" style="display: none;">
			
			<div class="background_body">
				<%= f.label :background_colour, 'Page Background' %>
				<span class="colorpicker" data-element="body" data-field="background_colour">
					<a href="#" style="background-color: #<%= @site.background_colour %>;">Colors</a>
				</span>
				<% if @site.background_image.blank? || !@site.background_image_enabled %>
					<%= f.select :background_image_alignment, Site::ALIGNMENTS, {}, { :disabled => 'disabled', 'data-element' => 'body' } %>
					<%= f.file_field :background_image %>
					<p style="display: none;">
						<%= f.check_box :background_image_fixed %>
						<%= f.label :background_image_fixed, 'Fixed in place' %>
						<a href="#" class="disable_background_image">Remove/Change Image</a>
					</p>
				<% else %>
					<%= f.select :background_image_alignment, Site::ALIGNMENTS, {}, { 'data-element' => 'body'} %>
					<%= f.file_field :background_image, :style => 'display: none;' %>
					<p>
						<%= f.check_box :background_image_fixed %>
						<%= f.label :background_image_fixed, 'Fixed in place' %>
						<a href="#" class="disable_background_image">Remove/Change Image</a>
					</p>
				<% end %>
			</div>
			
			<div class="background_content">
				<%= f.label :content_background_colour, 'Content Background' %>
				<span class="colorpicker" data-element="article" data-field="content_background_colour">
					<a href="#" style="background-color: #<%= @site.content_background_colour %>;">Colors</a>
				</span>
				<span class="scrollbar" data-element="article" data-name="content_background_opacity" data-value="<%= @site.content_background_opacity %>">&nbsp;</span>
			</div>
			
			<div class="fontsets">
				<ul>
					<li>
						<%= f.label :header_type, 'Company Font' %>
						<%= f.select :header_type, font_select(), {}, {'data-element' => 'h1'} %>
						<span class="colorpicker" data-element="h1" data-field="header_colour">
							<a href="#" style="background-color: #<%= @site.header_colour %>;">Colors</a>
						</span>
						<span class="scrollbar" data-element="h1" data-name="header_size" data-value="<%= @site.header_size %>">&nbsp;</span>
					</li>
					<li>
						<%= f.label :subheader_type, 'Header Font' %>
						<%= f.select :subheader_type, font_select(), {}, {'data-element' => 'h2,h3'} %>
						<span class="colorpicker" data-element="h2,h3" data-field="subheader_colour">
							<a href="#" style="background-color: #<%= @site.subheader_colour %>;">Colors</a>
						</span>
						<span class="scrollbar" data-element="h2" data-name="subheader_size" data-value="<%= @site.subheader_size %>">&nbsp;</span>
					</li>
					<li>
						<%= f.label :body_type, 'Body Font' %>
						<%= f.select :body_type, font_select( Site::FONTS['safe'] + Site::FONTS['basic'] ), {}, {'data-element' => 'body'} %>
						<span class="colorpicker" data-element="body" data-field="body_colour">
							<a href="#" style="background-color: #<%= @site.body_colour %>;">Colors</a>
						</span>
						<span class="scrollbar" data-element="body" data-name="body_size" data-value="<%= @site.body_size %>">&nbsp;</span>
					</li>
				</ul>
			</div>
			
			<%= f.hidden_field :remote_background_image_url %>
			<%= f.hidden_field :content_background_colour %>
			<%= f.hidden_field :content_background_opacity %>
			<%= f.hidden_field :background_colour %>
			<%= f.hidden_field :background_image_enabled %>
			<%= f.hidden_field :header_colour %>
			<%= f.hidden_field :header_size %>
			<%= f.hidden_field :subheader_colour %>
			<%= f.hidden_field :subheader_size %>
			<%= f.hidden_field :body_colour %>
			<%= f.hidden_field :body_size %>
			
		</fieldset>
		<fieldset class="layout" style="display: none;">
			<%= f.fields_for :pages do |p| %>
			
				<div class="layout_settings">
					<%= p.label :layout_alignment, 'Position' %>
					<% ['left', 'none', 'right'].each do |a| %>
						<a href="#" data-value="<%= a %>" data-name="layout_alignment"<%=raw ' class="enabled"' if @page.layout_alignment == a %>>
							<img src="/assets/pages/toolbox/layout-alignment-<%= a %>.png" alt="<%= a %>" />
						</a>
					<% end %>
				</div>
				<div class="layout_settings">
					<%= p.label :layout_width, 'Columns' %>
					<% ['450', '650', '835'].each do |a| %>
						<a href="#" data-value="<%= a %>" data-name="layout_width"<%=raw ' class="enabled"' if @page.layout_width == a %>>
							<img src="/assets/pages/toolbox/layout-width-<%= a %>.png" alt="<%= a %>" />
						</a>
					<% end %>
				</div>
				
				<%= p.hidden_field :layout_width %>
				<%= p.hidden_field :layout_alignment %>
			<% end %>
		</fieldset>
	<% end %>
</section>