<section class="widget" style="display: none;">
	<div class="widget_header">
		<h6>What would you like to add here?</h6>
		<a href="#" class="form_close">Info</a>
	</div>
	<div class="widget_contents">
		<%= link_to new_content_types_text_area_path(:page_id => @page.id, :position => ""), :remote => true do %>
			<img src="/assets/pages/widget/textarea.png" alt="Text" />
			Text
		<% end %>
		<%= link_to new_content_types_service_path(:page_id => @page.id, :position => ""), :remote => true do %>
			<img src="/assets/pages/widget/services.png" alt="Services" />
			Services
		<% end %>
		<%= link_to new_content_types_button_path(:page_id => @page.id, :position => ""), :remote => true do %>
			<img src="/assets/pages/widget/button.png" alt="Button" />
			Button
		<% end %>
		<%= link_to new_content_types_contact_section_path(:page_id => @page.id, :position => ""), :remote => true do %>
			<img src="/assets/pages/widget/contact.png" alt="Contact" />
			Contact
		<% end %>
		<%= link_to new_content_types_embed_path(:page_id => @page.id, :position => ""), :remote => true do %>
			<img src="/assets/pages/widget/media.png" alt="Media" />
			Media
		<% end %>
		<%= link_to new_content_types_hour_path(:page_id => @page.id, :position => ""), :remote => true do %>
			<img src="/assets/pages/widget/hours.png" alt="Hours" />
			Hours
		<% end %>
		<%= link_to new_content_types_social_button_path(:page_id => @page.id, :position => ""), :remote => true do %>
			<img src="/assets/pages/widget/social.png" alt="Social" />
			Social
		<% end %>
		<%= link_to new_content_types_newsletter_path(:page_id => @page.id, :position => ""), :remote => true do %>
			<img src="/assets/pages/widget/newsletter.png" alt="Newsletter" />
			Newsletter
		<% end %>
		<%= link_to new_content_types_gallery_path(:page_id => @page.id, :position => ""), :remote => true do %>
			<img src="/assets/pages/widget/images.png" alt="Images" />
			Images
		<% end %>
		<%= link_to new_content_types_download_section_path(:page_id => @page.id, :position => ""), :remote => true do %>
			<img src="/assets/pages/widget/downloads.png" alt="Downloads" />
			Downloads
		<% end %>
		<% if !current_user %>
			<span class="disabled" title="Sign up to unlock this feature "><img src="/assets/pages/widget/form.png" alt="Form" />Form</span>
			<span class="disabled" title="Sign up to unlock this feature "><img src="/assets/pages/widget/sell.png?1" alt="PayPal Button" />PayPal Button</span>
		<% else %>
			<% if current_user.payment_frequency == 'Trial' %>
				<a href="/account/upgrade" class="disabled" title="Upgrade to unlock this feature "><img src="/assets/pages/widget/form.png" alt="Form" />Form</a>
				<a href="/account/upgrade" class="disabled" title="Upgrade to unlock this feature "><img src="/assets/pages/widget/sell.png?1" alt="PayPal Button" />PayPal Button</a>
			<% else %>
				<%= link_to new_content_types_contact_form_field_path(:page_id => @page.id, :position => ""), :remote => true do %>
					<img src="/assets/pages/widget/form.png" alt="Form" />
					Form
				<% end %>
				<%= link_to new_content_types_paypal_button_path(:page_id => @page.id, :position => ""), :remote => true do %>
					<img src="/assets/pages/widget/sell.png?1" alt="Paypal" />
					Paypal
				<% end %>
			<% end %>
		<% end %>
		<%= link_to new_content_types_social_feed_path(:page_id => @page.id, :position => ""), :remote => true do %>
			<img src="/assets/pages/widget/feeds.png" alt="Feed" />
			Feed
		<% end %>
		<%= link_to new_content_types_iframe_path(:page_id => @page.id, :position => ""), :remote => true do %>
			<img src="/assets/pages/widget/iframe.png" alt="iframe" />
			iframe
		<% end %>
		<% if current_user %>
			<%= link_to new_content_types_promotion_path(:page_id => @page.id, :position => ""), :remote => true do %>
				<img src="/assets/pages/widget/promotion.png" alt="Promotion" />
				Promotion
			<% end %>
		<% end %>
		
		<% if (@site.user && @site.user.allow_script_embeds?) %>
			<%= link_to new_content_types_script_embed_path(:page_id => @page.id, :position => ""), :remote => true do %>
				<img src="/assets/pages/widget/embed.png" alt="iframe" />
				Embed
			<% end %>
		<% end %>
	</div>
</section>