<div class="call_to_action">
	
	<% if current_user.payment_frequency == 'Trial' || current_user.payment_plan == 'Starter' %>
		<a href="/account/upgrade" class="start">Create A User</a>
		<p>Interested in adding more Onepager users? <a href="/account/upgrade">Upgrade</a> to a multi-user plan!</p>
	<% else %>
		<%= link_to 'Add A User', new_account_user_path, :class => 'start', :remote => 'true' if child_users.length < (User::PLANS_USERS_TOTALS[current_user.payment_plan]-1) %>
		<p>
			<span class="plans_progress">
				<style type="text/css">.plans_progress:before { width: <%= number_to_percentage(child_users.length/(User::PLANS_USERS_TOTALS[current_user.payment_plan]-1).to_f*100) %>; }</style>
			</span>
			You can add <%= User::PLANS_USERS_TOTALS[current_user.payment_plan]-1-child_users.length %> more users under your current plan. <% if current_user.payment_plan != 'Agency' %><a href="/account/upgrade">Upgrade</a> for more.<% end %>
		</p>
	<% end %>
	
</div>
