<div class="account_user_form" style="display: none;">
	<%= form_for [:account, @user], :remote => true do |f| %>
		<fieldset>
			<ul>
				<li>
					<%= f.label :first_name, 'Name' %>
					<%= f.text_field :first_name, :class => "user_input short_input", :placeholder => 'First' %>
					<%= f.text_field :last_name, :class => "user_input short_input", :placeholder => 'Last' %>
				</li>
				<li>
					<%= f.label :email %>
					<%= f.text_field :email, :class => 'user_input' %>
				</li>
			</ul>
		</fieldset>
		
		<fieldset class="checkboxes">
			<h5>Access</h5>
			<ul>
				<li><a href="#">Select all sites</a></li>
				<% current_user.sites.each do |s| %>
					<li>
						<%= check_box_tag "user[site_ids][]", s.id, @user.site_permission_sites.include?(s), :id => "site_ids_#{s.id}" %>
						<%= label_tag "site_ids_#{s.id}", s.company_name %>
					</li>
				<% end %>
			</ul>
		</fieldset>

		<fieldset class="checkboxes">
			<h5>Permission</h5>
			<ul>
				<li><%= check_box_tag "user[admin]", 1, @user.admin? %> <%= label_tag "user[admin]", "Allow user to create more sites" %></li>
			</ul>
		</fieldset>
		
		<div class="form_actions">
			<%= f.submit (@user.new_record? ? 'Add User' : 'Save User'), :class => 'start' %>
			<a href="/account/users">Cancel</a>
		</div>
	<% end %>
</div>