<p>A new user has been created with the following login information:</p>
<p>Email: <%= new_user.email %><br />Password: <strong><%= password %></strong></p>
<div class="form_actions">
	<a href="#" class="start">Done</a>
	<a href="mailto:<%= new_user.email %>?subject=Your New Account&body=Email: <%= @user.email %>, Password: <%= @password %>">Send password</a>
</div>