<tr id="user_<%= user.id %>">
	<td><%= link_to user.email, edit_account_user_path(user), :remote => true %></td>
	<td><%= user.first_name %> <%= user.last_name %></td>
	<td><%= link_to 'Delete', account_user_path(user), :data => { :confirm => 'Are you sure you want to delete this user?' }, :method => :delete, :class => 'delete_link' %></td>
</tr>