Onepager.Users.create( {
	user: '<%= escape_javascript(render 'user', :user => @user) %>',
	id: <%= @user.id %>,
	call_to_action: '<%= escape_javascript(render 'add_users_call_to_action', :child_users => @child_users) %>',
	confirm_message: '<%= escape_javascript(render 'new_user_message', :new_user => @user, :password => @password) %>'
} );