<% content_for :body_class do %>users<% end %>

<header>
	<h2>
		<img src="/assets/dashboard/icon-header-users.png" alt="" />
		User Management
	</h2>
	<section class="dashboard_search">
		<% if !params[:search].blank? %>
			<a href="/account/users" class="general">Clear search</a>
		<% end %>
		<form method="GET">
			<input type="text" class="user_input" name="search" placeholder="Search users" value="<%= params[:search] %>" />
			<input type="submit" value="Search" class="user_submit" />
		</form>
	</section>
</header>

<% if @user && @user.errors.length > 0 %>
	<div class="errors">
		<%= @user.errors.full_messages %>
	</div>
<% end %>

<% if flash[:notice] %>
	<div class="notice">
		<%= flash[:notice] %>
	</div>
<% end %>

<% if @child_users.length == 0 %>
	<p>Your search returned 0 users.</p>
<% end %>

<table<%=raw ' style="display: none;"' if @child_users.length == 0 %>>
	<thead>
		<tr>
			<th>Email</th>
			<th colspan="2">Name</th>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => 'user', :collection => @child_users %>
	</tbody>
</table>

<%= will_paginate @child_users %>

<%= render 'add_users_call_to_action', :child_users => @all_child_users %>