<% content_for :body_class do %>upgrade<% end %>

<header>
	<h1>Upgrade Your Account</h1>
</header>

<%= form_for @user, :url => '/account/upgrade' do |f| %>
	<section class="plans">
		<div class="tabs">
			<a href="#" data-period="monthly"<%=raw ' class="on"' if @user.payment_frequency == "Monthly" %>>Billed Monthly</a>
			<a href="#" data-period="yearly"<%=raw ' class="on"' if @user.payment_frequency == "Yearly" %>>Billed Yearly (save up to 25%)</a>
		</div>
        
		<div class="paids">
			<div class="paid agency" data-monthly="<%= User::PLANS["Monthly"]["Agency"].to_i  %>" data-yearly="<%= User::PLANS["Yearly"]["Agency"].to_i %>">
				<h3>
					<%= f.radio_button :payment_plan, "Agency" %>
					<%= f.label :payment_plan_agency, "Agency" %>
				</h3>
				<span class="plan_price"><strong><sup>$</sup><%= User::PLANS["Yearly"]["Agency"].to_i %></strong> / month</span>
				<ul>
					<li class="icon_url">Create <%= pluralize(User::PLANS_SITES_TOTALS["Agency"], "website") %></li>
					<li class="icon_users"><%= pluralize(User::PLANS_USERS_TOTALS["Agency"]-1, "additional user") %></li>
					<li class="icon_newsletter">Unlimited newsletters</li>
					<li class="icon_whitelabel">Rebrand / Private Label</li>
					<li class="icon_support">Priority support</li>
				</ul>
			</div>
			<% if @user.payment_plan_was == 'Trial' || @user.payment_plan_was == 'Starter' || @user.payment_plan_was == 'Plus' %>
				<div class="paid premium" data-monthly="<%= User::PLANS["Monthly"]["Premium"].to_i  %>" data-yearly="<%= User::PLANS["Yearly"]["Premium"].to_i %>">
					<h3>
						<%= f.radio_button :payment_plan, "Premium" %>
						<%= f.label :payment_plan_premium, "Premium" %>
					</h3>
					<span class="plan_price"><strong><sup>$</sup><%= User::PLANS["Yearly"]["Premium"].to_i %></strong> / month</span>
					<ul>
						<li class="icon_url">Create <%= pluralize(User::PLANS_SITES_TOTALS["Premium"], "website") %></li>
						<li class="icon_users"><%= pluralize(User::PLANS_USERS_TOTALS["Premium"]-1, "additional user") %></li>
						<li class="icon_newsletter">40 newsletters / month</li>
						<li class="icon_whitelabel">Rebrand / Private Label</li>
						<li class="icon_support">Priority support</li>
					</ul>
				</div>
			<% end %>
			<% if @user.payment_plan_was == 'Trial' || @user.payment_plan_was == 'Starter' %>
				<div class="paid standard" data-monthly="<%= User::PLANS["Monthly"]["Plus"].to_i  %>" data-yearly="<%= User::PLANS["Yearly"]["Plus"].to_i %>">
					<h3>
						<%= f.radio_button :payment_plan, "Plus" %>
						<%= f.label :payment_plan_plus, "Plus" %> <em>- best value!</em>
					</h3>
					<span class="plan_price"><strong><sup>$</sup><%= User::PLANS["Yearly"]["Plus"].to_i %></strong> / month</span>
					<ul>
						<li class="icon_url">Create <%= pluralize(User::PLANS_SITES_TOTALS["Plus"], "website") %></li>
						<li class="icon_users"><%= pluralize(User::PLANS_USERS_TOTALS["Plus"]-1, "additional user") %></li>
						<li class="icon_newsletter">20 newsletters / month</li>
						<li class="icon_whitelabel">Onepager Admin Panel</li>
						<li class="icon_support">Email support</li>
					</ul>
				</div>
			<% end %>
			<% if @user.payment_plan_was == 'Trial' %>
				<div class="paid starter" data-monthly="<%= User::PLANS["Monthly"]["Starter"].to_i %>" data-yearly="<%= User::PLANS["Yearly"]["Starter"].to_i %>">
					<h3>
						<%= f.radio_button :payment_plan, "Starter" %>
						<%= f.label :payment_plan_starter, "Starter" %>
					</h3>
					<span class="plan_price"><strong><sup>$</sup><%= User::PLANS["Yearly"]["Starter"].to_i %></strong> / month</span>
					<ul>
						<li class="icon_url">Create <%= pluralize(User::PLANS_SITES_TOTALS["Starter"], "website") %></li>
						<li class="icon_users"><%= pluralize(User::PLANS_USERS_TOTALS["Starter"]-1, "additional user") %></li>
						<li class="icon_newsletter">1 newsletter / month</li>
						<li class="icon_whitelabel">Onepager Admin Panel</li>
						<li class="icon_support">Email support</li>
					</ul>
				</div>
			<% end %>
		</div>
		
		<%= f.hidden_field :payment_frequency %>
		
	</section>
	<section class="signups">
	
		<% if @user.errors.any? %>
			<div class="errors">
				<%= @user.errors.full_messages.join(', ') %>
			</div>
		<% end %>
		
		<h2>Current Charges</h2>
		<fieldset class="billing">
			<table>
				<tr class="subscription">
					<td>Onepager Subscription</td>
					<td class="price">
						<% if @user.payment_frequency == "Yearly" %>
							$<%= User::PLANS[@user.payment_frequency][@user.payment_plan].to_i * 12 %>
						<% else %>
							$<%= User::PLANS[@user.payment_frequency][@user.payment_plan].to_i %>
						<% end %>
					</td>
				</tr>
				<% if !@user.promo_code.blank? && !User::PROMO_CODES[@user.promo_code].blank? %>
					<tr class="coupon" data-discount="<%= User::PROMO_CODES[@user.promo_code][:user] %>">
						<td>Discount</td>
						<td class="price"><%= User::PROMO_CODES[@user.promo_code][:user] %>% Off</td>
					</tr>
					<tr>
						<td class="totals" colspan="2">
							Total Charged Today - <span>
								<% if @user.payment_frequency == "Yearly" %>
									<%= number_to_currency @user.apply_promo_code(User::PLANS[@user.payment_frequency][@user.payment_plan].to_i * 12, @user.promo_code) %>
								<% else %>
									<%= number_to_currency @user.apply_promo_code(User::PLANS[@user.payment_frequency][@user.payment_plan].to_i, @user.promo_code) %>
								<% end %>
							</span>
							<%= f.hidden_field :promo_code, :value => @user.promo_code %>
						</td>
					</tr>
				<% else %>
					<tr>
						<td>
							<label>Coupon Code: &nbsp; </label>
							<input type="text" name="user[promo_code]" class="user_input" />
							<input type="button" name="apply_code" value="Apply Code" class="general" />
						</td>
						<td class="totals">Total &nbsp; <span>
							<% if @user.payment_frequency == "Yearly" %>
								$<%= User::PLANS[@user.payment_frequency][@user.payment_plan].to_i * 12 %>
							<% else %>
								$<%= User::PLANS[@user.payment_frequency][@user.payment_plan].to_i %>
							<% end %>
						</span></td>
					</tr>
				<% end %>
			</table>
			<% if @user.payment_plan_was != "Trial" %>
				<p class="note">You are currently on the <%= @user.payment_plan_was %> <%= @user.payment_frequency_was %> account.<br />A prorated credit will be applied to your account after the upgrade is complete.</p>
			<% end %>
		</fieldset>
	
		<h2>Billing Details</h2>
		<fieldset class="credit_card">
			<ul>
				<li>
					<%= f.label :first_name, "Name" %>
					<%= f.text_field :first_name, :class => 'user_input short_input', :placeholder => 'First' %>
					<%= f.text_field :last_name, :class => 'user_input short_input', :placeholder => 'Last' %>
				</li>
				<li>
					<%= f.label :address %>
					<%= f.text_field :address, :class => 'user_input' %>
				</li>
				<li>
					<%= f.label :address2, raw('&nbsp;') %>
					<%= f.text_field :address2, :class => 'user_input' %>
				</li>
				<li>
					<%= f.label :zip, "Postal Code" %>
					<%= f.text_field :zip, :class => 'user_input short_input', :maxlength => 15 %>
				</li>
				<li>
					<%= f.label :city %>
					<%= f.text_field :city, :class => 'user_input' %>
				</li>
				<li>
					<%= f.label :state %>
					<%= f.text_field :state, :class => 'user_input' %>
				</li>
				<li>
					<%= f.label :country %>
					<%= f.text_field :country, :class => 'user_input' %>
				</li>
			</ul>
			
			<%= f.fields_for :payments do |p| %>
				<ul>
					<li>
						<%= p.label :credit_card_number, "Card Number" %>
						<%= p.text_field :credit_card_number, :maxlength => 16, :class => 'user_input' %>
					</li>
					<li>
						<%= p.label :expiration_month, "Expiration Date" %>
						<%= p.select :expiration_month, Payment::EXP_MONTHS %>
						<span>/</span>
						<%= p.select :expiration_year, Payment::EXP_YEARS %>
					</li>
					<li>
						<%= p.label :security_code, "Security Code" %>
						<%= p.text_field :security_code, :maxlength => 4, :class => 'user_input short_input' %>
					</li>
					<li class="security">
						<img src="/assets/application/signup/icon-credit-cards.png" alt="Visa, MasterCard, Amex, Discover" />
						<img src="/assets/application/signup/icon-comodo.png" alt="Comodo" />
						<img src="/assets/application/signup/icon-authorize-net.png" alt="Authorize.net" />
					</li>
				</ul>
				<%= p.hidden_field :accept_language, :value => request.env['HTTP_ACCEPT_LANGUAGE'] %>
			<% end %>
			<div class="tooltip_bubbles" style="display: none;">
				<p>VISA/MasterCard<br />AMEX</p>
			</div>
		</fieldset>

		<div class="form_actions">
			<div class="checkboxes">
				<%= f.check_box :terms_and_conditions %>
				<label for="user_terms_and_conditions">I accept the <a href="/en/legal/terms-conditions" target="blank">Onepager Terms &amp; Conditions</a></label>
			</div>
			<%= f.submit "Finish", :class => 'start' %>
		</div>

	</section>
		
<% end %>

<% content_for :js_inject do %>
	<script type="text/javascript">
		Onepager.Users.create();
	</script>
<% end %>