<%= content_tag(:h1, strip_tags(@site.company_name)) if !@site.company_name.blank? && @site.logo_image.blank? %>
<%= content_tag(:h1, image_tag(@site.logo_image.url)) if !@site.logo_image.blank? %>
<%= content_tag(:h2, strip_tags(@site.tagline)) if !@site.tagline.blank? %>