<header id="company_<%= @site.id %>">
	<%= form_for @site, :url => site_page_path(@site, @page), :remote => true, :html => { :enctype => "multipart/form-data" } do |f| %>
		<div class="editable">
			<span class="form_edit">Click to Edit</span>
			<%= render 'company_name_content' %>
		</div>
		<div class="addable">
			<a href="#" class="form_add">+ Add Content</a>
		</div>
		
		<fieldset style="display: none;">
			<div class="form_header">
				<h6>Company</h6>
				<a href="#" class="form_info" data-content-type="company_name">Info</a>
			</div>
			<ul>
				<li>
					<%= f.label :company_name, 'Company Name' %>
					<%= f.text_field :company_name, :class => 'user_input', :size => '' %>
				</li>
				<li>
					<%= f.label :tagline, 'Tagline' %>
					<%= f.text_area :tagline, :class => 'user_input', :size => '' %>
				</li>
			</ul>
			<ul>
				<li>
					<%= f.label :logo_image %>
					<%= f.file_field :logo_image %>
					<%= image_tag @site.logo_image.url if !@site.logo_image.blank? %>
					<%= f.hidden_field :remove_logo_image %>
					<% if !@site.logo_image.url.blank? %>
						<a href="#" class="remove_item">Delete</a>
					<% end %>
				</li>
			</ul>
			<div class="form_actions">
				<a href="#" class="form_close">Cancel</a>
				<input type="hidden" name="section" value="company_name" />
				<%= f.submit "Done", :class => 'user_submit' %>
			</div>
		</fieldset>
	<% end %>
</header>