<% @page.content.select {|c| c.position >= 100}.each do |c| %>
	<% if c.class == Container %>
		<section class="<%= Container::CHILD_OBJECT_TO_VIEWS_PATH[c.child_object] %><%= ' ' + c.format if !c.format.blank? %>">
			<%= render "content_types/" + Container::CHILD_OBJECT_TO_VIEWS_PATH[c.child_object] + "/content", :container => c, :page_id => @page.id %>
		</section>
	<% else %>
		<section class="<%= c.class.name.tableize %>">
			<%= render "content_types/#{c.class.name.tableize}/content", :content => c, :page_id => @page.id %>
		</section>
	<% end %>
<% end %>