/*
-------------------
Custom Theme Styles
-------------------
*/
h1 {
	font-family: <%=raw get_font_stack(@site.header_type) %>; font-weight: <%=raw get_font_weight(@site.header_type) %>; color: #<%= @site.header_colour %>; font-size: <%= @site.header_size %>px;
}
	h1 img {
		max-width: 100%;
	}
h2, h3 {
	font-family: <%=raw get_font_stack(@site.subheader_type) %>; font-weight: <%=raw get_font_weight(@site.subheader_type) %>; color: #<%= @site.subheader_colour %>;
}
h2 {
	font-size: <%= @site.subheader_size %>px;
}
body {
	color: #<%= @site.body_colour %>; font-family: <%=raw get_font_stack(@site.body_type) %>; font-weight: <%=raw get_font_weight(@site.body_type) %>; font-size: <%= @site.body_size %>px;
	background-color: #<%= @site.background_colour %>; background-image: url('<%= @site.background_image_enabled ? @site.background_image : '' %>');
	background-repeat: <%= @site.background_image_alignment == 'center' ? 'no-repeat' : 'repeat'; %>; background-attachment: <%= @site.background_image_fixed ? 'fixed' : 'scroll' %>;
	background-size: <%= @site.background_image_alignment %>; -moz-background-size: <%= @site.background_image_alignment %>; -webkit-background-size: <%= @site.background_image_alignment %>;
}
	article {
		background-color: rgba(<%= hex_to_rgb(@site.content_background_colour) %>, <%= @site.content_background_opacity.to_f / 100 %>);
		width: <%= @page.layout_width %>px;
		/*float: <%= @page.layout_alignment %>;*/ <% if @page.layout_alignment == 'left' || @page.layout_alignment == 'right' %>margin-<%= @page.layout_alignment %>: 25px;<% end %>
	}

<% if !@site.deactivate_responsive_styles %>
/*
--------------
MOBILE STYLES
--------------
*/

/* Computer and Mobile, decrement 1 */
@media screen and (max-width: 1024px) { /* When browser shrinks to 1024 */
	html, body {
		font-size: 18px;
		min-width: 0;
	}
	h1 {
		font-size: 92px;
	}
	h2 {
		font-size: 44px;
	}
	article {
		width: auto; margin: 30px;
		float: none;
	}
	
	.main_content, .page_wide .main_content {
		width: 64%;
	}
	.sidebar, .page_wide .sidebar {
		width: 33%
	}
}

/* Computer and Mobile, decrement 2 */
@media screen and (max-width: 768px) { /* When browser shrinks to 768px */
	html, body {
		font-size: 20px;
	}
	h1 {
		font-size: 105px;
	}
	h2 {
		font-size: 55px;
	}
	.main_content, .sidebar, .page_wide .main_content, .page_wide .sidebar {
		width: auto;
		float: none;
	}
}

/* iPhones and iPads */
@media screen and (max-device-width: 1024px) {
	html, body {
		font-size: 15px;
		min-width: 0;
	}
	h1 {
		font-size: 52px;
	}
	h2 {
		font-size: 26px;
	}
	article {
		width: auto; margin: 15px; padding: 15px;
		float: none;
	}
	.main_content, .sidebar {
		width: auto;
		float: none;
	}
		.newsletters input[type="text"], input[type="text"], input[type="password"], textarea.onepager_input {
			width: 95%; max-width: none; height: auto; margin-right: 0; margin-bottom: 10px;
		}
			textarea.onepager_input {
				height: 150px;
			}
			
		.fb_reset {
			display: none; !important; /* This was causing extra left/right scrolling */
		}
}

/* iPhones and iPads landscape */
@media screen and (max-device-width: 1024px) and (orientation: landscape) {
	.image_gallery li img {
		height: 250px;
	}
}

/* iPad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	html, body {
		font-size: 20px;
	}
	h1 {
		font-size: 92px;
	}
	h2 {
		font-size: 57px;
	}
	article {
		margin: 30px; padding: 30px;
	}
		.image_gallery li img {
			height: auto;
		}
}

/* iPad portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	.newsletters input[type="text"], input[type="text"], input[type="password"], textarea.onepager_input {
		width: 55%; margin-bottom: 0;
	}
		textarea.onepager_input {
			width: 75%;
		}
}

/* iPad landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	.main_content {
		width: 64%;
		float: left;
	}
		.main_content .newsletters input[type="text"], input[type="text"], input[type="password"], textarea.onepager_input {
			width: 55%; margin-bottom: 0;
		}
			.main_content textarea.onepager_input {
				width: 75%;
			}
	.sidebar {
		width: 33%;
		float: right;
	}
}

<% end %>

/*
-------------------
Custom CSS Setting
-------------------
*/
<%= sanitize @site.custom_css if @site.custom_css %>