article {
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#<%= @opacity %><%= @site.content_background_colour %>', EndColorStr='#<%= @opacity %><%= @site.content_background_colour %>';
}