<%= render 'shared/toolbar' if current_user %>
<%= render 'shared/widget' %>

<article>
	<%= render "company_name_form" %>
	<div class="main_content"> <%# positions 0 - 99 %>
		
		<% @page.content.select {|c| c.position < 100}.each do |c| %>
			<% if c.class == Container %>
				<%= render "content_types/" + Container::CHILD_OBJECT_TO_VIEWS_PATH[c.child_object] + "/form", :container => c, :page_id => @page.id %>
			<% else %>
				<%= render "content_types/#{c.class.name.tableize}/form", :content => c, :page_id => @page.id %>
			<% end %>
		<% end %>
		
	</div>
	
	<div class="sidebar"> <%# positions 100 - 199 %>
		
		<% @page.content.select {|c| c.position >= 100}.each do |c| %>
			<% if c.class == Container %>
				<%= render "content_types/" + Container::CHILD_OBJECT_TO_VIEWS_PATH[c.child_object] + "/form", :container => c, :page_id => @page.id %>
			<% else %>
				<%= render "content_types/#{c.class.name.tableize}/form", :content => c, :page_id => @page.id %>
			<% end %>
		<% end %>
		
	</div>
	
	<footer>
		<% if @site.custom_footer.blank? %>
			&copy; <%= Time.now.year %> <%= @site.company_name %>
		<% else %>
			<%= sanitize @site.custom_footer, :tags => %w(strong b em i a), :attributes => %w(href target) %>
		<% end %>
	</footer>
</article>

<%= render 'shared/toolbox' %> <%# the theme editor %>
<%= render 'shared/onboarding' if !current_user %>
<%# render 'shared/multisites_message' if @site.onepager_address == session[:new_multisite_address] %>

<% content_for :js_inject do %>
	<script type="text/javascript">
		<% if current_user %>
			Onepager.Theme.edit(<%= @site.id %>, <%= @page.id %>);
			Onepager.Site.edit();
		<% else %>
			Onepager.Site.add({
				sid: <%= @site.id %>,
				pid: <%= @page.id %>,
				visited: <%= if request.domain == "easysiteadmin.com" then 'true' else @site.created_at < (Time.now.utc - 10.seconds) end %>
			});
		<% end %>
	</script>
<% end %>
