<!DOCTYPE html>
<html>
<head>
	<title>Password protected website</title>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag "subscribers", :media => "all" %>
</head>
<body>
	<div class="header">This site is password protected</div>
	<div class="article">
		<form method="GET">
			<label for="q">Enter Passcode:</label>
			<input type="text" name="q" class="user_input" />
			<input type="submit" class="start" />
		</form>
	</div>
	<!-- <a href="http://onepagerapp.com" title="Made With Onepager"><img src="/assets/application/logo-onepager-watermark.png" alt="Made With Onepager"></a> -->
</body>
</html>