<%# We need to set this in the JS so initial values are stored in the Onepager.Session object %>
{
	"theme": {
		"id": "<%= @site.theme_id %>",
		"background_colour": "<%= @site.background_colour %>",
		"content_background_colour": "<%= @site.content_background_colour %>",
		"content_background_opacity": "<%= @site.content_background_opacity %>",
		"background_image": "<%= @site.background_image %>",
		"background_image_alignment": "<%= @site.background_image_alignment %>",
		"background_image_enabled": <%= @site.background_image_enabled || 'false' %>,
		"background_image_fixed": <%= @site.background_image_fixed || true %>,
		"header_type": "<%= @site.header_type %>",
		"header_colour": "<%= @site.header_colour %>",
		"header_size": "<%= @site.header_size %>",
		"subheader_type": "<%= @site.subheader_type %>",
		"subheader_colour": "<%= @site.subheader_colour %>",
		"subheader_size": "<%= @site.subheader_size %>",
		"body_type": "<%= @site.body_type %>",
		"body_colour": "<%= @site.body_colour %>",
		"body_size": "<%= @site.body_size %>",
		"layout_width": "<%= @page.layout_width %>",
		"layout_alignment": "<%= @page.layout_alignment %>"
	},
	"uid": <%= @site.user_id || 'null' %>,
	"fonts": <%=raw full_font_list().to_json %>
}