<article>
	<header>
		<%= render "pages/company_name_content" %>
	</header>
	
	<% if @page.layout_width == '835' %>
		<div class="main_content">
			<%= render 'pages/show_main_content' %>
		</div>
		<div class="sidebar">
			<%= render 'pages/show_sidebar' %>
		</div>
	<% else %>
		<%= render 'pages/show_main_content' %>
		<%= render 'pages/show_sidebar' %>
	<% end %>
	
	<footer>
		<% if @site.custom_footer.blank? %>
			&copy; <%= Time.now.year %> <%= @site.company_name %>
		<% else %>
			<%= sanitize @site.custom_footer, :tags => %w(strong b em i a), :attributes => %w(href target) %>
		<% end %>
		<% if @user.payment_frequency == 'Trial' %>
			<div class="badge">
				<a href="http://onepagerapp.com<%= "?af=#{@user.id}" if @user.is_affiliate? %>" title="Made With Onepager"><img src="/assets/pages/made-with-onepager.png" alt="Made With Onepager"></a>
			</div>
		<% end %>
	</footer>
</article>

<% content_for :js_inject do %>
	<script type="text/javascript">
		Onepager.Pages.show(<%= @site.id %>, <%= @page.id %>);
	</script>
<% end %>