<% if params[:section] == 'company_name' %>
	Onepager.Company.update( {
		name: '<%= escape_javascript(@site.company_name) %>',
		content: '<%= escape_javascript(render 'company_name_form') %>',
		id: <%= @site.id %>
	} );
<% else # section == 'theme' %>
	<% if remotipart_submitted? %>
		Onepager.Theme.update({
			'selector': 'body',
			'name': 'background_image',
			'value': '<%= @site.background_image %>'
		});
	<% else %>
		Onepager.Session.update( { // Make sure the JS settings for these are still *nsync
			sync: true,
			theme: {
				id: '<%= @site.theme_id %>',
				background_colour: '<%= @site.background_colour %>',
				content_background_colour: '<%= @site.content_background_colour %>',
				content_background_opacity: '<%= @site.content_background_opacity %>',
				background_image: '<%= @site.background_image %>',
				background_image_alignment: '<%= @site.background_image_alignment %>',
				background_image_enabled: <%= @site.background_image_enabled %>,
				background_image_fixed: <%= @site.background_image_fixed %>,
				header_type: '<%= @site.header_type %>',
				header_colour: '<%= @site.header_colour %>',
				header_size: '<%= @site.header_size %>',
				subheader_type: '<%= @site.subheader_type %>',
				subheader_colour: '<%= @site.subheader_colour %>',
				subheader_size: '<%= @site.subheader_size %>',
				body_type: '<%= @site.body_type %>',
				body_colour: '<%= @site.body_colour %>',
				body_size: '<%= @site.body_size %>',
				layout_width: '<%= @page.layout_width %>',
				layout_alignment: '<%= @page.layout_alignment %>'
			}
		} );
	<% end %>
	
	<%# if @site.onepager_address == session[:new_multisite_address] %>
	//	Onepager.Helpers.showUpdateDomainReminder( "<%= @site.onepager_address %>" );
	<%# end %>
<% end %>