<li>
	<label>File Title</label>
	<input type="text" name="container[downloads_attributes][<%= content.id %>][caption]" value="<%= content.caption %>" placeholder="e.g. Our lunch menu" />
	<label>File</label>
	<%= link_to content.filename.file.filename, content.filename.url, :target => '_blank' %>
	<input type="hidden" name="container[downloads_attributes][<%= content.id %>][id]" value="<%= content.id %>" />
	<input name="container[downloads_attributes][<%= content.id %>][_destroy]" type="hidden" value="false" />
	<a href="#" class="remove_item">Destroy</a>
</li>
