Onepager.Downloads.create({
	errors: '<%= escape_javascript(@errors) %>',
	id: '<%= params[:container_id] %>',
	content: '<%= escape_javascript( render :partial => "content", :collection => @downloads ) %>'
});