/*
======================
Onepager Reset Styles
======================
*/

/** All HTML elements **/
* { margin: 0; padding: 0; outline: 0; }

/** Links and Images **/
a { color: #428ac8; text-decoration: none; }
	a:hover { color: #5ca1dc; text-decoration: none; }
img, a img { border: 0; vertical-align: bottom; }

/** Headers and paragraghs font styles **/
h1 { line-height: 1.1em; margin-bottom: 0.1em }
h2 { }
h3 { line-height: 1.1em; margin-bottom: 0.1em; }
h4 {}
	h1 a, h2 a, h3 a, h4 a {}
h6 { font-family: "Open Sans", arial, helvetica, sans-serif; font-size: 14px; font-weight: 400; }
p { line-height: 1.6em; margin-bottom: 1em; }
blockquote {}
	blockquote p {}
		
/** Form field styles **/
fieldset { border: 0 }
	label { font-weight: 600; vertical-align: middle; display: inline-block; }
	input[type="text"], input[type="password"], textarea {
		font-size: 14px; font-family: arial, helvetica, sans-serif; color: #777; line-height: 1.5em;
		background-color: #fff;
		width: 94%; padding: 5px; border: 1px solid #acacac;
		display: inline-block;
	}
	input[type="file"] {
		vertical-align: middle;
		display: inline-block;
	}
	input { vertical-align: middle; }
	textarea { vertical-align: top; min-height: 50px; }
		input[type="text"]:focus, input[type="password"]:focus, textarea:focus { color: #191919; }
	select { color: #191919; vertical-align: middle; display: inline-block; }
	
/** Make HTML5 elements act like blocks **/
article, header, nav, section, footer, aside { display: block; }

/** Table resets **/
table { width: 100%; border: 0; padding: 0; border-collapse: collapse; text-align: left; }

/** Global font styles **/
body { font-size: 14px; font-family: arial, helvetica, sans-serif; color: #000; text-align: center; }

/** List styles **/
ul, ol { line-height: 1.6em; padding-left: 1.1em; margin-bottom: 1em; }
dl { }

/** Global pseudo-class styles **/
:focus { outline: none; }
::selection { background-color: #000; text-shadow: none; color: #fff; }
::-moz-selection { background-color: #000; text-shadow: none; color: #fff; }
::-webkit-selection { background-color: #000; text-shadow: none; color: #fff; }

/** Rails default errors fix **/
.field_with_errors { display: inline; }