/*
 *= require admin/reset
 */

html, body {
	width: 100%; min-height: 100%; min-width: 984px;
}
body {
	font-family: "Open Sans", Arial, Helvetica, sans-serif; text-align: left; line-height: 1.4em;
	background-image: none; background-position: center top; background-repeat: repeat; background-color: #ebebeb;
}
	nav {
		font: normal normal 12px/1.3em 'Open Sans', arial, helvetica, sans-serif;
		background: #333 url('/assets/dashboard/background-toolbar.png') left top repeat-x;
		margin-bottom: 0; border-bottom: 1px solid #363636;
		position: relative; overflow: visible;
	}
		nav a {
			font-weight: 600; font-size: 12px; line-height: 1.1em; vertical-align: middle; color: #aaa; text-decoration: none; text-transform: uppercase; text-shadow: 1px 1px 0 #333;
			margin-right: 10px; padding: 12px 9px;
			display: inline-block;
			-webkit-transition: color 0.15s ease-out; -moz-transition: color 0.15s ease-out; -o-transition: color 0.15s ease-out; transition: color 0.15s ease-out;
		}
			nav a:hover {
				text-decoration: none; color: #fff;
			}
		 	nav .on {
				color: #fff;
				background: #1f1f1f url('/assets/pages/toolbox/background-navigation.png') left top repeat-x; -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.8); -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.8); box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.8);
			}
			
		.company_name {
			font-family: Arial, Helvetica, sans-serif; vertical-align: middle; font-size: 16px; line-height: 1.1em; font-weight: 500; color: #fff; text-transform: none;
			padding: 10px 30px;
			display: inline-block;
		}
		
	header {
		width: 1024px; margin: 0 auto; margin-top: 20px;
		position: relative;
	}
		header a {
			font-size: 13px; text-decoration: none; color: #fff; vertical-align: middle;
			background-color: #a9a9a9; background-position: left top; background-repeat: repeat-x;
			padding: 6px 15px; margin-right: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
			display: inline-block;
		}
			header a:hover {
				color: #fff;
				background-image: url('/assets/application/button-general.png?1');
			}
			header a:active {
				background-color: #a0a0a0; background-image: none;
				-moz-box-shadow: inset 0 1px 8px rgba(0,0,0,0.3); -webkit-box-shadow: inset 0 1px 8px rgba(0,0,0,0.3); box-shadow: inset 0 1px 8px rgba(0,0,0,0.3);
				padding-top: 7px; padding-bottom: 5px;
			}
			
		header .start {
			background-color: #3187c7;
			margin-right: 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
			display: inline-block; clear: both; position: absolute; right: 0; top: 0;
		}
			header .start:hover {
				text-decoration: none; color: #fff;
				background-color: #3593d8; background-image: url('/assets/application/button-start.png?1');
			}
			header .start:active {
				background-color: #428ac8;
			}

			
		.filters {
			font-size: 14px; color: #777;
			background-color: #fff;
			padding: 20px;
		}
			.filters a {
				color: inherit; font-size: inherit;
				background: none;
				padding: 0; margin-right: 15px;
			}
				.filters a:hover {
					color: #191919;
					background: none;
				}
				.filters a:active {
					background: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
					padding: 0;
				}
				.filters .on, .filters .on:hover {
					color: #428ac8;
				}
			.filters strong {
				font-weight: 400;
				margin-right: 10px;
				display: inline-block;
			}
		
		.search {
			background-color: #fff;
			right: 20px; top: 15px;
			position: absolute;
		}
			.search input[type="text"] {
				width: auto; min-width: 220px;
			}
			
			.search input[type="submit"] {
				cursor: pointer; color: #fff; font-weight: 600; text-transform: uppercase; font-size: 11px; line-height: 1.1em; vertical-align: middle; text-decoration: none;
				background-color: #428ac8; background-image: url('/assets/application/button-start.png'); background-position: left top; background-repeat: repeat-x;
				border: 0; padding: 10px 20px; margin-left: 5px; margin-right: 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
				display: inline-block; clear: both;
			}
				.search input[type="submit"]:hover {
					text-decoration: none; color: #fff;
					background-color: #5ca1dc; background-position: left -42px;
				}
				.search input[type="submit"]:active {
					background-color: #428ac8; background-position: left top;
					-moz-box-shadow: inset 0 1px 8px rgba(0,0,0,0.35); -webkit-box-shadow: inset 0 1px 8px rgba(0,0,0,0.35); box-shadow: inset 0 1px 8px rgba(0,0,0,0.35);
					padding-top: 11px; padding-bottom: 9px;
				}

	article {
		text-align: left;
		background-color: #ffffff;
		width: 984px; padding: 20px; margin: 25px auto; 
		position: relative;
	}
		article header {
			margin: 0 0 30px; width: auto;
		}
		
		h1, h2, h3 {
			font-weight: normal; font-family: "Open Sans", Arial, Helvetica, sans-serif;
		}
		
		h1 {
			color: #191919; font-size: 48px;
		}
		h2, h3 {
			color: #191919;
		}
		h2 {
			font-size: 32px; line-height: 1.3em;
		}
		h3 {
			font-size: 18px;
		}
		
		article  footer {
			font-size: 11px;
			background-color: transparent;
			padding-top: 1em; padding-bottom: 0; width: auto; margin: 0;
			clear: both; overflow: hidden;
		}
	
	footer {
		width: 984px; margin: 0 auto; padding-bottom: 20px;
	}
		footer nav {
			font-size: 12px; text-align: right;
		}
			footer nav a {
				text-decoration: none; vertical-align: middle; color: #666;
				display: inline-block;
			}
			footer nav a:after {
				content: ' \0000a0 \007C \0000a0 '; font-size: 10px; line-height: 20px; vertical-align: middle; color: #999;
				padding-left: 10px; padding-right: 10px;
				display: inline-block;
			}
			footer nav a:last-child:after {
				content: none;
				padding: 0;
			}