<% content_for :body_class do %>custom_forms<% end %>
<% content_for :title do %>Form Submissions<% end %>

<% if @page.containers.where(:child_object => "contact_form_fields").count == 0 %>
  
  <section class="forms_intro">
    <h2>Start collecting information from your site visitors</h2>
    <p>To start, add the Form module to your site. Then, come back here to see the data visitors have submitted.</p>
    <a href="<%= edit_site_page_path(@site, @page) %>" class="start">Edit Your Site</a>
  </section>
  
<% else %>
  
  <h2>
    <img src="/assets/dashboard/icon-header-forms.png" />
    Form Submissions
  </h2>
  
  <form method="GET" action="/dashboard/forms">
    <fieldset class="time_travel">
      <select name="container_id">
        <% @containers.each do |c| %>
          <option value="<%= c.id %>"<%=raw ' selected="selected"' if params[:container_id].to_i == c.id %>><%= c.title %></option>
        <% end %>
      </select>
    </fieldset>
  </form>
  
  
<!--   <h4><%= @container.title %></h4>-->  
<div class="custom_forms_list">
 <% @cf_responses.each do |cfr| %>
    <p>
      <% @container.contact_form_fields.each do |cff| %>
        <strong><%= cff.field_name %>:</strong> <%= cfr[cff.id] %><br />
      <% end %>
      <strong>Date:</strong> <time><%= cfr[:created_at].strftime("%b %d, %Y %l:%M %p") %></time>
    </p>
  <% end %>
</div>

  <div class="pagination">
    <a href="/dashboard/forms/<%= @container.id %>.csv" target="_blank" class="export">Export as .csv</a>
    <%= will_paginate @cf_responses, :previous_label => '&lt; Previous', :next_label => 'Next &gt;', :container => false %>
  </div>

  <% content_for :js_inject do %>
    <script type="text/javascript">
      Onepager.Forms.show();
    </script>
  <% end %>
  
<% end %>
