<%=
require 'csv'

CSV.generate do |csv|
  csv << @container.contact_form_fields.collect { |c| c.field_name }.push("Datetime")
  # csv << ["Datetime"]
  @container.contact_form_responses.each do |cfr|
    row = Array.new
    @container.contact_form_fields.each do |cff|
      row << cfr[cff.id]
    end
    row << cfr[:created_at]
    csv << row
  end
end.html_safe
%>