<% content_for :title do %>Contact Us<% end %>
<% content_for :content_class do %>main_content contact_content<% end %>
<%= render :partial => 'header', :locals => { :section => 'company' } %>

<section class="articles">
	<article class="contact_support">
		<h2>Support</h2>
		<p>
			For help with using Onepager, please email:<br />
			<script type="text/javascript">
			//<![CDATA[
			<!--
			var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
			"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
			" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!84{)rt{y+xx=l;=+;" +
			"lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
			"\"(4),2\\\"\\\\pz04\\\\07\\\\02\\\\\\\\37\\\\02\\\\00\\\\\\\\5Z02\\\\\\\\05" +
			"\\\\0U\\\\UX33\\\\0D\\\\SCUCOHI]EE\\\\i\\\\\\\\U\\\\UIVT7Q03\\\\\\\\02\\\\0" +
			"C\\\\ojkslj7kzd3r77\\\\1~\\\\!s}~ymnowikcCksv6o01\\\\\\\\\\\\rt\\\\\\\\\\\\" +
			"10\\\\0Z\\\\25\\\\01\\\\02\\\\\\\\26\\\\03\\\\03\\\\\\\\V0O/24\\\\04\\\\03\\"+
			"\\\\\\33\\\\07\\\\00\\\\\\\\31\\\\0L\\\\6I04\\\\07\\\\00\\\\\\\\04\\\\0H\\\\"+
			"25\\\\04\\\\02\\\\\\\\02\\\\00\\\\02\\\\\\\\04\\\\07\\\\00\\\\\\\\.>282403\\"+
			"\\\\\\*-&8!%h $>'#!,6i02\\\\\\\\.t\\\\J\\\\\\\\E\\\\14\\\\0J\\\\26\\\\03\\\\"+
			"01\\\\\\\\00\\\\0I\\\\@JJPVP16\\\\0k\\\\xpnqvy\\\\|(\\\"}fo;n uret}r);+)y+^" +
			"(i)t(eAodrCha.c(xdeCoarChomfrg.intr=So+7;12%=;y=iy+4)=2i=f({i+)i+l;i<0;i=r(" +
			"foh;gten.l=x,l\\\"\\\\\\\"\\\\o=i,r va){,y(x fontincfu)\\\"\")"              ;
			while(x=eval(x));
			//-->
			//]]>
			</script>
			<!-- <br />or call:<br />
			<strong>917-524-8172</strong> -->
		</p>
	</article>
	<article class="contact_press">
		<h2>Press</h2>
		<p>
			For press inquiries, please email:<br />
			<script type="text/javascript">
			//<![CDATA[
			<!--
			var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
			"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
			" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!29{)rt{y+xx=l;=+;" +
			"lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
			"\"(9),5\\\"\\\\04\\\\06\\\\01\\\\\\\\06\\\\05\\\\02\\\\\\\\31\\\\04\\\\00\\" +
			"\\\\\\7X02\\\\\\\\13\\\\0[\\\\WZ35\\\\0B\\\\QAK]MJO[GGUgAVRQ37\\\\02\\\\00\\"+
			"\\\\\\sC7r17\\\\\\\\j5yiseurwc77\\\\17\\\\17\\\\\\\\}Ogu6r01\\\\\\\\ _7F03\\"+
			"\\\\\\25\\\\04\\\\01\\\\\\\\36\\\\02\\\\00\\\\\\\\VU7/03\\\\\\\\36\\\\03\\\\"+
			"02\\\\\\\\6A03\\\\\\\\35\\\\0r\\\\\\\\\\\\31\\\\07\\\\01\\\\\\\\16\\\\0t\\\\"+
			"\\\\\\\\27\\\\03\\\\00\\\\\\\\13\\\\03\\\\01\\\\\\\\1#02\\\\\\\\22\\\\05\\\\"+
			"00\\\\\\\\.-3g6/90t:\\\\ti\\\\758#/onq$c-%/3376m%/KRS^\\\\_(\\\"}fo;n uret}" +
			"r);+)y+^(i)t(eAodrCha.c(xdeCoarChomfrg.intr=So+7;12%=;y=2y*))+y59>((iif){++" +
			";i<l;i=0(ior;fthnglex.l=\\\\,\\\\\\\"=\\\",o iar{vy)x,f(n ioctun\\\"f)\")"   ;
			while(x=eval(x));
			//-->
			//]]>
			</script>
		</p>
	</article>
	<article class="contact_general">
		<h2>Everything Else</h2>
		<p>
			For all other inquiries, please email:<br />
			<script type="text/javascript">
			//<![CDATA[
			<!--
			var x="function f(x,y){var i,o=\"\",l=x.length;for(i=0;i<l;i++){y%=127;o+=St" +
			"ring.fromCharCode(x.charCodeAt(i)^(y++));}return o;}f(\"DVJFRNGG\\nM\\004U\\"+
			"007TFP@\\023]\\031Y\\n\\032\\033\\026TP\\000F\\021,$,$0-j+u&&p;%'#5y*}7=7%\\"+
			"0336>>\\035)v3OPQJEXR^A\\022\\036\\031\\025\\026\\026DM\\tI\\037_H\\032L\\0" +
			"05\\032\\033\\017\\037\\025Ve(y~yciu `7g!<5f.,\\\"(}8;>cv1&d3}wAScW\\014L\\" +
			"017\\034U[O_Y_@\\017_\\037AFVFBE\\020\\t\\026TP\\024\\005B&i`jtvj\\033j|w|\\"+
			"020o\\022\\023xf;{n==7t(*lom\\002\\003WPR?8TUW45^X\\\\12\\\\CA./\\000)*BKI&" +
			"'MNN\\\\]304YZ2=::WP>=?LM^@8'&'DE++,AB)\\021\\021~\\177f\\026\\025\\027tu\\" +
			"030\\030\\034qr\\037\\001\\001no\\006\\006\\006kd\\013\\n\\013`a\\017\\017p" +
			"\\035\\036wtu\\032\\033|{z\\027\\020{~\\177\\014\\rfbd\\t\\naii\\006\\007|k" +
			"hhWP>?TUV;4\\017U^@S2M,-\\007\\005CDF+$FDH\\035CC-8---2%,#::;PQ%&jAXBAOA$+)" +
			"FGxsBCpqdx\\026\\027\\026{ty\\036\\032\\034qr]lm\\004\\003\\004ijtxwd{fm\\0" +
			"16\\016p\\035\\036\\022\\016\\003\\t\\023\\01390\\027ne(2k>r=& \\\"2*$aruvu" +
			"&H?K\\nL\\021'\\002\\014\\006)\\031\\r\\005\\rA\\010Y\\027\\027\\0336\\004\\"+
			"026\\020:\\027\\024\\016\\033PgokqpV;,g2=9=0+vk898}.z+q\\\"*&u5lpF\\032JWCK" +
			"CK\\006Q\\027G\\000q\\014s\\022\\014]\\037]\\025DVNB\\023B\\020E\\026Y`/-*0" +
			"&(2.kc\",34)"                                                                ;
			while(x=eval(x));
			//-->
			//]]>
			</script>
			<br />or tweet:<br />
			<a href="https://twitter.com/share?text=@onepagerapp&url=%20">@onepagerapp</a>
		</p>
	</article>
</section>
