<% content_for :title do %>Overview - Features<% end %>
<%= render :partial => 'header', :locals => { :section => 'onepager' } %>

<article class="features_introduction">
	<img src="/assets/application/features/introduction.jpg" alt="" />
	<div class="article_content">
		<h2>Our Easy-to-Use Simple Website Builder</h2>
		<h3>Just when you've given up on making your own website, Onepager's awesome site builder is here to save the day.</h3>
		<p>We've made it super easy to add any type of content you want - a photo gallery, a contact form, or your contact information. Rearrange your content by dragging and dropping. You can also customize your design to your liking and quickly change the layout of your site. Finally you can build a website you're proud of for your small business.</p>
		<a href="/en/features/easy-website-builder" class="next">See Everything Onepager Can Do</a>
	</div>
</article>

<article class="features_needs">
	<h2>Just What Your Small Business Needs</h2>
	<h3>Everything you need for your simple site is included with Onepager. You'll be amazed at how easy we've made it to use it all.</h3>
	<p>Build a custom contact form, sell a book or product, or show off your work in a photo gallery. Your Onepager lets you do all sorts of things on your website that you had a hard time with in the past.</p>
	<a href="/en/features/easy-maintenance" class="next">Easily Update Your Site</a>
</article>

<article class="features_get_found">
	<img src="/assets/application/features/get-found.gif" alt="" />
	<div class="article_content">
		<h2>Get Found by Your Customers</h2>
		<h3>Customers are looking for you online and people who could become paying customers are too.</h3>
		<p>With leading <a href="/en/guides/seo">search engine optimization techniques</a>, Onepager will give you a leg up on your competition. Don't be a part of the 50%+ businesses that don't have a website and are being bypassed!</p>
		<a href="/en/features/search-engine-optimization" class="next">We Help You Optimize</a>
	</div>
</article>

<article class="features_themes">
	<h2>Plenty of Pretty Themes</h2>
	<h3>Not a great designer? We've got some good templates to get you started.</h3>
	<p>We have a growing set of templates available that you can pick from to use for your site. Light, dark, fun, serious, whatever you're into, we have options for you.</p>
	<p>Of course, our builder makes it easy for you to take more control over your design. Upload a background photo, choose from a variety of web-fonts, and customize your CSS. You can make a beautiful small business site with Onepager.</p>
	<a href="/en/features/beautiful-design" class="next">Create Beautiful Designs</a>
</article>

<article class="features_connect_with_customers">
	<img src="/assets/application/features/connect-with-customers.png" alt="" />
	<div class="article_content">
		<h2>Keep in Touch With Your Customers</h2>
		<h3>Along with social media, email is a powerful way to keep in touch with your customers.</h3>
		<p>Onepager allows you to collect email addresses and send simple newsletters to your subscribers. Update customers with details about sales, important news, or anything else that needs to be shared about your business. Best of all, newsletters are included at no extra charge.</p>
		<a href="/en/features/connect-with-customers" class="next">Connect With Customers</a>
	</div>
</article>

<article class="features_mobile">
	<h2>Go Mobile with Us</h2>
	<h3>Don't worry about the ever-increasing number of people browsing the web on their mobile devices.</h3>
	<p>As soon as you launch your Onepager, it's built for mobile phones and tablets. We had this trend in mind when we started work on Onepager and you can rest assured all users will be able to access your content.</p>
	<p>Don't worry about having a separate mobile site or a website that looks bad on mobile phones. Your small business deserves better and we give it to you with a simple site from Onepager.</p>
	<a href="/en/features/mobile-friendly" class="next">Desktop? Mobile? No Problem!</a>
</article>