<!DOCTYPE html>
<html>
<head>
	<title>Hello, Evening Edition Listener - Build a simple website for your small business</title>
	<meta name="description" content="Onepager is the easiest way for small business owners to create a professional looking website. It's really simple to use and your site will look great on mobile devices. Features include analytics, custom domains, newsletter, social media integration, and optimized for SEO." />
	<meta name="keywords" content="simple website builder for smalle business, simple website, easy website builder, make your own website, create a professional website, small business website, professional small business website, SMB website, SMB tools, DIY website, easy-to-use website builder, quick website, splash page creator, do it yourself business websites, simple website design" />
	
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
	<!--[if lt IE 9]><script src="/javascripts/lib/shiv.modernizr.js" type="text/javascript"></script><![endif]-->
	
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	
	<%= csrf_meta_tags %>
	
	<%= render :partial => "/shared/google_analytics" %>
</head>
<body class="landing">
	<article>
		<header>
			<img src="/assets/application/partners/justabout.png" alt="Hello from Onepager" />
			<h1>Welcome, Evening Edition Listener!<br />We help small businesses build beautiful simple websites.</h1>
		</header>
		<section class="homepage_features">
			<h2>Some of Onepager's features</h2>
			<ul>
				<li>
					<a href="/en/features/custom-domains"><img src="/assets/application/features/cloud-hosting.png" alt="" /></a>
					<h3><a href="/en/features/custom-domains">Your Own Domain</a></h3>
					<p>Have a professional presence online with a new domain or one you already own.</p>
				</li>
				<li> 
					<a href="/en/features/mobile-friendly"><img src="/assets/application/features/mobile-friendly-sm.png" alt="" /></a> 
					<h3><a href="/en/features/mobile-friendly">Mobile Friendly</a></h3> 
					<p>Anyone can see your Onepager small business website on any device.</p> 
				</li> 
				<li> 
					<a href="/en/features/search-engine-optimization"><img src="/assets/application/features/search-engine-optimization.png" alt="" /></a> 
					<h3><a href="/en/features/search-engine-optimization">Search Engine Friendly</a></h3> 
					<p>Onepagers come packed with industry leading search engine techniques.</p> 
				</li> 
				<li>
					<a href="/en/features/simple-form-builder"><img src="/assets/application/features/custom-form-builder.png" alt="" /></a>
					<h3><a href="/en/features/simple-form-builder">Custom Forms</a></h3>
					<p>Build a form so your visitors can quickly email you from your website.</p>
				</li>
				
				<li>
					<a href="/en/features/connect-with-customers"><img src="/assets/application/features/email-newsletter.png" alt="" /></a>
					<h3><a href="/en/features/connect-with-customers">Email Newsletters</a></h3>
					<p>Send updates to your customers from your Onepager dashboard.</p>
				</li>
				<li> 
					<a href="/en/features/beautiful-design"><img src="/assets/application/features/beautiful-design.png" alt="" /></a> 
					<h3><a href="/en/features/beautiful-design">Lots of Themes</a></h3> 
					<p>Our themes will make your small business website look great.</p> 
				</li>
			</ul>
			<a href="/en/features" class="general">See more features</a>
		</section>

		<section class="landing_testimonials">
			<div class="testimonial left">
				<a href="/en/resources/showcase" rel="author" target="_blank"><img src="/assets/application/signup/lauren-leto.png" alt="Lauren Leto" /></a>
				<blockquote>
					<p>You don't know how happy this makes me. I've wanted to make my dad a site for so long but haven't had time. He needed this so badly. Thank you! You made life better.</p>
					<cite>Lauren Leto, Texts From Last Night &amp; Leto Building</cite>
				</blockquote>
			</div>
			<div class="testimonial right">
				<a href="/en/resources/showcase" rel="author" target="_blank"><img src="/assets/application/signup/marco-protano.png" alt="Marco Protano" /></a>
				<blockquote>
					<p>I had 2 bad attempts at hiring a web team, always thought that web design was a "black box" costing thousands of dollars and taking on a life of its own in terms of time to completion.  With Onepager, I did it on my own in minutes and paid about $100 for a year.  I can update it in seconds or leave it alone. Thanks Onepager team!</p>
					<cite>Marco Protano, Professor of Marketing and Strategy on 4 continents</cite>
				</blockquote>
			</div>
			<div class="testimonial left">
				<a href="/en/private-label" rel="author" target="_blank"><img src="/assets/application/partners/dogfish-head.png" alt="Dogfish Head" /></a>
				<blockquote>
					<p>Onepager rocks! We have been using the Onepager multisite platform for our recent marketing campaigns. It's a simple system to use &amp; maintain and allows for fast prototyping of a new site. Any time that our marketing team comes up with a new web initiative, I know that we can rely on Onepager to fast track that idea to a completed site quickly. Cheers to Onepager!</p>
					<cite>Trey Bowden, Dogfish Head Craft Brewed Ales</cite>
				</blockquote>
			</div>
		</section>

		<section class="homepage_showcase">
			<h2>Some of the small business sites built with Onepager</h2>
			<div class="sites">
				<a href="/en/resources/showcase" target="_blank">
					<img src="/assets/application/showcase/darya-mogilnikova.jpg" alt="Darya Mogilnikova" />
				</a>
				<a href="/en/resources/showcase" target="_blank">
					<img src="/assets/application/showcase/rose-thorne.jpg" alt="Rose and Thorne" />
				</a>
				<a href="/en/resources/showcase" target="_blank">
					<img src="/assets/application/showcase/dogfish-head-grateful-dead.jpg" alt="Dogfish Head Grateful Dead" />
				</a>
				<a href="/en/resources/showcase" target="_blank">
					<img src="/assets/application/showcase/landmark-diner-nyc-2.jpg" alt="Landmark Diner NYC" />
				</a>
			</div>
			<a href="/en/resources/showcase" class="general">See more in our showcase</a>
		</section>

		<section class="team">
			<span class="member">
				<img src="/assets/application/headshots/eric-tarn.jpg" alt="Eric Tarn" width="255" />
				<span class="member_name">
					<strong>Eric Tarn</strong>
					<em>Technical</em>
					<a href="http://twitter.com/erictarn"><img src="/assets/application/twitter-member.png" alt="Twitter" /></a>
					<a href="http://erictarn.com/"><img src="/assets/application/blog-member.png" alt="Blog" /></a>
				</span>
			</span>
			<span class="member">
				<img src="/assets/application/headshots/yin-yin-chan.jpg" alt="Yin Yin Chan" width="255" />
				<span class="member_name">
					<strong>Yin Yin Chan</strong>
					<em>Technical</em>
					<a href="http://twitter.com/yinychan"><img src="/assets/application/twitter-member.png" alt="Twitter" /></a>
					<a href="http://yinyinchan.com/"><img src="/assets/application/blog-member.png" alt="Blog" /></a>
				</span>
			</span>
			<span class="member">
				<img src="/assets/application/headshots/matthew-moore.jpg" alt="Matthew Carl Moore" width="255" />
				<span class="member_name">
					<strong>Matthew Moore</strong>
					<em>Design</em>
					<a href="http://twitter.com/matthewcmoore"><img src="/assets/application/twitter-member.png" alt="Twitter" /></a>
					<a href="http://matthewmooredesign.com/"><img src="/assets/application/blog-member.png" alt="Blog" /></a>
				</span>
			</span>
			<p>Our names are Eric, Yin, and Matt. We all come from small business families and we love building products to help the smallest companies succeed!</p>
			<a href="/en/contact-us" class="general">Get in touch</a>
		</section>
		
		<section class="landing_price">
			<h2><sup>$</sup>8</h2>
			<p>Try Onepager for free and pay nothing until you are happy with what you've built. Paid plans start for as little as $8/mo. </p>
			<%= link_to "Start Building", Site.new, :method => :post, :class => 'start' %>
		</section>
	</article>
	
	<%= render :partial => "/shared/olark" %>
	<%= render :partial => "/shared/adroll" %>
</body>
</html>