<% content_for :title do %>Make a professional small business website<% end %>

<section class="homepage_introduction">
	<div class="examples">
		<h1>Build a beautiful simple website for your small business</h1>
		<span class="laptop">
			<img src="/assets/application/homepage/example-golden-wok.jpg" alt="Golden Wok" />
		</span>
		<span class="laptop">
			<img src="/assets/application/homepage/example-landmark-diner.jpg" alt="Landmark Diner" />
		</span>
		<span class="laptop">
			<img src="/assets/application/homepage/example-moores-engine-supply.jpg" alt="Moore's Engine Supply" />
		</span>
		<span class="mobile">
			<img src="/assets/application/homepage/example-nook.png" alt="Nook" />
		</span>
		<span class="mobile">
			<img src="/assets/application/homepage/example-nokia.png" alt="Nokia" />
		</span>
		<span class="mobile">
			<img src="/assets/application/homepage/example-ipad.png" alt="iPad" />
		</span>
		<span class="mobile">
			<img src="/assets/application/homepage/example-nexus.png" alt="Nexus" />
		</span>
		<span class="mobile">
			<img src="/assets/application/homepage/example-nexus-7.png" alt="Nexus 7" />
		</span>
	</div>
	<div class="toggles">
		<a href="#" data-device="laptop">
			<img src="/assets/application/homepage/button-for-desktops.gif" alt="Desktop Site Builder" />
			<span>
				<strong>Beautiful on desktops</strong>
				You can build a great looking site for your small business in minutes.
			</span>
		</a>
		<a href="#" data-device="mobile">
			<img src="/assets/application/homepage/button-for-mobile.gif" alt="Responsive Design is Mobile Friendly" />
			<span>
				<strong>Marvelous on mobile</strong>
				Be confident your website looks its best on mobile phones and tablets.
			</span>
		</a>
	</div>
</section>

<section class="homepage_press">
	<a href="/en/company/press"><img src="/assets/application/logos/inc.png" alt="Inc." /></a>
	<a href="/en/company/press"><img src="/assets/application/logos/wall-street-journal.png" alt="Wall Street Journal" /></a>
	<a href="/en/company/press"><img src="/assets/application/logos/tech-crunch.png" alt="Tech Crunch" /></a>
	<a href="/en/company/press"><img src="/assets/application/logos/business-insider.png" alt="Business Insider" /></a>
	<a href="/en/company/press"><img src="/assets/application/logos/mashable.png" alt="Mashable" /></a>
	<a href="/en/company/press"><img src="/assets/application/logos/amex-open.png" alt="AMEX Open" /></a>
	<a href="/en/company/press"><img src="/assets/application/logos/msnbc.png" alt="MSNBC" /></a>
</section>

<section class="homepage_features">
	<h2>Everything a simple site needs and nothing more</h2>
	<ul>
		<li> 
			<a href="/en/features/search-engine-optimization"><img src="/assets/application/features/search-engine-optimization.png" alt="" /></a> 
			<h3><a href="/en/features/search-engine-optimization">Search Engine Friendly</a></h3> 
			<p>Onepagers come packed with industry leading search engine techniques. Add the content and we'll do the rest to get you a great page rank.</p> 
		</li> 
		<li>
			<a href="/en/features/simple-form-builder"><img src="/assets/application/features/custom-form-builder.png" alt="" /></a>
			<h3><a href="/en/features/simple-form-builder">Build Custom Forms</a></h3>
			<p>Add a form so your visitors can quickly email you from your website. Use a form for signups, simple surveys, or as a general contact form.</p>
		</li>
		<li>
			<a href="/en/features/easy-website-builder"><img src="/assets/application/features/cloud-hosting.png" alt="" /></a>
			<h3><a href="/en/features/easy-website-builder">Worry-Free Cloud Hosting</a></h3>
			<p>Onepagers are served from our dedicated cloud hosting environment. You'll never need to worry about setting up a hosting account or wonder whether your site is accessible.</p>
		</li>
		<li>
			<a href="/en/features/connect-with-customers"><img src="/assets/application/features/email-newsletter.png" alt="" /></a>
			<h3><a href="/en/features/connect-with-customers">Email Newsletters</a></h3>
			<p>Let your users signup for your email newsletter from your Onepager. Send updates to your customers from your Onepager dashboard.</p>
		</li>
		<li> 
			<a href="/en/features/beautiful-design"><img src="/assets/application/features/beautiful-design.png" alt="" /></a> 
			<h3><a href="/en/features/beautiful-design">Lots of Themes</a></h3> 
			<p>We know, you're good at what you do and that may not have anything to do with designing websites. Our themes will make your small business website look great.</p> 
		</li> 
		<li> 
			<a href="/en/features/ecommerce-sell-products"><img src="/assets/application/features/ecommerce-sell-products.png" alt="" /></a> 
			<h3><a href="/en/features/ecommerce-sell-products">Ecommerce</a></h3> 
			<p>Turn your Onepager into your online storefront by using our ecommerce functionality. Sell physical goods, digital downloads, or collect invoice payments.</p> 
		</li> 
	</ul>
	<a href="/en/features" class="general">Check out more of our features</a>
</section>

<article class="homepage_showcase">
	<h2>Some of the small business sites built with Onepager</h2>
	<div class="sites">
		<a href="/en/resources/showcase#r4">
			<img src="/assets/application/showcase/l-m-foreign-cars.jpg" alt="L&M Foreign Cars" width="266" />
		</a>
		<a href="/en/resources/showcase#r1">
			<img src="/assets/application/showcase/little-musician.jpg" alt="Little Musician Music Class" width="266" />
		</a>
		<a href="/en/resources/showcase#r2">
			<img src="/assets/application/showcase/polska-ksiegarnia-w-ejszyskach.jpg" alt="Polish Bookstore in Lithuania"  width="266" />
		</a>
		<a href="/en/resources/showcase">
			<img src="/assets/application/showcase/dogfish-head-grateful-dead.jpg" width="266" alt="Dogfish Head Craft Brewed Ales and The Grateful Dead American Beauty" />
		</a>
		<a href="/en/resources/showcase">
			<img src="/assets/application/showcase/marco-lombardi.jpg" alt="Marco Lombardi - Musician: Pianist, Teacher, Composer" width="266" />
		</a>
		<a href="/en/resources/showcase#r5">
			<img src="/assets/application/showcase/jet-ape.jpg" alt="Jet Ape Industries" width="266" />
		</a>
		<a href="/en/resources/showcase#r1">
			<img src="/assets/application/showcase/mori-artisan.jpg" alt="Mori Artisan" width="266" />
		</a>
		<a href="/en/resources/showcase#r2">
			<img src="/assets/application/showcase/all-year-tax.jpg" alt="All Year Tax & Accounting Service" width="266" />
		</a>
	</div>
	<a href="/en/resources/showcase" class="general">See more in our showcase</a>
</article>

<section class="homepage_video">
	<h2>See a tour of Onepager</h2>
	<iframe src="https://player.vimeo.com/video/58905110?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff&amp;api=1" width="984" height="485" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
</section>

<article class="homepage_about">
	<img src="/assets/application/headshots/matt-eric-yin.jpg" alt="Matt, Eric, Yin" />
	<div class="article_content">
		<h2>Why'd we make Onepager?</h2>
		<p>Our team comes from small business families. We like to think we're building a product our family businesses would love.</p>
		<p>Doing everything we can to  help the businesses that use Onepager is important to us and one of our core values.</p>
		<a href="/en/company/about-us" class="general">Tell me more</a>
	</div>
</article>

<article class="homepage_agency">
	<h2>Multiple sites <span>+</span> Multiple users</h2>
	<p>Build Onepagers by yourself or with your team. Our multi-site plans are great for agencies, brands, or users who want to manage more than one simple site.</p>
	<a href="/en/private-label" class="general">For Brands &amp; Agencies</a>
</article>

<!-- <article class="multiple_pages">
	<h2>Growing your business and need more for your website?</h2>
	<p>Onepager is a great builder for small businesses with limited website needs, but when your business grows, your website will grow too.  Everypager is a more robust website builder for businesses that need more.</p>
	<a href="http://paidlancer.com" class="general">Get Multiple Pages</a>
</article> -->

<section class="testimonials">
	<div class="testimonial bottom thenextweb">
		<blockquote>
			<h3>Onepager is the world's easiest way to create a beautiful website.</h3>
		</blockquote>
		<a href="http://thenextweb.com" rel="author" target="_blank"><img src="/assets/application/signup/the-next-web.png" alt="The Next Web" /></a>
	</div>
	<div class="testimonial left laurenleto">
		<a href="http://thingsthatscarelaurenleto.tumblr.com" rel="author" target="_blank"><img src="/assets/application/signup/lauren-leto.png" alt="Lauren Leto" /></a>
		<blockquote>
			<p>You don't know how happy this makes me. I've wanted to make my dad a site for so long but haven't had time. He needed this so badly. Thank you! You made life better.</p>
			<cite><a href="http://thingsthatscarelaurenleto.tumblr.com/" rel="author" target="_blank">Lauren Leto</a>, <a href="http://textsfromlastnight.com/" target="_blank">Texts From Last Night</a> &amp; <a href="http://letobuilding.com/" target="_blank">Leto Building</a></cite>
		</blockquote>
	</div>
	<div class="testimonial left marcoprotano">
		<a href="http://marcoprotano.com/" rel="author" target="_blank"><img src="/assets/application/signup/marco-protano.png" alt="Marco Protano" /></a>
		<blockquote>
			<p>I had 2 bad attempts at hiring a web team, always thought that web design was a "black box" costing thousands of dollars and taking on a life of its own in terms of time to completion.  With Onepager, I did it on my own in minutes and paid about $100 for a year.  I can update it in seconds or leave it alone. Thanks Onepager team!</p>
			<cite><a href="http://marcoprotano.com/" target="_blank" rel="author">Marco Protano</a>, Professor of Marketing and Strategy on 4 continents</cite>
		</blockquote>
	</div>
	<div class="testimonial bottom frbruced">
		<blockquote>
			<p>I have told a whole boatload of people about how easy and affordable onepager is. By far one of the best services anywhere on the internet!</p>
			<cite><a href="http://frbruced.org/" target="_blank">Father Bruce Douglas</a>, the Catholic Church</cite>
		</blockquote>
		<a href="http://frbruced.org" rel="author" target="_blank"><img src="/assets/application/signup/father-bruce-douglas.png" alt="Father Bruce Douglas" /></a>
	</div>
	<div class="testimonial top sunnysideyoga">
		<a href="http://sunnysideyoga.com" rel="author" target="_blank"><img src="/assets/application/signup/love-letter.png" alt="The Next Web" /></a>
		<blockquote>
			<p>Bottom line: this is my love letter to you, Onepager. You have effectively saved my sanity, my relationship with my sister, and possibly her business because her website gets way more traffic than her Facebook. Thank you, a million times thank you.</p>
			<cite>Adrienne Dye, sister to <a href="http://sunnysideyoga.com" target="_blank">Rebecca Dye</a> and author of the Onepager Love Letter</cite>
		</blockquote>
	</div>
	<%= link_to "Start Building", Site.new, :method => :post, :class => 'start' %>
</section>
