<!DOCTYPE html>
<html>
<head>
	<title>JustAbout.co and Onepager - Build a simple website for your small business</title>
	<meta name="description" content="Onepager is the easiest way for small business owners to create a professional looking website. It's really simple to use and your site will look great on mobile devices. Features include analytics, custom domains, newsletter, social media integration, and optimized for SEO." />
	<meta name="keywords" content="simple website builder for smalle business, simple website, easy website builder, make your own website, create a professional website, small business website, professional small business website, SMB website, SMB tools, DIY website, easy-to-use website builder, quick website, splash page creator, do it yourself business websites, simple website design" />
	
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
	<!--[if lt IE 9]><script src="/javascripts/lib/shiv.modernizr.js" type="text/javascript"></script><![endif]-->
	
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	
	<%= csrf_meta_tags %>
	
	<%= render :partial => "/shared/google_analytics" %>
</head>
<body class="landing">
	<article>
		<header>
			<img src="/assets/application/partners/justabout.png" alt="Hello from Onepager" />
			<h1>Welcome JustAbout.co user! We'd like to introduce you to us and our simple website builder.</h1>
		</header>
		<section class="landing_about">
			<h2>2011</h2>
			<p>Onepager launched in August 2011 and has been serving small businesses ever since.</p>
		</section>
		<section class="team">
			<span class="member">
				<img src="/assets/application/headshots/eric-tarn.jpg" alt="Eric Tarn" width="255" />
				<span class="member_name">
					<strong>Eric Tarn</strong>
					<em>Technical</em>
					<a href="http://twitter.com/erictarn"><img src="/assets/application/twitter-member.png" alt="Twitter" /></a>
					<a href="http://erictarn.com/"><img src="/assets/application/blog-member.png" alt="Blog" /></a>
				</span>
			</span>
			<span class="member">
				<img src="/assets/application/headshots/yin-yin-chan.jpg" alt="Yin Yin Chan" width="255" />
				<span class="member_name">
					<strong>Yin Yin Chan</strong>
					<em>Technical</em>
					<a href="http://twitter.com/yinychan"><img src="/assets/application/twitter-member.png" alt="Twitter" /></a>
					<a href="http://yinyinchan.com/"><img src="/assets/application/blog-member.png" alt="Blog" /></a>
				</span>
			</span>
			<span class="member">
				<img src="/assets/application/headshots/matthew-moore.jpg" alt="Matthew Carl Moore" width="255" />
				<span class="member_name">
					<strong>Matthew Moore</strong>
					<em>Design</em>
					<a href="http://twitter.com/matthewcmoore"><img src="/assets/application/twitter-member.png" alt="Twitter" /></a>
					<a href="http://matthewmooredesign.com/"><img src="/assets/application/blog-member.png" alt="Blog" /></a>
				</span>
			</span>
			<p>Our names are Eric, Yin, and Matt. We all come from small business families and we love building products to help the smallest companies succeed!</p>
		</section>

		<section class="homepage_features">
			<h2>Some of Onepager’s features</h2>
			<ul>
				<li> 
					<a href="/en/features/search-engine-optimization"><img src="/assets/application/features/search-engine-optimization.png" alt="" /></a> 
					<h3><a href="/en/features/search-engine-optimization">Search Engine Friendly</a></h3> 
					<p>Onepagers come packed with industry leading search engine techniques.</p> 
				</li> 
				<li>
					<a href="/en/features/simple-form-builder"><img src="/assets/application/features/custom-form-builder.png" alt="" /></a>
					<h3><a href="/en/features/simple-form-builder">Custom Forms</a></h3>
					<p>Build a form so your visitors can quickly email you from your website.</p>
				</li>
				<li>
					<a href="/en/features/easy-website-builder"><img src="/assets/application/features/cloud-hosting.png" alt="" /></a>
					<h3><a href="/en/features/easy-website-builder">Worry-Free Cloud Hosting</a></h3>
					<p>You'll never need to worry about setting up a hosting account or wonder if your site is accessible.</p>
				</li>
				<li>
					<a href="/en/features/connect-with-customers"><img src="/assets/application/features/email-newsletter.png" alt="" /></a>
					<h3><a href="/en/features/connect-with-customers">Email Newsletters</a></h3>
					<p>Send updates to your customers from your Onepager dashboard.</p>
				</li>
				<li> 
					<a href="/en/features/beautiful-design"><img src="/assets/application/features/beautiful-design.png" alt="" /></a> 
					<h3><a href="/en/features/beautiful-design">Lots of Themes</a></h3> 
					<p>Our themes will make your small business website look great.</p> 
				</li> 
				<li> 
					<a href="/en/features/ecommerce-sell-products"><img src="/assets/application/features/ecommerce-sell-products.png" alt="" /></a> 
					<h3><a href="/en/features/ecommerce-sell-products">Ecommerce</a></h3> 
					<p>Sell physical goods, digital downloads, or collect invoice payments.</p> 
				</li> 
			</ul>
			<a href="/en/features" class="general">See More Features</a>
		</section>
		
		<section class="landing_price">
			<h2><sup>$</sup>8</h2>
			<p>Get started with Onepager for as little as $8/mo, paid yearly. We’ll also convert your JustAbout.co site for you if you’d like.</p>
		</section>
		
		<section class="landing_cta">
			<div>
				<h3>Convert Your JustAbout.co Site</h3>
				<p>Sign up for a paid subscription and we'll convert your JustAbout.co site for free.</p>
				<p>Use the coupon code "justaboutco" and save 10% off your first year.</p>
				<%= link_to "Sign Up", '/sites?ref=nodomain&promo_code=justaboutco', :method => :post, :class => 'start' %>
			</div>
			<span class="or">or</span>
			<div>
				<h3>Start Creating a New Onepager Site</h3>
				<p>Create a new Onepager site. You can also sign up for a free account if you'd prefer.</p>
				<p>You can still use the code "justaboutco" and save 10% off your first year.</p>
				<%= link_to "Start Building", Site.new, :method => :post, :class => 'start' %>
			</div>
		</section>
	</article>
	
	<%= render :partial => "/shared/olark" %>
</body>
</html>
