<% content_for :title do %>White Label / Private Label Website Builder<% end %>
<% content_for :content_class do %>main_content<% end %>

<header>
	<h1>For Agencies &amp; Brands</h1>
</header>

<article class="private_label_introduction">
	<h2>Simple Sites For Your Clients &amp; Projects</h2>
	<a href="#" class="play_video">Watch A Video</a>
	<img src="/assets/application/partners/private-label.png" alt="" />
</article>

<article class="private_label_content">
	<section>
		<img src="/assets/application/partners/simple-site-editor.jpg" alt="" class="image_right" />
		<h2>Rapidly Build Sites</h2>
		<h3>Our simple site builder lets you design a beautiful site in just a few minutes with no coding.</h3>
		<p>We've made it easy to add any type of content you want - a photo gallery, a contact form, or contact information. Rearrange your content by dragging and dropping. You can also customize the design to your liking and quickly change the site layout. Want more? Edit the CSS to further customize the site to your's and your client's liking.</p>
	</section>
	<section>
		<img src="/assets/application/partners/user-management.jpg" alt="" class="image_left" />
		<h2>Get Others Involved</h2>
		<h3>Add more users who can manage all your sites or just a few specific ones.</h3>
		<p>With Onepager, you can build a site for your client and give them access to edit and maintain it. Several people on your team? Add them to your account and choose the sites they have access to. Don't worry, the users you add won't have access to billing and domain features so your really important settings stay how you left them!</p>
	</section>
	<section>
		<img src="/assets/application/partners/private-label.jpg" alt="" class="image_right" />
		<h2>Private Labeling</h2>
		<h3>Be discreet about using Onepager by featuring your own organization's name in our admin.</h3>
		<p>We understand the need to rebrand your site builder's admin, so we allow our customers with <a href="/en/pricing">Premium or Agency plans</a> to turn on Private Labeling. When activated, the admin color scheme is changed and you can use your own company name in the header. You also can login through a non-Onepager URL. It's the perfect solution for agencies and entrepreneurs.</p>
	</section>
	<section class="call_to_action">
		<div>
			<h3>Take Care of Small Projects.</h3>
			<p>Onepager is the perfect solution for small and simple sites. Put them together quickly and use all of the tools Onepager gives you.</p>
			<a href="/en/resources/showcase" class="general">View Our Showcase</a>
		</div>
		<div>
			<h3>We're here for you.</h3>
			<p>Need Onepager to do something more? We're eager to work with you and incorporate your feedback into the product.</p>
			<a href="/en/contact-us" class="general">Contact Us</a>
		</div>
		<div>
			<h3>Reliable cloud hosting.</h3>
			<p>Don't worry about dealing with hosting and databases. We'll take care of all the headaches while you focus on building your business.</p>
			<a href="/en/features" class="general">Explore Our Features</a>
		</div>
	</section>
</article>

<article class="private_label_testimonials">
	<h2>Hear From Some Happy Customers</h2>
	<section>
		<div class="testimonial top">
			<a href="http://www.dogfish.com/" rel="author" target="_blank"><img src="/assets/application/partners/dogfish-head.png" alt="Dogfish Head" /></a>
			<blockquote>
				<p>Onepager rocks! We have been using the Onepager multisite platform for our recent marketing campaigns. It's a simple system to use &amp; maintain and allows for fast prototyping of a new site. Any time that our marketing team comes up with a new web initiative, I know that we can rely on Onepager to fast track that idea to a completed site quickly. Cheers to Onepager!</p>
				<cite>Trey Bowden, Dogfish Head Craft Brewed Ales</cite>
			</blockquote>
		</div>
		<div class="testimonial top">
			<a href="http://www.ogilvydma.com/" rel="author" target="_blank"><img src="/assets/application/partners/ogilvy.png" alt="Oglivy" /></a>
			<blockquote>
				<p>From the stylish and supremely easy drag & drop editing, easiest domain-mapping and speedy support, we are thrilled to have Onepager in our toolkit. It is a little dose of genius, that cuts through complexity, so that our students can focus on building with ease (and spares us the desperate support mails from those confounded by Tumblr/Wordpress!)</p>
				<cite>Maximillian Kaizen, ODMA Ogilvy</cite>
			</blockquote>
		</div>
	</section>
</article>

<article class="private_label_start">
	<p>Create your first site to sign up. <a href="/en/pricing">View Pricing</a></p>
	<%= link_to "Start Building", Site.new, :method => :post, :class => 'start' %>
	<p>You can also <a href="mailto:hi@onepagerapp.com">email us</a> <!-- or call us at <a href="tel:9175248172">917-524-8172</a> --> if you have any questions.</p>
</article>

<% content_for :js_inject do %>
	<div class="agency_video" style="display: none;">
		<iframe src="http://player.vimeo.com/video/55499307?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff&amp;api=1" width="784" height="441" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div>
	
	<script type="text/javascript" src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
	<script type="text/javascript">
		Onepager.Video.play();
	</script>
<% end %>