<% content_for :title do %>Simple Professional Real Estate Website with Onepager<% end %>
<% content_for :content_class do %>main_content<% end %>
<%= render :partial => 'header' %>

<article class="main_introduction">
	<h2>Working in Real Estate?</h2>
	<p>Create a website with Onepager. Business owners use Onepager every day to <strong>create great-looking websites</strong> for themselves. Finally you can manage your own website and be on top of your online presence.</p>
	<ul>
		<li><a href="#your-own">Build a real-estate agent website</a></li>
		<li><a href="#your-listings">Build a real-estate listing page</a></li>
		<li><a href="#how-it-works">How it works with Onepager</a></li>
		<li>&nbsp;</li>
		<li>&nbsp;</li>
		<li>&nbsp;</li>
	</ul>
</article>

<article class="main_article" id="your-own">
	<img src="/assets/application/showcase/real-estate-sample-1.jpg" alt="" />
	<h3>Build a real-estate agent website</h3>
	<p>Onepager allows you to create and manage a web presence for your real estate company. Do all of this and more with a Onepager site:</p>
	<ul>
		<li>Quickly build yourself a <a href="/en/features/beautiful-design">beautiful site for your business</a></li>
		<li>Send email newsletters to your clients</li>
		<li><a href="/en/features/search-engine-optimization">Rank higher</a> on search engine results</li>
		<li>Track how many people visit your site</li>
	</ul>
</article>

<article class="main_article" id="your-listings">
	<img src="/assets/application/showcase/real-estate-sample-2.jpg" alt="" />
	<h3>Build a real-estate listing page</h3>
	<p>Onepager gives your listings an extra bit of attention:</p>
	<ul>
		<li>Give each listing a <a href="/en/features/custom-domains">unique URL</a></li>
		<li>Feature a gallery of photos for the listing</li>
		<li>Show a video walkthrough of the property</li>
		<li>Set up a contact form so buyers can reach you faster</li>
		<li><a href="/en/features/connect-with-customers">Send newsletter updates</a> for the next open house</li>
	</ul>
</article>

<article class="main_article" id="how-it-works">
	<iframe src="http://player.vimeo.com/video/31350080?title=0&amp;byline=0&amp;portrait=0" width="700" height="394" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
	<h3>How it works with Onepager</h3>
	<p>With Onepager, you can create simple real-estate listings or a personal real-estate agent site. Include a contact form on your page so your clients can submit inquiries. Embed a virtual video tour of the property.  Send out updates and newsletters for the next open house! Onepager makes it super easy to create a property website for all your real-estate listings.</p>
</article>