<% content_for :title do %>Overview - Resources<% end %>
<% content_for :content_class do %>main_content<% end %>
<%= render :partial => 'header', :locals => { :section => 'onepager' } %>

<section class="articles resources">
	<article class="guides">
		<h2>Guides</h2>
		<p>Onepager Guides are a great resource for small businesses that need help with their website or several other related topics. We’re always working on more guides, so feel free to recommend a topic that would help your’s and other small businesses.</p>
		<a href="/en/resources/guides" class="more">Read Some Guides</a>
	</article>
	<article class="videos">
		<h2>How-To Videos</h2>
		<p>Have questions about building your Onepager? Our How-To Videos walk you through many of the common things you might want to do when building your Onepager.</p>
		<a href="/en/resources/how-to-videos" class="more">Watch Some Videos</a>
	</article>
	<article class="showcase_resource">
		<h2>Showcase</h2>
		<p>Check out some of our favorite Onepager sites. These small businesses represent themselves well with their beautifully designed websites.</p>
		<a href="/en/resources/showcase" class="more">See Some Sites</a>
	</article>
	<article class="faq">
		<h2>FAQ</h2>
		<p>Answers to the most popular questions about Onepager. If your question isn’t answered here, we’re always available to answer infrequently asked questions via <a href="/en/contact-us">email</a>.</p>
		<a href="/en/resources/faq" class="more">Read Our Answers</a>
	</article>
</section>
<section class="blogroll">
	<h3>1pgr Blog</h3>
	<ul>
		<% @feed.each do |f| %>
			<li>
				<h4><%= link_to f.title, f.link %></h4>
				<time datetime="<%= f.pubDate.strftime("%Y-%m-%d") %>"><%= f.pubDate.strftime("%B %e, %Y") %></time>
			</li>
		<% end %>
	</ul>
	<div>
		<a href="/blog/" class="general">Visit Our Blog</a>
	</div>
</section>
