# See http://www.robotstxt.org/wc/norobots.html for documentation on how to use the robots.txt file
#
# To ban all spiders from the entire site uncomment the next two lines:
# User-Agent: *
# Disallow: /

User-Agent: *
Disallow: /vx72
Disallow: /uploads/download/2594/Identity_Protection_For_Free_112115.pdf

<% if @site %>
Sitemap: http://onepagerapp.com/sitemaps/<%= @site.id %>.xml
<% end %>
