<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	<url>
		<loc>http://<%= @site.domain_name %>/</loc>
		<lastmod><%= @site.pages.last.updated_at.strftime("%Y-%m-%d") %></lastmod>
		<changefreq>weekly</changefreq>
		<priority>1.0</priority>
	</url>
</urlset>