<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	<url>
		<loc>http://onepagerapp.com/</loc>
		<lastmod>2011-09-08</lastmod>
		<changefreq>weekly</changefreq>
		<priority>1.0</priority>
	</url>
	<url>
		<loc>http://onepagerapp.com/en/features</loc>
		<lastmod>2012-08-15</lastmod>
		<changefreq>weekly</changefreq>
		<priority>0.9</priority>
	</url>
	<url>
		<loc>http://onepagerapp.com/en/features/easy-website-builder</loc>
		<lastmod>2011-09-26</lastmod>
		<changefreq>weekly</changefreq>
		<priority>0.7</priority>
	</url>
	<url>
		<loc>http://onepagerapp.com/en/features/search-engine-optimization</loc>
		<lastmod>2011-09-26</lastmod>
		<changefreq>weekly</changefreq>
		<priority>0.7</priority>
	</url>
	<url>
		<loc>http://onepagerapp.com/en/features/easy-maintenance</loc>
		<lastmod>2011-09-26</lastmod>
		<changefreq>weekly</changefreq>
		<priority>0.7</priority>
	</url>
	<url>
		<loc>http://onepagerapp.com/en/features/custom-domains</loc>
		<lastmod>2011-09-26</lastmod>
		<changefreq>weekly</changefreq>
		<priority>0.7</priority>
	</url>
	<url>
		<loc>http://onepagerapp.com/en/features/beautiful-design</loc>
		<lastmod>2011-09-26</lastmod>
		<changefreq>weekly</changefreq>
		<priority>0.7</priority>
	</url>
	<url>
		<loc>http://onepagerapp.com/en/features/useful-analytics</loc>
		<lastmod>2011-09-26</lastmod>
		<changefreq>weekly</changefreq>
		<priority>0.7</priority>
	</url>
	<url>
		<loc>http://onepagerapp.com/en/features/ecommerce-sell-products</loc>
		<lastmod>2012-09-18</lastmod>
		<changefreq>weekly</changefreq>
		<priority>0.7</priority>
	</url>
	<url>
		<loc>http://onepagerapp.com/en/features/mobile-friendly</loc>
		<lastmod>2011-09-26</lastmod>
		<changefreq>weekly</changefreq>
		<priority>0.7</priority>
	</url>
	<url>
		<loc>http://onepagerapp.com/en/features/connect-with-customers</loc>
		<lastmod>2011-09-26</lastmod>
		<changefreq>weekly</changefreq>
		<priority>0.7</priority>
	</url>
	<url>
		<loc>http://onepagerapp.com/en/pricing</loc>
		<lastmod>2011-09-08</lastmod>
		<changefreq>weekly</changefreq>
		<priority>0.9</priority>
	</url>
	<url>
		<loc>http://onepagerapp.com/en/resources</loc>
		<lastmod>2011-09-08</lastmod>
		<changefreq>weekly</changefreq>
		<priority>0.9</priority>
	</url>
	<url>
		<loc>http://onepagerapp.com/en/company/about-us</loc>
		<lastmod>2011-07-18</lastmod>
		<changefreq>monthly</changefreq>
		<priority>0.8</priority>
	</url>
	<url>
		<loc>http://onepagerapp.com/en/company/press</loc>
		<lastmod>2012-05-12</lastmod>
		<changefreq>weekly</changefreq>
		<priority>0.8</priority>
	</url>
	<url>
		<loc>http://onepagerapp.com/en/company/partners</loc>
		<lastmod>2011-08-15</lastmod>
		<changefreq>monthly</changefreq>
		<priority>0.8</priority>
	</url>
	<url>
		<loc>http://onepagerapp.com/en/resources/faq</loc>
		<lastmod>2011-07-18</lastmod>
		<changefreq>weekly</changefreq>
		<priority>0.8</priority>
	</url>
	<url>
		<loc>http://onepagerapp.com/en/resources/guides</loc>
		<lastmod>2012-08-21</lastmod>
		<changefreq>weekly</changefreq>
		<priority>0.8</priority>
	</url>
	<url>
		<loc>http://onepagerapp.com/en/guides/seo</loc>
		<lastmod>2012-08-21</lastmod>
		<changefreq>weekly</changefreq>
		<priority>0.8</priority>
	</url>
	<url>
		<loc>http://onepagerapp.com/en/resources/how-to-videos</loc>
		<lastmod>2012-08-15</lastmod>
		<changefreq>weekly</changefreq>
		<priority>0.8</priority>
	</url>
	<url>
		<loc>http://onepagerapp.com/en/resources/showcase</loc>
		<lastmod>2011-09-08</lastmod>
		<changefreq>weekly</changefreq>
		<priority>0.7</priority>
	</url>
	<url>
		<loc>http://onepagerapp.com/en/contact-us</loc>
		<lastmod>2011-07-18</lastmod>
		<changefreq>weekly</changefreq>
		<priority>0.5</priority>
	</url>
	<url>
		<loc>http://onepagerapp.com/en/private-label</loc>
		<lastmod>2011-07-18</lastmod>
		<changefreq>weekly</changefreq>
		<priority>0.5</priority>
	</url>
	<url>
		<loc>http://onepagerapp.com/blog</loc>
		<lastmod>2012-08-15</lastmod>
		<changefreq>daily</changefreq>
		<priority>1.0</priority>
	</url>
	<url>
		<loc>http://onepagerapp.com/en/real-estate</loc>
		<lastmod>2011-07-18</lastmod>
		<changefreq>monthly</changefreq>
		<priority>0.9</priority>
	</url>
<% @paying_users_sites.each do |s| %>
	<url>
		<loc>http://onepagerapp.com/<%= s.onepager_address %></loc>
		<lastmod><%= s.updated_at.strftime("%Y-%m-%d") %></lastmod>
		<changefreq>daily</changefreq>
		<priority>0.5</priority>
	</url>
<% end %>
</urlset>