<% content_for :body_class do %>trial<% end %>
<% content_for :title do %>Upgrade Your Account<% end %>

<section class="upgrade_intro">
	<h2>Upgrade to access more features!</h2>
	<ul>
		<li class="icon_bandwidth">Unlimited Bandwidth</li>
		<li class="icon_hosting">Rock Solid Cloud Hosting</li>
		<li class="icon_ecommerce">Sell products with easy ecommerce</li>
		<li class="icon_url">Use Your Own Custom Domain</li>
		<li class="icon_analytics">Monitor Your Traffic with Analytics</li>
		<li class="icon_newsletter">Set up custom contact forms</li>
		<li class="icon_users">Add more users &amp; create more sites</li>
		<li class="icon_white_label">Private Label your Onepager admin</li>
	</ul>
	<a href="/account/upgrade" class="start">Upgrade Your Account</a>
</section>