<% content_for :title do %>About Us<% end %>
<% content_for :content_class do %>main_content detail_content<% end %>
<%= render :partial => 'header', :locals => { :section => 'company' } %>

<article class="main_introduction">
	<h2>About Us</h2>
	<p>Empowering small businesses to build great websites and have killer online presences. We work hard on our product so small business owners don’t have to work so hard on their websites. </p>
</article>
<section class="team">
	<span class="member">
		<img src="/assets/application/headshots/matthew-moore.jpg" alt="Matthew Carl Moore" />
		<span class="member_name">
			<strong>Matthew Moore</strong>
			<em>Design</em>
			<a href="http://twitter.com/matthewcmoore"><img src="/assets/application/twitter-member.png" alt="Twitter" /></a>
			<a href="http://matthewmooredesign.com/"><img src="/assets/application/blog-member.png" alt="Blog" /></a>
		</span>
	</span>
	<span class="member">
		<img src="/assets/application/headshots/yin-yin-chan.jpg" alt="Yin Yin Chan" />
		<span class="member_name">
			<strong>Yin Yin Chan</strong>
			<em>Technical</em>
			<a href="http://twitter.com/yinychan"><img src="/assets/application/twitter-member.png" alt="Twitter" /></a>
			<a href="http://yinyinchan.com/"><img src="/assets/application/blog-member.png" alt="Blog" /></a>
		</span>
	</span>
	<span class="member">
		<img src="/assets/application/headshots/eric-tarn.jpg" alt="Eric Tarn" />
		<span class="member_name">
			<strong>Eric Tarn</strong>
			<em>Technical</em>
			<a href="http://twitter.com/erictarn"><img src="/assets/application/twitter-member.png" alt="Twitter" /></a>
			<a href="http://erictarn.com/"><img src="/assets/application/blog-member.png" alt="Blog" /></a>
		</span>
	</span>
</section>
<article class="detailed_article">
	<h3>We are dedicated to small businesses and helping them build online recognition to stay connected with their customers.</h3>
	<p>Small businesses are important to their owners, customers and the communities they operate in. Many businesses aren’t found and appreciated because they don’t have a discoverable and quality website. We are working to make creating and maintaining a website as simple as it can be.</p>
	<h4>How Onepager got started</h4>
	<p>We decided to start work on Onepager in mid 2011 after witnessing so many business owners struggling to get their businesses online. These business owners had many options, but none of them seemed to do the trick. They were either far too complex, too expensive, or suffered from big flaws in ease-of-use or technology. We thought something needed to be done!</p>
	<p>It was pretty easy for all of us to get excited about the prospect of helping small businesses. All of us come from small business families and giving families like ours a great tool to help their companies seemed like a great and fulfilling opportunity.</p>
	<p>Since we launched in August 2011, we’ve been steadily improving Onepager and helping more and more businesses get online with a website they’re proud of.</p>
	<h4>What we think about software</h4>
	<p>Our team has been building web applications for most of our natural lives. That’s a long time to think about what software should and shouldn’t be.</p>
	<ul>
		<li>Web products should be, above all, as easy as possible for the user to use and understand. Make the computer do the hard work.</li>
		<li>Do less, but do it better. Too many apps try to do too much and do very little of it particularly well. We focus on the things we can do really well and perfect them.</li>
		<li>Customers opinions matter. We really strive to understand our users and build the best product to help them and their business. If you use Onepager, don’t be surprised to hear from us.</li>
	</ul>
</article>