<% content_for :title do %>Become an Onepager Affiliate<% end %>
<% content_for :content_class do %>main_content<% end %>
<%= render :partial => 'header', :locals => { :section => 'company' } %>

<article class="main_introduction">
	<h2>Partners</h2>
	<p>Our main ongoing partnership effort is our affiliate program, which is detailed below. We also have integration and enterprise efforts on a case-by-case basis. If you’re interested in those, or any other potential partnerships, <a href="mailto:hi@onepagerapp.com">email us</a>.</p>
</article>

<article class="main_article">
	<img src="/assets/application/partners/agencies-image.png" alt="" class="left" />
	<h3>For Agencies &amp; Brands</h3>
	<h4>We've made it easy for agencies and entrepreneurs to manage their company's websites and staff members.</h4>
	<p>When you sign up with a <a href="/en/pricing">Onepager Premium or Agency plan</a>, you will have the ability to create multiple websites and multiple users all under the same account. If you enable our Private Label feature, you can rebrand the Onepager dashboard and website editor to your company's name.</p>
	<p>It will be a seamless experience for your clients and customers.</p>
	<p><a href="/en/private-label" class="start">Onepager Private Label</a></p>
</article>

<article class="main_article">
	<div class="partners_logos">
		<a href="http://gumroad.com"><img src="/assets/application/partners/gumroad.png" alt="" /></a>
		<a href="http://moo.com/link/h8sq"><img src="/assets/application/partners/moo.png" alt="" /></a>
		<a href="http://uplanme.com"><img src="/assets/application/partners/uplanme.png" alt="" /></a>
	</div>
	<h3>Companies</h3>
	<h4>We partner with other companies that love helping out small businesses with simple tools.</h4>
	<p>Some of these companies are shown to the left with their beautifully large logos. If you’re interested in working with us to the benefit of ours and your customers, feel free to <a href="/en/contact-us">reach out</a>. We’d love to hear from you!</p>
</article>

<article class="main_article">
	<img src="/assets/application/features/affiliate-dashboard.jpg" alt="" class="left" />
	<h3>Affiliates</h3>
	<h4>Help other small businesses establish an online presence by becoming an Onepager Affiliate.</h4>
	<p>When you sign up as an Onepager Affiliate and refer customers to us using your affiliate link, you will earn 20% of all revenue generated through your affiliate link.</p>
	<p>Onepager provides an affiliate dashboard that will help you track the number of sign-ups coming from your affiliate link.</p>
	<% if current_user %>
		<% if Affiliate.count(:conditions => "user_id = " + current_user.id.to_s) == 0 %>
			<p><a href="/account/affiliate" class="start">Become a Onepager Affiliate</a></p>
		<% else %>
			<p>You're already an Onepager affiliate!</p>
			<p><a href="/account/affiliate" class="start">View your earnings</a></p>
		<% end %>
	<% else %>
		<p>The first step in becoming an affiliate is to create an Onepager account.</p>
		<p><%= link_to "Start building", Site.new, :method => :post, :class => "start" %></p>
	<% end %>
</article>
