<% content_for :title do %>Press<% end %>
<% content_for :content_class do %>main_content press_content<% end %>
<%= render :partial => 'header', :locals => { :section => 'company' } %>

<article class="main_introduction">
	<h2>Press</h2>
</article>

<section class="articles">
	<h3>Recent News</h3>
	<article>
		<h4><a href="http://mashable.com/2013/03/15/alternative-website/">Can Your Business Survive Without a Traditional Website?</a></h4>
		<em class="byline">March 15, 2013 - Mashable</em>
		<p>When Jon Goldman would get on the phone with potential customers, often the first thing they'd ask is, "So what is it you do?" even after they...</p>
		<a href="http://mashable.com/2013/03/15/alternative-website/" class="next" target="_blank">Full story</a>
	</article>
	<article>
		<h4><a href="http://www.pe.com/business/business-columns/practical-business-radical-headlines/20121231-advice-managing-your-reputation-in-a-digital-world.ece">ADVICE: Managing your reputation in a digital world</a></h4>
		<em class="byline">December 31, 2012 - The Press-Enterprise</em>
		<p>Driving on the freeway the other day, I noticed a truck with this sign on it: “We care about our reputation. Comments call: (an 800-number)...</p>
		<a href="http://www.pe.com/business/business-columns/practical-business-radical-headlines/20121231-advice-managing-your-reputation-in-a-digital-world.ece" class="next" target="_blank">Full story</a>
	</article>
	<article>
		<h4><a href="http://www.fastcompany.com/1843635/5-things-keep-app-developers-night">5 Things That Keep App Developers Up At Night</a></h4>
		<em class="byline">July 25, 2012 - Fast Company</em>
		<p>A hit mobile app can mean a big payday for a developer. But so much about what makes or breaks a product is completely outside of their control. And that means one thing...</p>
		<a href="http://www.fastcompany.com/1843635/5-things-keep-app-developers-night" class="next" target="_blank">Full story</a>
	</article>
	<article>
		<h4><a href="http://online.wsj.com/article/SB10001424052702304363104577389913496562258.html">What's Useful Online - A look at sites that help you set up your own sites, and much more</a></h4>
		<em class="byline">May 21, 2012 - Wall Street Journal</em>
		<p>Onepager Inc., of New York, offers a free, do-it-yourself platform for creating and maintaining websites. Choose a theme or design your own and add content like an...</p>
		<a href="http://online.wsj.com/article/SB10001424052702304363104577389913496562258.html" class="next" target="_blank">Full story</a>
	</article>
	<article>
		<h4><a href="http://www.sitebuilderreport.com/reviews/onepager">OnePager Review - Simple, easy way to build one page websites. Think About.Me for small business websites.</a></h4>
		<em class="byline">May 14, 2012 - Site Builder Report</em>
		<p>Two years ago, an interaction agency in New York continually found themselves receiving requests from small business owners for simple websites. It was difficult...</p>
		<a href="http://www.sitebuilderreport.com/reviews/onepager" class="next" target="_blank">Full story</a>
	</article>
	<article>
		<h4><a href="http://nyconvergence.com/2012/05/nytech-women-leaders-in-tech-%E2%80%93-blocking-and-tackling-nytc.html">NYTECH: Women Leaders in Tech – Blocking and Tackling #NYTC</a></h4>
		<em class="byline">May 4, 2012 - NYConvergence</em>
		<p>The four panelists at NYTECH's event earlier this week at Citrin Cooperman in Midtown talked about what it’s like to be a successful woman technology entrepreneur in NY.</p>
		<a href="http://nyconvergence.com/2012/05/nytech-women-leaders-in-tech-%E2%80%93-blocking-and-tackling-nytc.html" class="next" target="_blank">Full story</a>
	</article>
	<article>
		<h4><a href="http://www.tigerstartups.com/blogs/148/onepager-helps-small-businesses-get-noticed-online">Onepager Helps Small Businesses Get Noticed Online</a></h4>
		<em class="byline">Mar 20, 2012 - TigerStartups</em>
		<p>Starting your own business in this tech-crazed world can be tough if you don’t know a thing about coding, but Onepager can help. Onepager is a platform that helps small business...</p>
		<a href="http://www.tigerstartups.com/blogs/148/onepager-helps-small-businesses-get-noticed-online" class="next" target="_blank">Full story</a>
	</article>
	<article>
		<h4><a href="http://www.swiss-miss.com/2012/01/onepager.html">Swissmiss is a design blog and studio run by Tina Roth Eisenberg</a></h4>
		<em class="byline">January 16, 2012 - Swiss Miss</em>
		<p>Onepager lets small business owners setup a simple website in minutes. The Onepager interface allows you to easily update and maintain your website on your own. No need for a developer...</p>
		<a href="http://www.swiss-miss.com/2012/01/onepager.html" class="next" target="_blank">Full story</a>
	</article>
	<article>
		<h4><a href="http://thenextweb.com/lifehacks/2012/01/15/how-to-make-money-doing-what-you-love-on-the-internet/">How to make money doing what you love on the Internet</a></h4>
		<em class="byline">January 15, 2012 - The Next Web</em>
		<p>From rags to riches, from trailer parks to white mailboxes, the climb is all part of the "American Dream." But this dream– the equal opportunity to achieve success and prosperity from one's hard...</p>
		<a href="http://thenextweb.com/lifehacks/2012/01/15/how-to-make-money-doing-what-you-love-on-the-internet/" class="next" target="_blank">Full story</a>
	</article>
	<article>
		<h4><a href="http://mashable.com/2012/01/01/onepager/">OnePager, a Startup Making Websites Easy for Small Business</a></h4>
		<em class="byline">January 1, 2012 - Mashable</em>
		<p>OnePager is a New York City-based startup that provides a simple drag-and-drop program to create a website that looks professionally developed. The company's co-founder and designer...</p>
		<a href="http://mashable.com/2012/01/01/onepager/" class="next" target="_blank">Full story</a>
	</article>
	<article>
		<h4><a href="http://www.openforum.com/articles/startup-makes-websites-easy-for-small-business">Startup Makes Websites Easy For Small Business</a></h4>
		<em class="byline">December 16, 2011 - American Express OPEN Forum</em>
		<p>It's more than a decade into the new millennium, and there are still countless small businesses that don't have an adequate presence on the Internet. And with an increasing number of...</p>
		<a href="http://www.openforum.com/articles/startup-makes-websites-easy-for-small-business" class="next" target="_blank">Full story</a>
	</article>
	<article>
		<h4><a href="http://www.koreanbeacon.com/2011/11/07/kaswork-matthew-shampine-of-onepager/">KAs@Work: Matthew Shampine of Onepager</a></h4>
		<em class="byline">November 7, 2011 - Korean Beacon</em>
		<p>Onepager, a simplified tool to assist small business in creating quality websites, has been featured in many established business and technology publications like...</p>
		<a href="http://www.koreanbeacon.com/2011/11/07/kaswork-matthew-shampine-of-onepager/" class="next" target="_blank">Full story</a>
	</article>
	<article>
		<h4><a href="http://techcrunch.com/2011/10/13/onepager-raises-seed-funding-for-a-quick-easy-and-free-website-builder/">Onepager Raises Seed Funding For A Quick, Easy (And Free) Website Builder</a></h4>
		<em class="byline">October 13, 2011 - TechCrunch</em>
		<p>Onepager, the startup that allows any user or small business owner to quickly build a website (for free), is announcing today that it has raised $350K in seed financing from a host of New York City...</p>
		<a href="http://techcrunch.com/2011/10/13/onepager-raises-seed-funding-for-a-quick-easy-and-free-website-builder/" class="next" target="_blank">Full story</a>
	</article>
	<article>
		<h4><a href="http://www.businessinsider.com/easy-website-builder-onepager-raises-350000-2011-10">Onepager Just Raised $350,000 To Become Tumblr For Small Business Sites</a></h4>
		<em class="byline">October 13, 2011 - Business Insider</em>
		<p>Onepager, a simple website building tool, is announcing a $350,000 seed round today. Angel investors Daniel Eskapa and Mark Birch have invested in the New York-based startup...</p>
		<a href="http://www.businessinsider.com/easy-website-builder-onepager-raises-350000-2011-10" class="next" target="_blank">Full story</a>
	</article>
	<article>
		<h4><a href="http://www.networksolutions.com/smallbusiness/2011/10/6-cool-startups-that-can-help-your-small-business-grow">6 Cool Startups That Can Help Your Small Business Grow</a></h4>
		<em class="byline">October 13, 2011 - Network Solutions Small Business News</em>
		<p>If time and budget constraints have stopped you from putting together a website, why not put together a simple landing page? Onepager is a very easy and simple way to create and maintain a...</p>
		<a href="http://www.networksolutions.com/smallbusiness/2011/10/6-cool-startups-that-can-help-your-small-business-grow" class="next" target="_blank">Full story</a>
	</article>
	<article>
		<h4><a href="http://www.betabeat.com/2011/10/13/onepager-raises-350-k-from-new-york-angels/">Onepager Raises $350k from New York Angels</a></h4>
		<em class="byline">October 13, 2011 - BetaBeat / New York Observer</em>
		<p>Onepager, the startup from Matt Shampine and the design team formerly known as Simande, just announced a seed funding round: $350,000 from New York angel investors Daniel Eskapa...</p>
		<a href="http://www.betabeat.com/2011/10/13/onepager-raises-350-k-from-new-york-angels/" class="next" target="_blank">Full story</a>
	</article>
	<article>
		<h4><a href="http://www.thefastertimes.com/tech/2011/09/07/ny-tech-meetup-review-onepager-framey-drynks-and-more/">NY Tech Meetup Review: OnePager, Framey, Drynks and More</a></h4>
		<em class="byline">September 7, 2011 - The Faster Times</em>
		<p>Local startup OnePager seems to be stepping into Squarespace territory with a simple, fast and very affordable way for small businesses to create an online identity. While Squarespace offers an...</p>
		<a href="http://www.thefastertimes.com/tech/2011/09/07/ny-tech-meetup-review-onepager-framey-drynks-and-more/" class="next" target="_blank">Full story</a>
	</article>
	<article>
		<h4><a href="http://www.betabeat.com/2011/09/07/startup-news-from-series-awesome-to-series-still-truckin/">Startup News: From Series Awesome to Series Still Truckin'</a></h4>
		<em class="byline">September 7, 2011 - BetaBeat / New York Observer</em>
		<p><strong>Onepager</strong>, the About.me for businesses, is now freezy. As the startup announced last night at <strong>New York Tech Meetup</strong>, among other features: "We got rid of the 14 day free trial.  Users now can...</p>
		<a href="http://www.betabeat.com/2011/09/07/startup-news-from-series-awesome-to-series-still-truckin/" class="next" target="_blank">Full story</a>
	</article>
	<article>
		<h4><a href="http://technology.inc.com/2011/08/24/onepager-wants-to-design-your-website/">Onepager Wants to Design Your Website</a></h4>
		<em class="byline">August 24, 2011 - Inc. Tech</em>
		<p>Onepager.com, a website that is designed to help owners of small businesses <a href="/en/features/beautiful-design">design simple company websites</a> has launched. Business owners enter the name of their company, a tagline...</p>
		<a href="http://technology.inc.com/2011/08/24/onepager-wants-to-design-your-website/" class="next" target="_blank">Full story</a>
	</article>
	<article>
		<h4><a href="http://thenextweb.com/apps/2011/08/23/onepager-the-worlds-easiest-way-to-create-a-beautiful-website/">Onepager: The world's easiest way to create a beautiful website</a></h4>
		<em class="byline">August 23, 2011 - The Next Web</em>
		<p>You might be tech savvy, sitting at the coffee shop with your MacBook air, iPhone 4 in pocket and Kindle in your leather satchel. But can you throw up a beautiful, simple one-page website in 5 min...</p>
		<a href="http://thenextweb.com/apps/2011/08/23/onepager-the-worlds-easiest-way-to-create-a-beautiful-website/" class="next" target="_blank">Full story</a>
	</article>
	<article>
		<h4><a href="http://www.business2community.com/expert-interviews/entrepreneurial-success-6-questions-with-matthew-moore-052866">Entrepreneurial Success: 6 Questions with Matthew Moore</a></h4>
		<em class="byline">August 22, 2011 - Business2Community</em>
		<p>Matthew Moore is a product designer from California, now living in New York and the co-founder of Onepager.  Today, we are happy to have Matthew participate in our Q&amp;A series...</p>
		<a href="http://www.business2community.com/expert-interviews/entrepreneurial-success-6-questions-with-matthew-moore-052866" class="next" target="_blank">Full story</a>
	</article>
	<article>
		<h4><a href="http://www.businessinsider.com/onepager-website-builder-launches-2011-8">Even Your Mom Can Build A Website Now</a></h4>
		<em class="byline">August 3, 2011 - Business Insider</em>
		<p>Matt Shampine, cofounder of WeWork Labs and We Are NY Tech, just launched his latest startup, Onepager. Onepager has been working out of WeWork Labs and closed a few-hundred-thou...</p>
		<a href="http://www.businessinsider.com/onepager-website-builder-launches-2011-8" class="next" target="_blank">Full story</a>
	</article>
</section>

<section class="sidebar">
	<div class="sidebar_section">
		<h3>Onepager, Inc.</h3>
		<h4>Founded</h4>
		<p>April 2011</p>
	</div>
	<div class="sidebar_section">
		<h3>Logo</h3>
		<img src="/assets/application/logo-alternate.gif" alt="" />
		<p><a href="/press/OnepagerLogoAlternate.png">PNG</a> | <a href="/press/OnepagerLogoAlternate.eps">EPS</a></p>
	</div>
	<div class="sidebar_section">
		<h3>Press Inquiries</h3>
		<p><a href="mailto:press@onepagerapp.com">press@onepagerapp.com</a></p>
	</div>
	<div class="sidebar_section">
		<h3>Press Releases</h3>
		<article>
			<h4><a href="http://www.prweb.com/releases/simple-website-builder/easy-small-business-site/prweb10234607.htm" target="_blank">Onepager's New Strategy Makes Elegant Web Design Easy for Agencies and Freelancers</a></h4>
			<em class="byline">December 13, 2012</em>
			<a href="http://www.prweb.com/releases/simple-website-builder/easy-small-business-site/prweb10234607.htm" class="next" target="_blank">Full story</a>
		</article>
		<article>
			<h4><a href="http://pressreleases.triplepointpr.com/2011/10/13/onepager-raises-350k-in-seed-funding-to-expand-website-building-platform-for-small-businesses/" target="_blank">Onepager Raises $350K in Seed Funding to Expand Website Building Platform for Small Businesses</a></h4>
			<em class="byline">October 13, 2011</em>
			<a href="http://pressreleases.triplepointpr.com/2011/10/13/onepager-raises-350k-in-seed-funding-to-expand-website-building-platform-for-small-businesses/" class="next" target="_blank">Full story</a>
		</article>
		<article>
			<h4><a href="http://www.prnewswire.com/news-releases/onepager-launches-platform-to-help-small-businesses-get-online-128233193.html" target="_blank">Onepager Launches Platform to Help Small Businesses Get Online</a></h4>
			<em class="byline">August 23, 2011</em>
			<a href="http://www.prnewswire.com/news-releases/onepager-launches-platform-to-help-small-businesses-get-online-128233193.html" class="next" target="_blank">Full Story</a>
		</article>
	</div>
</section>
