<% content_for :body_class do %>affiliates<% end %>
<% content_for :title do %>Become a Onepager Affiliate<% end %>

<section class="affiliate_intro">
	<h2>Start Earning as a Onepager Affiliate</h2>
	<p>When you sign up as a Onepager Affiliate, you will earn 20% of all revenue generated through your affiliate link.</p>
	<p>Refer customers to Onepager using your affiliate link. Once a customer registers with your affiliate link, your earnings will be reflected on your affiliate dashboard. We will deposit your owed balance to your PayPal email. To start, sign up below. Feel free to email us at <a href="mailto:support@onepagerapp.com">support@onepagerapp.com</a> if you have any questions.</p>
</section>

<% if @affiliate.errors.full_messages.length > 0 %>
	<div class="errors"><%= @affiliate.errors.full_messages.join(", ") %></div>
<% end %>

<%= form_for [:account, @affiliate], :url => account_affiliate_path do |f| %>
	<fieldset class="grouped">
		<ul>
			<li>
				<%= f.label :first_name, 'Name' %>
				<%= f.text_field :first_name, :class => "user_input short_input", :placeholder => 'First' %>
				<%= f.text_field :last_name, :class => "user_input short_input", :placeholder => 'Last' %>
			</li>
			<li>
				<%= f.label :phone %>
				<%= f.text_field :phone, :class => "user_input" %>
			</li>
			<li>
				<%= f.label :paypal_email, 'PayPal Email' %>
				<%= f.text_field :paypal_email, :class => "user_input" %>
			</li>
			<li>
				<%= f.label :address %>
				<%= f.text_field :address, :class => "user_input" %>
			</li>
			<li>
				<%= f.label :city %>
				<%= f.text_field :city, :class => "user_input" %>
			</li>
			<li>
				<%= f.label :state, raw("&nbsp;") %>
				<%= f.text_field :state, :class => "user_input short_input", :placeholder => 'State' %>
				<%= f.text_field :postal_code, :class => "user_input short_input", :placeholder => 'Zip Code' %>
			</li>
			<li>
				<%= f.label :country, "Country" %>
				<%= f.text_field :country, :class => "user_input" %>
			</li>
		</ul>
		<div class="form_actions">
			<%= f.submit 'Submit', :class => "start" %>
		</div>
	</fieldset>
<% end %>