<% content_for :title do %>Your Affiliate Earnings<% end %>
	
<h2>
	<img src="/assets/dashboard/icon-header-affliates.png" alt="" />
	Affiliates
</h2>

<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
<% end %>

<section class="affiliate_details affiliate_details_left">
	<h4>Your Affiliate Link</h4>
	<dl>
		<dt>http://onepagerapp.com?af=<%= current_user.id %></dt>
		<dd><p>Copy and paste your affiliate link to share with others and earn 20%. Have more questions about your affiliate account? Send us an <a href="mailto:support@onepagerapp.com">email</a>.</p></dd>
	</dl>
</section>

<section class="affiliate_details">
	<h4>Your PayPal Email</h4>
	<dl>
		<dt><%= @affiliate.paypal_email %></dt>
		<dd><p>Onepager will deposit your owed balance when it reaches the minimum payout amount of $50.00. <a href="mailto:support@onepagerapp.com?subject=Change Affiliate PayPal Email">Contact us</a> to change your email.</p></dd>
	</dl>
</section>

<span class="stat">
	<strong><%= @affiliates.count %></strong>
	<%= @affiliates.count == 1 ? 'Sign-Up' : 'Sign-Ups' %>
</span>
<span class="stat money">
	<strong><%= number_to_currency @affiliate.total %></strong>
	Total Earned
</span>
	
<h4>Sign-Ups</h4>
<section class="affiliates_chart">
	<table>
		<tr>
			<th>E-Mail</th>
			<th>Sign-Up Date</th>
			<th>Plan Type</th>
			<th>Cancellation Date</th>
		</tr>
		<% @affiliates.each do |a| %>
			<tr>
				<td><%= a.email %></td>
				<td><%= a.created_at.strftime("%x") %></td>
				<td><%= a.payment_frequency %></td>
				<td><%= a.cancellation_date.strftime("%x") if !a.cancellation_date.blank? %></td>
			</tr>
		<% end %>
	</table>
</section>

<h4>Earnings</h4>
<section class="affiliates_chart">
	<table>
		<tr>
			<th>Month</th>
			<th>Affiliate</th>
			<th>Amount</th>
		</tr>
		<% @affiliate.transactions.where(:transaction_status => "Settled Successfully").each do |t| %>
			<tr>
				<td><%= t.created_at.strftime("%b %Y") %></td>
				<td><%= t.user.email %></td>
				<td><%= number_to_currency(t.amount * 0.2) %></td>
			</tr>
		<% end %>
	</table>
</section>

<h4>Payments</h4>
<section class="affiliates_chart">
	<table>
		<tr>
			<th>Month</th>
			<th>Amount</th>
		</tr>
		<% @affiliate.payouts.each do |t| %>
			<tr>
				<td><%= t.created_at.strftime("%b %Y") %></td>
				<td><%= number_to_currency t.amount %></td>
			</tr>
		<% end %>
	</table>
</section>