<% content_for :title do %>Frequently Asked Questions<% end %>
<% content_for :content_class do %>main_content faq_content<% end %>
<%= render :partial => 'header', :locals => { :section => 'onepager' } %>

<article class="main_introduction">
	<h2>Frequently Asked Questions</h2>
	<p>We like to keep things simple for our users, from website creation to getting the support they need. Here are some of the most commonly asked questions and our answers listed for your convenience:</p>
	<ul>
		<li><a href="#a1">What is Onepager?</a></li>
		<li><a href="#a2">How much is Onepager?</a></li>
		<li><a href="#a3">Why use Onepager?</a></li>
		<li><a href="#a4">Is Onepager for everyone?</a></li>
		<li><a href="#a5">Really, just one page?</a></li>
		<li><a href="#a6">Can I use a custom domain with Onepager?</a></li>
		<li><a href="#a7">How do I setup a domain I already own?</a></li>
		<li><a href="#a8">How do I cancel my account?</a></li>
		<li><a href="#a9">How do I become a Onepager Affiliate?</a></li>
	</ul>
</article>

<article class="main_article" id="a1">
	<h3>What is Onepager?</h3>
	<p>Onepager is the easiest way to create and manage a business website. You don't have to be a developer or a designer to make a great site. Onepager allows you to create a great site, but also gives you the power to maintain it as often as you'd like.</p>
</article>
<article class="main_article" id="a2">
	<h3>How much is Onepager?</h3>
	<p>If you only need 1 Onepager, we have two subscriptions plans: monthly and yearly. If you choose monthly, it's $10 a month. Go for yearly, and you'll receive a 20% discount, which works out to $96 a year or $8 a month. For a little more than what it costs to host a small website, you get to use all of the great features that Onepager provides. If you need multiple Onepagers, visit our <a href="/en/pricing">pricing page</a> for other options.</p>
</article>
<article class="main_article" id="a3">
	<h3>Why use Onepager?</h3>
	<p>If you've ever been frustrated that you couldn't create a website, or weren't able to edit one that someone else made for you, then Onepager may be right for you. Onepager strikes a balance between being too complicated and giving you the right amount of control for your site.</p>
</article>
<article class="main_article" id="a4">
	<h3>Is Onepager for everyone?</h3>
	<p>Onepager is for everyone, but we are proud to say that it's not made for every site. Some sites are just too complex and large to be a Onepager, which is totally fine with us. But, we believe many websites could be simplified to be a Onepager and that everyone's lives would be easier if they were.</p>
</article>
<article class="main_article" id="a5">
	<h3>Really, just one page?</h3>
	<p>Yes! User studies have proven that people are more likely to scroll down a single homepage than to click through to other pages within your site. When you have a simple site with a limited amount of content, we'd argue you should just put it all on one single page. People will be more likely to read, see, and listen to your content.</p>
	<p>Using a single page makes even more sense now that so many people use smart phones and tablets to browse websites. With one page, those users don't need to struggle to find and click on links. They also don't need to wait for their slower connection to load an additional page.</p>
	<p>One page keeps things simple, and that's something everyone can appreciate!</p>
</article>
<article class="main_article" id="a6">
	<h3>Can I use a custom domain with Onepager?</h3>
	<p>Definitely! We make it simple to use your own domain with Onepager, whether you already own it, or would like to buy it through us.</p>
</article>
<article class="main_article" id="a7">
	<h3>How do I setup a domain I already own with Onepager?</h3>
	<p>Your Onepager can use a custom domain like "www.mycustomdomain.com" that you've bought somewhere else. If you don't have experience redirecting URLs, it might be a good idea to get a friend, who does have experience, to take a look.</p>
	<p>Login to your domain registrar account. You'll need to follow the registrar's instructions to point the domain's A Record IP address to 66.228.41.175. Don't worry about the domain's nameservers. You only need to change the A Record. Make an A Record for both www.mycustomdomain.com and mycustomdomain.com. Every registrar is slightly different, but in the end your A Records should look similar to this:</p>
	<table>
		<tr>
			<th>Name/Domain</th>
			<th>Data/IP Address</th>
			<th>Record Type</th>
		</tr>
		<tr>
			<td>www.mycustomdomain.com</td>
			<td>66.228.41.175</td>
			<td>A Record</td>
		</tr>
		<tr>
			<td>mycustomdomain.com</td>
			<td>66.228.41.175</td>
			<td>A Record</td>
		</tr>
	</table>
	<p>If you've checked off that you're using a custom domain you already own in your Onepager Custom Domain settings, you're all set! The change with your domain registrar can take up to 72 hours, but usually it's much quicker. <a href="http://vimeo.com/40085071">Click here</a>, for Go Daddy specific instructions.</p>
	<p>Have a question you want to ask? <a href="/en/contact-us">Contact us</a>.</p>
</article>
<article class="main_article" id="a8">
	<h3>How do I cancel my account?</h3>
	<p>Please send us an email at <a href="mailto:support@onepagerapp.com">support@onepagerapp.com</a>, and we’ll help you close your account.</p>
</article>
<article class="main_article" id="a9">
	<h3>How do I become a Onepager Affiliate?</h3>
	<p>Onepager affiliates <strong>earn 20%</strong> of all revenue generated through their designated affiliate link. If you're interested in becoming an affiliate and you are a Onepager user, simply <a href="/signin">sign in</a> and click on the "Become an Affiliate" link. If you are new to Onepager, we recommend <%= link_to "giving us a try", Site.new, :method => :post %> first and then head over to our <a href="/en/company/partners">partner page</a> to sign up.</p>
</article>