<% content_for :title do %>Overview - Guides<% end %>
<% content_for :content_class do %>main_content<% end %>
<%= render :partial => 'header', :locals => { :section => 'guides' } %>

<article class="main_introduction">
	<h2>Guides</h2>
	<p>A collection of guides we've created to help you make the best website and web presence for your small business.</p>
</article>
<article class="main_article" id="seo">
	<img src="/assets/application/resources/search-engine-optimization-for-small-businesses.png" alt="" />
	<h3>Search Engine Optimization for Small Businesses</h3>
	<p>Get a bump in the number of visitors to your website by learning and implementing the search engine optimization techniques shown in our guide. It's not that hard and the rewards are worth it.</p>
	<a href="/en/guides/seo" class="next">Get Started with SEO</a>
</article>