<% content_for :title do %>How To Create and Edit Your Onepager<% end %>
<% content_for :content_class do %>main_content<% end %>
<%= render :partial => 'header' %>

<article class="main_introduction">
	<h2>How-To Videos</h2>
	<p>We built Onepager so that anyone can easily and effectively create a simple small business website. Our videos show how quickly you can learn to use Onepager if you need some extra help.</p>
	<ul>
		<li><a href="#adding-content">Adding &amp; Moving Content</a></li>
		<li><a href="#themes-and-styles">Change the Look of Your Site</a></li>
		<li><a href="#paypal">PayPal Buttons</a></li>
		<li><a href="#embedding-audio-video">Embedding Video &amp; Audio</a></li>
		<li><a href="#call-to-action-button">Call to Action Button</a></li>
		<li><a href="#custom-forms">Creating Custom Forms</a></li>
		<li><a href="#feeds">Adding a Blog or Twitter Feed</a></li>
		<li><a href="#newsletters">Sending Newsletters to Customers</a></li>
		<li><a href="#images">Adding Images and Galleries</a></li>
		<li><a href="#embed-iframes">Embedding an iFrame</a></li>
		<li><a href="#advanced-settings">Advanced Settings</a></li>
	</ul>
</article>
<article class="main_article" id="adding-content">
	<iframe src="http://player.vimeo.com/video/51638681?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="924" height="520" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	<h3>Adding &amp; Moving Content</h3>
	<p>It's easy to add and edit sections of content for your website and this video will demonstrate how.</p>
</article>
<article class="main_article" id="themes-and-styles">
	<iframe src="http://player.vimeo.com/video/51633572?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="924" height="520" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	<h3>Changing the Look of Your Onepager</h3>
	<p>Onepager offers many preset themes for our users to choose from.  You can also customize those themes to fit the needs of your business.</p>
</article>
<article class="main_article" id="paypal">
	<iframe src="http://player.vimeo.com/video/51711796?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="924" height="520" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	<h3>PayPal Buttons</h3>
	<p>PayPal buttons on your website are a great way to accept payments from your customers for invoices or other services you offer.</p>
</article>
<article class="main_article" id="embedding-audio-video">
	<iframe src="http://player.vimeo.com/video/51566961?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="924" height="520" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	<h3>Embedding Audio &amp; Video</h3>
	<p>With videos or music hosted on services like Vimeo, YouTube, SoundCloud, or last.fm, you can embed them into your Onepager site.</p>
</article>
<article class="main_article" id="call-to-action-button">
	<iframe src="http://player.vimeo.com/video/51634304?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="924" height="520" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	<h3>Call to Action Button</h3>
	<p>You can collect payments or link to your reservation service by adding a Button Link to your Onepager website.</p>
</article>
<article class="main_article" id="custom-forms">
	<iframe src="http://player.vimeo.com/video/51640054?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="924" height="520" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	<h3>Creating Custom Email Forms</h3>
	<p>Set up a custom form for your customers to submit their inquiries and other messages.</p>
</article>
<article class="main_article" id="feeds">
	<iframe src="http://player.vimeo.com/video/51632086?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="924" height="520" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	<h3>Adding a Blog or Twitter Feed</h3>
	<p>Embed external content from a Twitter feed or Blog RSS feed.</p>
</article>
<article class="main_article" id="newsletters">
	<iframe src="http://player.vimeo.com/video/51618397?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="924" height="739" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	<h3>Sending Newsletters to Customers</h3>
	<p>Learn how you can send a newsletter to all of your subscribers directly through Onepager.</p>
</article>
<article class="main_article" id="images">
	<iframe src="http://player.vimeo.com/video/51561213?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="924" height="520" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	<h3>Adding Images and Galleries</h3>
	<p>Learn how to use the Images module to add slideshows, galleries and images to your Onepager site.</p>
</article>
<article class="main_article" id="embed-iframes">
	<iframe src="http://player.vimeo.com/video/51711579?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="924" height="520" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	<h3>Embedding an iFrame</h3>
	<p>iFrames are a great way to embed a Google Calendar, a ZocDoc widget or a Wufoo form.</p>
</article>
<article class="main_article" id="advanced-settings">
	<iframe src="http://player.vimeo.com/video/51710616?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="924" height="520" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	<h3>Advanced Settings</h3>
	<p>Onepager has many specialty features such as Custom CSS, Custom Footer and Custom SEO Tags.</p>
</article>
