<% content_for :title do %>Showcase<% end %>
<% content_for :content_class do %>main_content<% end %>
<%= render :partial => 'header', :locals => { :section => 'onepager' } %>

<article class="main_introduction">
	<h2>Showcase</h2>
	<p>These Onepagers are members of our hall-of-fame. No trophies or busts are given, just a lil' bit of love.</p>
</article>

<section class="showcase">
	<ul>
		<li id="r1">
			<a href="http://submityourstory.dogfish.com" target="_blank"><img src="/assets/application/showcase/dogfish-head-grateful-dead.jpg" width="266" alt="Dogfish Head Craft Brewery" /></a>
			<h3><a href="http://submityourstory.dogfish.com" target="_blank">Dogfish Head Craft Brewery and Grateful Dead American Beauty</a></h3>
			<p>Milton, Delaware</p>
		</li>
		<li>
			<a href="http://onepagerapp.com/fanellicafe" target="_blank"><img src="/assets/application/showcase/fanelli-cafe.jpg" width="266" alt="Fanelli Cafe" /></a>
			<h3><a href="http://onepagerapp.com/fanellicafe" target="_blank">Fanelli Cafe</a></h3>
			<p>New York, NY</p>
		</li>
		<li>
			<a href="http://marcolombardimusic.com" target="_blank"><img src="/assets/application/showcase/marco-lombardi.jpg" width="266" alt="Marco Lombardi" /></a>
			<h3><a href="http://marcolombardimusic.com" target="_blank">Marco Lombardi - Musician: Pianist, Teacher, Composer</a></h3>
			<p>Melbourne, Australia</p>
		</li>
		<li id="r2">
			<a href="http://moriartisan.com" target="_blank"><img src="/assets/application/showcase/mori-artisan.jpg" width="266" alt="Mori Artisan" /></a>
			<h3><a href="http://moriartisan.com" target="_blank">Mori Artisan</a></h3>
			<p>Paris, France</p>
		</li>
		<li>
			<a href="http://onepagerapp.com/dmogilnikova" target="_blank"><img src="/assets/application/showcase/darya-mogilnikova.jpg" width="266" alt="Darya Mogilnikova" /></a>
			<h3><a href="http://onepagerapp.com/dmogilnikova" target="_blank">Darya Mogilnikova: PR Consultant</a></h3>
			<p>Saint Petersburg, Russia</p>
		</li>
		<li>
			<a href="http://onepagerapp.com/littlemusician" target="_blank"><img src="/assets/application/showcase/little-musician.jpg" width="266" alt="Little Musician Music Class" /></a>
			<h3><a href="http://onepagerapp.com/littlemusician" target="_blank">小小音樂家音樂教室 Little Musician Music Class</a></h3>
			<p>Taipei, Taiwan</p>
		</li>
		<li id="r3">
			<a href="http://allyeartax.com/" target="_blank"><img src="/assets/application/showcase/all-year-tax.jpg" width="266" alt="All Year Tax & Accounting Service" /></a>
			<h3><a href="http://allyeartax.com/" target="_blank">All Year Tax &amp; Accounting Service</a></h3>
			<p>Pomona, CA</p>
		</li>
		<li>
			<a href="http://saramckinlay.com/" target="_blank"><img src="/assets/application/showcase/sara-mckinlay.jpg" width="266" alt="Sara Mckinlay - Personal Chef" /></a>
			<h3><a href="http://saramckinlay.com/" target="_blank">Sara Mckinlay Personal Chef</a></h3>
			<p>St. Louis, MO</p>
		</li>
		<li>
			<a href="http://ksiegarnia.lt" target="_blank"><img src="/assets/application/showcase/polska-ksiegarnia-w-ejszyskach.jpg" width="266" alt="Polish Bookstore in Ejszyszkach, Lithuania" /></a></a>
			<h3><a href="http://ksiegarnia.lt" target="_blank">Polska Ksi&#281;garnia w Ejszyszkach (Polish Bookstore in Lithuania)</a></h3>
			<p>Eišiškės, Lithuania</p>
		</li>
		<li id="r4">
			<a href="http://baxtercountrystore.com" target="_blank"><img src="/assets/application/showcase/baxter-country-store.jpg" width="266" alt="Baxter Country Store and Restaurant" /></a>
			<h3><a href="http://baxtercountrystore.com" target="_blank">Baxter Country Store &amp; Restaurant</a></h3>
			<p>Lampe, Missouri</p>
		</li>
		<li>
			<a href="http://amberwavesevent.com" target="_blank"><img src="/assets/application/showcase/amberwaves.jpg" width="266" alt="Amber Waves Event" /></a>
			<h3><a href="http://amberwavesevent.com" target="_blank">Amber Waves, Victory Brewing &amp; Dogfish Head Craft Brewery</a></h3>
			<p>Washington, D.C.</p>
		</li>
		<li>
			<a href="http://onepagerapp.com/rose-and-thorne-design" target="_blank"><img src="/assets/application/showcase/rose-thorne.jpg" width="266" alt="Rose and Thorne" /></a>
			<h3><a href="http://onepagerapp.com/rose-and-thorne-design" target="_blank">Rose and Thorne Bra Fittings</a></h3>
			<p>Auckland, New Zealand</p>
		</li>
		<li id="r5">
			<a href="http://lmforeigncars.com" target="_blank"><img src="/assets/application/showcase/l-m-foreign-cars.jpg" width="266" alt="L&M Foreign Car Service" /></a>
			<h3><a href="http://lmforeigncars.com" target="_blank">L&amp;M Foreign Car Service</a></h3>
			<p>Brooklyn, NY</p>
		</li>
		<li>
			<a href="http://aaronsprinklemusic.com" target="_blank"><img src="/assets/application/showcase/aaron-sprinkle.jpg" width="266" alt="Aaron Sprinkle" /></a>
			<h3><a href="http://aaronsprinklemusic.com" target="_blank">Aaron Sprinkle: Producer, Songwriter, Engineer</a></h3>
			<p>New York, NY</p>
		</li>
		<li>
			<a href="http://queenofspadespdx.com" target="_blank"><img src="/assets/application/showcase/queen-of-spades.jpg" width="266" alt="Queen of Spades Gardens" /></a>
			<h3><a href="http://queenofspadespdx.com" target="_blank">Queen of Spades Gardens</a></h3>
			<p>Portland, OR</p>
		</li>
		<li id="r6">
			<a href="http://mooresenginesupply.com" target="_blank"><img src="/assets/application/showcase/moores-engine-supply.jpg" width="266" alt="Moore's Engine Supply" /></a>
			<h3><a href="http://mooresenginesupply.com" target="_blank">Moore's Engine Supply</a></h3>
			<p>Auburn, CA</p>
		</li>
		<li>
			<a href="http://onepagerapp.com/jetape" target="_blank"><img src="/assets/application/showcase/jet-ape.jpg" width="266" alt="Jet Ape Industries" /></a>
			<h3><a href="http://onepagerapp.com/jetape" target="_blank">Jet Ape Industries</a></h3>
			<p>Belmont, MA</p>
		</li>
		<li>
			<a href="http://landmarkdinernyc.com" target="_blank"><img src="/assets/application/showcase/landmark-diner-nyc-2.jpg" width="266" alt="Landmark Diner" /></a>
			<h3><a href="http://landmarkdinernyc.com" target="_blank">Landmark Diner</a></h3>
			<p>New York, NY</p>
		</li>
		<li id="r7">
			<a href="http://onepagerapp.com/honoluluchinatowncafe" target="_blank"><img src="/assets/application/showcase/honolulu-chinatown-cafe-2.jpg" width="266" alt="Honolulu Chinatown Cafe" /></a>
			<h3><a href="http://onepagerapp.com/honoluluchinatowncafe" target="_blank">Honolulu Chinatown Caf&eacute;</a></h3>
			<p>Honolulu, HI</p>
		</li>
		<li>
			<a href="http://onepagerapp.com/macgregormedia" target="_blank"><img src="/assets/application/showcase/macgregor-media.jpg" alt="MacGregor Media" width="266" /></a>
			<h3><a href="http://onepagerapp.com/macgregormedia" target="_blank">MacGregor Media</a></h3>
			<p>Auckland, New Zealand</p>
		</li>
		<li>
			<a href="http://onepagerapp.com/sunrisemart" target="_blank"><img src="/assets/application/showcase/sunrise-mart.jpg" width="266" alt="Sunrise Mart" /></a>
			<h3><a href="http://onepagerapp.com/sunrisemart" target="_blank">Sunrise Mart</a></h3>
			<p>New York, NY</p>
		</li>
		<li>
			<a href="http://rigging-design.com/" target="_blank"><img src="/assets/application/showcase/rigging-design.jpg" width="266" alt="Rigging Design" /></a>
			<h3><a href="http://rigging-design.com/" target="_blank">Rigging Design</a></h3>
			<p>Bocholt, Belgium</p>
		</li>
		<li>
			<a href="http://worldbeatdrumming.com/" target="_blank"><img src="/assets/application/showcase/world-beat-drumming.jpg" width="266" alt="Worldbeat Drumming" /></a>
			<h3><a href="http://worldbeatdrumming.com/" target="_blank">Worldbeat Drumming</a></h3>
			<p>Canada</p>
		</li>
		<li>
			<a href="http://onepagerapp.com/prosperitydumpling" target="_blank"><img src="/assets/application/showcase/prosperity-dumpling.jpg" width="266" alt="Prosperity Dumplings" /></a>
			<h3><a href="http://onepagerapp.com/prosperitydumpling" target="_blank">Prosperity Dumplings</a></h3>
			<p>New York, NY</p>
		</li>
	</ul>
</section>
