/** All HTML elements **/
* { margin: 0; padding: 0; outline: 0; }

a { color: #428ac8; text-decoration: none; }
	a:hover { color: #5ca1dc; text-decoration: none; }

/** Headers and paragraghs font styles **/
/*h1 { font-size: 88px; line-height: 1.1em; color: #fff; letter-spacing: -2px; margin-top: 30px; margin-bottom: 12px; }
h2 { font-weight: normal; font-size: 35px; color: #9b4213; line-height: 1.2em; letter-spacing: -1px; margin-bottom: 12px; }*/

/** General Page structure **/
html, body {
	width: 100%; height: 100%; min-height: 100%; min-width: 1020px;
}
html {
	background: #fff
}
body {
	font: normal 21px/1.5em "Open Sans", Arial, Helvetica, sans-serif; text-align: center;
	background: #fff url('/errors/images/background.png') left 95px repeat-x;
	min-height: 755px;
}
	header {
		text-align: left;
		width: 984px; margin: 0 auto; padding: 25px 0;
	}
		header a img {
			vertical-align: bottom;
			display: inline-block;
		}
	article {
		background: url('/errors/images/chef-and-dogs.png') center 105px no-repeat;
		-webkit-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.3); -moz-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.3); box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.3);
		padding-bottom: 100px;
	}
		h1 {
			color: #fff; font-size: 48px; line-height: 1.5em;
			padding: 40px 0 435px; margin-bottom: 70px;
		}
		h2 {
			font-size: 34px; line-height: 1.4em;
			margin-bottom: 0.7em;
		}
		p {
			margin-bottom: 1.5em;
		}
	
/** Error pages styles **/

	.more {
		color: #fff; font-weight: 600; text-transform: uppercase; font-size: 14px; line-height: 1em; vertical-align: middle; text-decoration: none;
		background-color: #f96d3c; background-image: url('/assets/application/button-more.png'); background-position: left top; background-repeat: repeat-x;
		padding: 12px 20px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
		display: inline-block; clear: both;
	}
		.more:hover {
			text-decoration: none; color: #fff;
			background-color: #ff7a4c; background-position: left -42px;
		}
		.more:active {
			background-color: #f96d3c; background-position: left top;
			-moz-box-shadow: inset 0 1px 8px rgba(0,0,0,0.35); -webkit-box-shadow: inset 0 1px 8px rgba(0,0,0,0.35); box-shadow: inset 0 1px 8px rgba(0,0,0,0.35);
			padding-top: 13px; padding-bottom: 11px;
		}