/** All HTML elements **/
* { margin: 0; padding: 0; outline: 0; }

a { color: #428ac8; text-decoration: none; }
	a:hover { color: #5ca1dc; text-decoration: none; }
	
html {
	text-align: center;
	background-color: #f5f5f5;
	width: 100%; height: 100%; min-height: 100%; min-width: 1020px;
}
body {
	font-family: "Open Sans", Arial, Helvetica, sans-serif; font-size: 18px;
	background-color: #f5f5f5;
	width: 100%; min-width: 1020px;
}
	h1 {
		font-size: 50px; font-weight: 600;
		margin-bottom: 25px; margin-top: 100px;
	}
	h2 {
		font-size: 21px; font-weight: 600;
		margin-bottom: 5px;
	}
	p {
		margin-bottom: 30px;
	}
	.start {
		color: #fff; font-weight: 600; text-transform: uppercase; font-size: 14px; line-height: 1em; vertical-align: middle;
		background-position: left top; background-repeat: repeat-x; background-color: #3187c7;
		padding: 12px 20px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
		display: inline-block; clear: both;
	}
		.start:hover {
			text-decoration: none; color: #fff;
			background-color: #3593d8; background-image: url('/assets/application/button-start.png?1');
		}
		.start:active {
			background-position: left top; background-color: #428ac8; background-image: none;
			-moz-box-shadow: inset 0 1px 8px rgba(0,0,0,0.3); -webkit-box-shadow: inset 0 1px 8px rgba(0,0,0,0.3); box-shadow: inset 0 1px 8px rgba(0,0,0,0.3);
			padding-top: 13px; padding-bottom: 11px;
		}