<header>
	<h2>
		<img src="/assets/dashboard/icon-header-billing.png" alt="" />
		Payment Method
	</h2>
	<a href="/account/billing/" class="start">Billing History</a>
</header>

<% if @user.errors.any? %>
	<div class="errors">
		<%=raw @user.errors.full_messages.join(", ") %>
	</div>
<% end %>

<% if !flash[:notice].blank? %>
	<div class="notice">
		<%=raw flash[:notice] %>
	</div>
<% end %>

<%= form_for @user, :url => "/account/billing" do |f| %>
	<h4>Billing Address</h4>
	<fieldset class="grouped">
		<ul>
			<li>
				<%= f.label :first_name, "Name" %>
				<%= f.text_field :first_name, :class => 'user_input short_input', :placeholder => 'First' %>
				<%= f.text_field :last_name, :class => 'user_input short_input', :placeholder => 'Last' %>
			</li>
			<li>
				<%= f.label :address %>
				<%= f.text_field :address, :class => 'user_input' %>
			</li>
			<li>
				<%= f.label :address2, raw('&nbsp;') %>
				<%= f.text_field :address2, :class => 'user_input' %>
			</li>
			<li>
				<%= f.label :city %>
				<%= f.text_field :city, :class => 'user_input' %>
			</li>
			<li>
				<%= f.label :state %>
				<%= f.text_field :state, :class => 'user_input' %>
			</li>
			<li>
				<%= f.label :zip, "Postal Code" %>
				<%= f.text_field :zip, :class => 'user_input short_input', :maxlength => 15 %>
			</li>
			<li>
				<%= f.label :country %>
				<%= f.text_field :country, :class => 'user_input' %>
			</li>
		</ul>
	</fieldset>
	
	<%= f.fields_for :payments do |p| %>
		<h4>Credit Card</h4>
		<fieldset class="grouped">
			<ul>
				<li>
					<%= p.label :credit_card_number %>
					<%= p.text_field :credit_card_number, :maxlength => 16, :class => 'user_input' %>
				</li>
				<li>
					<%= p.label :expiration_month, "Expiration Date" %>
					<%= p.select :expiration_month, Payment::EXP_MONTHS %>
					<span>/</span>
					<%= p.select :expiration_year, Payment::EXP_YEARS %>
				</li>
				<li>
					<%= p.label :security_code, "Security Code" %>
					<%= p.text_field :security_code, :maxlength => 4, :class => 'user_input short_input' %>
				</li>
			</ul>
		</fieldset>

		<%= p.hidden_field :accept_language, :value => request.env['HTTP_ACCEPT_LANGUAGE'] %>
	<% end %>
	
	<div class="form_actions">
		<%= hidden_field_tag :section, params[:section] %>
		<%= f.submit "Save", :class => 'start' %>
	</div>
<% end %>

<% content_for :title do %>Billing - Account Management<% end %>