<% content_for :title do %>Your Billing History<% end %>
<% content_for :body_class do %>billing_history<% end %>

<header>
	<h2>
		<img src="/assets/dashboard/icon-header-billing.png" alt="" />
		Billing History
	</h2>
	<a href="/account/billing/edit" class="start">Edit Payment Method</a>
</header>

<table>
	<thead>
		<tr>
			<th>Date</th>
			<th>Amount</th>
			<th>Transaction Status</th>
		</tr>
	</thead>
	<tbody>
		<% @transactions.each do |t| %>
			<tr>
				<td><a href="/account/billing/<%= t.id %>" target="_blank"><%= t.created_at.strftime("%e-%b-%Y") %></a></td>
				<td><%= number_to_currency t.amount %></td>
				<td><%= t.transaction_status %></td>
			</tr>
		<% end %>
	<tbody>
</table>

