<h1>Receipt</h1>
<p>Account billed: <%= @transaction.email %> <%= @transaction.last_four.downcase %></p>
<p>Transaction Status: <%= @transaction.transaction_status %></p>

<table>
	<tr>
		<th>Date</th>
		<th>Plan</th>
		<th>Price</th>
	</tr>
	<tr>
		<td><%= @transaction.created_at.strftime("%e-%b-%Y") %></td>
		<td><%= @transaction.user.payment_plan %> - <%= @transaction.user.payment_frequency %></td>
		<td>USD <%= number_to_currency @transaction.amount %></td>
	</tr>
</table>

<p>Onepager, Inc.<br />
2028 E Ben White Blvd #240-1788<br />
Austin, TX 78741</p>

<p>onepagerapp.com<br />
support@onepagerapp.com</p>