<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) + ' | ' if content_for?(:title) %></title>
	<link rel="icon" type="image/png" href="/favicon.blue.ico" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
	<!--[if lt IE 9]><script src="/javascripts/lib/shiv.modernizr.js" type="text/javascript"></script><![endif]-->
	
	<%= stylesheet_link_tag "whitelabel", :media => "all" %>
	<%= javascript_include_tag "dashboard" %>
	<%= yield :head_js %>
	
	<%= csrf_meta_tags %>
	
	<%= render :partial => "/shared/google_analytics" %>
</head>

<body<%= raw(' class="' + yield(:body_class) + '"' ) if content_for?(:body_class) %>>
	
	<section class="toolbar">
		<nav>
			<%= link_to current_user.white_label_title, account_sites_path, :class => 'logo' %>
			<div class="account_dropdown">
				<%= link_to 'Account', '/account/settings' %>
				<div class="dropdown">
					<%= link_to 'Profile', '/account/settings' if current_user.id != 8625 %>
					<%= link_to 'Sign Out', signin_path, :method => :delete %>
				</div>
			</div>
		</nav>
	</section>
	
	<section class="dashboard">
		<% if controller_name != 'sites' %>
			<nav>
				<%=raw dashboard_navigation(account_menu_items) %>
			</nav>
			<article>
				<%= yield %>
			</article>
		<% else %>
			<%= yield %>
		<% end %>
	</section>
		
	<%= yield :js_inject %>
</body>
</html>