<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) + ' | ' if content_for?(:title) %></title>
	<link rel="icon" type="image/png" href="/favicon.blue.ico" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
	<!--[if lt IE 9]><script src="/javascripts/lib/shiv.modernizr.js" type="text/javascript"></script><![endif]-->
	
	<%= stylesheet_link_tag "whitelabel", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= yield :head_js %>
	
	<%= csrf_meta_tags %>
	
	<%= render :partial => "/shared/google_analytics" %>
</head>
<body>
	<%= yield %>
	<%= yield :js_inject %>
</body>
</html>