<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) + ' | ' if content_for?(:title) %></title>
	<link rel="icon" type="image/png" href="/favicon.blue.ico" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
	<!--[if lt IE 9]><script src="/javascripts/lib/shiv.modernizr.js" type="text/javascript"></script><![endif]-->
	
	<%= stylesheet_link_tag "whitelabel", :media => "all" %>
	<%= javascript_include_tag "dashboard" %>
	<%= yield :head_js %>
	
	<%= csrf_meta_tags %>
	
	<%= render :partial => "/shared/google_analytics" %>
</head>

<body<%= raw(' class="' + yield(:body_class) + '"' ) if content_for?(:body_class) %>>
	
	<%= render 'shared/toolbar' if current_user %>
	
	<section class="dashboard_toolbar">
		<h1><%= @site.company_name %></h1>
		<nav>
			<a href="<%= edit_site_page_path(@site, @page) %>" class="edit_link">Edit Site</a>
			<a href="<%= @site.url_fullpath.gsub("onepagerapp.com", "easysiteadmin.com") %>" target="_blank" class="view_link">View Site</a>
		</nav>
	</section>
	
	<section class="dashboard">
		<nav>
			<%=raw dashboard_navigation(
				[
					{ :url => '/dashboard', :class => 'analytics_link', :name => 'Dashboard', :controller => 'analytics' },
					{ :url => '/dashboard/newsletter', :class => 'newsletter_link', :name => 'Newsletter', :controller => 'newsletters' },
					{ :url => '/dashboard/forms', :class => 'forms_link', :name => 'Form Submissions', :controller => 'forms' },
					{ :url => '/dashboard/setting', :class => 'settings_link', :name => 'Advanced', :controller => 'settings' }
				]
			) %>
		</nav>
		<article>
			<%= yield %>
		</article>
	</section>
	
	<%= yield :js_inject %>
</body>
</html>