<%= content_tag(:h3, container.title) if !container.title.blank? %>
<%= content_tag(:p, container.description) if !container.description.blank? %>

<%= form_tag contact_form_responses_path, :remote => true, :id => 'new_contact_form_responses', :class => 'onepager_form new_contact_form_responses'  do %>
	<% container.contact_form_fields.each_with_index do |c, i| %>
		<fieldset>
			<%= label_tag "contact_form_responses[][value]", c.field_name %>
			<% if c.field_type == "text" %>
				<%= text_field_tag "contact_form_responses[][value]", '', :class => 'onepager_input' %>
			<% elsif c.field_type == "textarea" %>
				<%= text_area_tag "contact_form_responses[][value]", '', :class => 'onepager_input' %>
			<% end %>
			<%= hidden_field_tag "contact_form_responses[][contact_form_field_id]", c.id %>
		</fieldset>
	<% end %>
	<fieldset class="onepager_comments">
		<%= label_tag "comment", "Comment" %>
		<%= text_field_tag "comment" %>
	</fieldset>
	<div class="onepager_form_actions">
		<%= submit_tag I18n.t(:submit, :default => "Submit"), :class => 'onepager_submit' %>
	</div>
<% end %>