<section class="contact_form_fields" id="contact_form_fields_<%= container.id || 'new' %>" data-model-class="<%= container.class %>">
	<% if params[:action] != 'new' %>
		<div class="editable">
			<span class="form_edit">Click to Edit</span>
			<%= render "content_types/contact_form_fields/content", :container => container %>
		</div>
		<div class="addable">
			<a href="#" class="form_add">+ Add Content</a>
		</div>
	<% end %>
	
	<%= form_for [:content_types, container], :url => (container.new_record? ? content_types_contact_form_fields_path : content_types_contact_form_field_path(container)), :namespace => container.object_id, :remote => true do |f| %>
		<fieldset style="display: none;">
			<div class="form_header">
				<h6>Form</h6>
				<a href="#" class="form_info" data-content-type="contact_form_fields">Info</a>
			</div>
			<ul>
				<li>
					<%= f.label :title %>
					<%= f.text_field :title, :class => 'user_input', :size => '' %>
				</li>
				<li>
					<%= f.label :description %>
					<%= f.text_area :description, :class => 'user_input', :size => '' %>
				</li>
			</ul>
			<div class="content_list">
				<h6>Form Fields</h6>
				<ul>
					<%= f.fields_for :contact_form_fields do |c| %>
						<li>
							<%= c.label :field_name %>
							<%= c.text_field :field_name, :size => '' %>
							<%= c.label :field_type %>
							<%= c.select :field_type, ContactFormField::FIELD_TYPES %>
							<div class="checkbox">
								<%= c.check_box :required %><%= c.label :required %>
							</div>
							<%= c.hidden_field :_destroy %>
							<%= c.hidden_field :id %>
							<a href="#" class="remove_item">Delete</a> <%# show this delete button only if there is more than 1 %>
						</li>
					<% end %>
				</ul>
				<a href="#" class="add_item">Add Field</a>
			</div>
			<ul>
				<li>
					<%# Email for contact form is stored in container.format %>
					<%= f.label :format, "Email Form Submissions To" %>
					<%= f.text_field :format, :class => 'user_input', :size => '', :placeholder => 'e.g. hi@onepagerapp.com' %>
				</li>
			</ul>
			<div class="form_actions">
				<%= link_to "Delete?", content_types_contact_form_field_path(container), :class => 'form_remove', :method => :delete, :remote => true, :data => { :confirm => 'Delete?' } if params[:action] != 'new' %>
				<a href="#" class="form_close">Cancel</a>
				<%= f.hidden_field :page_id, :value => page_id %>
				<%= f.hidden_field :position, :value => position if defined? position %>
				<%= f.submit "Done", :class => 'user_submit' %>
			</div>
		</fieldset>
	<% end %>
</section>