<!DOCTYPE html>
<html>
<head>
	<title><%= notice %></title>
	<%= stylesheet_link_tag "subscribers", :media => "all" %>
</head>
<body>
	<div class="header"><%= @site.company_name %></div>
	<div class="article">
		<h1><%= notice %></h1>
		<% if @site.user.white_label_active %>
			<p>Back to <a href="<%= @site.url_fullpath.gsub("onepagerapp.com", "easysiteadmin.com") %>"><%= @site.company_name %></a></p>
		<% else %>
			<p>Back to <a href="<%= @site.url_fullpath %>"><%= @site.company_name %></a></p>
		<% end %>
	</div>
</body>
</html>