<% content_for :title do %>Domain - Account Management<% end %>

<h2>
	<img src="/assets/dashboard/icon-header-domains.png" alt="" />
	Domain Management
</h2>

<% if @site.errors.any? || @payment.errors.any? %>
	<div class="notice">
		<%=raw @site.errors.full_messages.join(", ") %>
		<%=raw @payment.errors.full_messages.join(", ") if @payment %>
	</div>
<% end %>

<% if !flash[:notice].blank? %>
	<div class="notice">
		<%=raw flash[:notice] %>
	</div>
<% end %>

<%= form_for [:dashboard, @site], :url => @form_url do |f| %>

	<fieldset>
		<h4>Your Onepager Address</h4>
		<div class="domain_input">
			<span>http://onepagerapp.com/</span>
			<%= f.text_field :onepager_address, :class => "user_input" %>
		</div>
	</fieldset>

	<% if @user.payment_frequency != "Trial" %>
			
		<h4>Custom Domain Options</h4>
		<fieldset class="check_domains">
			<div class="domain_tabs">
				<span class="selected">
					<%= f.radio_button :domain_type, "new_custom_domain" %>
					<%= f.label :domain_type_new_custom_domain, "New Custom Domain" %>
				</span>
				<span>
					<%= f.radio_button :domain_type, "existing_custom_domain" %>
					<%= f.label :domain_type_existing_custom_domain, "Existing Custom Domain" %>
				</span>
				<span>
					<%= f.radio_button :domain_type, "no_custom_domain" %>
					<%= f.label :domain_type_no_custom_domain, "No Custom Domain" %>
				</span>
			</div>
			<section class="new_custom_domain">
				<% if @site.domain_type_was != 'new_custom_domain' and @site.purchased_domain_was.blank? %>
          <% if current_user.free_domain_qualified? %>
            <p>Choose a free domain for the first year.<br />Your domain will be automatically renewed at $15/year.<br />We register domains ending in .com, .net, .org, .info, .biz, and more.</p>
          <% else %>
            <p>Register a new domain with us for $15/year.<br />We register domains ending in .com, .net, .org, .info, .biz, and more.</p>
          <% end %>
					<div class="domain_input">
						<span>http://www.</span>
						<%= f.text_field :purchased_domain, :class => "user_input" %>
					</div>
				<% else %>
					<p>The domain you've purchased is <%= @site.purchased_domain %>.<br />Please <a href="mailto:support@onepagerapp.com" title="Submit a question to support@onepagerapp.com">contact us</a> if you'd like to purchase another domain.</p>
					<div class="domain_input">http://www.<%= @site.purchased_domain %></div>
				<% end %>
			</section>
			<section class="existing_custom_domain">
				<p>Point a domain you already own to your Onepager. <a href="/en/resources/faq#a7" target="_blank">Learn More</a></p>
				<div class="domain_input">
					<span>http://www.</span>
					<%= f.text_field :domain_name, :class => "user_input" %>
				</div>
			</section>
			<section class="no_custom_domain">
				<p>No problem, you can access your site by using your Onepager address.</p>
				<a href="http://onepagerapp.com/<%= @site.onepager_address %>" target="_blank">http://onepagerapp.com/<%= @site.onepager_address %></a>
			</section>
		
			<% if @site.domain_type_was != 'new_custom_domain' and @site.purchased_domain_was.blank? and !current_user.free_domain_qualified? %>
		
				<section class="payment_details" style="display: none;">
					<h5>Current Charges</h5>
					<div class="billing">
						<table>
							<tr class="register_domain">
								<td>New Domain Registration</td>
								<td class="price">$15</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="totals">Total &nbsp; <span>$15</span></td>
							</tr>
						</table>
					</div>
				
					<%= fields_for :payment do |p| %>
		
						<h5>Credit Card</h5>
						<ul>
							<li>
								<%= p.label :credit_card_number, "Credit Card Number" %>
								<%= p.text_field :credit_card_number, :maxlength => 16, :class => 'user_input' %>
							</li>
							<li>
								<%= p.label :expiration_month, "Expiration Date" %>
								<%= p.select :expiration_month, Payment::EXP_MONTHS %>
								<span>/</span>
								<%= p.select :expiration_year, Payment::EXP_YEARS %>
							</li>
							<li>
								<%= p.label :security_code, "Security Code" %>
								<%= p.text_field :security_code, :maxlength => 4, :class => 'user_input short_input' %>
							</li>
						</ul>
						
					<% end %>
				
				</section>
					
			<% end %>
			
		</fieldset>
			
	<% end %>

	<div class="form_actions">
		<%= f.submit "Save", :class => 'start' %>
		<%= link_to "Get A Custom Domain", account_upgrade_path if @user.payment_frequency == "Trial" %>
	</div>
	
<% end %>

<% content_for :js_inject do %>
<script type="text/javascript">
	Onepager.Site.edit('domains');
</script>
<% end %>