<% content_for :body_class do %>newsletters<% end %>
<% content_for :section_header do %>Send Updates to Your Customers<% end %>
<% content_for :title do %>Newsletter Confirmation<% end %>

<h2>
	<img src="/assets/dashboard/icon-header-newsletter.png" />
	Review Newsletter
</h2>

<div class="notice">
	You are about to send an email to the <%= pluralize(@subscribers.length, 'subscriber') %> who have signed up to receive your newsletter. Review the email below and click "Send Newsletter" when you are ready to send it out.
</div>

<section class="newsletter_content">
	<h1><%= @newsletter.subject %></h1>
	<%= sanitize(@newsletter.message, :tags => %w(p strong b em i br a)) %>
</section>

<%= form_for [:dashboard, @newsletter], :url => { :action => "create" } do |f| %>
	<%= f.hidden_field :from %>
	<%= f.hidden_field :subject %>
	<%= f.hidden_field :message %>
	
	<div class="form_actions">
		<%= f.submit 'Send Newsletter', :class => 'start' %>
		<a href="/dashboard/newsletter">Cancel</a>
	</div>
	
<% end %>