<% content_for :body_class do %>newsletters<% end %>
<% content_for :title do %>Send a Newsletter<% end %>
<% content_for :head_js do %>
<script src="/javascripts/ckeditor/ckeditor.js" type="text/javascript"></script>
<% end %>

<% if @page.containers.where(:child_object => "newsletters").count == 0 %>
	
	<section class="newsletters_intro">
		<h2>Start sending email newsletters to your site visitors</h2>
		<p>To start, add the newsletter module to your site. Then, come back to see how many subscribers you have and send them a newsletter.</p>
		<a href="<%= edit_site_page_path(@site, @page) %>" class="start">Edit Your Site</a>
	</section>
	
<% else %>

	<h2>
		<img src="/assets/dashboard/icon-header-newsletter.png" />
		Create a Newsletter
	</h2>

	<% if !@newsletter.errors.blank? %>
		<div class="errors">
			<%= @newsletter.errors.full_messages.join(", ") %>
		</div>
	<% end %>

	<% if !flash[:notice].blank? %>
		<div class="notice">
			<%= flash[:notice] %>
		</div>
	<% end %>

	<%= form_for [:dashboard, @newsletter], :url => { :action => "confirm" } do |f| %>
		<fieldset>
				<ul>
					<li>
						<%= f.label :from %>
						<%= f.text_field :from, :value => current_user.email, :class => 'user_input long_input' %>
					</li>
					<li>
						<%= f.label :subject %>
						<%= f.text_field :subject, :class => 'user_input long_input', :placeholder => 'Enter a subject for your newsletter' %>
					</li>
					<li>
						<%= f.text_area :message, :class => 'user_input', :size => '', :placeholder => 'Enter your newsletter message' %>
					</li>
				</ul>
		</fieldset>
		<div class="form_actions">
			<%= f.submit 'Next', :class => 'start' %>
		</div>
	<% end %>
	
	<aside>
		<% if @subscribers.blank? %>
			<h4>You have 0 subscribers</h4>
		<% else %>
			<h4>You have <%= pluralize(@subscribers.length, 'subscriber') %></h4>
			<ul>
				<% @subscribers.each do |s| %>
					<li><%= s.email %></li>
				<% end %>
				<li><a href="/dashboard/subscribers.csv" target="_blank">Export as .csv</a></li>
			</ul>
		<% end %>
	</aside>

<% end %>

<% content_for :js_inject do %>
<script type="text/javascript">
	Onepager.Newsletters.show();
</script>
<% end %>