<section class="iframes" id="iframe_<%= content.id || 'new' %>" data-model-class="<%= content.class %>">
	<% if params[:action] != 'new' %>
		<div class="editable">
			<span class="form_edit">Click to Edit</span>
			<%= render "content_types/iframes/content", :content => content %>
		</div>
		<div class="addable">
			<a href="#" class="form_add">+ Add Content</a>
		</div>
	<% end %>
	<%= form_for [:content_types, content], :namespace => content.object_id, :remote => true do |f| %>
		<fieldset style="display: none;">
			<div class="form_header">
				<h6>iframe</h6>
				<a href="#" class="form_info" data-content-type="iframes">Info</a>
			</div>
			<ul>
				<li>
					<%= f.label :embed_code, raw('iframe Code <small>insert full iframe code to embed the your content</small>') %>
					<%= f.text_area :embed_code, :class => 'user_input', :size => '', :placeholder => 'e.g. <iframe src=...' %>
				</li>
			</ul>
			<div class="form_actions">
				<%= link_to "Delete?", [:content_types, content], :class => 'form_remove', :method => :delete, :remote => true, :data => { :confirm => 'Delete?' } if params[:action] != 'new' %>
				<a href="#" class="form_close">Cancel</a>
				<%= f.hidden_field :page_id, :value => page_id %>
				<%= f.hidden_field :position, :value => position if defined? position %>
				<%= f.submit "Done", :class => 'user_submit' %>
			</div>
		</fieldset>
	<% end %>
</section>
