/*
 *= require admin/structure
 *= require pages/content
 *= require pages/jsui
 *= require_self
 */

.users_table {
	overflow: hidden;
}
	.users_table th {
		color: #404545; font-size: 16px;
		padding: 0 10px 10px;
	}
	.users_table td {
		word-wrap: break-word;
		padding: 10px; max-width: 175px;
	}
		.users_table td span {
			display: block;
		}
	.users_table tr.odd td {
		background-color: #efefef;
	}
	
	.delete_user {
		text-indent: -10000px;
		background: url('/assets/pages/icon-delete.gif') left top no-repeat;
		width: 20px; height: 20px;
		display: inline-block; overflow: hidden;
	}
		.delete_user:hover {
			background-position: left -20px;
		}

	.pagination {
		margin-top: 20px;
	}
		.pagination a, .disabled {
			vertical-align: middle; text-decoration: none;
			display: inline-block;
			padding: 5px;
		}
			.pagination a:hover {
				color: #D55F21;
			}
		.pagination em.current {
			color: #fff; font-style: normal;
			background-color: #D55F21;
			padding: 5px;
		}
		
.user {
	overflow: hidden;
}
	.user h2 {
		font-size: 24px;
		margin-bottom: 1em;
	}
	.detail {
		width: 308px; margin-bottom: 20px; border: 1px solid #dbdbdb; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
		float: left;
	}
		.detail h3 {
			font-weight: bold; font-size: 18px;
			background: #f0f0f0 url('/assets/pages/background-header.png') left top repeat-x;
			padding: 10px 15px; margin-bottom: 15px; border-bottom: 1px solid #dbdbdb; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0;
		}
		.detail dl {
			padding: 0 15px; margin-bottom: 15px;
		}
			.detail dt {
				font-weight: bold;
			}
		.detail form {
			padding: 0 15px; margin-bottom: 15px;
		}
			.detail label {
				font-size: 12px; text-transform: uppercase;
				margin-bottom: 0.5em;
				display: block;
			}
			
	.actions {
		width: 646px; margin-bottom: 20px; border: 1px solid #dbdbdb; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
		float: right; position: relative;
	}
		.actions h3 {
			font-weight: bold; font-size: 18px;
			background: #f0f0f0 url('/assets/pages/background-header.png') left top repeat-x;
			padding: 10px 15px; margin-bottom: 0; border-bottom: 1px solid #dbdbdb; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0;
		}
		.actions form {
			background-color: #f9f9f9;
			margin: 0 15px 15px; padding: 15px; border: 1px solid #f0f0f0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
		}
			.actions label {
				font-size: 12px; text-transform: uppercase;
				margin-bottom: 0.5em;
				display: block;
			}
			.actions form em {
				font-size: 11px; vertical-align: middle; color: #999;
				margin-left: 10px;
				display: inline-block;
			}
			
		.actions .buttons {
			padding: 15px; margin-bottom: 0;
		}
			.actions .buttons a {
				color: #fff; font-size: 12px; vertical-align: middle;
				background-color: #999;
				margin-right: 8px; padding: 6px 15px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
				display: inline-block;
			}
			.actions .buttons a:hover {
				color: #fff;
				background-color: #909090; background-image: url('/assets/application/button-general.png?1');
			}
			.actions .buttons a:active {
				background-color: #909090; background-image: none;
				-moz-box-shadow: inset 0 1px 8px rgba(0,0,0,0.35); -webkit-box-shadow: inset 0 1px 8px rgba(0,0,0,0.35); box-shadow: inset 0 1px 8px rgba(0,0,0,0.35);
				padding-top: 7px; padding-bottom: 5px;
			}
			
	.user table {
		margin-top: 20px; border: 1px solid #dbdbdb; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
		clear: both;
	}
		.user th, .user td {
			padding: 10px;
		}
		.user th {
			background: #f0f0f0 url('/assets/pages/background-header.png') left top repeat-x;
		}
		.user td {
			border-top: 1px solid #e0e0e0;
		}
		.user tr.even td {
			background-color: #efefef;
		}
		
		.user fieldset input[type="text"] {
			max-width: 105px; width: auto; margin-right: 5px;
		}
		.user fieldset input.start {
			color: #fff; font-size: 13px; vertical-align: middle; cursor: pointer;
			background-color: #999;
			border: 0; padding: 7px 15px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
			display: inline-block; clear: both;
		}
			.user fieldset input.start:hover {
				text-decoration: none; color: #fff;
				background-color: #909090; background-image: url('/assets/application/button-general.png?1');
			}
			.user fieldset input.start:active {
				background-color: #909090; background-image: none;
				-moz-box-shadow: inset 0 1px 8px rgba(0,0,0,0.35); -webkit-box-shadow: inset 0 1px 8px rgba(0,0,0,0.35); box-shadow: inset 0 1px 8px rgba(0,0,0,0.35);
				padding-top: 8px; padding-bottom: 6px;
			}
		
.theme_list {
	padding: 10px; width: 1004px;
}
	.theme_list ol {
		list-style: none;
		padding-left: 0; margin-bottom: 0;
		overflow: hidden;
	}
	.theme_list li {
		width: 230px; height: 212px; margin: 8px;
		float: left; overflow: hidden; position: relative;
	}
		.theme_list h2 {
			color: #fff; font-size: 16px;
			width: 230px; left: 0; bottom: 0;
			position: absolute;
		}
			.theme_list h2 a {
				text-decoration: none;
				background-color: rgba(213,95,33,0.8);
				padding: 5px;
				display: block;
			}
			.theme_list h2 a:hover {
				background-color: rgba(213,95,33,1);
			}
			
		.theme_list li img {
			cursor: move;
		}
		
		.theme_actions {
			font-size: 11px; line-height: 1em; text-transform: uppercase;
			background-color: rgba(255,255,255,0.9); box-shadow: 0 0 10px 0 rgba(0,0,0,0.2); -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2); -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
			right: 5px; top: 5px; padding: 5px 8px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
			position: absolute; display: none;
		}
			.theme_actions a {
				text-decoration: none; color: #d55f21; vertical-align: top;
				margin-left: 6px;
				display: inline-block;
			}
				.theme_actions a:first-child {
					margin-left: 0;
				}
				.theme_actions a:first-child:after {
					content: ' | '; vertical-align: top; color: #e4a888;
					padding-left: 8px;
					display: inline-block;
				}
			.theme_actions a:hover {
				color: #853810;
			}
			.theme_list li:hover .theme_actions {
				display: block;
			}

.theme_selector {
	font-size: 12px; color: #191919;
	background-color: #f0f0f0; box-shadow: 0 0 10px 0 rgba(0,0,0,0.2); -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2); -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
	width: 300px; max-height: 85%; left: 35px; top: 55px; padding: 15px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	position: fixed; overflow: auto; z-index: 1;
}
	.notice {
		background-color: #fcfbbf;
		border: 1px solid #ad9a95; margin-bottom: 20px; padding: 10px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	}
	
	.theme_selector fieldset.general {
		margin-top: 15px;
	}
	
	.theme_selector ul {
		list-style: none;
		padding: 0;
	}
		.theme_selector li {
			margin-bottom: 10px; border-bottom: 1px dotted #bdbdbd; padding-bottom: 10px;
		}
			.theme_selector li img {
				margin-top: 6px; margin-bottom: 6px; max-width: 100px; max-height: 100px;
				display: block;
			}
			
			.theme_selector label {
				font-weight: normal; text-transform: uppercase; line-height: 1em;
				margin-bottom: 3px;
				display: block;
			}
				div.checkbox {
					margin-top: 6px;
				}
				.theme_selector .checkbox label {
					text-transform: none;
					display: inline-block;
				}
			.theme_selector select {
				margin-top: 5px;
			}
			input.user_input {
				font-size: 12px;
				background-color: #fff;
				min-width: 197px; width: 197px; border: 1px solid #acacac; padding: 3px 5px;
			}
				input.short_input {
					min-width: 60px; width: 60px; margin-right: 5px;
				}
	
			.user_submit {
				cursor: pointer; color: #fff; font-weight: 600; font-size: 12px; font-family: "Open Sans", arial, helvetica, sans-serif;
				background: url('/assets/pages/button-done.png') left top repeat-x; box-shadow: inset 0 1px 0 rgba(255,255,255,0.35); -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.35); -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.35);
				padding: 4px 10px; margin-right: 10px; border: 1px solid #b44c20; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
				display: inline-block;
			}
				.user_submit:hover {
					background-position: left -30px;
				}
				.user_submit:active {
					background-position: left -60px; border-color: #8b3a18; box-shadow: inset 0 1px 7px rgba(0,0,0,0.35); -moz-box-shadow: inset 0 1px 7px rgba(0,0,0,0.35); -webkit-box-shadow: inset 0 1px 7px rgba(0,0,0,0.35);
					padding-top: 5px; padding-bottom: 3px;
				}
				
.theme_editor {
	width: 450px; padding: 25px 30px;
}

#colorpicker {
	margin-left: 20px;
}

.ui-datepicker {
	font-size: 12px;
	background: #fff; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	padding: 5px; border: 1px solid #bdbdbd; margin-top: -1px;
	display: none;
}
	.ui-datepicker th {
		padding: 8px;
	}
	.ui-datepicker td {
		text-align: center;
	}
		.ui-datepicker td a {
			text-decoration: none;
			padding: 5px;
			display: block;
		}
			.ui-datepicker td a:hover {
				color: #fff;
				background: #404545;
			}
		.ui-state-highlight {
			color: #000;
			background: #f0f0f0;
		}
		.ui-datepicker-unselectable {
			color: #999;
		}
	.ui-datepicker-header {
		text-align: center;
		background: #f0f0f0;
		padding: 10px;
		position: relative;
	}
		.ui-datepicker-prev, .ui-datepicker-next {
			text-align: left; text-indent: -10000px; cursor: pointer;
			opacity: 0.75; background-image: url('/assets/pages/arrows-gallery-pagination.gif'); background-repeat: no-repeat;
			top: 8px; width: 20px; height: 19px;
			position: absolute;
		}
		.ui-datepicker-prev {
			background-position: left -3px;
			left: 5px;
		}
		.ui-datepicker-next {
			background-position: right -3px;
			right: 5px;
		}
			.ui-datepicker-prev:hover, .ui-datepicker-next:hover {
				opacity: 1;
			}
			.ui-datepicker-prev span, .ui-datepicker-next span {
				cursor: pointer;
			}
