/*
 *= require dashboard/structure
 *= require application/common
 *= require shared/toolbar
 *= require shared/ckeditor
 *= require_self
 */


/*
-------
COMMON
------
*/
fieldset {
	text-align: left;
	margin: 0 0 30px;
	position: relative;
}
fieldset.grouped {
	padding: 20px; max-width: 520px; border: 1px solid #d7d9d9; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}
	fieldset h2 {
		margin-bottom: 20px;
	}
	fieldset h4 {
		padding: 0; margin-bottom: 1em;
	}
	fieldset p {
		font-size: 12px; line-height: 1.4em;
	}
	fieldset ul {
		list-style: none;
		background: transparent;
		padding: 0; margin: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;
	}
		.dashboard_upgrade ul {
			list-style: disc;
			padding-left: 60px;
		}
		.dashboard_upgrade li {
			margin-bottom: 5px;
		}
	fieldset li {
		margin-bottom: 10px;
	}
		fieldset.grouped li:last-child {
			margin-bottom: 0;
		}
	fieldset label {
		color: #666; font-weight: 600; font-size: 12px; text-transform: uppercase;
		display: block;
	}
		fieldset.grouped label {
			width: 150px;
			display: inline-block;
		}
		.checkboxes label {
			text-transform: none; font-size: 14px; font-weight: normal; vertical-align: middle;
			width: auto; margin-left: 5px;
			display: inline-block;
		}
/*		.check_domains li label {
			width: auto;
		}*/
	.user_input {
		background-color: #f1f1f1;
		border-color: #f1f1f1; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
		min-width: 335px;
	}
		.user_input:focus {
			color: #000;
		}
	fieldset.grouped .long_input {
		max-width: 495px; width: 495px;
	}
		
	.short_input {
		min-width: 152px; width: 152px; margin-right: 3px;
	}
	.grouped .form_actions {
		padding-top: 25px; margin-left: 157px;
	}
		.form_actions .start {
			margin-right: 15px;
		}
		.form_actions a {
			font-size: 14px; color: #666;
		}
			.form_actions a:hover {
				color: #000;
			}

.dashboard .delete_link {
	color: #777; font-size: 12px; line-height: 1.2em; vertical-align: middle;
	background-color: #eee;
	padding: 6px 10px; margin-left: 4px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
	display: inline-block; clear: both;
}
.dashboard .delete_link:hover {
	background-image: none; background-color: #e8e8e8;
}
.dashboard .delete_link:active {
	background-image: none; -moz-box-shadow: inset 0 1px 8px rgba(0,0,0,0.3); -webkit-box-shadow: inset 0 1px 8px rgba(0,0,0,0.3); box-shadow: inset 0 1px 8px rgba(0,0,0,0.3);
	padding-top: 7px; padding-bottom: 5px;
}
	.dashboard .delete_link:before {
		content: '\0000a0'; vertical-align: middle;
		background-image: url('/assets/dashboard/icon-delete.gif'); background-color: transparent; background-position: left top; background-repeat: no-repeat;
		width: 15px; height: 15px; margin-right: 4px;
		display: inline-block;
	}
.sites .pagination { padding-top: 25px; padding-right: 25px; }
.users .pagination { padding-bottom: 25px; }

/*
-----------------
TRIAL TEASER
----------------
*/
.upgrade_intro {
	text-align: center;
	background: url('/assets/dashboard/background-trial.png') center top no-repeat;
	padding-top: 235px; margin-bottom: 25px; margin-top: 25px;
}
	.upgrade_intro h2 {
		color: #EA5C2A; font-weight: 600; font-size: 21px; text-transform: uppercase; letter-spacing: 0;
	}
	.upgrade_intro ul {
		list-style: none; font-size: 18px;
		margin: 0 auto 50px; width: 730px;
		-moz-column-count: 2; -webkit-column-count: 2; -ms-column-count: 2; -o-column-count: 2; column-count: 2;
		-moz-column-gap: 30px; -webkit-column-gap: 30px; -ms-column-gap: 30px; -o-column-gap: 30px;
	}
		.upgrade_intro li {
			text-align: left;
			padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #d7d9d9;
		}
		.upgrade_intro li:first-child {
			border-top: 0;
		}
		
		.upgrade_intro li:before {
			content: '\0000a0'; vertical-align: middle;
			background-position: left center; background-repeat: no-repeat;
			margin-right: 10px; width: 23px; height: 23px;
			display: inline-block;
		}
			.icon_bandwidth:before {
				background-image: url('/assets/application/signup/icon-bandwidth.png');
			}
			.icon_hosting:before {
				background-image: url('/assets/application/signup/icon-hosting.png');
			}
			.icon_url:before {
				background-image: url('/assets/application/signup/icon-custom-url.png');
			}
			.icon_analytics:before {
				background-image: url('/assets/application/signup/icon-analytics.png');
			}
			.icon_newsletter:before {
				background-image: url('/assets/application/signup/icon-newsletter.png');
			}
			.icon_ecommerce:before {
				background-image: url('/assets/application/signup/icon-billing.png');
			}
			.icon_support:before {
				background-image: url('/assets/application/signup/icon-support.png?1');
			}
			.icon_users:before {
				background-image: url('/assets/application/signup/icon-users.png');
			}
			.icon_white_label:before {
				background-image: url('/assets/application/signup/icon-white-label.png');
			}


/*
---------------
SITES LISTING
--------------
*/
.sites .dashboard {
	background-color: #fff;
	padding-bottom: 85px;
}
	.sites header {
		margin-left: 25px; margin-right: 25px; padding-top: 25px;
	}
		.sites .dashboard_search {
			top: 25px;
		}
	.sites ul {
		list-style: none;
		margin-bottom: 0; border-top: 1px solid #d7d9d9;
	}
		.sites li {
			font-size: 14px; line-height: 1.5em;
			padding: 25px; border-bottom: 1px solid #ebecec;
			position: relative;
		}
			.sites h3 {
				font-size: 24px; line-height: 1.6em; color: inherit;
				margin-bottom: 5px;
			}
				.sites h3 a {
					color: #3187c7;
				}
				.sites h3 a:hover {
					color: #3593d8;
				}
			.sites li p {
				font-size: 13px; line-height: 1.5em; color: #888;
				padding-bottom: 0;
			}
				.sites li p a {
					color: inherit;
					background-image: url('/assets/dashboard/icon-sites-url.png'); background-position: left center; background-repeat: no-repeat;
					padding-left: 22px;
				}
			.sites_actions {
				font-size: 13px; color: #999; line-height: 1.7em; text-align: right;
				right: 25px; top: 25px;
				position: absolute; overflow: hidden;
			}
				.sites_actions a {
					color: #fff; font-size: 12px; line-height: 1.2em; vertical-align: middle;
					background-color: #3187c7;
					padding: 6px 10px; margin-left: 4px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
					display: inline-block; clear: both;
				}
				.sites_actions a:hover {
					background-image: url('/assets/application/button-start.png?1'); background-position: left top; background-repeat: repeat-x;
				}
				.sites_actions a:active {
					background-image: none; -moz-box-shadow: inset 0 1px 8px rgba(0,0,0,0.3); -webkit-box-shadow: inset 0 1px 8px rgba(0,0,0,0.3); box-shadow: inset 0 1px 8px rgba(0,0,0,0.3);
					padding-top: 7px; padding-bottom: 5px;
				}
					.sites_actions a:before {
						content: '\0000a0'; vertical-align: middle;
						background-color: transparent; background-position: left top; background-repeat: no-repeat;
						width: 15px; height: 15px; margin-right: 4px;
						display: inline-block;
					}
					.dashboard_link:before {
						background-image: url('/assets/dashboard/icon-sites-dashboard.png?1');
					}
					.edit_link:before {
						background-image: url('/assets/dashboard/icon-sites-edit.png');
					}
					.view_link:before {
						background-image: url('/assets/dashboard/icon-sites-view.png?1');
					}
		

/*
--------------------------
ANALYTICS CONTENT STYLES
--------------------------
*/
.time_travel {
	right: 25px; top: 25px; border-bottom: 0; padding: 0;
	position: absolute;
}
	#performance_chart {
		margin-bottom: 18px;
	}
		#performance_chart iframe {
			margin: 0 auto;
		}

	.stat {
		vertical-align: top; color: #fff; font-size: 12px; line-height: 1.1em; text-align: center; text-transform: uppercase;
		background-color: #f47946;
		width: 238px; margin: 3px 3px 25px; padding: 20px 0;
		display: inline-block; overflow: hidden;
	}
		.stat strong {
			font-size: 80px; letter-spacing: -1px; font-weight: 600; line-height: 1.2em;
			margin: 0 auto;
			display: block;
		}
	.stat:first-child {
		margin-left: 0;
	}
	.stat.money {
		width: 490px;
	}
	
	.performance_left, .performance_right {
		width: 360px;
	}
	.performance_left {
		float: left;
	}
	.performance_right {
		margin-left: 385px;
	}
		.performance_left dt, .performance_right dt {
			font-size: 12px; text-transform: uppercase; font-weight: 600; color: #666;
			padding-bottom: 10px;
		}
		.performance_left dd, .performance_right dd {
			font-size: 14px;
			padding-top: 10px; padding-bottom: 10px; border-top: 1px solid #e5e5e5;
			position: relative;
		}
		.performance_left dd strong, .performance_right dd strong {
			font-weight: 600;
			right: 0; top: 10px;
			position: absolute;
		}


/*
--------------------------
NEWSLETTER MAILING STYLES
--------------------------
*/
.newsletters_intro {
	text-align: center;
	background: url('/assets/dashboard/background-newsletters.png') center top no-repeat;
	padding-top: 250px; margin-bottom: 25px; margin-top: 25px;
}
	.newsletters_intro p {
		margin-bottom: 25px; padding-left: 100px; padding-right: 100px;
	}

.newsletters article {
	overflow: hidden;
}
	.newsletters form {
		width: 550px; margin-right: 25px;
		float: left;
	}
		.newsletters .long_input {
			font-size: 24px;
			width: 519px; padding: 10px 15px; margin-bottom: 15px;
		}
		.newsletters .cke_chrome {
			vertical-align: top;
			border: 0; padding: 0; width: 100%; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
			display: inline-block;
      box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
		}
			.newsletters .cke_chrome .cke_wrapper {
				background: none;
				padding: 0;
			}
/*        .newsletters .cke_chrome .cke_toolgroup {
          border: 0; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; background-image: none; background-color: #f1f1f1;
        }
        .cke_chrome .cke_button:hover {
          background: #e1e1e1; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
        }
        .cke_chrome .cke_button_on, .cke_chrome .cke_button_on:hover {
          background: #d1d1d1; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
        }*/
				.newsletters .cke_chrome .cke_toolbox_collapser {
					display: none;
				}
				.newsletters .cke_wysiwyg_frame {
					background-color: #f1f1f1; border: 0;
				}
	.newsletters aside {
		margin-left: 575px;
	}
		.newsletters aside ul {
			list-style: none; font-size: 12px; line-height: 1.5em; word-wrap: break-word;
			border: 1px solid #d7d9d9; padding: 17px 20px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; 
		}
		.newsletters aside li:last-child {
			margin-top: 15px;
		}

.newsletter_content {
	margin-bottom: 25px;
}
	.newsletter_content h1 {
		margin-bottom: 12px;
	}

/*
--------------------------
CUSTOM FORMS STYLES
--------------------------
*/
.forms_intro {
	text-align: center;
	background: url('/assets/dashboard/background-forms.png?2') center top no-repeat;
	padding-top: 250px; margin-bottom: 25px; margin-top: 25px;
}
	.forms_intro p {
		margin-bottom: 25px; padding-left: 100px; padding-right: 100px;
	}
.custom_forms_list {
	margin-bottom: 20px; border-top: 1px solid #ccc;
}
	.custom_forms_list p {
		padding: 20px 0; border-bottom: 1px solid #ccc;
	}
	.custom_forms_list strong {
		font-size: 12px; font-weight: 600; text-transform: uppercase; color: #666;
		width: 75px;
		display: inline-block;
	}
.pagination {
	font-family: "Open Sans", arial, helvetica, sans-serif; text-align: right; font-size: 12px; font-weight: 600;
	overflow: hidden;
}
	.pagination .export {
		float: left;
	}
	.pagination em {
		font-style: normal;
	}
	.pagination .disabled, .pagination .current {
		font-weight: 700;
		padding: 0 3px;
		display: inline-block;
	}
	.pagination a {
		padding: 0 3px;
		display: inline-block;
	}

/*
-----------------
EDIT DOMAINS
----------------
*/
.domain_input {
	color: #757575; font-size: 24px; line-height: 50px; 
	background-color: #f1f1f1;
	padding: 8px 20px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; 
}
	.domain_input span {
		vertical-align: middle;
		display: inline-block;
	}
	.domain_input .user_input {
		font-size: 24px; line-height: 50px; vertical-align: middle; color: #3f3f3f;
		background-color: transparent;
		border: 0; padding: 0; width: 390px;
	}
		.domain_input .user_input:focus {
			color: #000;
		}
	.check_domains .domain_input .user_input {
		width: 460px;
	}
		
.check_domains {
	border: 1px solid #d9dbdb; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; 
}
	.domain_tabs {
		overflow: hidden;
	}
		.domain_tabs span {
			width: 247px; height: 55px; border-left: 1px solid #d9dbdb; border-bottom: 1px solid #d9dbdb;
			float: left; position: relative;
		}
			.domain_tabs span.selected {
				border-bottom: 0;
			}
		.domain_tabs span:first-child {
			width: 248px; border-left: 0;
		}
			.domain_tabs span label {
				text-align: center; cursor: pointer; line-height: 55px; color: #666;
				background-color: #fff; background-image: url('/assets/dashboard/background-tabs-domain.png'); background-position: left bottom; background-repeat: repeat-x;
				top: 0; left: 0; width: 100%; height: 55px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; 
				position: absolute; z-index: 1;
			}
				.domain_tabs span.selected label {
					color: #000;
					background-image: none;
				}
			.domain_tabs span input {
				left: 50%; top: 50%; margin-left: -6px; margin-top: -6px;
				position: absolute; z-index: 0;
			}
			
	.check_domains section {
		padding: 25px;
	}
		.check_domains section p {
			font-size: 14px; text-align: center;
			padding-bottom: 25px;
		}
		
		section.no_custom_domain a {
			text-align: center; font-size: 24px; font-weight: normal; line-height: 1.5em;
			display: block;
		}

.payment_details {
	
}
	.payment_details h5 {
		font-size: 21px; font-weight: 600;
		margin-bottom: 20px;
	}
	.payment_details .billing, .payment_details ul {
		padding: 25px; border: 1px solid #d7d9d9; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; 
	}
	.payment_details .billing {
		font-size: 16px;
		margin-bottom: 30px;
	}
		.payment_details .billing td {
			padding-top: 20px; padding-right: 8px; border-top: 1px solid #d7d9d9;
		}
			.payment_details .register_domain td {
				border-top: 0; padding-top: 0; padding-bottom: 20px;
			}
		.price {
			text-align: right;
		}
		.totals {
			text-align: right; font-weight: bold; vertical-align: top;
		}
	.payment_details label {
		width: 175px;
		display: inline-block;
	}
	.payment_details .short_input {
		min-width: 95px; width: 95px;
	}


/*
--------------------------
SETTINGS CONTENT STYLES
--------------------------
*/
img.favicon {
	vertical-align: middle;
	-webkit-box-shadow: 0 0 1px #666; -moz-box-shadow: 0 0 1px #666; box-shadow: 0 0 1px #666;
	margin-right: 5px; border: 3px solid #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
	display: inline-block;
}

.authorization {
	font-size: 14px; vertical-align: middle;
	margin-left: 10px;
	display: inline-block;
}
	.authorization strong {
		color: #000;
		margin-left: 5px;
		display: inline-block;
	}


/*
--------------
USERS LISTING
-----------------
*/
.users table {
	margin-bottom: 25px;
}
	.users th {
		font-weight: 600; text-transform: uppercase; font-size: 12px; color: #666; line-height: 1.2em;
		padding-bottom: 10px;
	}
	.users td {
		border-top: 1px solid #d7d9d9; padding-top: 10px; padding-bottom: 10px;
	}
	.users td:last-child {
		text-align: right;
	}
.users .call_to_action {
	margin: 0;
}
.users_listing {
	font-size: 14px; line-height: 1.3em;
	background: #fff; -webkit-box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.2); -moz-box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.2); box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.2);
	border: 1px solid #ccc;
	overflow: hidden;
}
	.users_listing table {
		margin: 20px;
	}
	.users_listing th {
		color: #8d8d8d; font-weight: normal;
		padding-bottom: 5px;
	}
	.users_listing td {
		padding: 5px 0;
	}
	.users_listing p {
		padding: 20px;
	}


/*
--------------------------
BILLING CONTENT STYLES
--------------------------
*/
.billing_history th {
	font-weight: 600; text-transform: uppercase; font-size: 12px; color: #666; line-height: 1.2em;
	padding-bottom: 10px;
}
.billing_history td {
	border-top: 1px solid #d7d9d9; padding-top: 10px; padding-bottom: 10px;
}


/*
------------
AFFILIATES
-----------
*/
.affiliates .grouped {
	text-align: left;
}
.affiliate_intro {
	text-align: center;
	background: url('/assets/dashboard/background-affiliates.png') center top no-repeat;
	padding-top: 250px; margin-bottom: 25px; margin-top: 25px;
}
.new_affiliate {
	margin: 0 auto; width: 562px;
}

.affiliate_details {
	width: 366px;
	float: left;
}
.affiliate_details_left {
	margin-right: 14px;
}
.affiliate_details dl {
	padding: 20px; margin-bottom: 25px; border: 1px solid #d7d9d9; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}
	.affiliate_details dt {
		font-size: 16px; font-weight: 600;
		margin-bottom: 15px;
	}

.affiliates_chart {
	padding: 20px; margin-bottom: 25px; border: 1px solid #d7d9d9; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}
	.affiliates_chart th {
		font-weight: 600; text-transform: uppercase; font-size: 12px; color: #666; line-height: 1.2em;
		padding-bottom: 10px;
	}
	.affiliates_chart td {
		border-top: 1px solid #d7d9d9; padding-top: 10px; padding-bottom: 10px;
	}
	.affiliates_chart tr:last-child td {
		padding-bottom: 0;
	}


/*
---------------------
WHITE LABEL SETTINGS
---------------------
*/
.rebrand_url {
	text-align: center;
	padding: 20px; max-width: 520px; border: 1px solid #d7d9d9; border-bottom: 0; margin-bottom: -2px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}
	.rebrand_url p {
		padding-bottom: 5px;
	}
	.rebrand_url strong {
		font-size: 24px; font-weight: normal;
	}
	
.rebrand_intro {
	text-align: center;
	background: url('/assets/dashboard/background-white-label.png?1') center top no-repeat;
	padding-top: 250px; margin-bottom: 25px; margin-top: 25px;
}
	.rebrand_intro p {
		max-width: 625px; margin: 0 auto;
	}
	.rebrand_intro .start {
		margin-top: 25px;
	}


/*
------------------
CREATE SITE 
------------------
*/
.call_to_action {
	background-color: #f5f5f5;
	padding: 30px; margin: 25px 25px 0; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}
	.call_to_action p {
		font-size: 13px; color: #545454; line-height: 1.4em; vertical-align: middle;
		padding-bottom: 0; max-width: 645px; margin-left: 20px;
		display: inline-block;
	}
	.plans_progress {
		text-align: left;
		background-color: #fff;
		width: 150px; height: 10px; margin-bottom: 10px; border: 1px solid #ccc; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
		display: block; position: relative; overflow: hidden;
	}
		.plans_progress:before {
			content: '\0000a0';
			background-color: #f96d3c;
			width: 100%; height: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
			position: absolute;
		}