/*
 *= require pages/structure
 *= require pages/content
 *= require pages/toolbox
 *= require pages/jsui
 *= require shared/toolbar
 *= require shared/ckeditor
 *= require_self
 */


/*
-------------------------------------
Plain toolbar color
-------------------------------------
*/
.toolbar {
	background-color: #4c4c4c; background-image: url('/assets/dashboard/background-toolbar.png');
}
	.toolbar .logo, .question_dropdown a:first-child, .account_dropdown a:first-child {
		border-left-color: #353535; border-right-color: #353535;
	}
	

/*
-------------------------------------
Adjust structure for editable states
-------------------------------------
*/
article {
	padding: 15px 20px;
	margin-bottom: 230px;
}
	.main_content, .sidebar {
		width: auto;
		float: none;
	}
	.page_wide .main_content {
		width: 505px;
		float: left;
	}
	.page_wide .sidebar {
		width: 300px;
		float: right;
	}
		
	header, section {
		margin-bottom: 0.6em;
	}
		section.hours, section.contact_sections, section.services, section.buttons, section.galleries,
		section.text_areas, section.embeds, section.social_buttons, section.contact_form_fields, 
		section.newsletters, section.download_sections, section.products {
			margin-bottom: 0.8em;
		}


/*
-------------------------
UNSETTING CONTENT STYLES
-------------------------
*/
.editable ul:last-child, .editable ol:last-child {
	margin-bottom: 0;
}
	.hours fieldset ul, .contact_sections fieldset ul, .social_feeds fieldset ul {
		padding-left: 15px;
	}
	.hours .content_list ul {
		padding-left: 0;
	}
		.social_feeds fieldset li {
			margin-bottom: 8px;
		}
	.editable .gallery_slideshow {
		min-height: 0;
	}
		.thumbnails .editable img {
			max-width: 132px;
		}
		.page_wide .sidebar .thumbnails textarea {
			width: 135px;
		}
		.editable .gallery_slideshow span {
			display: none;
		}
	.newsletters .editable fieldset {
		background-color: transparent; border: 0;
	}
	
	.social_buttons .like_buttons img {
		vertical-align: middle;
		margin-right: 10px;
		display: inline-block;
	}
	.social_buttons a {
		width: auto; height: auto;
	}
	.social_buttons .editable a {
		width: 32px; height: 32px;
	}
	.social_buttons a.remove_item {
		width: 20px; height: 20px;
	}
	
	.products .jq_dropdown, .social_feeds .jq_dropdown {
		min-width: 150px;
	}
	
	.product_file {
		margin: 15px 0;
	}
		.product_file .remove_item {
			margin-left: 5px;
			position: static; display: inline-block;
		}
	.preview_file {
		background-color: #eaeaea; box-shadow: 0 0 6px 0 #adadad; -moz-box-shadow: 0 0 6px 0 #adadad; -webkit-box-shadow: 0 0 6px 0 #adadad;
		border: 3px solid #fff; max-height: 120px;
		position: relative; overflow: hidden;
	}
		.preview_file .remove_item {
			background-color: #fff;
		}
	
/*
------------------------------
Editable Content Type styles
-----------------------------
*/
.editable {
	cursor: move;
	padding: 10px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	position: relative;
	
	-webkit-transition: background-color 0.2s ease-out;
	-moz-transition: background-color 0.2s ease-out;
	-o-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
}
	.embeds iframe, .iframes iframe {
		position: relative; z-index: 0;
	}
	.form_edit {
		text-indent: -10000px; vertical-align: middle; text-align: center; font-size: 12px; line-height: 14px; font-weight: 600; font-family: "Open Sans", arial, helvetica, sans-serif; color: #fff; cursor: pointer;
		opacity: 0; filter: alpha(opacity=0);
		width: 100%; height: 100%; left: 0; top: 0;
		position: absolute; z-index: 1;
		
		-webkit-transition: opacity 0.4s ease-out;
		-moz-transition: opacity 0.4s ease-out;
		-o-transition: opacity 0.4s ease-out;
		transition: opacity 0.4s ease-out;
	}
		.form_edit:before {
			content: 'Click to edit'; text-indent: 0;
			background-color: #848282;
			width: 100px; height: 14px; padding: 5px; left: 50%; top: 50%; margin-left: -57px; margin-top: -12px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
			position: absolute; z-index: 1; 
		}
.editable:hover {
	color: #191919;
	background-color: #f9ece8;
	padding: 9px; border: 1px solid #bebebe;
}
	.editable:hover h1, .editable:hover h2, .editable:hover h3 {
		color: #191919 !important;
	}
	.editable:hover .form_edit, .form_edit:hover {
		opacity: 0.9; filter: alpha(opacity=90);
		display: block;
	}
	
.ui-sortable-disabled .editable {
	cursor: pointer;
}
	
.addable {
	text-align: center; font-size: 12px; line-height: 1.1em; font-family: "Open Sans", Arial, Helvetica, sans-serif;
	background: url('/assets/pages/widget/border-add.gif') left center repeat-x;
	padding: 12px 0; margin-top: -5px;
	display: none;
}
	.form_add {
		color: #484848; text-shadow: 0 1px #fff; text-decoration: none;
		background: url('/assets/pages/widget/background-add.png') left top repeat-x; /*box-shadow: 0px 0px 0 5px #ffffff;*/
		padding: 4px 8px; border: 1px solid #a5a5a5; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
		display: inline-block;
	}
	.form_add:hover {
		background-position: left -25px;
	}
	.form_add:active {
		background-position: left top; box-shadow: inset 0 1px 1px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.3); -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
	}

/* Undo styles */
header .editable {
	cursor: pointer;
}
.editable p:last-child {
	margin-bottom: 0;
}


/*
--------------------
Form editing styles
--------------------
*/
header fieldset img {
	vertical-align: middle;
	margin-left: 15px; max-width: 130px;
	display: inline-block;
}

article fieldset, .widget {
	font-size: 12px; font-family: "Open Sans", arial, helvetica, sans-serif; 
	background-color: #e4e4e4;
	width: 100%; border: 1px solid #a9a9a9; border-bottom: 0; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
	.form_header, .widget_header {
		color: #fff;
		background: url('/assets/pages/background-form-header.png') left top repeat-x;
		padding: 10px 15px; border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0;
		position: relative;
	}
		.form_header h6 {
			background-position: left center; background-repeat: no-repeat; background-color: transparent;
			padding-left: 30px;
		}
			header .form_header h6 {
				background-image: url('/assets/pages/widget/header/company.png');
			}
			.text_areas .form_header h6 {
				background-image: url('/assets/pages/widget/header/text.png');
			}
			.services .form_header h6 {
				background-image: url('/assets/pages/widget/header/services.png');
			}
			.buttons .form_header h6 {
				background-image: url('/assets/pages/widget/header/button.png');
			}
			.contact_sections .form_header h6 {
				background-image: url('/assets/pages/widget/header/contact.png');
			}
			.embeds .form_header h6 {
				background-image: url('/assets/pages/widget/header/embed.png');
			}
			.hours .form_header h6 {
				background-image: url('/assets/pages/widget/header/hours.png');
			}
			.social_buttons .form_header h6 {
				background-image: url('/assets/pages/widget/header/social.png');
			}
			.contact_form_fields .form_header h6 {
				background-image: url('/assets/pages/widget/header/form.png');
			}
			.newsletters .form_header h6 {
				background-image: url('/assets/pages/widget/header/newsletter.png');
			}
			.galleries .form_header h6 {
				background-image: url('/assets/pages/widget/header/images.png');
			}
			.download_sections .form_header h6 {
				background-image: url('/assets/pages/widget/header/downloads.png');
			}
			.paypal_buttons .form_header h6 {
				background-image: url('/assets/pages/widget/header/sell.png?1');
			}
			.products .form_header h6 {
				background-image: url('/assets/pages/widget/header/sell.png');
			}
			.social_feeds .form_header h6 {
				background-image: url('/assets/pages/widget/header/feeds.png');
			}
			.iframes .form_header h6 {
				background-image: url('/assets/pages/widget/header/iframe.png');
			}
			.script_embeds .form_header h6 {
				background-image: url('/assets/pages/widget/header/embed.png');
			}
			.promotions .form_header h6 {
				background-image: url('/assets/pages/widget/header/promotion.png');
			}
		
		.form_header .form_info, .widget_header .form_close {
			text-indent: -10000px;
			background-position: left top; background-repeat: no-repeat; background-color: transparent;
			top: 10px; right: 10px; width: 20px; height: 20px;
			position: absolute; overflow: hidden;
		}
		.form_header .form_info {
			background-image: url('/assets/pages/icon-info.png?2'); 
		}
		.widget_header .form_close {
			background-image: url('/assets/pages/icon-close.png');
		}
			.form_header .form_info:hover, .widget_header .form_close:hover {
				background-position: left -20px;
			}
			
		.form_details {
			background: #f9ece8;
			right: 4px; top: 41px; width: 91%; padding: 4%; border: 1px solid #a9a9a9; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
			position: absolute; z-index: 2;
		}
			.form_details:after, .form_details:before {
				content: " "; pointer-events: none;
				right: 7px; height: 0; width: 0; bottom: 100%; border: solid transparent;
				position: absolute;
			}
			.form_details:after {
				margin-left: -8px; border-bottom-color: #f9ece8; border-width: 8px;
			}
			.form_details:before {
				margin-left: -9px; border-bottom-color: #a9a9a9; border-width: 9px;
			}
			
			.form_details ul {
				list-style: disc; color: #333;
				border-bottom: 0; padding: 0 20px;
			}
		
	article fieldset ul, .form_actions, .content_list, .checkbox_list {
		margin-bottom: 0; padding: 15px; border-top: 1px solid #fff; border-bottom: 1px solid #a9a9a9;
	}

	fieldset ul {
		list-style: none;
		padding-left: 0;
	}
	article fieldset ul:first-child {
		border-top: 0;
	}
		article fieldset li {
			margin-bottom: 8px; max-width: 450px;
		}
			article fieldset li:last-child {
				margin-bottom: 0;
			}
				.checkbox input {
					margin-bottom: 0;
				}
			article fieldset label {
				text-transform: uppercase; color: #666;
				display: block;
				margin-bottom: 2px;
			}
				.checkbox label {
					vertical-align: middle; text-transform: none; font-weight: 400;
					margin-bottom: 0; margin-left: 3px;
					display: inline-block;
				}
				label small, h6 small {
					font-weight: 300; text-transform: none; font-size: 11px; font-style: italic;
					margin-left: 10px;
					display: inline-block;
				}
			fieldset input.user_input {
				max-width: 245px; margin-bottom: 4px;
			}
			fieldset input.user_input_short {
				max-width: 110px; margin-bottom: 4px;
			}
				fieldset input[name="button[url]"], fieldset input[name="embed[url]"], fieldset input[name="product[url]"] {
					background-image: url('/assets/pages/icon-url.gif'); background-position: 5px center; background-repeat: no-repeat;
					padding-left: 27px;
				}
			.combo {
				vertical-align: top;
				width: 130px;
				display: inline-block;
			}
		
		
	.content_list {
		position: relative; z-index: 1;
	}
		.content_list h6 {
			font-size: 12px; color: #666; text-transform: uppercase; font-weight: 600;
		}
		.content_list ul {
			max-width: 297px; padding: 10px 0; border-top: 0; border-bottom: 0;
		}
			.content_list li, .upload_field {
				background-color: #eaeaea; box-shadow: 0 0 6px 0 #adadad; -moz-box-shadow: 0 0 6px 0 #adadad; -webkit-box-shadow: 0 0 6px 0 #adadad;
				padding: 12px 17px 12px 12px; border: 3px solid #fff;
				position: relative;
			}
			.upload_field {
				text-align: center; line-height: 1.5em;
				max-width: 450px;
			}
				.remove_item {
					text-indent: -10000px;
					background: url('/assets/pages/icon-close.png?1') center -40px no-repeat;
					width: 20px; height: 20px; right: 0; top: 0;
					position: absolute; overflow: hidden;
				}
				.remove_item:hover {
					background-position: center -60px;
				}
				.social_buttons .remove_item {
					margin-right: 0;
				}
			li.upload_field {
				margin: 15px 0;
			}
				.upload_field p {
					font-size: 11px; line-height: 1.2em; color: #666;
					margin-bottom: 0; margin-top: 7px;
				}
					.upload_field p a {
						color: inherit;
					}
				li.upload_field .user_input {
					width: 85%;
				}
				
	.checkbox_list {
		
	}
		.checkbox_list h6 {
			font-size: 12px; color: #666; text-transform: uppercase; font-weight: 600;
			margin-bottom: 10px;
		}
		.checkbox_list label {
			vertical-align: middle; text-transform: none; font-weight: 400;
			margin: 0 20px 0 5px;
			display: inline-block;
		}
	
		.add_item {
			font-size: 12px; color: #777; font-weight: 600; text-decoration: none;
			background: url('/assets/pages/icon-add.gif') left 4px no-repeat;
			padding-left: 15px;
			display: inline-block;
		}
			.add_item:hover {
				color: #333;
				background-position: left -21px;
			}
			
		.hours .content_list ul, .galleries .content_list ul, .download_sections .content_list ul {
			max-width: none;
		}
			.hours .content_list li {
				background-color: transparent; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
				padding: 0; border: 0;
			}
				.galleries .thumbnails img {
					vertical-align: top;
					margin-right: 7px; margin-bottom: 0;
					display: inline-block;
				}
				.galleries .thumbnails textarea {
					vertical-align: top; font-size: 12px;
					max-width: 282px; min-height: 40px;
					display: inline-block;
				}
				.galleries .slideshow img {
					max-width: 97%; margin-bottom: 0; margin-right: 0;
				}
				.galleries .linkable img {
					max-width: 97%;
				}
			.hours .jq_dropdown {
				width: 86px; margin-right: 2px;
			}
				.hours .jq_dropdown.hours_day {
					width: 58px;
				}
			.social_buttons .jq_dropdown {
				width: 98%; margin-bottom: 5px;
			}
			.galleries .jq_dropdown {
				width: 200px;
			}
			.contact_form_fields .content_list input[type="text"], .download_sections .content_list input[type="text"] {
				margin-bottom: 10px;
			}
			.contact_form_fields .jq_dropdown {
				width: 100%; margin-bottom: 10px;
			}
			.paypal_buttons .jq_dropdown {
				width: 125px;
			}
			
			.download_sections .content_list a {
				color: #000;
			}
		
	header fieldset .remove_item {
		margin-left: 5px; right: auto; top: auto;
		position: static; display: inline-block;
	}
	
	.content_type_errors {
		font-weight: 600; color: #fff; line-height: 1.4em; word-wrap: break-word;
		background: url('/assets/pages/background-errors.png?2') left top repeat-x;
		padding: 5%; width: 90%;
	}
		.content_type_errors p {
			background: url('/assets/pages/icon-error.gif') left center no-repeat;
			padding-left: 32px; padding-top: 2px; min-height: 20px; margin-bottom: 0;
		}
	
	.form_actions {
		text-align: right;
		-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px; 
		position: relative; z-index: 0;
	}
		.form_actions a {
			color: #666; text-decoration: none; vertical-align: middle;
			display: inline-block;
		}
			.form_actions a:hover {
				color: #191919;
			}
		.user_submit {
			color: #fff; font-weight: 600; text-transform: uppercase; font-size: 12px; line-height: 1em; vertical-align: middle; cursor: pointer;
			background-color: #3187c7; background-position: left top; background-repeat: repeat-x;
			padding: 7px 12px; border: 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
			display: inline-block; clear: both;
		}
			.user_submit:hover {
				background-color: #3593d8; background-image: url('/assets/application/button-start.png?1');
			}
			.user_submit:active {
				background-color: #428ac8; background-image: none;
				-moz-box-shadow: inset 0 1px 8px rgba(0,0,0,0.3); -webkit-box-shadow: inset 0 1px 8px rgba(0,0,0,0.3); box-shadow: inset 0 1px 8px rgba(0,0,0,0.3);
				padding-top: 8px; padding-bottom: 6px;
			}
		.form_actions .form_remove {
			text-indent: -62px; text-align: left; line-height: 20px;
			background: url('/assets/pages/icon-delete.gif') left top no-repeat;
			height: 20px; top: 50%; left: 15px; margin-top: -10px; padding-left: 20px;
			position: absolute; overflow: hidden;
		}
			.form_actions .form_remove:hover {
				background-position: left -20px;
			}
		.done_loader {
			font-size: 13px; line-height: 27px; color: #333; vertical-align: middle; font-weight: bold;
			background: #dbdbdb url('/assets/pages/icon-done-loader.gif') 5px center no-repeat;
			height: 27px; padding: 0 10px 0 30px; margin-left: 10px; border: 1px solid #bbb; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
			display: inline-block;
		}
			
.widget {
	box-shadow: 0 1px 4px 1px rgba(0,0,0,0.1); -moz-box-shadow: 0 1px 4px 1px rgba(0,0,0,0.1); -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
	background-image: url('/assets/pages/background-widget.png'); background-position: left top; background-repeat: repeat;
	margin-bottom: 15px; border: 1px solid #c0c0c0; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
	.widget_contents {
		-webkit-box-shadow: inset 0 -8px 5px 0 rgba(255,255,255,0.2); -moz-box-shadow: inset 0 -8px 5px 0 rgba(255,255,255,0.2); box-shadow: inset 0 -8px 5px 0 rgba(255,255,255,0.2);
		padding: 5px; max-height: 220px;
		overflow: auto;
	}
		.widget_contents a, .widget_contents .disabled {
			text-align: center; text-shadow: 0 1px #fff; font-size: 12px; line-height: 1em; color: #191919; text-decoration: none; vertical-align: top;
 			opacity: 0.7; filter: alpha(opacity=70);
			min-width: 24%; height: 64px; padding-top: 4px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
			float: left;
		}
			.widget_contents img {
				margin: 0 auto;
				display: block;
			}
			
		.widget_contents .disabled {
			color: #888;
			position: relative;
		}
			.widget_contents .disabled img {
				opacity: 0.4; filter: alpha(opacity=40);
			}
			.widget_contents .disabled_tooltip {
				color: #000; line-height: 1.4em; cursor: default;
				left: 0; top: 0; width: 80%; height: 58px; padding: 10px 10% 0; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
				position: absolute; overflow: hidden;
			}
			
		.widget_contents a .disabled_tooltip {
			cursor: pointer;
		}
			
		.widget_contents a:hover, .widget_contents .disabled_tooltip {
			background-color: #fbfbfb; box-shadow: inset 0 0 1px 1px #c0c0c0; -moz-box-shadow: inset 0 0 1px 1px #cecece; -webkit-box-shadow: inset 0 0 1px 1px #cecece; opacity: 1; filter: alpha(opacity=100);
		}
		.widget_contents a:active {
			background: url('/assets/pages/widget/background.jpg') left -136px repeat-x; box-shadow: inset 0 0 6px 1px rgba(0,0,0,0.5); -moz-box-shadow: inset 0 0 6px 1px rgba(0,0,0,0.5); -webkit-box-shadow: inset 0 0 6px 1px rgba(0,0,0,0.5);
			padding-top: 5px; height: 63px;
		}
		.page_standard .widget_contents a, .page_standard .widget_contents .disabled {
			min-width: 16.5%;
		}
		.page_wide .sidebar .widget_contents a, .page_wide .sidebar .widget_contents .disabled {
			font-size: 10px;
		}
			.page_wide .sidebar .widget_contents .disabled_tooltip {
			/*	padding-top: 10px; height: 58px;*/
			}

/*
--------------------
Onboarding Overlay
--------------------
*/
.onboarding {
	overflow: hidden;
}
	.onboarding dl {
		width: 287px; margin-left: 30px;
		float: left;
	}
	.onboarding dl:first-child {
		margin-left: 0;
	}
		.onboarding dt {
			font-size: 28px; color: #df6b35;
			margin-bottom: 25px;
		}
		.onboarding dd {
			margin-bottom: 25px;
		}
			.onboarding dd:last-child {
				margin-bottom: 0;
			}
		.onboarding img {
			margin-bottom: 10px;
		}
		
.gumroad_message, .compatibility_dialog {
	height: auto !important;
}
	.gumroad_message img, .compatibility_dialog img, .reminder_dialog img {
		margin-bottom: 20px;
	}