/*
 *= require pages/structure
 *= require pages/content
 *= require_self
 */

/*
---------------------
User's JSUI
---------------------
*/
.ui-widget-overlay {
	background: #000; opacity: 0.6; filter: alpha(opacity=60);
	width: 100%; height: 100%; top: 0; left: 0;
	position: absolute; 
}
.ui-dialog {
	font-family: Arial, Helvetica, sans-serif;
	background: #000;
	max-width: 100%;
	position: absolute;
}
	.ui-dialog-titlebar {
		font-size: 11px; color: #848584; line-height: 13px;
		right: 6px; top: 10px; width: 30px; height: 25px;
		position: absolute; z-index: 2;
	}
		.ui-dialog-title {
			display: none;
		}
		.ui-dialog-titlebar-close {
			color: #fff; text-decoration: none; text-indent: -10000px;
			background: url('/assets/pages/icon-close.png') center top no-repeat;
			width: 20px; height: 20px;
			display: inline-block;
		}
			.ui-dialog-titlebar-close:hover {
				color: #fff; text-indent: 0px;
				background-position: center -20px;
			}
			
	.ui-dialog-content {
		text-align: center;
		padding: 10px; max-height: 100%;
		position: relative; overflow: hidden; z-index: 1;
	}
		.image_gallery ul {
			line-height: inherit; list-style: none;
			padding-left: 0; margin-bottom: 0;
		}
		.image_gallery li {
			position: relative;
		}
			.image_gallery li h4 {
				color: #fff; font-size: 14px; font-weight: normal; line-height: 1.3em;
				margin-top: 10px;
			}
			.image_gallery li img {
				vertical-align: middle; cursor: pointer;
				 max-width: 100%; max-height: 100%;
			}
	
		.previous_image, .next_image {
			text-align: left; text-indent: -100000px;
			opacity: 0.7; filter: alpha(opacity=7);
			background-image: url('/assets/pages/arrows-gallery-pagination.png'); background-repeat: no-repeat; background-color: transparent;
			width: 40px; height: 100%; top: 0;
			position: absolute;
			
			-webkit-transition: opacity 0.1s ease-out; -moz-transition: opacity 0.1s ease-out; -o-transition: opacity 0.1s ease-out; transition: opacity 0.1s ease-out;
		}
		.previous_image {
			background-position: left center;
			left: 0; 
		}
		.next_image {
			background-position: right center;
			right: 0;
		}
			.previous_image:hover, .next_image:hover {
				opacity: 1; filter: alpha(opacity=100);
			}
			
.done_loader {
	font-size: 13px; line-height: 28px; color: #333; vertical-align: middle;
	background: #dbdbdb url('/assets/pages/icon-done-loader.gif') 5px center no-repeat;
	height: 28px; padding: 0 10px 0 30px; margin-right: 10px; border: 1px solid #bbb; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
	display: inline-block;
}

.notice {
	text-align: center; color: #fff; font-size: 15px; font-family: arial, helvetica, sans-serif; text-align: center;
	opacity: 0.9; filter: alpha(opacity=90);
	width: 100%; top: 0; left: 0; padding: 10px 0;
	position: fixed; z-index: 10;
}
.success {
		background-color: #000;
}
.error {
	background-color: #c93100;
}
	.notice p {
		text-align: left;
		width: 835px; margin: 0 auto; padding: 0 10px;
	}
	.notice .ignore {
		text-indent: -10000px; text-align: left;
		background: url('/assets/pages/icon-ignore.gif') center center no-repeat;
		width: 22px; height: 22px; left: 50%; margin-left: 470px; top: 12px;
		position: absolute;
	}