/*
======================
Onepager Reset Styles
======================
*/

/** All HTML elements **/
* { margin: 0; padding: 0; outline: 0; }

/** Links and Images **/
a { color: #191919; text-decoration: underline; }
	a:hover { text-decoration: none; }

/** Headers and paragraghs font styles **/
h1 { font-size: 18px; line-height: 1.1em; color: #191919; margin-bottom: 12px; }

body {
	font: normal 14px/1.5em "Open Sans", Arial, Helvetica, sans-serif; color: #191919; text-align: center;
	background: #fff url('/assets/application/background.png?1') left top repeat;
	padding-top: 150px;
}
	.header {
		font-size: 24px; font-weight: bold; line-height: 1.5em;
		width: 375px; margin: 0 auto 7px;
	}
	.article {
		text-align: left;
		background: #fff; box-shadow: 0 1px 1px #b0b0b0; -moz-box-shadow: 0 1px 1px #b0b0b0; -webkit-box-shadow: 0 1px 1px #b0b0b0;
		width: 325px; padding: 20px 25px; margin: 0 auto 40px;  -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px;
	}
		.article p {
			padding-bottom: 10px;
		}
	
	label {
		font-weight: 600; vertical-align: middle; text-align: left;
		margin-bottom: 3px;
		display: block;
	}
	
	.user_input {
		font-size: 14px; font-family: arial, helvetica, sans-serif; color: #777; line-height: 1.5em;
		background-color: #fff;
		width: 94%; padding: 5px; margin-bottom: 10px; border: 1px solid #acacac;
		display: block;
	}
	
	.article form {
		text-align: center;
	}

	.start {
		color: #fff; font-weight: 600; text-transform: uppercase; font-size: 14px; line-height: 1em; vertical-align: middle; cursor: pointer;
		background-color: #428ac8; background-image: url('/assets/application/button-start.png'); background-position: left top; background-repeat: repeat-x;
		padding: 12px 20px; border: 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
		display: inline-block; clear: both;
	}
		.start:hover {
			text-decoration: none; color: #fff;
			background-color: #5ca1dc; background-position: left -42px;
		}
		.start:active {
			background-position: left top;
			background-color: #428ac8; -moz-box-shadow: inset 0 1px 8px rgba(0,0,0,0.35); -webkit-box-shadow: inset 0 1px 8px rgba(0,0,0,0.35); box-shadow: inset 0 1px 8px rgba(0,0,0,0.35);
			padding-top: 13px; padding-bottom: 11px;
		}