<%# Need to get container.format so we know what to display %>
<%# if container.format is Full Sized, show filename.medium and url field %>
<%# if container.format is Thumbnails + Overlay, show filename.tiny and description field %>
<li>
	<div class="linkable"<%=raw ' style="display: none;"' if @format != 'linkable' %>>
		<img src="<%= content.filename.medium.url %>" />
		<input type="text" name="container[gallery_images_attributes][<%= content.id %>][url]" value="<%= content.url %>" placeholder="http://..." />
	</div>
	<div class="slideshow"<%=raw ' style="display: none;"' if @format != 'slideshow' %>>
		<img src="<%= content.filename.medium.url %>" />
	</div>
	<div class="thumbnails"<%=raw ' style="display: none;"' if @format != 'thumbnails' %>>
		<img src="<%= content.filename.tiny.url %>" />
		<textarea name="container[gallery_images_attributes][<%= content.id %>][caption]" placeholder="Enter a caption..."><%= content.caption %></textarea>
	</div>
	<input type="hidden" name="container[gallery_images_attributes][<%= content.id %>][id]" value="<%= content.id %>" />
	<input name="container[gallery_images_attributes][<%= content.id %>][_destroy]" type="hidden" value="false" />
	<a href="#" class="remove_item">Destroy</a>
</li>