<nav>
	<%=
		raw(build_sub_navigation([
			['Simple Website Builder','/en/features/easy-website-builder'],
			['Search Engine Optimization', '/en/features/search-engine-optimization'],
			['Easy Maintenance', '/en/features/easy-maintenance'],
			['Beautiful Design', '/en/features/beautiful-design'],
			['Custom Domains', '/en/features/custom-domains'],
			['Mobile Friendly', '/en/features/mobile-friendly'],
			['Useful Analytics', '/en/features/useful-analytics'],
			['Simple Form Builder', '/en/features/simple-form-builder'],
			['Connect With Customers', '/en/features/connect-with-customers']
		]))
	%>
</nav>
