<% content_for :title do %>Beautiful Design - Features<% end %>
<% content_for :content_class do %>features_content<% end %>
<%= render :partial => 'header', :locals => { :section => 'onepager' } %>
<%= render :partial => 'static/features/navigation' %>

<article>
	<img src="/assets/application/features/beautiful-design.jpg?1" alt="" class="features_image_right" />
	<h2>Beautiful Design</h2>
	<h3>It's easy to design a website you're proud of with Onepager's theme selector and style editor.</h3>
	<p>Onepager comes with a plethora of themes available for your site.  If you're not sure how your site should look, choose from our selection of themes for a professional looking website.</p>
	<p>If you already have a custom design in mind, we've made it easy to upload your own background photo, apply your company's custom colors and choose the right font that will help define your business. If your small business changes its branding after you've created your Onepager website, it's just as easy to apply the same changes to your website design.</p>
	<p>Are your website building skills a little more advanced? Our custom CSS feature gives you even more control over the styles and layout of your one page website.</p>
	<p>Onepager provides the flexibility to make your small business website uniquely yours.</p>
	<span class="next">Next: <a href="/en/features/custom-domains">Custom Domains</a></span>
</article>