<% content_for :title do %>Connect With Customers | Features<% end %>
<% content_for :content_class do %>features_content<% end %>
<%= render :partial => 'header', :locals => { :section => 'onepager' } %>
<%= render :partial => 'static/features/navigation' %>

<article>
	<img src="/assets/application/features/connect-with-customers.jpg?1" alt="" class="features_image_right" />
	<h2>Connect With Customers</h2>
	<h3>Building a website for your business is important. Connecting with your customers is critical.</h3>
	<p>Having a website is a great conversation starter between you and your customers. It's your chance to tell them your story. But no good conversations are one-sided. That's why we built Onepager to allow you to connect with your customers in several ways.</p>
	<p>By featuring links to your social media profiles on your Onepager, you can encourage your customers to friend, follow, or check-in to your business.</p>
	<p>Onepager also allows you run email newsletter campaigns. Customers can easily sign up for your newsletter through your site by entering their email address. Then, you can send a newsletter to all of your subscribers directly through Onepager.</p>
	<span class="next">Next: <a href="/en/features/easy-website-builder">Simple Website Builder</a></span>
</article>