<% content_for :title do %>Custom Domains | Features<% end %>
<% content_for :content_class do %>features_content<% end %>
<%= render :partial => 'header', :locals => { :section => 'onepager' } %>
<%= render :partial => 'static/features/navigation' %>

<article>
	<img src="/assets/application/features/custom-domains.jpg?1" alt="" class="features_image_right" />
	<h2>Custom Domains</h2>
	<h3>Make a great first impression with a custom domain and email address.</h3>
	<p>Your domain name is the gateway to your business online and the first thing that your potential customers will start to associate with your company. Look professional and establish your brand with a personalized domain name. Onepager makes it easy to purchase a custom domain, use one that you already own, or use a Onepager one that you can choose.</p>
	<p>Need email addresses for your business? Along with your domain we will help you setup custom email addresses for free. After your email addresses are setup you can access them on the web or use a desktop client like Outlook or Apple Mail.</p>
	<span class="next">Next: <a href="/en/features/mobile-friendly">Mobile Friendly</a></span>
</article>