<% content_for :title do %>Easy Website Builder - Features<% end %>
<% content_for :content_class do %>features_content<% end %>
<%= render :partial => 'header', :locals => { :section => 'onepager' } %>
<%= render :partial => 'static/features/navigation' %>

<article>
	<img src="/assets/application/features/site-builder.jpg?1" alt="" class="features_image_right" />
	<h2>Easy-to-Use Simple Website Builder</h2>
	<h3>We made our website builder to be the simplest one page website builder compared to other builders out there.</h3>
	<p>The Onepager website builder is the easiest way to build a small business website.  It was designed for both beginner and advanced computer users to create a simple, professional website without the need to learn CSS and HTML or hire a web designer at high costs.</p>
	<p>Unlike other website builders, Onepager offers the easiest way to edit your website content and theme directly on your webpage.  You can immediately see your changes take effect while you are editing your site! Onepager also allows you to add new content according to your small business needs.  You can add downloadable menus, product videos, and store hours, just to name a few.  Sort and reorder your content to move the most important information to the top of the page. You can also choose a preset theme or customize a new theme yourself. It’s that easy!</p>
	<p>Onepager is the best way to easily create and maintain your small business website.</p>
	<span class="next">Next: <a href="/en/features/search-engine-optimization">Search Engine Optimization</a></span>
</article>