<% content_for :title do %>Easy Maintenance - Features<% end %>
<% content_for :content_class do %>features_content<% end %>
<%= render :partial => 'header', :locals => { :section => 'onepager' } %>
<%= render :partial => 'static/features/navigation' %>

<article>
	<img src="/assets/application/features/easy-maintenance.jpg?1" alt="" class="features_image_right" />
	<h2>Easy Maintenance</h2>
	<h3>Onepager's website builder is so easy to use you'll never have to pay a web developer for updates again.</h3>
	<p>When you're updating your website with Onepager, your content is as easy to maintain as it was to create. Have your business hours changed or perhaps your company has new services to offer? You can log into your account at any time to easily update your content using the Onepager editor.</p>
	<p>Easily drag-and-drop your content to move the most important information about your small business to the top of your webpage. Use our simple image gallery tool to upload product images and product descriptions.  Easily create a contact form for your customers to submit quote requests.</p>
	<p>Onepager has made updating and adding content to your website a simple and enjoyable experience.</p>
	<span class="next">Next: <a href="/en/features/beautiful-design">Beautiful Design</a></span>
</article>