<% content_for :title do %>Sell your products on Onepager - Features<% end %>
<% content_for :content_class do %>features_content<% end %>
<%= render :partial => 'header', :locals => { :section => 'onepager' } %>
<%= render :partial => 'static/features/navigation' %>

<article>
	<img src="/assets/application/features/ecommerce.jpg?1" alt="" class="features_image_right" />
	<h2>Easy Ecommerce</h2>
	<h3>Onepager has partnered with <a href="http://gumroad.com" target="_blank">Gumroad</a> to help businesses easily sell products and services online!</h3>
	<p>Does your consulting company offer downloadable PDF books that your clients can purchase? Upload it to your Onepager website to start selling. Open up an online shop to sell your restaurant t-shirts or other gift items for the holidays. Printable coupons, gift cards, and candy grams all have a place on your company's professional website when you build with Onepager.</p>
	<p>If you are a small clothing business with a physical store, put your products on your Onepager website and reach an audience beyond your local region. Having an online store for your products will allow you to reach more people, gain more customers and help you streamline your sales process.</p>
	<p>It's never been easier to open up an online store.</p>
	<span class="next">Next: <a href="/en/features/simple-form-builder">Simple Form Builder</a></span>
</article>