<% content_for :title do %>Mobile Friendly | Features<% end %>
<% content_for :content_class do %>features_content<% end %>
<%= render :partial => 'header', :locals => { :section => 'onepager' } %>
<%= render :partial => 'static/features/navigation' %>

<article>
	<img src="/assets/application/features/mobile-friendly.jpg?1" alt="" class="features_image_right" />
	<h2>Mobile Friendly</h2>
	<h3>Anyone can see your Onepager small business website, anywhere.</h3>
	<p>There are more people in the world who own mobile devices than people who own a computer and that's why websites need to be viewable at any screen size. Every Onepager website comes with a mobile friendly version, at no extra cost.  We know it's important for your customers to find you no matter where they are or what device they are on.</p>
	<p>Onepager uses standards-compliant HTML because Flash-based websites are not accessible on most mobile devices. Your Onepager site will look great on any device, whether it's an Android phone, an iPad or a desktop computer.</p>
	<span class="next">Next: <a href="/en/features/useful-analytics">Useful Analytics</a></span>
</article>
