<% content_for :title do %>Search Engine Optimization - Features<% end %>
<% content_for :content_class do %>features_content<% end %>
<%= render :partial => 'header', :locals => { :section => 'onepager' } %>
<%= render :partial => 'static/features/navigation' %>

<article>
	<img src="/assets/application/features/search-engine-optimization.jpg?1" alt="" class="features_image_right" />
	<h2>Search Engine Optimization</h2>
	<h3>Onepager helps your customers find you through high ranking search engine results.</h3>
	<p>In an increasingly competitive Internet, simply having a website for your small business is not enough. Onepager is setup to automatically optimize your company's website for search engines like Google, Yahoo!, and Bing. We do that through properly formatted HTML, meta tags, meta descriptions, and sitemaps.</p>
	<p>We've gone a step further and implemented some cutting-edge Search Engine Optimization (SEO) enhancements, including usage of the new <a href="http://schema.org/">schema.org</a> markup. <a href="http://schema.org/">Schema.org</a> is a joint venture between sitemaps.org, Bing, Google, and Yahoo! that exists to help search engines better understand the websites that they're crawling.</p>
	<p>Beyond implementing proper technologies, we have compiled a set of <a href="/en/guides/seo">Search Engine Optimization (SEO) guidelines</a> to help your small business website get higher rankings in search engine results.</p>
	<p>Ready to beat your competitors in higher search engine ranking? Create a Onepager website and put some of our suggested <a href="/en/guides/seo">search engine optimization techniques</a> to use!</p>
	<span class="next">Next: <a href="/en/features/easy-maintenance">Easy Maintenance</a></span>
</article>