<% content_for :title do %>Simple Form Builder - Features<% end %>
<% content_for :content_class do %>features_content<% end %>
<%= render :partial => 'header', :locals => { :section => 'onepager' } %>
<%= render :partial => 'static/features/navigation' %>

<article>
	<img src="/assets/application/features/simple-form-builder.jpg?1" alt="" />
	<h2>Simple Form Builder</h2>
	<h3>Let your customers reach you faster with a custom contact form on your Onepager website.</h3>
	<p>Set up a custom form for your customers to submit their inquiries. Small businesses need to make it easy for their customers to reach them. A simple contact form is a great alternative if they can't reach you by phone at the time of their call.</p>
	<p>You can also create a form to collect information and data for your business's needs. Are you a local auto shop? Create a quote request form for your customers to submit their specifications. Onepager's custom form builder is extremely easy to use and can accommodate any type of form your business needs.</p>
	<span class="next">Next: <a href="/en/features/connect-with-customers">Connect With Customers</a></span>
</article>