<% content_for :title do %>Useful Analytics - Features<% end %>
<% content_for :content_class do %>features_content<% end %>
<%= render :partial => 'header', :locals => { :section => 'onepager' } %>
<%= render :partial => 'static/features/navigation' %>

<article>
	<img src="/assets/application/features/useful-analytics.jpg?1" alt="" class="features_image_right" />
	<h2>Useful Analytics</h2>
	<h3>Find out valuable information about your site visitors to gain insight on your potential customers.</h3>
	<p>Your website is an investment for your small business. Track your website's traffic with our analytics dashboard and use the information to grow your customer base.  See which keywords your site visitors are using to search for your business and use the information to optimize your business's search engine ranking. You can then use the analytics data to improve your marketing efforts and spot trends.</p>
	<p>If you already have a Google Analytics account or have experience creating one, sign in to your Onepager Dashboard to add your Google Analytics tracking ID.</p>
	<p>Onepager understands the importance of learning about your customers so we've made it easy to view your website analytics.</p>
	<span class="next">Next: <a href="/en/features/simple-form-builder">Simple Form Builder</a></span>
</article>