<%= content_tag(:h3, content.title) if !content.title.blank? %>
<%= content_tag(:p, content.description) if !content.description.blank? %>
<ul>
	<% if content.feed_type == "Twitter" %>
		<% content.feed.each do |t| %>
			<li>
				
				<p><%=raw display_content_with_links t.text %></p>
				<time datetime="<%= t.created_at.strftime("%Y-%m-%d") %>"><%= link_to t.created_at.strftime("%e %b %Y, %l:%M %p"), "https://twitter.com/#{t.user.screen_name}/status/#{t.id}", :target => '_blank' %></time>
			</li>
		<% end %>
	<% elsif content.feed_type == "RSS" %>
		<% content.feed.each do |f| %>
			<li>
				<p><%= link_to f.xpath('title').inner_text, f.xpath('link').inner_text, :target => '_blank' %></p>
				<% if !f.xpath('pubDate').inner_text.blank? %>
	        <time datetime="<%= Time.parse(f.xpath('pubDate').inner_text).strftime("%Y-%m-%d") %>">
	        	<%= link_to Time.parse(f.xpath('pubDate').inner_text).strftime("%e %b %Y, %l:%M %p"), f.xpath('link').inner_text, :target => '_blank' %>
	      	</time>
	      <% end %>
			</li>
		<% end %>
	<% end %>
</ul>