<section class="social_feeds" id="social_feed_<%= content.id || 'new' %>" data-model-class="<%= content.class %>">

	<% if params[:action] != 'new' %>
		<div class="editable">
			<span class="form_edit">Click to Edit</span>
			<%= render "content_types/social_feeds/content", :content => content %>
		</div>
		<div class="addable">
			<a href="#" class="form_add">+ Add Content</a>
		</div>
	<% end %>
	
	<%= form_for [:content_types, content], :namespace => content.object_id, :remote => true do |f| %>
		<fieldset style="display: none;">
			<div class="form_header">
				<h6>Feed</h6>
				<a href="#" class="form_info" data-content-type="social_feeds">Info</a>
			</div>
			<ul>
				<li>
					<%= f.label :title %>
					<%= f.text_field :title, :class => 'user_input', :size => '' %>
				</li>
				<li>
					<%= f.label :description %>
					<%= f.text_area :description, :class => 'user_input', :size => '' %>
				</li>
			</ul>
			<ul>
				<li>
					<%= f.label :url, 'Twitter Handle or RSS Feed' %>
					<%= f.text_field :url, :class => 'user_input', :size => '', :placeholder => 'e.g. conanobrien' %>
				</li>
				<li>
					<%= f.label :num_items, '# of Items' %>
					<%= f.text_field :num_items, :class => 'user_input_short', :size => '', :placeholder => '1 - 10' %>
				</li>
			</ul>
			<div class="form_actions">
				<%= link_to "Delete?", [:content_types, content], :class => 'form_remove', :method => :delete, :remote => true, :data => { :confirm => 'Delete?' } if params[:action] != 'new' %>
				<a href="#" class="form_close">Cancel</a>
				<%= f.hidden_field :page_id, :value => page_id %>
				<%= f.hidden_field :position, :value => position if defined? position %>
				<%= f.submit "Done", :class => 'user_submit' %>
			</div>
		</fieldset>
	<% end %>

</section>