<%= content_tag(:h3, container.title) if !container.title.blank? %>
<%= content_tag(:p, container.description) if !container.description.blank? %>
<%=raw container.downloads.collect { |d| link_to( (d.caption.blank? ? d.filename.file.filename : d.caption), d.filename.url ) }.join('<br />') %>