<section class="download_sections" id="download_sections_<%= container.id || 'new' %>" data-model-class="<%= container.class %>">
	<% if params[:action] != 'new' %>
		<div class="editable">
			<span class="form_edit">Click to Edit</span>
			<%= render "content_types/download_sections/content", :container => container %>
		</div>
		<div class="addable">
			<a href="#" class="form_add">+ Add Content</a>
		</div>
	<% end %>
	
	<%= form_for [:content_types, container], :url => (container.new_record? ? content_types_download_sections_path : content_types_download_section_path(container)), :namespace => container.object_id, :remote => true, :html => { :multipart => true } do |f| %>
		<input type="hidden" name="container_id" value="<%= container.id || 'new' %>" />
		<fieldset style="display: none;">
			<div class="form_header">
				<h6>Downloads</h6>
				<a href="#" class="form_info" data-content-type="download_sections">Info</a>
			</div>
			<ul>
				<li>
					<%= f.label :title %>
					<%= f.text_field :title, :class => 'user_input', :size => '' %>
				</li>
				<li>
					<%= f.label :description %>
					<%= f.text_area :description, :class => 'user_input', :size => '' %>
				</li>
			</ul>
			<div class="content_list">
				<h6>Downloads <small>.pdfs under 5mb please</small></h6>
				<ul>
					<%= f.fields_for :downloads do |d| %>
						<li>
							<%= d.label :caption, 'File Title' %>
							<%= d.text_field :caption, :size => '' , :placeholder => 'e.g. Our lunch menu' %>
							<%= d.label :filename, 'File' %>
							<%= link_to d.object.filename.file.filename, d.object.filename.url, :target => '_blank' %>
							<%= d.hidden_field :id %>
							<%= d.hidden_field :_destroy %>
							<a href="#" class="remove_item">Delete</a>
						</li>
					<% end %>
				</ul>
				<div class="upload_field">
					<%= file_field_tag "download_files[]", :multiple => true, 'data-url' => content_types_downloads_path %>
				</div>
			</div>
			<div class="form_actions">
				<%= link_to "Delete?", content_types_download_section_path(container), :class => 'form_remove', :method => :delete, :remote => true, :data => { :confirm => 'Delete?' } if params[:action] != 'new' %>
				<a href="#" class="form_close">Cancel</a>
				<%= f.hidden_field :page_id, :value => page_id %>
				<%= f.hidden_field :position, :value => position if defined? position %>
				<%= f.submit "Done", :class => 'user_submit' %>
			</div>
		</fieldset>
	<% end %>
</section>