<% if action_name != 'new' %>
	<% content_for :head_css do %>

		<style type="text/css" media="screen">
			h1 {
				font-family: <%=raw get_font_stack(@theme.header_type) %>; font-weight: <%=raw get_font_weight(@theme.header_type) %>; color: #<%= @theme.header_colour %>; font-size: <%= @theme.header_size %>px;
			}
				h1 img {
					max-width: 100%;
				}
			h2, h3 {
				font-family: <%=raw get_font_stack(@theme.subheader_type) %>; font-weight: <%=raw get_font_weight(@theme.subheader_type) %>; color: #<%= @theme.subheader_colour %>;
			}
			h2 {
				font-size: <%= @theme.subheader_size %>px;
			}
			h3 {
				font-size: <%= @theme.subheader_size * 0.65 %>px;
			}
			body {
				color: #<%= @theme.body_colour %>; font-family: <%=raw get_font_stack(@theme.body_type) %>; font-weight: <%=raw get_font_weight(@theme.body_type) %>; font-size: <%= @theme.body_size %>px;
				background-color: #<%= @theme.background_colour %>; background-image: url('<%= @theme.background_image_enabled ? @theme.background_image : '' %>');
				background-repeat: <%= @theme.background_image_alignment == 'center' ? 'no-repeat' : 'repeat'; %>; background-attachment: <%= @theme.background_image_fixed ? 'fixed' : 'scroll' %>;
				background-size: <%= @theme.background_image_alignment %>; -moz-background-size: <%= @theme.background_image_alignment %>; -webkit-background-size: <%= @theme.background_image_alignment %>;
			}
				article {
					background-color: rgba(<%= hex_to_rgb(@theme.content_background_colour) %>, <%= @theme.content_background_opacity.to_f / 100 %>);
					width: 450px; padding: 25px 30px;
				}
		</style>

	<% end %>
<% end %>

<article class="theme_editor">
	<header>
		<h1><%= @theme.theme_name || 'My Company Name' %></h1>
		<h2>Bacon ipsum dolor sit amet spare ribs pork belly.</h2>
	</header>
	
	<section class="text_areas">
		<h3>Header Lorem Ipsum</h3>
		<p>Lorem Ipsum Dolorean Consequitor asasdf asdfdf asdf</p>
	</section>
	<section class="buttons">
		<a href="http://google.com" class="call_to_action_button">adf asdf</a>
	</section>
	<section class="services">
		<h3>Our Services</h3>
		<p>asdf asdf asdf asdf</p>
		<ul>
			<li>adf asdf asdf asdf </li>
			<li>adsf asdf asdf asdf asdf </li>
		</ul>
	</section>
	<section class="contact_form_fields">
		<h3>Contact Us</h3>
		<p>adf asdf asdf asdf adsf</p>

		<form class="onepager_form">
			<fieldset>
				<label for="contact_form_responses__value">Name</label>
				<input class="onepager_input" type="text" value="" />
			</fieldset>
			<fieldset>
				<label for="contact_form_responses__value">Email</label>
				<input class="onepager_input" type="text" value="" />
			</fieldset>
			<fieldset>
				<label for="contact_form_responses__value">Message</label>
				<textarea class="onepager_input"></textarea>
			</fieldset>
			<div class="onepager_form_actions">
				<input class="onepager_submit" name="commit" type="submit" value="Submit" />
			</div>
		</form>
	</section>
	<section class="embeds">
		<h3>asdfasdfasdf</h3>
		<p>asdfasdfasdf</p>
		<iframe width="430" height="242" src="https://www.youtube.com/embed/YLO7tCdBVrA?fs=1&feature=oembed" frameborder="0" allowfullscreen></iframe>
	</section>
	<section class="contact_sections">
		<h3>Contact Us</h3>
		<p>adsf asdf adsf</p>
		<ul>
			<li itemprop="telephone">555-555-5555</li>
			<li itemprop="faxNumber">555-555-5556 (Fax)</li>
			<li itemprop="email"><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%65%6d%61%69%6c@%67%6d%61%69%6c.%63%6f%6d">email@gmail.com</a></li>
			<li itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">123 Main St</span><br />Suite 5<br /><span itemprop="addressLocality">New York</span>, <span itemprop="addressRegion">NY</span>  <span itemprop="postalCode">10022</span></li>
		</ul>
		<a href="http://maps.google.com/maps?q=123+Main+St+Suite+5+New+York%2C+NY+10022" target="_blank" itemprop="maps" class="map">
			<img src="https://maps.google.com/maps/api/staticmap?center=123+Main+St+Suite+5+New+York%2C+NY+10022&zoom=15&size=450x300&maptype=roadmap&markers=color:red%7Ccolor:red%7C123+Main+St+Suite+5+New+York%2C+NY+10022&sensor=false&key=AIzaSyCJeGbqsAE52iUiWBc__AnQ-5YBjskkuo0" width="100%" />
		</a>
	</section>
	<section class="hours">
		<h3>Hours</h3>
		<p>adsf asdf asdf asdf asdf asdf asdf asdf </p>
		<ul>
			<li><strong>Mon - Wed, Fri</strong> <span>9:00 AM - 5:00 PM</span></li>
			<li><strong>Thu</strong> <span>9:00 AM - 7:00 PM</span></li>
			<li><strong>Sat - Sun</strong> <span>11:00 AM - 5:00 PM</span></li>
		</ul>
	</section>
	<section class="social_buttons">
		<h3>Social</h3>
		<p>adf adf asdf asdf asdf asdf asdf </p>
		<a href="http://facebook.com/onepagerapp"><img src="/assets/pages/social-buttons/facebook.png" target="_blank" alt="Facebook" /></a>
		<a href="http://twitter.com/onepagerapp"><img src="/assets/pages/social-buttons/twitter.png" target="_blank" alt="Twitter" /></a>
		<a href="http://linkedin.com/company/onepagerapp"><img src="/assets/pages/social-buttons/linkedin.png" target="_blank" alt="LinkedIn" /></a>
		<a href="http://onepagerapp.tumblr.com"><img src="/assets/pages/social-buttons/blog.png" target="_blank" alt="Blog" /></a>
		<a href="http://onepagerapp.tumblr.com"><img src="/assets/pages/social-buttons/tumblr.png" target="_blank" alt="tumblr" /></a>
		<a href="http://youtube.com/onepagerapp"><img src="/assets/pages/social-buttons/youtube.png" target="_blank" alt="YouTube" /></a>
		<a href="http://vimeo.com/onepagerapp"><img src="/assets/pages/social-buttons/vimeo.png" target="_blank" alt="Vimeo" /></a>

		<div class="like_buttons">
			<a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-lang="en">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

			<!-- Place this tag where you want the +1 button to render. -->
			<div class="g-plusone" data-size="medium" data-annotation="none"></div>

			<!-- Place this tag after the last +1 button tag. -->
			<script type="text/javascript">
			(function() {
				var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				po.src = 'https://apis.google.com/js/plusone.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			})();
			</script>

			<script>(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
				fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>
				<div class="fb-like" data-href="http%3A%2F%2Flocalhost%3A3000%2Fsites%2F1%2Fpages%2F1" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div>
				<div id="fb-root"></div>
			</div>
	</section>
	<section class="newsletters">
		<h3>Sign Up For Our Newsletter</h3>
		<p>adsf adsf asdf asdf adsf </p>
		<form class="new_subscriber">
			<fieldset>
				<input class="onepager_input" placeholder="Enter your email address" size="30" type="text" />
				<input class="onepager_submit" name="commit" type="submit" value="Subscribe" />
			</fieldset>
		</form>
	</section>
	<section class="galleries">
		<h3>Images</h3>
		<img alt="" src="/uploads/gallery_image/444/thumbnail_907-original.jpg" />
		<img alt="" src="/uploads/gallery_image/445/thumbnail_908-original.jpg" />
		<img alt="" src="/uploads/gallery_image/446/thumbnail_909-original.jpg" />
	</section>
	<footer>
		&copy; 2016 <span>My Company Name</span>
	</footer>
</article>

<section class="theme_selector">
	
	<% if @theme.errors.any? %>
		<div class="errors">
			<%= flash[:notice] %>
			<%= @theme.errors.full_messages.join(", ") if !@theme.errors.blank? %>
		</div>
	<% end %>
	<% if !flash[:notice].blank? %>
		<div class="notice">
			<%= flash[:notice] %>
		</div>
	<% end %>
	
	<%= form_for [:opgadmin, @theme], :html => { :enctype => "multipart/form-data" } do |f| %>
	
		<fieldset>
			<ul>
				<li>
					<%= f.label :theme_name %>
					<%= f.text_field :theme_name, :class => 'user_input', :size => '' %>
				</li>
				<li>
					<%= f.label :screenshot_image %>
					<%= f.file_field :screenshot_image %>
					<%= image_tag @theme.screenshot_image, :alt => '' if !@theme.screenshot_image.blank? %>
				</li>
			</ul>
		</fieldset>
	
		<fieldset>
			<ul>
				<li class="colorpicker">
					<%= f.label :background_colour, 'Page Background Color' %>
					<%= f.text_field :background_colour, :class => 'user_input short_input', :size => '', :placeholder => 'Color', :maxlength => 6 %>
				</li>
				<li>
					<%= f.label :background_image, 'Page Background Image' %>
					<%= f.file_field :background_image %>
					<%= f.select :background_image_alignment, Site::ALIGNMENTS %>
					<div class="checkbox">
						<%= f.check_box :background_image_fixed %>
						<%= f.label :background_image_fixed, 'Fixed in place' %>
					</div>
					<%= image_tag @theme.background_image, :alt => '' if !@theme.background_image.blank? %>
					<div class="checkbox">
						<%= f.check_box :background_image_enabled %>
						<%= f.label :background_image_enabled, 'Display background image' %>
					</div>
				</li>
			</ul>
		</fieldset>
		<fieldset>
			<ul>
				<li class="colorpicker">
					<%= f.label :content_background_colour, 'Content Background' %>
					<%= f.text_field :content_background_colour, :class => 'user_input short_input', :size => '', :placeholder => 'Color', :maxlength => 6 %>
					<%= f.text_field :content_background_opacity, :class => 'user_input short_input', :size => '', :placeholder => 'Opacity', :maxlength => 3 %>
				</li>
			</ul>
		</fieldset>
		<fieldset>
			<ul>
				<li>
					<%= f.label :header_type, 'Company Font' %>
					<%= f.select :header_type, font_select() %>
				</li>
				<li>
					<%= f.label :subheader_type, 'Header Font' %>
					<%= f.select :subheader_type, font_select() %>
				</li>
				<li>
					<%= f.label :body_type, 'Body Font' %>
					<%= f.select :body_type, font_select( Site::FONTS['safe'] + Site::FONTS['basic'] ) %>
				</li>
				<li class="colorpicker">
					<%= f.label :header_colour, 'Header Styles' %>
					<%= f.text_field :header_colour, :class => 'user_input short_input', :size => '', :placeholder => 'Color', :maxlength => 6 %>
					<%= f.text_field :header_size, :class => 'user_input short_input', :size => '', :placeholder => 'Size' %>
				</li>
				<li class="colorpicker">
					<%= f.label :subheader_colour, 'Subheader Styles' %>
					<%= f.text_field :subheader_colour, :class => 'user_input short_input', :size => '', :placeholder => 'Color', :maxlength => 6 %>
					<%= f.text_field :subheader_size, :class => 'user_input short_input', :size => '', :placeholder => 'Size' %>
				</li>
				<li class="colorpicker">
					<%= f.label :body_colour, 'Body Font Styles' %>
					<%= f.text_field :body_colour, :class => 'user_input short_input', :size => '', :placeholder => 'Color', :maxlength => 6 %>
					<%= f.text_field :body_size, :class => 'user_input short_input', :size => '', :placeholder => 'Size' %>
				</li>
			</ul>
		</fieldset>
		<div class="form_actions">
			<%= f.submit 'Apply Theme', :class => 'user_submit' %>
			<%= link_to 'Cancel', opgadmin_themes_path %>
		</div>
	
	<% end %>
</section>

<% content_for :js_inject do %>
	<script type="text/javascript">
		OnepagerAdmin.Theme.edit(<%= @theme.id || "'new'" %>);
	</script>
<% end %>