<% content_for :header do %>
	<%= link_to '+ New Theme', new_opgadmin_theme_path, :class => 'general_button' %>
<% end %>

<article class="theme_list">
	<ol data-url="/admin/themes/update_positions">
		<% @themes.each do |t| %>
			<li id="theme_<%= t.id %>">
				<h2><%= link_to t.theme_name, edit_opgadmin_theme_path(t) %></h2>
				<%= image_tag t.screenshot_image, :alt => '' %>
				<div class="theme_actions">
					<%= link_to 'Edit', edit_opgadmin_theme_path(t) %>
					<%= link_to 'Delete', opgadmin_theme_path(t), :method => :delete, :confirm => 'Are you sure you want to delete this theme?' %>
				</div>
			</li>
		<% end %>
	</ol>
</article>

<% content_for :js_inject do %>
	<script type="text/javascript">
		OnepagerAdmin.Theme.load();
	</script>
<% end %>