<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>You are now subscribed to the newsletter.</title>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-webkit-text-size-adjust: none;margin: 0;padding: 0;background-color: #e7e7e7;width: 100% !important; text-align:left;">
	<center>
		<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="margin: 0;padding: 0;background-color: #e7e7e7;height: 100% !important;width: 100% !important;">
		    <tr>
				<td align="center" valign="top" style="border-collapse: collapse;">
				    <table border="0" cellpadding="0" cellspacing="0" width="700">
				        <tr>
				            <td style="border-collapse: collapse;padding: 30px 35px;margin: 0;width: 700px;">
				                <h1 style="display:block;margin:0;padding:0;left:0;top:0;z-index:1;color:#000000;text-align:center;width:100%;font-size:18px;font-family: Arial;">Confirm subscription to <%= @site.company_name %></h1>
							</td>
				        </tr>
				    </table>
					<table border="0" cellpadding="0" cellspacing="0" width="700">
						<tr>
							<td align="left" valign="top" style="border-collapse: collapse;padding: 30px 35px;margin: 0;width: 700px;background: #ffffff;">
							    <p style="font-size: 16px;line-height: 22px;font-weight: normal;font-family:Arial;color: #191919; text-align: center;padding-bottom: 10px; text-align:left;">Hi,</p>
                                <p style="font-size: 16px;line-height: 22px;font-weight: normal;font-family:Arial;color: #191919; text-align: center;padding-bottom: 10px; text-align:left;">Thank you for signing up for our email newsletter. The last thing we need is for you to verify your email address by clicking the following link:</p>
                                <p style="font-size: 16px;line-height: 22px;font-weight: normal;font-family:Arial;color: #191919; text-align: center;padding-bottom: 10px; text-align:left;">
                                	<% if @site.user.white_label_active %>
	                                	<a href="<%= @site.url_host.gsub("onepagerapp.com", "easysiteadmin.com") %>/subscribers/<%= @subscriber.to_param %>/subscribe">
	                                		<%= @site.url_host.gsub("onepagerapp.com", "easysiteadmin.com") %>/subscribers/<%= @subscriber.to_param %>/subscribe
	                                	</a>
	                                <% else %>
	                                	<a href="<%= @site.url_host %>/subscribers/<%= @subscriber.to_param %>/subscribe">
	                                		<%= @site.url_host %>/subscribers/<%= @subscriber.to_param %>/subscribe
	                                	</a>
                                	<% end %>
                                </p>
                                <p style="font-size: 16px;line-height: 22px;font-weight: normal;font-family:Arial;color: #191919; text-align: center;padding-bottom: 10px; text-align:left;">If you received this message in error, just ignore it and you won't be signed up.</p>
                                <p style="font-size: 16px;line-height: 22px;font-weight: normal;font-family:Arial;color: #191919; text-align: center;padding-bottom: 10px; text-align:left;">Thank you,<br /><%= @site.company_name %></p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</center>
</body>
</html>