<p>Hi there!</p>
<p>Someone submitted the contact form on your site, <%= @company_name %>, the information is below:</p>
<% @contact_form_fields_and_responses.each do |k, v| %>
	<p><%= k %>: <%= v %></p>
<% end %>