<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Welcome to Onepager</title>
	</head>
	
	<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-webkit-text-size-adjust: none;margin: 0;padding: 0;background-color: #ededed;width: 100% !important;">
		<center>
			<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="margin: 0;padding: 0;background-color: #ededed;height: 100% !important;width: 100% !important;">
				<tr>
					<td align="center" valign="top" style="border-collapse: collapse;">
						
						<!-- Begin Top Logo Area -->
						
						<table border="0" cellpadding="0" cellspacing="0" width="600" style="height:102px;">
							<tr>
								<td align="center" valign="top" style="border-collapse: collapse;">
									<img src="http://onepagerapp.com/email/images/top.jpg" style="border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;" alt="Thanks for joining us!">
								</td>
							</tr>
						</table>
						<table>
							<tr>
								<td align="center" valign="top" style="border-collapse: collapse;padding: 0;margin: 0;width: 700px;background: #f47d3d;">
									<h1 style="display:block;margin:0;padding:0;left:0;top:0;z-index:1;color:#ffffff;text-shadow:0 0 5px #d96d33;text-align:center;width:100%;font-size:30px;line-height:107px;font-family: Arial;">Thanks for joining us!</h1>
								</td>
							</tr>
						</table>
						
						<!-- End Top Logo Area -->
						
						
						<!-- Begin Body Area -->
						
						<table border="0" cellpadding="0" cellspacing="0" width="700">
							<tr>
								<td align="left" valign="top" class="mainContent" style="border-collapse: collapse;padding: 30px 35px 0 35px;margin: 0;width: 700px;background: #ffffff;">
									<p style="font-family: Arial;font-size: 18px;line-height: 27px;color: #000000;padding-bottom: 10px;">If you'd like to get a hold of us at any time, just reply to this email.</p>
									<table border="0" cellpadding="0" cellspacing="0" width="630" class="url_grid" style="font-family: Arial;font-size: 18px;line-height: 27px;color: #000000;padding-bottom: 10px;">
										<tr>
											<td align="left" valign="top" colspan="2" style="border-collapse: collapse;padding: 6px 0;">
												<img src="http://onepagerapp.com/email/images/divider.jpg" style="border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;">
											</td>
										</tr>
										<tr>
											<td style="border-collapse: collapse;padding: 6px 0;"><b>Your Free Address:</b></td>
											<td style="border-collapse: collapse;padding: 6px 0;"><a href="<%= @site.url_fullpath %>" style="color: #c15a36;font-weight: normal;text-decoration: underline;"><%= @site.url_fullpath %></a></td>
										</tr>
										<tr>
											<td align="left" valign="top" colspan="2" style="border-collapse: collapse;padding: 6px 0;">
												<img src="http://onepagerapp.com/email/images/divider.jpg" style="border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;">
											</td>
										</tr>
										<tr>
											<td style="border-collapse: collapse;padding: 6px 0;"><b>Editing Your Onepager:</b></td>
											<td style="border-collapse: collapse;padding: 6px 0;"><a href="http://onepagerapp.com/signin" style="color: #c15a36;font-weight: normal;text-decoration: underline;">https://onepagerapp.com/signin</a></td>
										</tr>
										<tr>
											<td align="left" valign="top" colspan="2" style="border-collapse: collapse;padding: 6px 0;">
												<img src="http://onepagerapp.com/email/images/divider.jpg" style="border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;">
											</td>
										</tr>
										<tr>
											<td style="border-collapse: collapse;padding: 6px 0;"><b>Upgrading Your Onepager:</b></td>
											<td style="border-collapse: collapse;padding: 6px 0;"><a href="https://onepagerapp.com/account/upgrade" style="color: #c15a36;font-weight: normal;text-decoration: underline;">https://onepagerapp.com/account/upgrade</a></td>
										</tr>
										<tr>
											<td align="left" valign="top" colspan="2" style="border-collapse: collapse;padding: 6px 0;">
												<img src="http://onepagerapp.com/email/images/divider.jpg" style="border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;">
											</td>
										</tr>
									</table>
									
									<p style="font-family: Arial;font-size: 18px;line-height: 27px;color: #000000;padding-bottom: 10px;text-align:left;">There are several reasons to <a href="https://onepagerapp.com/account/upgrade" style="color: #c15a36;font-weight: normal;text-decoration: underline;">upgrade</a>:</p>
										<ul style="font-family: Arial;font-size: 18px;line-height: 27px;color: #000000;padding-bottom: 10px;text-align:left;">
											<li>Use a custom URL for your site (yourcompany.com)</li>
											<li>Monitor your website traffic with analytics</li>
											<li>Sell products &amp; services with simple ecommerce</li>
											<li>Let your customers reach you with custom forms</li>
											<li>Send email newsletters to your customers</li>
											<li>No Onepager advertising on your page</li>
											<li>Help support a fellow small business!</li>
										</ul>
									<p style="font-family: Arial;font-size: 18px;line-height: 27px;color: #000000;padding-bottom: 10px;text-align:left;">If you want to keep up with what we're up to, you can follow us on <a href="http://twitter.com/onepagerapp" style="color: #c15a36;font-weight: normal;text-decoration: underline;">Twitter</a> and like us on <a href="http://facebook.com/onepager" style="color: #c15a36;font-weight: normal;text-decoration: underline;">Facebook</a>.</p>
									<p style="font-family: Arial;font-size: 18px;line-height: 27px;color: #000000;padding-bottom: 10px;text-align:left;">That's it! Thanks again for using Onepager.</p>
									<p style="font-family: Arial;font-size: 18px;line-height: 27px;color: #000000;padding-bottom: 10px;text-align:left;"><img src="http://onepagerapp.com/email/images/team.jpg" style="border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;"></p>
								</td>
							</tr>
						</table>
						
						<!-- End Body Area -->
						
						
						<!-- Begin Footer Area -->
						
						<table border="0" cellpadding="0" cellspacing="0" width="700">
							<tr>
								<td align="left" valign="top" colspan="2" style="border-collapse: collapse;">
									<img src="http://onepagerapp.com/email/images/ending.jpg" style="border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;">
								</td>
							</tr>
							<tr>
								<td align="center" valign="top" class="secondaryContent" width="200" style="border-collapse: collapse;padding: 0 20px 0 20px;">
									<a href="http://facebook.com/onepager" style="color: #999999;font-weight: normal;text-decoration: underline;"><img src="http://onepagerapp.com/email/images/facebook.gif" style="border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;"></a>
									<a href="http://twitter.com/onepagerapp" style="color: #999999;font-weight: normal;text-decoration: underline;"><img src="http://onepagerapp.com/email/images/twitter.gif" style="border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;"></a>
								</td>
							</tr>
						</table>
						
						<!-- End Footer Area -->
						
					</td>
				</tr>
			</table>
		</center>
	</body>
</html>