<p>Hi <%= @user.first_name %>,</p>
<p>Someone submitted the promotion form on your site, <%= @company_name %>, the information is below:</p>

<% if !@promotion_response.name.blank? %>
  <p>Name: <%= @promotion_response.name %></p>
<% end %>

<% if !@promotion_response.email.blank? %>
  <p>Email: <%= @promotion_response.email %></p>
<% end %>

<% if !@promotion_response.phone.blank? %>
  <p>Phone: <%= @promotion_response.phone %></p>
<% end %>