<p>
	<%= @user.email %><br />
	<%= @user.first_name %> <%= @user.last_name %><br />
	<%= @user.address %><br />
	<%= @user.address2 %><br />
	<%= @user.city %>, <%= @user.state %> <%= @user.zip %>
</p>

<p>Payment Frequency: <%= @user.payment_frequency %></p>
<p>Payment Plan: <%= @user.payment_plan %></p>
<p>Domain Type: <%= @site.domain_type %></p>
<p>Domain: <%= @site.domain_name %></p>
<p>Onepager Address: http://onepagerapp.com/<%= @site.onepager_address %></p>
<p>Created Date: <%= @user.created_at %></p>
<p>Upgrade Date: <%= @user.upgrade_date %> - Check if proration needed if upgrade date is not blank and created date is older than 10-29-12</p>