<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Welcome to Onepager</title>
	</head>

	<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-webkit-text-size-adjust: none;margin: 0;padding: 0;background-color: #ededed;width: 100% !important;">
		<center>
			<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="margin: 0;padding: 0;background-color: #ededed;height: 100% !important;width: 100% !important;">
				<tr>
					<td align="center" valign="top" style="border-collapse: collapse;">
						
						<!-- Begin Top Logo Area -->
						
						<table border="0" cellpadding="0" cellspacing="0" width="600" style="height:102px;">
							<tr>
								<td align="center" valign="top" style="border-collapse: collapse;">
									<img src="http://onepagerapp.com/email/images/top.jpg" alt="Thanks for joining us!" style="border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none;">
								</td>
							</tr>
						</table>
						<table>
							<tr>
								<td align="center" valign="top" style="border-collapse: collapse;padding: 0;margin: 0;width: 700px;background: #f47d3d;">
									<h1 style="display:block;margin:0;padding:0;left:0;top:0;z-index:1;color:#ffffff;text-shadow:0 0 5px #d96d33;text-align:center;width:100%;font-size:30px;line-height:107px;font-family: Arial;">Thanks for joining us!</h1>
								</td>
							</tr>
						</table>
						
						<!-- End Top Logo Area -->
						
						
						<!-- Begin Body Area -->
						
						<table border="0" cellpadding="0" cellspacing="0" width="700">
							<tr>
								<td align="left" valign="top" class="mainContent" style="border-collapse: collapse;padding: 30px 35px 0 35px;margin: 0;width: 700px;background: #ffffff;">
									<p style="font-family: Arial;font-size: 18px;line-height: 27px;color: #000000;padding-bottom: 10px;text-align:left;">Hi <%= @user.first_name %>,</p>
									<p style="font-family: Arial;font-size: 18px;line-height: 27px;color: #000000;padding-bottom: 10px;text-align:left;">Thanks for creating a Onepager! If you'd like to get a hold of us, just reply to this email.</p>
									
									<% if @site.domain_type == "new_custom_domain" %>
										<p style="font-family: Arial;font-size: 18px;line-height: 27px;color: #000000;padding-bottom: 10px;text-align:left;">Your custom domain, <a href="http://<%= @site.domain_name %>" style="color: #c15a36;font-weight: normal;text-decoration: underline;"><%= @site.domain_name %></a>, is currently being set up. It can take up to 24 hours, so don't wear out your refresh button right now. In the meantime, you can use <a href="http://onepagerapp.com/<%= @site.onepager_address %>" style="color: #c15a36;font-weight: normal;text-decoration: underline;">http://onepagerapp.com/<%= @site.onepager_address %></a> to see your new Onepager.</p>
									<% elsif @site.domain_type == "existing_custom_domain" %>
										<p style="font-family: Arial;font-size: 18px;line-height: 27px;color: #000000;padding-bottom: 10px;text-align:left;">You chose to use a domain that you already own for your Onepager. You'll need to do some extra work with the company you bought your domain from to get everything up and running. Check out our <a href="http://onepagerapp.com/en/resources/faq#a7" style="color: #c15a36;font-weight: normal;text-decoration: underline;">help page</a> to see how it's done. In the meantime, you can use <a href="http://onepagerapp.com/<%= @site.onepager_address %>">http://onepagerapp.com/<%= @site.onepager_address %></a> to see your new Onepager.</p>
									<% elsif @site.domain_type == "no_custom_domain" %>
										<p style="font-family: Arial;font-size: 18px;line-height: 27px;color: #000000;padding-bottom: 10px;text-align:left;">You can find your site at <a href="http://onepagerapp.com/<%= @site.onepager_address %>" style="color: #c15a36;font-weight: normal;text-decoration: underline;">http://onepagerapp.com/<%= @site.onepager_address %></a>.</p>
									<% end %>
									
									<p style="font-family: Arial;font-size: 18px;line-height: 27px;color: #000000;padding-bottom: 10px;text-align:left;">Whenever you'd like to update your site, just sign in from the Onepager <a href="http://onepagerapp.com" style="color: #c15a36;font-weight: normal;text-decoration: underline;">homepage</a>.</p>
									
									<% if @user.payment_frequency == "Monthly" %>
										<p style="font-family: Arial;font-size: 18px;line-height: 27px;color: #000000;padding-bottom: 10px;text-align:left;">On the billing side, you chose the monthly plan, which means you will be charged <%= number_to_currency @user.monthly_total %>/month.<% if @site.domain_type == "new_custom_domain"%> Your custom domain will be charged separately at <%= number_to_currency @user.domain_registration_total %>/year.<% end %></p>
									<% elsif @user.payment_frequency == "Yearly" %>
										<p style="font-family: Arial;font-size: 18px;line-height: 27px;color: #000000;padding-bottom: 10px;text-align:left;">On the billing side, you chose the yearly plan, which means you will be charged <%= number_to_currency @user.plan_only_yearly_total %>/year.<% if @site.domain_type == "new_custom_domain"%> Your custom domain will be charged separately at <%= number_to_currency @user.domain_registration_total %>/year.<% end %></p>
									<% end %>
									
									<p style="font-family: Arial;font-size: 18px;line-height: 27px;color: #000000;padding-bottom: 10px;text-align:left;">If you want to keep up with what we're up to, you can follow us on <a href="http://twitter.com/onepagerapp" style="color: #c15a36;font-weight: normal;text-decoration: underline;">Twitter</a> and like us on <a href="http://facebook.com/onepager" style="color: #c15a36;font-weight: normal;text-decoration: underline;">Facebook</a>.</p>
									<p style="font-family: Arial;font-size: 18px;line-height: 27px;color: #000000;padding-bottom: 10px;text-align:left;">That's it! Thanks again for using Onepager!</p>
									<p style="font-family: Arial;font-size: 18px;line-height: 27px;color: #000000;padding-bottom: 10px;text-align:left;"><img src="http://onepagerapp.com/email/images/team.jpg" style="border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;"></p>
								</td>
							</tr>
						</table>
						
						<!-- End Body Area -->
						
						
						<!-- Begin Footer Area -->
						
						<table border="0" cellpadding="0" cellspacing="0" width="700">
							<tr>
								<td align="left" valign="top" colspan="2" style="border-collapse: collapse;">
									<img src="http://onepagerapp.com/email/images/ending.jpg" style="border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;">
								</td>
							</tr>
							<tr>
								<td align="center" valign="top" class="secondaryContent" width="200" style="border-collapse: collapse;padding: 0 20px 0 20px;">
									<a href="http://facebook.com/onepager" style="color: #999999;font-weight: normal;text-decoration: underline;"><img src="http://onepagerapp.com/email/images/facebook.gif" style="border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;"></a>
									<a href="http://twitter.com/onepagerapp" style="color: #999999;font-weight: normal;text-decoration: underline;"><img src="http://onepagerapp.com/email/images/twitter.gif" style="border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;"></a>
								</td>
							</tr>
						</table>
						
						<!-- End Footer Area -->
						
					</td>
				</tr>
			</table>
		</center>
	</body>
</html>