<p>Your new account has been created, please use the follwing information to sign in:</p>

<% if @site.user_id == 11017 %>

  <p><a href="http://login.affinity-ezweb.com">http://login.affinity-ezweb.com</a><br />

<% else %>

  <p><a href="http://easysiteadmin.com">http://easysiteadmin.com</a><br />

<% end %>

Email: <%= @user.email %><br />
Password: <%= @password %></p>