<%= sanitize(@newsletter.message, :tags => %w(p strong b em i br a)) %>

<p style="font-size: 10px;">This email was sent on behalf of <%= @site.company_name %> because you signed up for their newsletter. For more information, visit <a href="<%= @site.url_fullpath %>"><%= @site.url_fullpath %></a>. To unsubscribe from all further emails click this link: <a href="<%= @site.url_host %>/subscribers/<%= @subscriber.to_param %>/unsubscribe"><%= @site.url_host %>/subscribers/<%= @subscriber.to_param %>/unsubscribe</a></p>