<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Password Reset</title>
	</head>

	<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-webkit-text-size-adjust: none;margin: 0;padding: 0;background-color: #ededed;width: 100% !important;">
		<center>
			<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="margin: 0;padding: 0;background-color: #ededed;height: 100% !important;width: 100% !important;">
				<tr>
					<td align="center" valign="top" style="border-collapse: collapse;">
						<!-- Begin Top Logo Area -->
						<table border="0" cellpadding="0" cellspacing="0" width="600" style="height:102px;">
							<tr>
								<td align="center" valign="top" style="border-collapse: collapse;">
									<img src="http://onepagerapp.com/email/images/top.jpg" style="border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;">
								</td>
							</tr>
						</table>
						<table>
							<tr>
								<td align="center" valign="top" style="border-collapse: collapse;padding: 0;margin: 0;width: 700px;background: #f47d3d;">
									<h1 style="display:block;margin:0;padding:0;left:0;top:0;z-index:1;color:#ffffff;text-shadow:0 0 5px #d96d33;text-align:center;width:100%;font-size:30px;line-height:107px;font-family: Arial;">Time to reset your password</h1>
								</td>
							</tr>
						</table>
						<!-- End Top Logo Area -->
							
						<!-- Begin Body Area -->
						<table border="0" cellpadding="0" cellspacing="0" width="700">
							<tr>
								<td align="left" valign="top" class="mainContent" style="border-collapse: collapse;padding: 30px 35px 0 35px;margin: 0;width: 700px;background: #ffffff;">
									<p style="font-family: Arial;font-size: 18px;line-height: 27px;color: #000000;padding-bottom: 10px;text-align:left;">Hello there,</p>
									<p style="font-family: Arial;font-size: 18px;line-height: 27px;color: #000000;padding-bottom: 10px;text-align:left;">It looks like you requested that your Onepager password be reset. Click this link to change your password:</p>
									<p style="font-family: Arial;font-size: 18px;line-height: 27px;color: #000000;padding-bottom: 10px;text-align:left;"><a href="<%= edit_reset_password_url(:id => @user.perishable_token) %>" style="color: #c15a36;font-weight: normal;text-decoration: underline;"><%= edit_reset_password_url(:id => @user.perishable_token) %></a></p>
									<p style="font-family: Arial;font-size: 18px;line-height: 27px;color: #000000;padding-bottom: 10px;text-align:left;">If the link doesn’t work, copy and paste it into your browser's address bar.</p>
									<p style="font-family: Arial;font-size: 18px;line-height: 27px;color: #000000;padding-bottom: 10px;text-align:left;">If it wasn’t you that made this request, don't worry, your password is still safe and you can delete this email.</p>
									<p style="font-family: Arial;font-size: 18px;line-height: 27px;color: #000000;padding-bottom: 10px;text-align:left;">Feel free to reply to this email if you have any questions or concerns.</p>
									<p style="font-family: Arial;font-size: 18px;line-height: 27px;color: #000000;padding-bottom: 10px;text-align:left;">Thanks for using Onepager!</p>
									<p style="font-family: Arial;font-size: 18px;line-height: 27px;color: #000000;padding-bottom: 10px;text-align:left;"><img src="http://onepagerapp.com/email/images/team.jpg" style="border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;"></p>
								</td>
							</tr>
						</table>
						<!-- End Body Area -->
							
						<!-- Begin Footer Area -->
						<table border="0" cellpadding="0" cellspacing="0" width="700">
							<tr>
								<td align="left" valign="top" colspan="2" style="border-collapse: collapse;">
									<img src="http://onepagerapp.com/email/images/ending.jpg" style="border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;">
								</td>
							</tr>
							<tr>
								<td align="center" valign="top" class="secondaryContent" width="200" style="border-collapse: collapse;padding: 0 20px 0 20px;">
									<a href="http://facebook.com/onepager" style="color: #999999;font-weight: normal;text-decoration: underline;"><img src="http://onepagerapp.com/email/images/facebook.gif" style="border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;"></a>
									<a href="http://twitter.com/onepagerapp" style="color: #999999;font-weight: normal;text-decoration: underline;"><img src="http://onepagerapp.com/email/images/twitter.gif" style="border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;"></a>
								</td>
							</tr>
						</table>
						<!-- End Footer Area -->
					</td>
				</tr>
			</table>
		</center>
	</body>
</html>