<p>Hi there,</p>

<p>Click this link to reset your site admin password:</p>

<p><a href="<%= edit_reset_password_url(:host => "easysiteadmin.com", :id => @user.perishable_token) %>"><%= edit_reset_password_url(:host => "easysiteadmin.com", :id => @user.perishable_token) %></a>