<% content_for :header do %>
	<section class="filters">
		<strong>View:</strong> 
		<a href="/opgadmin/users"<%=raw ' class="on"' if params[:plan].blank? && params[:active].blank? %>>All</a>
		<a href="/opgadmin/users?plan=Agency"<%=raw ' class="on"' if params[:plan] == 'Agency' %>>Agency</a>
		<a href="/opgadmin/users?plan=Premium"<%=raw ' class="on"' if params[:plan] == 'Premium' %>>Premium</a>
		<a href="/opgadmin/users?plan=Plus"<%=raw ' class="on"' if params[:plan] == 'Plus' %>>Plus</a>
		<a href="/opgadmin/users?plan=Starter"<%=raw ' class="on"' if params[:plan] == 'Starter' %>>Starter</a>
		<a href="/opgadmin/users?plan=Trial"<%=raw ' class="on"' if params[:plan] == 'Trial' %>>Free</a>
		<a href="/opgadmin/users?active=false"<%=raw ' class="on"' if params[:active] == 'false' %>>Deactivated</a>
	</section>
	<section class="search">
		<%= form_tag opgadmin_users_path, :method => :get do %>
			<fieldset>
				<%= text_field_tag :search, params[:search], :placeholder => "Search All Users" %>
				<%= submit_tag 'Search' %>
			</fieldset>
		<% end %>
	</section>
<% end %>

<article class="users_table">
	<% if notice %>
		<div class="notice">
			<%= notice %>
		</div>
	<% end %>
	<table>
		<tr>
			<th>ID</th>
			<th>Email</th>
			<th>Name</th>
			<th>Plan</th>
			<th>Period</th>
			<th>Sites</th>
		</tr>
		<% @users.each do |u| %>
			<tr class="<%= cycle("odd", "even") %>">
				<td><%= u.id %></td>
				<td><%= link_to(u.email, opgadmin_user_path(u)) %></td>
				<td><%= u.first_name %>&nbsp;<%= u.last_name %></td>
				<td><%= u.payment_plan || raw('&nbsp;') %></td>
				<td><%= u.payment_frequency %></td>
				<td>
					<%=raw u.sites.collect { |s| link_to(s.company_name, s.url_fullpath, :target => '_blank') }.join('<br />') %>
					<%= content_tag(:strong, 'Deactivated') if u.active == false %>
				</td>
			</tr>
		<% end %>
	</table>
	<%= will_paginate @users %>
</article>