<% content_for :header do %>
	<%= link_to "Back", opgadmin_users_path %>
	<%= link_to 'Sign In as this user', signin_as_opgadmin_user_path(@user), :method => :post, :class => 'start', :target => '_blank' %>
<% end %>

<article class="user">
	
	<% if !notice.blank? %>
		<div class="notice">
			<%= notice %>
		</div>
	<% end %>
	
	<div class="detail">
		<h3><%= '(Deactivated) ' if !@user.active %>User Profile</h3>
		<dl>
			<dt><%= @user.payment_plan %> <%= @user.payment_frequency %></dt>
			<dd>Since: <%= @user.created_at.strftime("%b %d, %Y %l:%M %p %Z") %></dd>
			<% if !@user.upgrade_date.blank? %>
				<dd>Upgraded: <%= @user.upgrade_date.strftime("%b %d, %Y %l:%M %p %Z") %></dd>
			<% end %>
			<% if !@user.cancellation_date.blank? %>
				<dd>Canceled: <%= @user.cancellation_date.strftime("%b %d, %Y %l:%M %p %Z") %></dd>
			<% end %>
		</dl>
		<dl>
			<dt><%= @user.first_name %> <%= @user.last_name %></dt>
			<dd><%= @user.email %></dd>
			<dd>
				<%= @user.address %><br />
				<%=raw @user.address2 + '<br />' if !@user.address2.blank? %>
				<%= @user.city %> <%= @user.state %> <%= @user.zip %><br />
			</dd>
			<% if !@user.phone.blank? %>
				<dd>Tel.: <%= @user.phone %></dd>
			<% end %>
		</dl>
		<% if !@affiliate.blank? %>
			<dl>
				<dt>Affiliate Info</dt>
				<dd><%= @affiliate.first_name %> <%= @affiliate.last_name %></dd>
				<dd>
					<%= @affiliate.address %><br />
					<%= @affiliate.city %>, <%= @affiliate.state %> <%= @affiliate.postal_code %><br />
				</dd>
				<% if !@affiliate.phone.blank? %>
					<dd>Tel.: <%= @affiliate.phone %></dd>
				<% end %>
				<dd>PayPal: <%= @affiliate.paypal_email %></dd>
			</dl>
		<% end %>
	</div>
	
	<div class="actions">
		<h3>Account Settings</h3>
		<div class="buttons">
			<% if @user.allow_script_embeds? %>
				<%= link_to 'Disable script embeds', opgadmin_user_path(@user), :method => :put, :confirm => 'Are you sure you don\'t want to this user to embed scripts?' %>
			<% else %>
				<%= link_to 'Enable script embeds', opgadmin_user_path(@user), :method => :put, :confirm => 'Are you sure you want to this user to embed scripts?' %>
			<% end %>
			<% if @user.active %>
				<%= link_to 'Deactivate account', opgadmin_user_path(@user), :method => :delete, :confirm => 'Are you sure you want to deactivate this user? User will not be able to sign in and user\'s sites will not be viewable nor editable.' %>
			<% else %>
				<%= link_to 'Reactivate account', activate_opgadmin_user_path(@user), :method => :post, :confirm => 'Are you sure you want to reactivate this user? User will be able to sign in and user\'s sites will be viewable and editable.' %>
			<% end %>
		</div>
		<% if @user.payment_frequency != 'Trial' %>
			<%= form_tag cancel_opgadmin_user_path(@user) do %>
				<fieldset>
					<%= text_field_tag :cancellation_date, "#{Date.today}" %>
					<%= submit_tag "Cancel Account", :class => 'start', :confirm => 'Are you sure you want to cancel this account?' %>
					<em>Switches to free account, terminates future billing</em>
				</fieldset>
			<% end %>
		<% end %>
	</div>
	
	<% if @sites.where('active = true').length > 0 %>
		<table>
			<thead>
				<tr>
					<th>Site Name</th>
					<th>URLs</th>
					<th>Created</th>
					<th>Passcode</th>
					<th>Gumroad ID</th>
					<th>Status</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<% @sites.where('active = true').each do |s| %>
				<tr>
					<td><%= s.company_name %></td>
					<td>
						<%= link_to(s.onepager_address, 'http://onepagerapp.com/' + s.onepager_address, :target => '_blank') if !s.onepager_address.blank? %>
						<%=raw '<br />' + link_to(s.domain_name, 'http://' + s.domain_name, :target => '_blank') if !s.domain_name.blank? %>
						<%=raw '<br />' + s.domain_type.gsub('_custom_domain', ' ').titleize + ' Domain' if !s.domain_type.blank? && s.domain_type != 'no_custom_domain' %>
					</td>
					<td><%= s.created_at.strftime("%b %d, %Y %l:%M %p %Z") %></td>
					<td><%= 'sausalito' + s.id.to_s if s.password_protected? %></td>
					<td><%= s.gumroad_id if !s.gumroad_id.blank? %></td>
					<td><%= link_to "Active", opgadmin_site_path(s), :method => :delete, :confirm => 'Are you sure you want to deactivate this site? The user will see it as deleted.' %></td>
					<td><%= link_to "Clone", clone_opgadmin_site_path(s), :method => :post, :confirm => 'Are you sure you want to clone this site? Note: Does not clone Script Embeds and Products.' %></td>
					<td>
						<% if !s.purchased_domain.blank? %>
							<%= link_to "Don't Renew Domain", dont_renew_domain_opgadmin_site_path(s), :method => :post, :confirm => 'Are you sure you want to set this domain to not automatically renew?' %></td>
						<% end %>
					</td>
				</tr>
			<% end %>
		</table>
	<% end %>
	
	<% if @sites.where('active = false').length > 0 %>
		<table>
			<thead>
				<tr>
					<th>Site Name</th>
					<th>Created</th>
					<th>Status</th>
				</tr>
				<% @sites.where('active = false').each do |s| %>
					<tr>
						<td><%= s.company_name %></td>
						<td><%= s.created_at.strftime("%b %d, %Y %l:%M %p %Z") %></td>
						<td><%= link_to "Deactivated", activate_opgadmin_site_path(s), :method => :post, :confirm => 'Are you sure you want to activate this site? The user will see it in their list of sites.' %></td>
					</tr>
				<% end %>
			</thead>
		</table>
	<% end %>

</article>

<% content_for :js_inject do %>
	<script type="text/javascript">
		OnepagerAdmin.User.edit();
	</script>
<% end %>
