<% content_for :content_class do %>main_content<% end %>
<header>
	<h1><%= I18n.t(:signin, :default => "Sign In") %></h1>
</header>
<section class="signin">
	<%= form_for @user_session, :url => signin_path do |f| %>
		<fieldset>
			<%= f.label :email %>
			<%= f.text_field :email, :class => 'user_input' %>
			
			<%= f.label :password, I18n.t(:password, :default => "Password") %>
			<%= f.password_field :password, :class => 'user_input' %>
		</fieldset>
		<% if @user_session.errors.any? %>
			<div class="errors">
				<%= @user_session.errors.full_messages.join(", ") %>
			</div>
		<% end %>
		<% if !flash[:notice].blank? %>
			<div class="notice">
				<%=raw flash[:notice] %>
			</div>
		<% end %>
		<div class="form_actions">
			<span class="checkbox">
				<%= f.check_box :remember_me %>
				<%= f.label :remember_me, I18n.t(:signin, :default => "Stay signed in") %>
			</span>
			<%= f.submit I18n.t(:signin, :default => "Sign In"), :class => 'start' %>
		</div>
	<% end %>
	<p><a href="/reset-password"><%= I18n.t(:forgot_password, :default => "Forgot Password?") %></a></p>
</section>