<% content_for :title do %>Privacy Policy<% end %>
<% content_for :content_class do %>main_content<% end %>
<%= render :partial => 'header', :locals => { :section => 'legal' } %>

<article class="main_introduction">
	<h2>Privacy Policy</h2>
</article>

<article class="main_article">
	<p>This Privacy Policy describes Onepager's policies and procedures on the collection, use and disclosure of your information. Onepager receives your information through our various web sites, APIs, services and third-parties ("Services"). When using any of our Services you consent to the collection, transfer, manipulation, storage, disclosure and other uses of your information as described in this Privacy Policy. Irrespective of which country that you reside in or create information from, your information may be used by Onepager in the United States or any other country where Onepager operates.</p>
</article>
<article class="main_article">
	<h3>Log Data</h3>
	<p>Our servers automatically record information ("Log Data") created by your use of the Services. Log Data may include information such as your IP address, browser type, the referring domain, pages visited, and search terms. Other actions, such as interactions with advertisements, may also be included in Log Data</p>
</article>
<article class="main_article">
	<h3>Links</h3>
	<p>Onepager may keep track of how you interact with links by redirecting clicks or through other means. We do this to help improve our Services, and to be able to share aggregate click statistics such as how many times a particular link was clicked on.</p>
</article>
<article class="main_article">
	<h3>Cookies</h3>
	<p>Like many websites, we use "cookie" technology to collect additional website usage data and to improve our Services, but we do not require cookies for many parts of our Services such as searching and looking at public user profiles or lists. A cookie is a small data file that is transferred to your computer's hard disk. Onepager may use both session cookies and persistent cookies to better understand how you interact with our Services, to monitor aggregate usage by our users and web traffic routing on our Services, and to improve our Services. Most Internet browsers automatically accept cookies. You can instruct your browser, by editing its options, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit.</p>
	<p>We may use third party service providers to help us analyze certain online activities. For example, these service providers may help us measure the performance of our online campaigns or analyze visitor activity on the Onepager website. We may permit these service providers to use cookies and other technologies to perform these services for Onepager. We do not share any personal information about our customers with these third party service providers and these service providers do not collect such information on our behalf.</p>
</article>
<article class="main_article">
	<h3>Information Collection and Use</h3>
	<p>We collect and use your information to provide our Services and improve them over time.</p>
</article>
<article class="main_article">
	<h3>Information Collected Upon Registration</h3>
	<p>When you create or reconfigure an Onepager account, you provide some personal information, such as your name, user-name, password, and email address. Some of this information, for example, your name and username, may be listed publicly on our Services, including on your business' page.</p>
</article>
<article class="main_article">
	<h3>Additional Information</h3>
	<p>You may provide us with additional information to make public, such as a description, list of services, your location, or a menu. We may use your contact information to send you information about our Services or to market to you. You may unsubscribe from these messages by following the instructions contained within the messages. If you email us, we may keep your message, email address and contact information to respond to your request. Providing the additional information described in this section is entirely optional.</p>
</article>
<article class="main_article">
	<h3>Location Information</h3>
	<p>You may choose to note your location in your on your Onepager profile.</p>
</article>
<article class="main_article">
	<h3>Third Party Services</h3>
	<p>Onepager uses a variety of services hosted by third parties to help provide our Services, and to help us understand the use of our Services, such as Google Analytics. These services may collect information sent by your browser as part of a web page request, such as cookies or your IP request.</p>
</article>
<article class="main_article">
	<h3>Information Sharing and Disclosure</h3>
	<p>We do not disclose your private information except in the limited circumstances described here.</p>
</article>
<article class="main_article">
	<h3>Your Consent</h3>
	<p>We may share or disclose your information with your consent, such as when you use a third party web client to access your Onepager account.</p>
</article>
<article class="main_article">
	<h3>Service Providers</h3>
	<p>We engage certain trusted third parties to perform functions and provide services to us. We may share your personal information with these third parties, but only to the extent necessary to perform these functions and provide such services, and only pursuant to obligations mirroring the protections of this privacy policy.</p>
</article>
<article class="main_article">
	<h3>Law and Harm</h3>
	<p>We may disclose your information if we believe that it is reasonably necessary to comply with a law, regulation or legal request; to protect the safety of any person; to address fraud, security or technical issues; or to protect Onepager's rights or property.</p>
</article>
<article class="main_article">
	<h3>Business Transfers</h3>
	<p>In the event that Onepager is involved in a bankruptcy, merger, acquisition, reorganization or sale of assets, your information may be sold or transferred as part of that transaction. Onepager will take reasonable steps to ensure that the promises in this privacy policy will apply to your information as transferred to the new entity.</p>
</article>
<article class="main_article">
	<h3>Non-Private or Non-Personal Information</h3>
	<p>We may share or disclose your non-private, aggregated or otherwise non-personal information, such as your public bio or the number of users who clicked on a particular link (even if only one did).</p>
</article>
<article class="main_article">
	<h3>Modifying Your Personal Information</h3>
	<p>If you are a registered user of our Services, we provide you with tools to access or modify the personal information you provided to us and associated with your account.</p>
</article>
<article class="main_article">
	<h3>Our Policy Towards Children</h3>
	<p>Our Services are not directed to people under 13. If you become aware that your child has provided us with personal information without your consent, please contact us at <a href="mailto:hi@onepagerapp.com">hi@onepagerapp.com</a>. We do not knowingly collect personal information from children under 13. If we become aware that a child under 13 has provided us with personal information, we take steps to remove such information and terminate the child's account.</p>
</article>
<article class="main_article">
	<h3>Changes to this Policy</h3>
	<p>We may revise this Privacy Policy from time to time. The most current version of the policy will govern our use of your information and will always be at <a href="/en/privacy">http://onepagerapp.com/en/privacy</a>. If we make a change to this policy that, in our sole discretion, is material, we will notify you via e-mail to the email associated with your account. By continuing to access or use the Services after those changes become effective, you agree to be bound by the revised Privacy Policy.</p>
	<p>If you have any questions or comments about this Privacy Policy, please contact us at <a href="mailto:hi@onepagerapp.com">hi@onepagerapp.com</a>.</p>
</article>