<% content_for :title do %>Terms &amp; Conditions<% end %>
<% content_for :content_class do %>main_content<% end %>
<%= render :partial => 'header', :locals => { :section => 'legal' } %>

<article class="main_introduction">
	<h2>Terms &amp; Conditions</h2>
</article>

<article class="main_article">
	<p>You must be at least 18 years old and competent to enter into a contract to use the Service. Unless we expressly note otherwise, these terms incorporate and supercede any other terms associated with the files and applications available on the domain onepagerapp.com, its sub-domains, and any international counterparts and sub-domains, as well as affiliated domains and sub-domains operated by Onepager, Inc. ('Onepager', 'we', or 'us').</p>
	<p>You (the "User"), by using, accessing, or attempting to interact with, Onepager, or other Onepager software, services, websites, or any of their licensees services or software (collectively "Services"), agree to be bound and abide by the terms and conditions of this Agreement with Onepager, Inc.</p>
</article>
<article class="main_article">
	<h3>Overview</h3>
	<p>You agree that the Services, which includes all software and documentation, both electronic or printed media, contain copyrighted material, trade secrets, patent pending material, and other proprietary intellectual property. The Services are the proprietary property of Onepager, Inc. They are protected by copyright, trade secret, and patent laws, and other proprietary rights and laws, and they may only be used or accessed as specifically provided for in this Agreement.</p>
	<p>You agree that you will only use the Services if you are a person over 18 years of age.</p>
	<p>You agree that you will not store, copy, modify, rent, lease, loan, sell, distribute, transfer, transmit, display, reverse engineer, reverse assemble, or otherwise attempt to discover any programming code or any source code used in or with the Services. You may not sell, assign, sublicense, grant a security interest in or otherwise attempt to transfer any right in the Services (which includes its software and documentation), create derivative works based on or in any manner commercially exploit the Services, in whole or in part.</p>
	<p>You agree that violations by you, any other person or entity, of these copyrights, trade secrets, patents, other intellectual property protections, or the terms of this Agreement will be prosecuted to the fullest extent of the law in the federal and state courts located in New York.</p>
	<p>The Services are offered on an "as is" basis and used by the User solely at his or her own risk. All user-specific information provided by user in connection with Services shall be used to provide services and features to the user and to maintain the associated websites.</p>
</article>
<article class="main_article">
	<h3>Acceptable Use</h3>
	<p>Onepager does not allow any of the following content, or links to such content, to be published on the Service:</p>
	<ul>
		<li>Content of a pornographic, sexually explicit, or violent nature.</li>
		<li>Content of an illegal nature (including stolen copyrighted material).</li>
		<li>Pirated software sites, including cracking programs or cracking program archives.</li>
		<li>Content with the sole purpose of causing harm or inciting hate, or content that could be reasonably considered as slanderous or libelous.</li>
	</ul>
	<p>Users posting any of the above content on their sites will be notified using User's current email address on file, and given a 48 hour grace period to make any corrective actions. If no corrective actions are taken, Onepager will suspend the services of the member account until a resolution is met between Onepager, Inc. and the User. A repeated violation of this Policy may cause cancellation of service without refund of any fees.</p>
	<p>In addition, Onepager does not allow any of the following:</p>
	<ul>
		<li>Users may not use the Service as a remote storage server only.</li>
		<li>Users may not access the Service through automated methods. Use of robots or other computer code which calls the Service, except where explicitly allowed, is absolutely forbidden.</li>
		<li>Users may not upload individual files larger than 2MB. Onepager reserves the right to refuse to host any downloadable file.</li>
		<li>Users may not send unsolicited messages (also known as junk mail or SPAM) to promote any website published on the Service.</li>
	</ul>
	<p>Users are not permitted to knowingly allow another website or hosting server to link to content files stored on Onepager's servers. Users deemed to be using Onepager solely as a remote storage server will have their account immediately terminated and will have all files associated with their account permanently removed.</p>
	<p>The final choice of whether an account is in violation of any of these policies is at the sole discretion of Onepager, Inc.</p>
	<p>Violation of any of these policies may result in tracking information being stored to identify the offending user, and permanent restriction from holding an account on the Service.</p>
</article>
<article class="main_article">
	<h3>Fees</h3>
	<p>User agrees to either a one (1) month or twelve (12) month contract agreement with Onepager.</p>
	<p>User can opt to upgrade or downgrade their service agreement to any other contract agreement that Onepager is currently offering for sale at any time during User's contract term. In the event of a contract downgrade, a discount credit will be issued to User's Onepager account for the difference in the cost of the two contracts over the remainder of the User's original contract term. This credit can be applied to future months of service with Onepager, and is in no way transferable to a cash refund.</p>
	<p>At the end of the contract term, the contract will automatically renew indefinitely until explicitly cancelled by the User. Cancellation must be issued via the User's website Manager interface or via Onepager's support addresses. Any cancellation issued via the customer's website Manager interface must be done at least one (1) day prior to the end of the contract term. Any cancellation not issued via the website Manager interface must be done three (3) days prior to the end of the contract term to allow for adequate processing time.</p>
</article>
<article class="main_article">
	<h3>Chargeback / Refund Policy</h3>
	<p>Onepager will not, under any circumstances, issue cash refunds for early contract cancellation. If you have a question about charges made to your account, please contact us immediately. If the charges were made in error, we will immediately credit your account or credit card account for the appropriate amount.</p>
	<p>Onepager, Inc. has a zero tolerance policy for chargebacks. Any customer who disputes a credit card payment that is found to be valid will be permanently blacklisted and barred from use of the Service. Any past due fees and costs will be sent to collections. If our collection efforts fail, unpaid debts will be reported to all available credit reporting agencies.</p>
</article>
<article class="main_article">
	<h3>Temporary Use License Granted</h3>
	<p>Only for the duration of being logged into the User's valid Onepager account, the User is hereby granted a non-exclusive, non-transferable temporary license, subject to the terms and qualifications of this Agreement, to use the Services only on the single computer that temporarily accesses the Services directly from the Onepager, Inc. website.</p>
	<p>A valid Onepager account may only be created and maintained by a User who fully provides valid personal information about the User in the signup process. To maintain a valid account, the User must regularly update such information to assure its accuracy, and the User must always comply with the terms of this Agreement.</p>
	<p>The User is not granted a license or any other right to store any of the Services (including any portion of the software or documentation) on any computer or other device, or copy or otherwise use such information to create derivative works.</p>
</article>
<article class="main_article">
	<h3>Material and Products</h3>
	<p>Onepager, Inc. and its Partners provide Services on an "as is" basis.</p>
	<p>Onepager, Inc. shall make no effort to validate any information provided by the User for use with Services for content, correctness or usability.</p>
	<p>Use of Onepager, Inc. services requires a certain level of knowledge in the use the Internet and World Wide Web. The User is required to have the necessary knowledge to use the Internet and the World Wide Web.</p>
	<p>It is not the responsibility of Onepager, Inc. to provide free support for the User in the use and operation of Onepager, Inc.</p>
	<p>Only services and features clearly indicated as "free" or "no charge" are free or without charge. All other applications, features, functionality and support provided by Onepager, Inc. and its partners are provided for a fee and the User is liable for such fees.</p>
	<p>The User may not rent or lease or provide the Services (including any software or documentation used by or with the service) to third parties.</p>
	<p>The User may not decompile, disassemble, reverse engineer, copy, create a derivative work, or display the Software code in human readable form, or otherwise use the Services (which includes its software and documentation) except as explicitly provided for in this agreement.</p>
	<p>The User may not store, publish, or give the Services (including software and documentation) to others, or otherwise enable its use by others.</p>
</article>
<article class="main_article">
	<h3>Onepager Etiquette and Privacy</h3>
	<p>Electronic forums such as mail distribution lists have expectations regarding subject area and appropriate etiquette for posting. Users of these forums should be considerate of the expectations and sensitivities of others on the network when posting material for electronic distribution.</p>
	<p>The network resources of the Onepager, Inc. may not be used to impersonate another person or misrepresent authorization to act on behalf of others or Onepager, Inc.</p>
	<p>All users shall not attempt to undermine the security or integrity of computing systems or networks of Onepager, Inc., its Partners, or those accessed through or with their product, and must not attempt to gain unauthorized access.</p>
	<p>All user-specific information provided by user in connection with Services shall be governed by the Onepager Privacy Policy (located at http://onepagerapp.com/en/privacy). User understands and accepts all terms and conditions contained within the Onepager Privacy Policy.</p>
	<p>Onepager reserves the right to terminate any account that does not include a valid email address on file. This email address must be stored in the profile for the administrative account within User's website on the Onepager system.</p>
</article>
<article class="main_article">
	<h3>Age and Nature of the User</h3>
	<p>The User certifies that he or she is a person at least 18 years of age.</p>
	<p>The Services may not be used by any automated device or automated computational machine.</p>
	<p>The Service may only be used or accessed through an electronic device under the manual control of User at all times.</p>
</article>
<article class="main_article">
	<h3>Taxes</h3>
	<p>Onepager, Inc. shall not be liable for any taxes or other fees to be paid in accordance with or related to purchases made from or by the User or through the Onepager, Inc. services.</p>
	<p>The User takes full responsibility for all taxes and fees of any nature associated with Services used or products purchased.</p>
</article>
<article class="main_article">
	<h3>Lawful Purpose</h3>
	<p>Services provided to or used by the User may only be for lawful purposes.</p>
	<p>Transmission, storage, copying, or modifying any material or other actions by User in violation of any Federal, State or Local regulation is prohibited.</p>
	<p>This includes material legally judged to be threatening or obscene, pornographic, profane, or material protected by trade secrets.</p>
	<p>This also includes, but is not limited to, material protected by copyright, trade secret, or any other statute, threatening material, or obscene material.</p>
	<p>Users are prohibited from using Onepager, Inc. services for the propagation, distribution, housing, processing, storing, or otherwise handling in any way lewd, obscene, or pornographic material, or any other material which Onepager, Inc. deems, in its sole discretion, to be objectionable, including, but not limited to, pornography, satanic materials, and any and all materials of an adult nature. This also includes links or any connection to such materials. The designation of any materials as such described above is left entirely to the discretion of the Onepager, Inc. management.</p>
	<p>The subscriber agrees to indemnify and hold harmless and defend Onepager, Inc. from any claims resulting from the User's use or User's allowed use by others of the Services which damages either Onepager, Inc., its officers, its employees, its directors, its partners, or another party or parties.</p>
</article>
<article class="main_article">
	<h3>Limited Liability</h3>
	<p>User shall defend, indemnify, save and hold Onepager, Inc. (including, its agents, its clients, its servants, officers, directors and employees) harmless from any and all demands, liabilities, losses, costs and claims, including reasonable attorneys' fees, ("Liabilities") asserted against them, that may arise or result from any service provided or performed or agreed to be performed or any product used or sold by or to User, its agents, employees or assigns.</p>
	<p>User shall defend, indemnify and hold harmless Onepager, Inc. (including, its agents, its clients, its servants, officers, directors and employees) against any and all Liabilities caused directly or indirectly the User or any person who User allows to access the Services.</p>
	<p>Under no circumstances, including negligence, shall Onepager, Inc. (including, its agents, its clients, its servants, officers, directors and employees) or any one else involved in creating, producing or distributing Onepager, Inc. services be liable for any direct, indirect, incidental, special or consequential damages that result from the use of or inability to use the Onepager, Inc. service; or that results from mistakes, omissions, interruptions, deletion of files, errors, defects, delays in operation, or transmission or any failure of performance, whether or not limited to acts of God, communication failure, theft, destruction or unauthorized access to Onepager, Inc. records, programs or services. This paragraph shall apply to all content and functionality of Onepager, Inc. Service.</p>
	<p>Notwithstanding the above, User's exclusive remedies for all damages, losses and causes of actions whether in contract, tort including negligence or otherwise, shall not exceed the aggregate dollar amount which User paid directly to Onepager, Inc. during the current month.</p>
	<p>Such limitations shall apply to Onepager, Inc. total liability, including without limitation any liability for damages caused or allegedly caused by any failure of performance, error, omission, interruption, deletion, defect, delay in operation of transmission, communications failure, theft of destruction of or unauthorized access to, alteration of, or use of records, whether for breach of contract, tortuous behavior, negligence, or under any other cause of action.</p>
</article>
<article class="main_article">
	<h3>Trademarks and Copyrights</h3>
	<p>User warrants that it has the right to use the any trademarks, processes, or other materials it uses with the Services, if any.</p>
	<p>User warrants that its content does not infringe any third party copyrights or patents.</p>
</article>
<article class="main_article">
	<h3>Service Reliability and Warranties</h3>
	<p>Onepager, Inc. makes no warranties or representations of any kind, whether expressed or implied for the Services.</p>
	<p>User's, use of Onepager, Inc. services are at User's sole risk. Neither Onepager, Inc., its employees, directors, affiliates, agents, third party information providers, merchants licensers or the like, warrant that Onepager, Inc. service will not be interrupted or error free; nor do they make any warranty as to the results that may be obtained from the use of the Services or as to the accuracy, reliability or content of any information service or merchandise contained in or provided through the Onepager, Inc. Service, unless otherwise expressly stated in this Agreement.</p>
	<p>Onepager, Inc. also disclaims any warranty of merchantability or fitness for any particular purpose and will not be responsible for any damages that may be suffered by the User, or viewers and users of User's materials, including loss of data resulting from delays, non-deliveries or service interruptions by any cause or errors or omissions of the Client. Use of any information obtained by way of Onepager, Inc. is at the User's own risk, and Onepager, Inc. specifically denies any responsibility for the accuracy or quality of information obtained through its services.</p>
	<p>Damages claims for unavailability of the Service against Onepager, Inc. are expressly limited to the pro-rata portion of any monthly charge pre-paid by the User directly to Onepager, Inc. for the period of the system unavailability. "System unavailability" shall be narrowly defined as an unscheduled outage of more than 2 hours, but in no case shall include outages for maintenance, upgrade or repair where Users are provided notice of such outages in advance via the Onepager Twitter account.</p>
	<p>Under no circumstances will Onepager, Inc. bear any responsibility for any damages arising as a consequence of such unavailability.</p>
</article>
<article class="main_article">
	<h3>Contract Revisions and Applicable Legal Jurisdiction</h3>
	<p>Revisions to this Agreement will be applicable to previous version of this Agreement. Revisions will be considered agreed to by the User continuing to use of or access the Services in any way.</p>
	<p>Onepager, Inc. reserves all rights for changes and/or modifications to the Services and rates and will communicate these changes to the subscriber within 30 days of their effect.</p>
	<p>This Agreement constitutes the entire understanding of the parties, and is agreed to being entered into in the State of New York.</p>
	<p>This Agreement shall be governed and construed in accordance with the laws of the State of New York and no party shall object to removal or prosecution of any litigation to a federal or state court in New York.</p>
</article>
<article class="main_article">
	<h3>Termination</h3>
	<p>This Service may be terminated by either party, without cause, by giving the other party 3 days written notice.</p>
	<p>Notwithstanding the above, Onepager, Inc. may terminate Services at any time, without penalty and without notice, if the User fails to comply with any of the terms of this Agreement or the intellectual property protections applicable to these Services. Onepager, Inc. may also seek legal prosecution of any violations of law or this Agreement and the User agrees to personal jurisdiction by the Courts in the State of New York.</p>
	<p>Upon notice of termination of Services by Onepager, Inc. to User via contact e-mail to User's Services account and contact e-mail account provided in User's personal information, or voluntary termination of service by User, Onepager, Inc. has the right to delete all data, files, or other information that is stored in the User's account for any reason.</p>
</article>
