<% if @user.payment_plan == "Starter" || @user.payment_plan == "Plus" %>

	<section class="rebrand_intro">
		<h2>Upgrade to access Private Label options!</h2>
		<p>We understand the need to rebrand your site builder's admin, so we allow our customers with <a href="/account/upgrade">Premium or Agency plans</a> to turn on Private Labeling. When activated, the admin color scheme is changed and you can use your own company name in the header. You also can login through a non-Onepager URL. It's the perfect solution for agencies and entrepreneurs!</p>
		<a href="/account/upgrade" class="start">Upgrade Your Account</a>
	</section>

<% else %>
	<h2>
		<img src="/assets/dashboard/icon-header-white-label.png" alt="" />
		Private Label
	</h2>

	<% if @user.errors.any? %>
		<div class="errors">
			<%=raw @user.errors.full_messages.join(", ") %>
		</div>
	<% end %>

	<% if !flash[:notice].blank? %>
		<div class="notice">
			<%=raw flash[:notice] %>
		</div>
	<% end %>

	<%= form_for @user, :url => "/account/whitelabel" do |f| %>
		
		<h4>Rebranding</h4>
		<fieldset class="checkboxes">
			<%= f.check_box :white_label_active %>
			<%= f.label :white_label_active, 'Enable admin & editor rebranding' %>
		</fieldset>

		<div class="rebrand_url" style="display: none;">
			<p>You and your users can login to manage your sites here:</p>
			<strong><a href="http://easysiteadmin.com" target="_blank">http://easysiteadmin.com</a></strong>
		</div>
		<fieldset class="grouped" style="display: none;">
			<%= f.label :white_label_title, 'Admin Title' %>
			<%= f.text_field :white_label_title, :class => 'user_input' %>
		</fieldset>

		<div class="form_actions">
			<%= f.submit "Save", :class => 'start' %>
		</div>
	<% end %>

	<% content_for :title do %>Profile - Account Management<% end %>
	<% content_for :js_inject do %>
		<script type="text/javascript">
			$( 'input[name="user[white_label_active]"]' ).change( function( e ) {
				var boxes = $( '.rebrand_url, .grouped' );
				this.checked ? boxes.show() : boxes.hide();
			} );
			$( 'input[name="user[white_label_active]"]' ).change();
		</script>
	<% end %>

<% end %>