<% content_for :body_class do %>settings<% end %>
<% content_for :title do %>Advanced Onepager Settings<% end %>

<h2>
	<img src="/assets/dashboard/icon-header-settings.png" alt="" />
	Advanced Site Settings
</h2>

<% if !flash[:notice].blank? %>
	<div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if @site.errors.full_messages.length > 0 %>
	<div class="errors"><%= @site.errors.full_messages.join(", ") %></div>
<% end %>

<%= form_for [:dashboard, @site], :url => dashboard_setting_path, :html => { :multipart => true } do |f| %>
	<fieldset>
		<%= f.label :favicon_image, 'Favicon' %>
		<%= f.file_field :favicon_image %>
		<% if !@site.favicon_image.blank? %>
			<%= image_tag @site.favicon_image.url, :alt => '', :width => 16, :class => 'favicon' %>
			<%= link_to 'Remove favicon', dashboard_setting_path, :method => :delete, :confirm => 'Are you sure you want to delete your custom favicon?' %>
		<% end %>
	</fieldset>

	<fieldset>
		<%= f.label :analytics_property_id, 'Google Analytics Tracking ID' %>
		<%= f.text_field :analytics_property_id, :class => 'user_input', :placeholder => 'e.g. UA-00000000-1' %>
	</fieldset>
	
	<h4>Password Protection</h4>
	<fieldset class="checkboxes">
		<%= f.check_box :password_protected %>
		<%= f.label :password_protected, 'Require a password to access the site' %>
		<span class="authorization" style="display: none;">Passcode: <strong>sausalito<%= @site.id %></strong></span>
	</fieldset>

	<h4>Responsive Design</h4>
	<fieldset class="checkboxes">
		<%= f.check_box :deactivate_responsive_styles %>
		<%= f.label :deactivate_responsive_styles %>
	</fieldset>
	
	<fieldset>
		<%= f.label :custom_footer, 'Custom Footer' %>
		<%= f.text_field :custom_footer, :class => 'user_input long_input', :placeholder => "e.g. © 2015 #{@site.company_name} | Site design by...", :cols => '', :rows => 7 %>
	</fieldset>
	
	<fieldset>
		<%= f.label :custom_css, 'Custom CSS' %>
		<%= f.text_area :custom_css, :class => 'user_input long_input', :placeholder => '.sample { display: block; }', :cols => '', :rows => 7 %>
	</fieldset>
	
	<h4>Custom SEO</h4>
	<fieldset class="grouped">
		<%= f.fields_for :pages do |p| %>
			<ul>
				<li>
					<%= p.label :seo_title, 'Title Tag' %>
					<%= p.text_field :seo_title, :class => 'user_input' %>
				</li>
				<li>
					<%= p.label :seo_description, 'Meta Description' %>
					<%= p.text_field :seo_description, :class => 'user_input' %>
				</li>
				<li>
					<%= p.label :seo_keywords, 'Meta Keywords' %>
					<%= p.text_field :seo_keywords, :class => 'user_input' %>
				</li>
			</ul>
		<% end %>
	</fieldset>

	<div class="form_actions">
		<%= f.submit 'Save Settings', :class => 'start' %>
		<%= link_to "Export Site Content", "/dashboard/sites/#{ @site.id }/export" %>
	</div>
<% end %>


<% content_for :js_inject do %>
<script type="text/javascript">
	Onepager.Site.edit('settings');
</script>
<% end %>
