/*
---------------
BUTTON STYLES
---------------
*/
.start, .more, .general, .more_inverse {
	color: #fff; font-weight: 600; font-size: 14px; line-height: 1em; vertical-align: middle;
	background-position: left top; background-repeat: repeat-x;
	padding: 12px 20px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
	display: inline-block; clear: both;
}
	.start:hover, .more:hover, .general:hover, .more_inverse:hover {
		text-decoration: none; color: #fff; background-position: left -42px;
	}
	.start:active, .more:active, .general:active, .more_inverse:active {
		background-position: left top;
		-moz-box-shadow: inset 0 1px 8px rgba(0,0,0,0.3); -webkit-box-shadow: inset 0 1px 8px rgba(0,0,0,0.3); box-shadow: inset 0 1px 8px rgba(0,0,0,0.3);
		padding-top: 13px; padding-bottom: 11px;
	}

.start {
	background-color: #3187c7; background-image: url('/assets/application/button-start.png?1');
}
	.start:hover {
		background-color: #3593d8;
	}
	.start:active {
		background-color: #428ac8; background-image: none;
	}
	
.more {
	background-color: #f96d3c;
}
	.more:hover {
		background-color: #ff7a4c; background-image: url('/assets/application/button-more.png');
	}
	.more:active {
		background-color: #f96d3c;
	}
	
.general {
	color: #4d4d4d; text-shadow: 1px 1px 0 #f9f9f9;
	background-color: #76b5ac; background-image: url('/assets/application/button-general-light.png?1');
	-webkit-box-shadow: inset 0 1px 0 0 #fff; box-shadow: inset 0 1px 0 0 #fff; 
	border: 1px solid #9da0a2;
}
	.general:hover {
		color: #4d4d4d;
		background-color: #8bc9c0;
	}
	.general:active {
		background-color: #76b5ac;
	}
	
.more_inverse {
	color: #f96d3c;
	background-color: #fff;
}
	.more_inverse:hover {
		color: #f96d3c;
		background-image: url('/assets/application/button-more-inverse.png?4');
	}
	.more_inverse:active {
		background-color: #fff;
	}
	
.next {
	font-size: 14px; font-weight: 700; color: #a3a3a3; text-transform: uppercase;
}
	.next a, a.next {
		color: #428ac8;
	}
	.next a:hover, a.next:hover {
		color: #5ca1dc;
	}
	
input.start, input.general {
	cursor: pointer;
	border: 0; padding-top: 11px; padding-bottom: 11px;
}
	input.start:active, input.general:active {
		padding-top: 12px; padding-bottom: 10px;
	}
	

/*
-------------
ARTICLE TEXT
-------------
*/
.article_content {
	text-align: left;
	width: 451px; padding-left: 533px; padding-top: 15px; margin: 0 auto;
}


/*
-------------
TESTIMONIALS
-------------
*/
blockquote {
	background-color: #fff; /*-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2); -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2); box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);*/
	padding: 30px 25px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
	position: relative;
}
	blockquote:after, blockquote:before {
		pointer-events: none; content: '\0000a0';
		width: 0; height: 0; border: solid transparent; border-color: rgba(255, 255, 255, 0);
		position: absolute;
	}
	blockquote:after {
		border-width: 20px;
	}
	blockquote:before {
		border-width: 21px;
	}
	
	.bottom blockquote {
		margin-bottom: 20px;
	}
		.bottom blockquote:after, .bottom blockquote:before {
			top: 100%; left: 50%;
		}
		.bottom blockquote:after {
			border-top-color: #fff; margin-left: -20px;
		}
		.bottom blockquote:before {
			border-top-color: #fff; margin-left: -21px;
		}
	.top blockquote {
		margin-top: 20px;
	}
		.top blockquote:after, .top blockquote:before {
			bottom: 100%; left: 50%;
		}
		.top blockquote:after {
			border-bottom-color: #fff; margin-left: -20px;
		}
		.top blockquote:before {
			border-bottom-color: #fff; margin-left: -21px;
		}
	.left blockquote {
		margin-left: 20px;
	}
		.left blockquote:after, .left blockquote:before {
			top: 50%; right: 100%;
		}
		.left blockquote:after {
			border-right-color: #fff; margin-top: -20px;
		}
		.left blockquote:before {
			border-right-color: #fff; margin-top: -21px;
		}
	.right blockquote {
		margin-right: 20px;
	}
		.right blockquote:after, .right blockquote:before {
			top: 50%; left: 100%;
		}
		.right blockquote:after {
			border-left-color: #fff; margin-top: -20px;
		}
		.right blockquote:before {
			border-left-color: #fff; margin-top: -21px;
		}
	
	blockquote h3 {
		font-size: 21px; line-height: 1.4em; font-weight: 400; letter-spacing: 0;
	}
.testimonials {
	width: 984px; margin: 0 auto; padding-top: 45px; padding-bottom: 40px;
	overflow: hidden;
}
	.testimonials h2, .testimonials h3 {
		margin-bottom: 0;
	}
	.testimonial {
		margin-bottom: 35px;
	}
		.testimonials .bottom blockquote {
			margin-bottom: 40px;
		}
		.testimonials .top blockquote {
			margin-top: 40px;
		}
		.testimonials .left blockquote {
			margin-left: 40px;
		}
		.testimonials .right blockquote {
			margin-right: 40px;
		}
		
	.testimonials .thenextweb {
		width: 390px; margin-right: 45px;
		float: left;
	}
	.testimonials .laurenleto {
		width: 549px;
		float: right;
	}
		.testimonials .laurenleto img {
			margin-top: 15px;
			float: left;
		}
		.testimonials .laurenleto blockquote {
			margin-left: 213px;
		}
	.testimonials .marcoprotano {
		clear: both;
	}
		.testimonials .marcoprotano img {
			margin-top: 8px;
			float: left;
		}
		.testimonials .marcoprotano blockquote {
			margin-left: 213px;
		}
	.testimonials .frbruced {
		width: 493px; margin-bottom: 0;
		float: left; clear: both;
	}
	.testimonials .sunnysideyoga {
		margin-left: 523px; margin-top: 50px; margin-bottom: 80px;
	}
	
	
/*
-------------
FAQ
--------------
*/
.frequently_asked_questions {
	padding-bottom: 80px;
}
	.frequently_asked_questions ul {
		list-style: none;
		width: 984px; margin: 0 auto;
		overflow: hidden;
		-moz-column-count: 2; -webkit-column-count: 2; -ms-column-count: 2; -o-column-count: 2; column-count: 2;
		-moz-column-gap: 30px; -webkit-column-gap: 30px; -ms-column-gap: 30px; -o-column-gap: 30px;
	}
	.frequently_asked_questions li {
		text-align: left; line-height: 1.5em;
		background-image: url('/assets/application/background.png'); background-position: left top; background-repeat: repeat;
		padding: 25px; margin-bottom: 30px; border-top: 1px solid #d1d6d5; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
	}
		.frequently_asked_questions h3 {
			font-size: 21px;
			margin-bottom: 0.5em;
		}
		.frequently_asked_questions p {
			padding-bottom: 0;
		}


/*
-------------
FORM ERRORS
--------------
*/
.notice {
	color: #555; line-height: 1.5em; font-size: 14px; text-align: left;
	background-color: #fcfbbf;
	padding: 20px 30px;/* border: 1px solid #ccc;*/
}
.errors {
	font-weight: 600; color: #fff; line-height: 1.5em; font-size: 14px; text-align: left; word-wrap: break-word;
/*	background: url("/assets/pages/background-errors.png?1") left top repeat-x;*/
	background-color: #f47946; background-image: url('/assets/pages/icon-errors.png'); background-position: 20px 20px; background-repeat: no-repeat;
	padding: 20px 20px 20px 55px;
}
	.errors h2 {
		color: #fff;
	}
	.errors ul {
		margin-left: 25px;
	}
	

/*
--------------------------
BUTTONS AND FORM CONTROLS
--------------------------
*/
.user_input {
	background-color: #fff;
	min-width: 197px; padding: 10px; border: 1px solid #acacac;
}
	.short_input {
		min-width: 93px; width: 93px;
	}
	.long_input {
		min-width: 540px; width: 540px;
	}

.tooltip_bubbles {
	position: relative;
	background-color: #fff; box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.3); -moz-box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.3); -webkit-box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.3);
	max-width: 435px; padding: 10px; border: 1px solid #dbdbdb; -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;
}
	.tooltip_bubbles:after, .tooltip_bubbles:before {
		pointer-events: none; content: "\0000a0";
		height: 0; width: 0; right: 100%; border: 15px solid transparent;
		position: absolute;
	}

	.tooltip_bubbles:after {
		top: 50%; margin-top: -15px; border-right-color: #fff;
	}
	.tooltip_bubbles:before {
		top: 50%; margin-top: -16px; border-right-color: #d0d0d0; border-width: 17px;
	}
	
	.tooltip_bubbles small {
		font-size: 12px; color: #666;
		margin-top: 10px;
		display: block; clear: both;
	}
	
.domain_checker {
	text-indent: -1000px; vertical-align: middle;
	background-color: transparent; background-position: center center; background-repeat: no-repeat;
	width: 50px; height: 50px;
	display: inline-block; overflow: hidden;
}
	.available {
		background-image: url('/assets/application/signup/icon-available.png?1');
	}
	.not_available {
		background-image: url('/assets/application/signup/icon-not-available.png?1');
	}
	.processing {
		background-image: url('/assets/application/signup/icon-check-domain-loader.gif?2');
	}
	.error {
		background-image: url('/assets/application/signup/icon-not-available.png?1');
	}
	
.promo_code_response {
	font-size: 12px; font-weight: bold; color: #d55f21;
	margin-left: 10px;
	display: inline-block;
}

/*
-------------------------
Walk the dog loader
-------------------------
*/
.loader_overlay {
	text-align: center;
	background: #000; opacity: 0.5; filter: alpha(opacity=50);
	position: fixed; width: 100%; height: 100%; top: 0; left: 0;
	z-index: 1000;
}
.loader {
	font: bold 18px/1.3em arial, helvetica, sans-serif; text-align: center; color: #fff;
	background: #ff7e39;
	top: 50%; left: 50%; width: 250px; height: 140px; padding: 20px; margin-top: -80px; margin-left: -145px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
	position: fixed;
	z-index: 1001;
}
	.loader img {
		margin: 0 auto 16px;
		display: block;
	}
	
	



/*
================
jQuery UI Styles
================
*/
.ui-widget-overlay {
	background: #000; opacity: 0.4; filter: alpha(opacity=40);
	width: 100%; height: 100%; top: 0; left: 0;
	position: fixed; 
}
.ui-dialog {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	background-color: #fff;/* -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 0 35px rgba(0, 0, 0, 0.25); box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);*/
	max-height: 95%; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	position: absolute; overflow: auto;
}
	.ui-dialog-titlebar {
		text-align: left; font-size: 21px; color: #000; font-weight: 600;
		padding: 25px 30px;
		position: relative;
	}
		.agency_video_dialog .ui-dialog-titlebar {
			padding: 0;
		}
		.ui-dialog-titlebar-close {
			background: url('/assets/dashboard/icon-close.png?1') center top no-repeat;
			right: 30px; top: 25px; width: 20px; height: 16px;
			position: absolute;
		}
			.ui-dialog-titlebar-close:hover {
				background-position: center -16px;
			}
	.ui-dialog-content {
		font-size: 14px; color: #333; text-align: left;
		background-color: #fff;
		padding: 0 30px 25px; -moz-border-radius: 0 0 7px 7px; -webkit-border-radius: 0 0 7px 7px; border-radius: 0 0 7px 7px;
	}
		.agency_video_dialog .ui-dialog-content {
			text-align: center;
		}
		.ui-dialog-content .errors {
			margin-bottom: 25px;
		}
		.ui-dialog-content h4 {
			color: #e16b2b; font-weight: 600; font-size: 18px;
			margin-bottom: 20px;
		}
		.ui-dialog-content p a {
			color: #428ac8; text-decoration: none;
		}
			.ui-dialog-content p a:hover {
				color: #5ca1dc; text-decoration: none;
			}
		.ui-dialog-content fieldset {
			border-bottom: 0; padding: 0; margin-bottom: 20px;
		}
		.ui-dialog-content fieldset li {
			margin-bottom: 15px;
		}
		.ui-dialog-content label {
			width: 95px;
			display: inline-block;
		}
		.ui-dialog-content .checkboxes h5 {
			color: #666; font-weight: 600; text-transform: uppercase; font-size: 12px;
			width: 95px;
			display: inline-block;
		}
		.ui-dialog-content .checkboxes ul {
			vertical-align: top;
			width: 360px;
			display: inline-block;
		}
			.ui-dialog-content .checkboxes li {
				width: 360px; margin-bottom: 0;
			}
		.ui-dialog-content .checkboxes label {
			vertical-align: top;
			width: auto; max-width: 330px;
		}
		.ui-dialog-content input[type="checkbox"] {
			margin-right: 5px;
		}
		.ui-dialog-content .form_actions {
			padding: 0; margin-top: 30px;
		}
			.ui-dialog-content .form_actions .start {
				color: #fff;
			}
	.ui-dialog-buttonpane {
		box-shadow: inset 0 3px 8px 0 rgba(0,0,0,0.2); -moz-box-shadow: inset 0 3px 8px 0 rgba(0,0,0,0.2); -webkit-box-shadow: inset 0 3px 8px 0 rgba(0,0,0,0.2);
		padding: 18px 0;
	}
		.ui-dialog-buttonpane button {
			background: none;
			border: 0;
		}
			.ui-button-text{
				font-size: 18px; color: #fff; cursor: pointer; text-shadow: 0 0 5px #873d1b;
				background-image: url('/assets/pages/button-general-orange.png'); background-position: left top; background-repeat: repeat-x;
				box-shadow: inset 0 1px 1px 0 rgba(255,255,255,0.5); -moz-box-shadow: inset 0 1px 1px 0 rgba(255,255,255,0.5); -webkit-box-shadow: inset 0 1px 1px 0 rgba(255,255,255,0.5);
				padding: 11px 20px; border: 1px solid #b84f22; -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;
				display: inline-block;
			} 
			.ui-button-text:hover {
				background-position: left -45px;
			}
			.ui-button-text:active {
				background-position: left -90px;
				box-shadow: inset 0 1px 6px 0 rgba(0,0,0,0.3); -moz-box-shadow: inset 0 1px 6px 0 rgba(0,0,0,0.3); -webkit-box-shadow: inset 0 1px 6px 0 rgba(0,0,0,0.3);
				padding-top: 12px; padding-bottom: 10px;
			}