/*
======================
Onepager Reset Styles
======================
*/

/** All HTML elements **/
* {
	margin: 0; padding: 0; outline: 0;
}

/** Global font styles **/
body {
	font: normal 16px/1.6em "Open Sans", Arial, Helvetica, sans-serif; color: #404545; text-align: center;
}
	/** Table resets **/
	table {
		text-align: left; 
		width: 100%; border: 0; padding: 0; border-collapse: collapse; border-spacing: 0;
	}
	
	/** Links and Images **/
	a {
		color: #3187c7; text-decoration: none;
		-webkit-transition: color 0.2s ease-out; -moz-transition: color 0.2s ease-out; -o-transition: color 0.2s ease-out; transition: color 0.2s ease-out;
		-webkit-transition: background-color 0.15s ease-out; -moz-transition: background-color 0.15s ease-out; -o-transition: background-color 0.15s ease-out; transition: background-color 0.15s ease-out;
	}
	a:hover {
		color: #3593d8; text-decoration: none;
	}
	img, a img {
		vertical-align: bottom;
		border: 0;
	}
	
	/** Text sizing and styles **/
	h1 {
		font-size: 36px; font-weight: 600; line-height: 1.2em; letter-spacing: -1px;
	}
	h2 {
		font-size: 38px; line-height: 1.2em; color: #ea5c2a; font-weight: 400;
		margin-bottom: 0.5em;
	}
	h3 {
		font-size: 18px; color: #272727; line-height: 1.5em; font-weight: 600;
		margin-bottom: 1em;
	}
	h4 {
		font-size: 16px; line-height: 1.5em; font-weight: 600; color: #000;
	}
		h1 a, h2 a, h3 a, h4 a {
			color: inherit; text-decoration: none;
		}
			h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
				color: #000; text-decoration: none;
			}
			
	h5 {
		font-size: 14px; color: #000;
		margin-bottom: 5px;
	}
			
	p {
		padding-bottom: 1em;
	}
	blockquote {
		font-size: 16px; line-height: 1.5em;
	}
		blockquote cite {
			color: #666; font-size: 12px; font-style: italic;
		}
		blockquote a {
			color: inherit;
		}
	
	/** List styles **/
	ul, ol {
		margin-bottom: 1em;
	}
		
	/** Form field styles **/
	fieldset {
		border: 0; outline: 0;
	}
	input, textarea {
		font-size: 14px; font-family: "Open Sans", Arial, Helvetica, sans-serif; color: #666; line-height: 1.5em;
	}
		input:focus, textarea:focus {
			color: #191919;
		}
		select {
			color: #333;
		}
	textarea {
		vertical-align: top;
	}
	
/** Make HTML5 elements act like blocks **/
article, aside, details, footer, header, nav, section, summary {
	display: block;
}

/** Global pseudo-class styles **/
:focus {
	outline: none;
}
::selection {
	text-shadow: none; color: #fff;
	background-color: #f96d3c;
}
::-moz-selection {
	text-shadow: none; color: #fff;
	background-color: #f96d3c;
}
::-webkit-selection {
	text-shadow: none; color: #fff;
	background-color: #f96d3c;
}

/** Rails default errors fix **/
.field_with_errors {
	display: inline;
}