/*
------------------------
Homepage content styles
------------------------
*/
.homepage_introduction {
	background-image: url('/assets/application/homepage/background-introduction.png'); background-position: left top; background-repeat: repeat-x;
	min-height: 545px; max-width: 100%;
	position: relative; overflow: hidden; z-index: 0;
}
	.homepage_introduction h1 {
		color: #fff; font-size: 48px;
		width: 770px; margin: 0 auto 27px;
	}
	.homepage_introduction .examples {
		background-image: url('/assets/application/homepage/background-examples.png'); background-position: center 215px; background-repeat: no-repeat;
		padding-top: 35px; height: 545px; width: 1860px; top: 0; left: 50%; margin-left: -930px;
		position: absolute; z-index: 0;
	}
		.laptop {
			vertical-align: top;
			background-image: url('/assets/application/homepage/background-laptop.png'); background-position: center top; background-repeat: no-repeat;
			width: 590px; margin: 0 10px; height: 400px; padding-top: 25px;
			display: inline-block; overflow: hidden;
		}
		.laptop:nth-child(2), .laptop:last-child {
			margin-top: 30px;
		}
		.mobile {
			vertical-align: top;
			margin: 0 20px;
			display: inline-block; overflow: hidden;
		}
	.homepage_introduction .toggles {
		text-align: center;
		background-color: #f5622e; background-image: url('/assets/application/homepage/background-toggle.png'); background-position: left top; background-repeat: repeat-x;
		width: 100%; margin-top: 545px; padding: 25px 0; border-top: 1px solid #ff9c79;
		position: relative; z-index: 1;
	}
		.homepage_introduction .toggles a {
			color: #ffeee8; text-align: left;
			margin: 0 15px; width: 415px; height: 87px; padding: 35px 30px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
			display: inline-block; overflow: hidden;
		}
			.homepage_introduction .toggles img {
				vertical-align: top;
				opacity: 0.3; filter: alpha(opacity=30);
				-webkit-transition: opacity 0.2s ease-out; -moz-transition: opacity 0.2s ease-out; -o-transition: opacity 0.2s ease-out; transition: opacity 0.2s ease-out;
				margin-right: 20px;
				display: inline-block;
			}
			.homepage_introduction .toggles span {
				vertical-align: top; line-height: 1.5em;
				width: 280px;
				display: inline-block;
			}
				.homepage_introduction .toggles strong {
					color: #fff; font-size: 24px; line-height: 1.5em;
					margin-bottom: 3px;
					display: block;
				}
		.homepage_introduction .toggles a:hover {
			background-image: url('/assets/application/homepage/background-button-toggle.png'); background-position: left top; background-repeat: repeat-x;
		}
		.homepage_introduction .toggles a:active {
			background-position: left -158px;
			-webkit-box-shadow: inset 1px 1px 3px 0 rgba(0,0,0,0.2); -moz-box-shadow: inset 1px 1px 3px 0 rgba(0,0,0,0.2); box-shadow: inset 1px 1px 3px 0 rgba(0,0,0,0.2);
			/*padding: 34px 29px; border: 1px solid #c04d25; border-bottom-color: #f8855d; border-right-color: #f8855d;*/
		}
		.homepage_introduction .toggles a.on, .homepage_introduction .toggles .on:hover {
			background-image: url('/assets/application/homepage/background-button-toggle.png'); background-position: left -316px; background-repeat: repeat-x;
			padding: 34px 29px; border: 1px solid #c04d25; border-bottom-color: #f8855d; border-right-color: #f8855d;
		}
		
		.homepage_introduction .toggles .disabled, .homepage_introduction .toggles .disabled:hover, .homepage_introduction .toggles .disabled:active {
			cursor: default;
			background: none;
			-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
		}
		
.homepage_press {
	background-color: #fff;
	padding-top: 35px; padding-bottom: 25px; border-bottom: 1px solid #d4d8d8;
}
	.homepage_press a {
		vertical-align: middle;
		opacity: 0.4; filter: alpha(opacity=40);
		margin-left: 20px; margin-right: 20px;
		display: inline-block;
		-webkit-transition: opacity 0.2s ease-out; -moz-transition: opacity 0.2s ease-out; -o-transition: opacity 0.2s ease-out; transition: opacity 0.2s ease-out;
	}
	.homepage_press a:hover {
		opacity: 0.6; filter: alpha(opacity=60);
	}
	
.homepage_features {
	font-size: 14px; line-height: 1.5em;
	width: 984px; margin: 0 auto; padding: 50px 0;
}
	.homepage_features h2 {
		color: #000; font-size: 36px;
		margin-bottom: 50px;
	}
	.homepage_features h3 {
		font-weight: 600;
		margin-bottom: 5px;
	}
	.homepage_features ul {
		list-style: none;
		margin-bottom: 20px;
		overflow: hidden;
	}
		.homepage_features li {
			width: 264px; padding-left: 32px; padding-right: 32px; margin-bottom: 30px;
			float: left;
		}
			.homepage_features li p {
				padding-bottom: 0;
			}
			.homepage_features li img {
				margin-bottom: 20px;
			}
			.homepage_features li a {
				-webkit-transition: opacity 0.2s ease-out; -moz-transition: opacity 0.2s ease-out; -o-transition: opacity 0.2s ease-out; transition: opacity 0.2s ease-out;
			}
			.homepage_features li a:hover {
				opacity: 0.75; filter: alpha(opacity=75);
			}
			
.homepage_about {
	padding-top: 75px; padding-bottom: 75px; min-height: 295px; border-bottom: 1px solid #d7d9d9;
	position: relative; z-index: 0;
}
	.homepage_about img {
		left: 50%; margin-left: -492px;
		position: absolute;
	}
	.homepage_about h2 {
		color: #000; font-size: 34px;
	}
	.homepage_about .more {
		margin-top: 10px;
	}
		
.homepage_video {
	background-color: #f96d3c;
	padding-top: 45px; padding-bottom: 55px;
}
	.homepage_video h2 {
		color: #fff; font-size: 36px;
		margin-bottom: 35px;
	}
	.homepage_video iframe {
		-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3); -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3); box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
	}

.homepage_showcase {
	min-height: 215px; max-width: 100%; border-top: 1px solid #d7d9d9;
	overflow: hidden; 
}
	.homepage_showcase h2 {
		font-size: 36px; color: #000;
		margin-bottom: 40px;
	}
	.homepage_showcase .sites {
		width: 2328px; height: 215px; margin-left: -1164px; left: 50%; margin-bottom: 40px;
		position: relative; 
	}
		.homepage_showcase .sites a {
			vertical-align: middle;
			margin: 0 10px;
			display: inline-block;
		}
		
.homepage_agency {
	color: #fff;
	background-color: #f96d3c;
	padding-top: 50px; padding-bottom: 50px;
}
	.homepage_agency h2 {
		color: #fff;
		margin-bottom: 0;
	}
		.homepage_agency h2 span {
			font-size: 120px; vertical-align: middle; line-height: 0.7em;
			margin-left: 10px; margin-right: 10px; margin-bottom: 15px;
			display: inline-block;
		}
	.homepage_agency p {
		font-size: 18px; line-height: 1.7em;
		width: 700px; margin: 0 auto 50px; padding-bottom: 0;
	}

.testimonials .start {
	font-size: 28px;
	background-image: url('/assets/application/button-start-large.png');
	padding: 20px 40px; margin-bottom: 50px;
	clear: both;
}
	.testimonials .start:hover {
		background-position: left -68px;
	}
	.testimonials .start:active {
		background-position: left top; padding-top: 21px; padding-bottom: 19px;
	}


		
/*
----------
FEATURES
---------
*/
.features_content {
	margin-top: 95px; min-height: 400px; padding-bottom: 100px;
	position: relative;
}
	.features_content header {
		-webkit-box-shadow: 0 1px 0 0 #d4d8d8; -moz-box-shadow: 0 1px 0 0 #d4d8d8; box-shadow: 0 1px 0 0 #d4d8d8;
		border-bottom: 15px solid #fff; margin-bottom: 50px;
	}
	.features_content nav {
		text-align: left; font-size: 14px; line-height: 1.4em;
		width: 242px; left: 50%; margin-left: -492px;
		position: absolute;
	}
		.features_content nav a {
			color: #a3a3a3; text-transform: uppercase; font-weight: 600;
			background-color: #fff;
			margin-bottom: 8px; padding: 15px; border: 1px solid #d6dad9; border-top: 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
			display: block;
		}
		.features_content nav a:hover {
			color: #666;
		}
		.features_content nav .on, .features_content nav .on:hover {
			color: #fff;
			background-color: #949699;
		}
		
	.features_content article {
		text-align: left;
		background-color: #fff;
		width: 656px; left: 50%; margin-left: -226px; padding: 30px; border: 1px solid #d6dad9; border-top: 0; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;
		position: relative;
	}
		.features_content article img:first-child {
			margin-bottom: 30px; margin-top: -30px; left: 0; margin-left: -30px; -webkit-border-radius: 6px 6px 0 0; -moz-border-radius: 6px 6px 0 0; border-radius: 6px 6px 0 0;
			position: relative;
		}
			
.features_introduction {
	min-height: 457px; border-bottom: 1px solid #d4d8d8;
	position: relative; z-index: 0;
}
	.features_introduction img {
		left: 50%; margin-left: -492px; 
		position: absolute; z-index: 0;
	}
	.features_introduction .article_content {
		width: 441px; padding-left: 543px; padding-top: 5px;
	}
	
.features_needs {
	text-align: left;
	background-color: transparent; background-image: url('/assets/application/features/background-needs.png'); background-position: right center; background-repeat: no-repeat;
	width: 410px; padding-right: 574px; margin: 0 auto;
}
	
.features_get_found {
	color: #fff;
	min-height: 360px;
	background-color: #ff713f;
	position: relative; z-index: 0;
}
	.features_get_found img {
		left: 50%; margin-left: -492px;
		position: absolute; z-index: 0;
	}
	.features_get_found .article_content {
		margin-top: 0;
	}
		.features_get_found h2, .features_get_found h3 {
			color: #fff;
		}
		.features_get_found a, .features_get_found .next {
			color: #fff;
		}
		.features_get_found a:hover, .features_get_found .next:hover {
			color: #ffebe5;
		}
		
.features_themes {
	text-align: left;
	background-color: transparent; background-image: url('/assets/application/features/background-themes.png'); background-position: right -45px; background-repeat: no-repeat;
	width: 460px; padding-right: 524px; margin: 0 auto;
}

.features_connect_with_customers {
	min-height: 319px; padding-top: 50px; border-top: 1px solid #d4d8d8; border-bottom: 1px solid #d4d8d8;
	position: relative; z-index: 0;
}
	.features_connect_with_customers img {
		left: 50%; margin-left: -492px;
		position: absolute; z-index: 0;
	}
	.features_connect_with_customers .article_content {
		padding-top: 0;
	}
	
.features_mobile {
	text-align: left;
	background-color: transparent; background-image: url('/assets/application/features/mobile-friendly.png'); background-position: right center; background-repeat: no-repeat;
	width: 410px; padding-right: 574px; margin: 0 auto;
}


/*
----------
RESOURCES
---------
*/
.resources {
	min-height: 700px;
}
	.main_content .resources article {
		background-color: transparent; 
		width: 496px; padding-left: 150px; padding-bottom: 0; padding-top: 0;
	}
	.resources article {
		margin-bottom: 70px;
	}
	.resources h2 {
		font-size: 34px; color: #000;
		background-position: left bottom; background-repeat: no-repeat;
		border-bottom: 1px solid #e0e0e0; padding-bottom: 0.5em; padding-top: 15px; margin-left: -150px; padding-left: 150px;
	}
		.faq h2 {
			background-image: url('/assets/application/resources/icon-faq.gif?2');
		}
		.guides h2 {
			background-image: url('/assets/application/resources/icon-guides.gif');
		}
		.videos h2 {
			background-image: url('/assets/application/resources/icon-videos.gif');
		}
		.showcase_resource h2 {
			background-image: url('/assets/application/resources/icon-showcase.gif?1');
		}
	.resources p {
		padding-bottom: 2em;
	}

.blogroll {
	width: 308px; left: 50%; margin-left: 184px; top: 155px;
	position: absolute;
}
	.blogroll h3 {
		color: #949699; font-size: 14px; text-transform: uppercase; word-spacing: 65px; line-height: 45px;
		background-image: url('/assets/application/resources/icon-blogroll.gif'); background-position: 134px center; background-repeat: no-repeat;
		margin-bottom: 35px;
	}
	.blogroll ul {
		list-style: none; text-align: left;
		background-color: #fff;
		padding: 10px; margin-top: 20px; margin-bottom: 0; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0;
		position: relative;
	}
		.blogroll ul:after, .blogroll ul:before {
			pointer-events: none; content: '\0000a0';
			width: 0; height: 0; bottom: 100%; left: 50%; border: solid transparent; border-color: rgba(255, 255, 255, 0);
			position: absolute;
		}
		.blogroll ul:after {
			border-width: 20px; border-bottom-color: #fff; margin-left: -20px;
		}
		.blogroll ul:before {
			border-width: 21px; border-bottom-color: #dfdfdf; margin-left: -21px;
		}
		
		.blogroll li {
			background-image: url('/assets/application/background.png'); background-position: left top; background-repeat: repeat;
			padding: 15px; margin-bottom: 10px; border-top: 1px solid #d1d6d5; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
		}
		.blogroll time {
			font-size: 12px; color: #666; font-style: italic;
		}
		
	.blogroll div {
		background-color: #fff;
		padding-bottom: 20px; -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px;
	}
	
.guide_introduction {
	background: #fff url('/assets/application/background.png') left top repeat;
	height: 272px; max-width: 100%; margin-top: 1px;
	position: relative; overflow: hidden; z-index: 0;
}
	.guide_introduction img {
		left: 50%; top: 0; margin-left: -1280px;
		position: absolute; z-index: 0;
	}
	.guide_introduction h2 {
		color: #fff; text-align: left; font-size: 42px; line-height: 1.4em;
		padding-left: 410px; width: 574px; margin: 75px auto 0;
		position: relative; z-index: 1;
	}
	
.guide ul {
	list-style: none;
}


/*
-----------
ABOUT
----------
*/
.team {
	background: #fff url('/assets/application/background.png') left top repeat;
	padding-top: 30px; padding-bottom: 30px; margin-top: -35px;
	position: relative; z-index: 1;
}
	.member {
		vertical-align: middle; cursor: default;
		background: #fff;
		width: 298px; height: 298px; padding: 5px; margin-left: 10px; margin-right: 10px; border: 1px solid #ced2d1; -webkit-border-radius: 155px; -moz-border-radius: 155px; border-radius: 155px;
		display: inline-block; position: relative;
	}
		.member img {
			-webkit-border-radius: 155px; -moz-border-radius: 155px; border-radius: 155px;
		}
		.member_name {
			background-color: rgba(255,255,255,0.9); opacity: 0;
			width: 200px; height: 180px; padding: 60px 50px; left: 4px; top: 4px; -webkit-border-radius: 155px; -moz-border-radius: 155px; border-radius: 155px;
			position: absolute; display: none;
			-webkit-transition: opacity 0.1s ease-out; -moz-transition: opacity 0.1s ease-out; -o-transition: opacity 0.1s ease-out; transition: opacity 0.1s ease-out;
		}
			.member_name strong {
				font-size: 34px; font-weight: 400; color: #000; line-height: 1.2em;
				display: block;
			}
			.member_name em {
				text-transform: uppercase; font-weight: 600; font-style: normal; line-height: 1.8em;
				margin-bottom: 15px;
				display: block;
			}
			.member_name a {
				vertical-align: middle;
				width: 44px; height: 36px; margin: 0 6px;
				display: inline-block; overflow: hidden;
			}
				.member_name a img {
					-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;
				}
				.member_name a:hover img {
					margin-top: -36px;
				}
		.member_name:hover {
			opacity: 1;
		}
	.member:hover .member_name {
		display: block;
	}
	

/*
-----------
PRESS
----------
*/
.press_content {
	position: relative;
}
	.press_content .articles article, .press_content .sidebar article {
		font-size: 14px; line-height: 1.5em;
		padding: 25px; margin-bottom: 12px; border: 1px solid #d6dad9; border-top: 0; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;
	}
	.press_content .articles article {
		width: 574px;
	}
	.press_content .sidebar article {
		width: 256px;
	}
	
		.byline {
			line-height: 3em;
			display: block; 
		}
		.sidebar article h4 {
			font-size: 16px; line-height: 1.5em;
		}
		.sidebar h4 a {
			color: inherit;
		}
		

/*
-----------
CONTACT US
----------
*/
.contact_content {
	min-height: 700px;
}
.contact_content .articles {
	text-align: center;
	overflow: hidden;
}
	.contact_content article {
		line-height: 2em;
		width: 256px; min-height: 230px; margin-top: 180px; padding: 25px; border: 1px solid #d6dad9; border-top: 0; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;
		float: left; position: relative;
	}
		.contact_content article:before {
			content: '\0000a0';
			background-position: center top; background-repeat: no-repeat;
			left: 0; top: -180px; width: 100%; height: 180px;
			position: absolute;
		}
		.contact_support:before {
			background-image: url('/assets/application/icon-support.png');
		}
		.contact_press:before {
			background-image: url('/assets/application/icon-press.png');
		}
		.contact_general:before {
			background-image: url('/assets/application/icon-general-contact.png');
		}
	.contact_press {
		margin: 0 30px;
	}
	
	.contact_content h2 {
		font-size: 28px; color: #000;
		line-height: 1.5em;
	}
	.contact_content p {
		padding-bottom: 0;
	}
	.contact_content article strong {
		font-weight: 600; font-size: 21px; line-height: 2em;
	}


/*
-----------
SHOWCASE
----------
*/
.showcase {
	width: 1014px; margin: 0 auto;
}
	.showcase ul {
		list-style: none;
		overflow: hidden;
	}
	.showcase li {
		background-color: #fff;
		width: 266px; height: 215px; padding: 20px; margin: 0 15px 30px; border: 1px solid #d6dad9; border-top: 0; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;
		float: left; overflow: hidden; position: relative;
	}
		.showcase li img {
			-webkit-transition: opacity 0.1s ease-out; -moz-transition: opacity 0.1s ease-out; -o-transition: opacity 0.1s ease-out; transition: opacity 0.1s ease-out;
		}
		.showcase h3 {
			font-size: 24px; font-weight: 400; line-height: 1.2em;
			margin-top: 60px; margin-bottom: 0;
			display: none;
		}
		.showcase p {
			line-height: 2em;
			display: none;
		}
		
		.showcase li:hover img {
			opacity: 0.15; filter: alpha(opacity=15);
			left: 20px; top: 20px;
			position: absolute; z-index: 0;
		}
		
		.showcase li:hover h3 {
			position: relative; z-index: 1; display: block;
		}
		.showcase li:hover p {
			position: relative; z-index: 1; display: block;
		}
		
		
/*
-----------
PARTNERS
----------
*/
.partners_logos {
	width: 420px; margin-right: 35px;
	float: left;
}
	.partners_logos a {
		vertical-align: top;
		display: inline-block;
	}
		.partners_logos a:first-child {
			margin-top: 30px;
		}
		.partners_logos a:last-child {
			margin-top: -85px;
		}
	.partners_logos img {
		margin-right: 0;
		float: none;
	}
	

/*
--------------------
JUSTABOUT PAGE
-------------------
*/
.landing {
	padding-top: 35px; padding-bottom: 35px;
}
	.landing article {
		-moz-box-shadow: 0 0 5px rgba(0,0,0,0.2); -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2); box-shadow: 0 0 5px rgba(0,0,0,0.2);
		width: 954px; padding: 15px; margin: 0 auto;
	}
		.landing p {
			font-size: 26px; font-weight: 300; line-height: 1.34em;
		}
		
		.landing header {
			background: url('/assets/application/partners/justabout-border.gif') center bottom no-repeat;
			padding: 40px 105px 55px;
		}
			.landing header img {
				margin-bottom: 50px;
			}
			.landing header h1 {
				font-size: 52px; font-weight: 300; line-height: 1.25em;
			}
		
		.landing_about {
			background: url('/assets/application/partners/justabout-border.gif') center bottom no-repeat;
			padding: 30px 45px 40px;
			overflow: hidden;
		}
			.landing_about h2 {
				font-size: 150px; line-height: 1em; font-weight: 300; letter-spacing: -12px;
				margin-bottom: 0;
				float: left;
			}
			.landing_about p {
				vertical-align: middle; text-align: left;
				width: 530px; padding-bottom: 0; margin-left: 30px; margin-top: 40px;
				float: left;
			}
		
		.landing .team {
			background: url('/assets/application/partners/justabout-border.gif') center bottom no-repeat;
			margin-top: 0; padding-top: 55px; padding-bottom: 40px;
		}
			.landing .member {
				width: 255px; height: 255px; margin-bottom: 40px;
			}
			.landing .member_name {
				width: 197px; height: 137px; padding: 60px 30px;
			}
				.landing .member_name strong {
					font-size: 25px;
				}
				.landing .member_name em {
					font-size: 14px;
				}
			.landing .team p {
				margin-left: 90px; margin-right: 90px;
			}
		
		.landing .homepage_features {
			width: auto; margin: 0; padding-bottom: 60px;
		}
			.landing .homepage_features h2 {
				color: #ea5c2a;
			}
			.landing .homepage_features ul {
				margin-bottom: 0;
			}
			.landing .homepage_features li {
				width: 246px; margin-bottom: 50px; min-height: 250px;
			}
			.landing .homepage_features h3 {
				margin-top: 10px; margin-bottom: 15px;
			}
			.landing .homepage_features p {
				font-size: 16px; font-weight: 400;
			}

		.landing .homepage_showcase {
			padding: 60px 0;
			background: url('/assets/application/partners/justabout-border.gif') center bottom no-repeat;
			border-top: none;
		}
			.landing .homepage_showcase h2 {
				color: #ea5c2a;
			}
			
		.landing_price {
			padding: 30px 60px 40px;
			overflow: hidden;
		}
			.landing_price h2 {
				font-size: 150px; font-weight: 300; line-height: 1em; letter-spacing: -10px;
				margin-bottom: 0;
				float: left;
			}
				.landing_price h2 sup {
					font-size: 48px;
				}
			.landing_price p {
				text-align: left;
				width: 710px; padding-bottom: 0; margin: 50px 30px; margin-right: 0;
				float: left;
			}
			.landing_price .start {
				font-size: 28px;
				background-image: url('/assets/application/button-start-large.png');
				padding: 20px 40px; margin-bottom: 50px; margin-top: 30px;
				clear: both;
			}
				.landing_price .start:hover {
					background-position: left -68px;
				}
				.landing_price .start:active {
					background-position: left top; padding-top: 21px; padding-bottom: 19px;
			}
		
		.landing_cta {
			color: #fff;
			background-color: #f47c3d;
			overflow: hidden; position: relative;
		}
			.landing_cta div {
				width: 350px; padding: 63px;
				float: left;
			}
			.landing_cta .or {
				text-indent: -10000px;
				background: url('/assets/application/partners/justabout-or.png') center center no-repeat;
				width: 56px; height: 56px; left: 50%; top: 60px; margin-left: -28px;
				position: absolute; overflow: hidden;
			}
			.landing_cta h3 {
				color: #fff; font-size: 38px; font-weight: 300; line-height: 1.3em;
			}
			.landing_cta p {
				font-size: 18px;
				margin-bottom: 20px;
			}
			
		.landing_testimonials {
			background: #f1f1f1;
			width: auto; margin: 0; padding: 60px;
		}
			.landing_testimonials .testimonial:last-child {
				margin-bottom: 0;
			}
			.landing_testimonials .left img {
				float: left;
			}
				.landing_testimonials .testimonial:last-child img {
					margin-top: 65px;
				}
			.landing_testimonials .left blockquote {
				margin-left: 213px;
			}
			.landing_testimonials .right img {
				margin-top: 20px;
				float: right;
			}
			.landing_testimonials .right blockquote {
				margin-right: 213px;
			}
			.landing_testimonials p {
				font-size: 16px; font-weight: 400; line-height: 1.5em;
			}


/*
--------------------
PRIVATE LABEL PAGE
-------------------
*/
.private_label_introduction {
	background-color: #f1f1f1;
	height: 290px; border-bottom: 1px solid #d7d9d9; margin-top: 1px;
	overflow: visible; position: relative; z-index: 0;
}
	.private_label_introduction h2 {
		font-size: 50px;
		margin-bottom: 40px;
	}
	.private_label_introduction .play_video {
		color: #fff; font-size: 14px; text-transform: uppercase; font-weight: 600; line-height: 1em;
		background: #3187c7 url('/assets/application/icon-play.png') center 15px no-repeat;
		padding: 65px 15px 15px 15px; left: 50%; top: 50%; margin-left: -70px; margin-top: 40px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
		position: absolute;
	}
		.private_label_introduction .play_video:hover {
			background-color: #3593d8;
		}
		.private_label_introduction .play_video:active {
			background-position: center 16px;
			-moz-box-shadow: inset 0 2px 15px rgba(0,0,0,0.3); -webkit-box-shadow: inset 0 2px 15px rgba(0,0,0,0.3); box-shadow: inset 0 2px 15px rgba(0,0,0,0.3);
			padding-top: 66px; padding-bottom: 14px;
		}

.private_label_content {
	padding-top: 150px; border-bottom: 1px solid #d7d9d9; padding-bottom: 20px;
}
	.private_label_content section {
		text-align: left;
		width: 984px; margin: 0 auto; padding-top: 60px; padding-bottom: 60px; border-bottom: 1px solid #d7d9d9;
		overflow: hidden;
	}
		.private_label_content .image_right {
			margin-left: 40px;
			float: right;
		}
			.private_label_content section:first-child .image_right {
				margin-left: 100px;
			}
		.private_label_content .image_left {
			margin-right: 90px;
			float: left;
		}
	.private_label_content .call_to_action {
		border-bottom: 0;
	}
		.private_label_content .call_to_action div {
			width: 290px; margin-right: 38px;
			float: left;
		}
		
.private_label_testimonials {
	background-color: #f1f1f1;
	border-bottom: 1px solid #d7d9d9;
}
	.private_label_testimonials h2 {
		margin-bottom: 35px;
	}
	.private_label_testimonials section {
		width: 984px; margin: 0 auto;
		overflow: hidden;
	}
	.private_label_testimonials .testimonial {
		width: 477px;
		float: left;
	}
	.private_label_testimonials .testimonial:first-child {
		margin-right: 30px;
	}
		.private_label_testimonials .testimonial:first-child blockquote {
			margin-top: 27px;
		}
		
		
.private_label_start {
	padding-bottom: 75px; margin-bottom: -100px;
}
	.private_label_start p {
		font-size: 18px;
		padding-bottom: 35px;
	}
	.private_label_start p:last-child {
		width: 700px; margin: 0 auto; border-top: 1px solid #d7d9d9; padding-top: 35px;
	}
	.private_label_start .start {
		font-size: 28px;
		background-image: url('/assets/application/button-start-large.png');
		padding: 20px 40px; margin-bottom: 40px;
		clear: both;
	}
		.private_label_start .start:hover {
			background-position: left -68px;
		}
		.private_label_start .start:active {
			background-position: left top; padding-top: 21px; padding-bottom: 19px;
		}