/*
 *= require application/reset
 */

/*
----------------------------------------
Onepager Static Page Structure (orange)
----------------------------------------
*/

html {
	text-align: center;
	background-color: #c75832;
	width: 100%; height: 100%; min-height: 100%; min-width: 1020px;
}
body {
	background-color: #f1f1f1;
	width: 100%; min-width: 1020px;
}

	.main_navigation {
		font-size: 14px;
		background-color: #fff; -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3); -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3); box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
		top: 0; left: 0; width: 100%; padding: 25px 0;
		position: fixed; z-index: 50;
	}
		.main_navigation nav {
			color: #a3a3a3; text-transform: uppercase; text-align: left;
			width: 984px; min-height: 45px; margin: 0 auto;
			overflow: hidden; position: relative;
		}
			header .logo {
				/*left: 0; top: 0;*/
				margin-left: 0; margin-right: 5px;
				/*position: absolute;*/
			}
			header a {
				color: inherit; vertical-align: middle;
				margin-left: 30px;
				display: inline-block;
				-webkit-transition: color 0.2s ease-out; -moz-transition: color 0.2s ease-out; -o-transition: color 0.2s ease-out; transition: color 0.2s ease-out;
			}
				header a:hover {
					text-decoration: none; color: #666;
				}
				header .on {
					color: #de6237;
				}
			header .user_session {
				color: #555;
				right: 0; top: 0;
				position: absolute;
			}
			header .start {
				color: #fff; font-size: 15px; text-transform: none;
				margin-left: 0;
			}
	
	.articles {
		margin-top: 95px;
	}
		.articles header, .features_content header, .main_content header {
			color: #fff;
			background-color: #f96d3c;
			padding-top: 30px; padding-bottom: 30px;
		}
			.articles header h1, .features_content header h1, .main_content header h1 {
				text-align: left;
				width: 984px; margin: 0 auto;
			}
		
		.main_content {
			margin-top: 95px; min-height: 400px; padding-bottom: 100px;
			position: relative;
		}
			.main_content header {
				-webkit-box-shadow: 0 1px 0 0 #d4d8d8; -moz-box-shadow: 0 1px 0 0 #d4d8d8; box-shadow: 0 1px 0 0 #d4d8d8;
				border-bottom: 15px solid #fff;
				position: relative; z-index: 0;
			}
			.main_content .articles {
				text-align: left;
				width: 984px; margin: 50px auto 0;
			}
				.main_introduction {
					margin-top: -15px; border-bottom: 1px solid #d4d8d8; margin-bottom: 35px; padding-top: 35px; padding-bottom: 35px;
					position: relative; z-index: 1;
				}
					.main_introduction h2, .main_introduction p {
						text-align: left;
						width: 770px; padding-right: 214px; margin: 0 auto;
					}
					.main_introduction h2 {
						margin-bottom: 15px;
					}
					.main_introduction h2:last-child {
						margin-bottom: 0;
					}
					.main_introduction p {
						font-size: 24px; line-height: 1.4em;
					}
					.main_introduction ul {
						list-style: none; text-align: left;
						width: 870px; padding-right: 114px; margin: 0 auto;
						-moz-column-count: 2; -webkit-column-count: 2; -ms-column-count: 2; -o-column-count: 2; column-count: 2;
						-moz-column-gap: 30px; -webkit-column-gap: 30px; -ms-column-gap: 30px; -o-column-gap: 30px;
					}
						.main_introduction ul a {
							text-transform: uppercase; font-size: 14px; font-weight: 600; line-height: 1.1em;
						}
					
				.main_article {
					text-align: left;
					width: 924px; padding: 30px 30px 20px; margin: 0 auto 40px; border: 1px solid #d6dad9; border-top: 0; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;
					overflow: hidden;
				}
					.main_article h3 {
						font-size: 28px; line-height: 1.3em;
						margin-bottom: 0.5em;
					}
					.main_article h4 {
						color: #404545;
						margin-bottom: 1em;
					}
					.main_article iframe {
						margin-bottom: 1em;
					}
					.main_article table {
						margin-bottom: 1em;
					}
					.main_article img {
						margin-right: 35px;
						float: left;
					}
					.main_article ul {
						margin-left: 50px;
					}
					
				.sidebar {
					text-align: left; font-size: 14px;
					width: 308px; left: 50%; top: 268px; margin-left: 184px; 
					position: absolute;
				}
					.sidebar_section {
						margin-bottom: 1.5em;
					}
					.sidebar h4 {
						font-weight: 700; font-size: inherit;
					}
					.sidebar img {
						margin-bottom: 0.5em;
					}
					
		.detail_content {
			background-color: #fff;
		}
			.detailed_article {
				text-align: left;
				width: 800px; padding-right: 184px; margin: 0 auto;
			}
				.detailed_article h3 {
					font-size: 24px; font-weight: 400;
					margin-top: 0.5em;
				}
				.detailed_article h4 {
					font-size: 21px;
					margin-bottom: 0.5em;
				}
				.detailed_article p {
					padding-bottom: 1.5em;
				}
				.detailed_article h5 {
					font-size: 18px; font-weight: 600;
				}
				.detailed_article ul, .detailed_article ol {
					margin-left: 35px;
				}
	
		article {
			background-color: #fff;
			width: 100%; padding-top: 40px; padding-bottom: 40px;
		}
	
	footer {
		background-color: #c75832;
	}
		footer nav {
			background-color: #f96d3c;
			padding-top: 30px; padding-bottom: 30px;
			position: relative;
		}
			footer nav ul {
				text-align: left; list-style: none;
				width: 984px; margin: 0 auto;
				overflow: hidden;
			}
				footer nav li {
					font-size: 14px; line-height: 1.5em;
					width: 190px;
					float: left;
				}
				footer nav h6 {
					font-size: 16px; line-height: 1.5em; color: #fff; text-transform: uppercase;
					margin-bottom: 5px;
				}
					footer nav h6 a:hover {
						color: #fff;
					}
				footer nav a {
					color: #fff;
				}
					footer nav a:hover {
						text-decoration: none; color: #fae4dd;
					}
					footer nav li a {
						display: block;
					}
			footer nav img {
				right: 50%; margin-right: -492px; top: -35px;
				position: absolute;
			}
		footer section {
			color: #f6c8b7; text-transform: uppercase; text-align: left; font-weight: 700; font-size: 12px; line-height: 1em;
			width: 984px; margin: 0 auto; padding: 20px 0;
		}
			footer section a {
				color: inherit; vertical-align: middle;
				max-height: 22px;
				display: inline-block; overflow: hidden;
			}
				footer section a:hover {
					color: #fae4dd; text-decoration: none;
				}
				footer section a:hover img {
					margin-top: -22px;
				}
			footer section img {
				margin-right: 12px;
			}
			footer section span {
				vertical-align: middle;
				margin-right: 5px; margin-left: 5px;
				display: inline-block;
			}
				footer section span:after {
					/* content: ' \0000a0 \2022 \0000a0 '; */
					margin-left: 5px;
					display: inline-block;
				}