/*
--------------------------
MAIN NAVIGATION
--------------------------
*/
.users nav .start {
	color: #a3a3a3; font-weight: 600;
	background: none;
}
	.users nav .start:hover, .users nav .start:active {
		color: #666;
		background: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
		padding: 12px 20px;
	}


/*
--------------------------
Plans section styles
--------------------------
*/
.introduction {
	text-align: center; font-size: 26px; line-height: 1.3em; letter-spacing: -1px; color: #333;
	margin: 0 35px; padding-left: 55px; padding-right: 55px;
}
.domain_promotion {
  color: #cf5227;
  background-color: #f8e6e1; background-image: url('/assets/application/signup/background-gift.png'); background-repeat: no-repeat; background-position: left center;
  width: 954px; margin: 0 auto; padding: 15px; margin-bottom: 30px; -webkit-border-radius: 7px; border-radius: 7px;
}
  .domain_promotion p {
    padding-bottom: 0;
  }
  .domain_promotion p:after {
    content: ' '; vertical-align: middle;
    background-image: url('/assets/application/signup/icon-gift.png'); background-position: center center; background-position: no-repeat;
    width: 25px; height: 25px; margin-left: 7px;
    display: inline-block;
  }
.plans {
	background-color: #fff;
	padding-top: 40px; padding-bottom: 40px; border-bottom: 1px solid #d4d8d8;
}
	.tabs {
		text-align: center;
		background: url('/assets/application/signup/border-tabs.png') center bottom no-repeat;
		width: 975px; margin: 0 auto 30px;
	}
		.tabs a, .tabs span {
			vertical-align: middle; color: #a3a3a3; font-size: 14px; text-transform: uppercase;
			background-color: #fff;
			padding: 10px 24px; margin-left: 5px; margin-right: 5px; border: 1px solid #e6e6e6; border-bottom-color: #a8a8a8; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0;
			display: inline-block;
		}
		.tabs a:hover {
			color: #8a8a8a;
		}
		.tabs .on, .tabs .on:hover {
			color: #4c4c4c;
			border-color: #a8a8a8; border-bottom-color: #fff;
		}
	
	.paids {
		width: 984px; margin: 0 auto 35px;
		overflow: hidden;
	}
		.paid {
			vertical-align: top;
			width: 232px; padding-bottom: 10px; margin-left: 3px; margin-right: 3px; margin-top: 20px;
			-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
			/*float: left;*/ display: inline-block;
		}
			.paid h3 {
				font-size: 14px; color: #fff; text-transform: uppercase;
				padding-top: 10px; padding-bottom: 10px; margin-bottom: 0; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0;
			}
				.paid h3 em {
					font-style: normal; font-weight: 400; text-transform: none;
				}
			.plan_price {
				color: #fff;
				padding: 14px 10px 16px;
				display: block;
			}
				.plan_price strong {
					vertical-align: text-bottom;
					font-size: 36px; line-height: 0.9em; letter-spacing: -1px;
					margin-right: 5px;
					display: inline-block;
				}
					.plan_price sup {
						font-size: 24px; font-weight: 400;
					}
			.paid .more {
				font-size: 13px;
			}
			.paid .more:hover {
				background-position: left -42px;
			}
			.paid .more:active {
				background-position: left top;
			}
			.paid ul {
				font-size: 12px; line-height: 1.4em; list-style: none; text-align: left;
				background-color: #fff;
				padding: 10px 15px 15px; margin: 0 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
			}
				.paid li {
					background-repeat: no-repeat; background-position: left center;
					padding-left: 36px; padding-top: 10px; padding-bottom: 10px; border-top: 1px solid #e0e0e0;
				}
				.paid li:first-child {
					border-top: 0;
				}
				.paid li:last-child {
					text-align: center;
					padding-left: 0; padding-bottom: 0; padding-top: 15px;
				}
				.paid li.choose {
					padding-top: 20px; border-top: 0; padding-left: 0;
					text-align: center;
				}
		.starter {
			background-color: #ff713f;
			margin-right: 0;
		}
			.starter h3 {
				background-color: #d36326;
			}
			.starter .more {
				background-image: url('/assets/application/button-more.png');
			}
		.standard {
			background-color: #4c93d0;
			margin-top: 0; width: 256px;
		}
			.standard h3 {
				font-size: 16px;
				background-color: #2f72ac;
				padding-top: 13px; padding-bottom: 13px;
			}
			.standard .plan_price strong {
				font-size: 44px;
			}
			.standard ul {
				font-size: 14px;
				padding-bottom: 20px;
			}
			.standard .start {
				font-size: 15px;
				background-image: url('/assets/application/button-start-large.png');
				padding: 15px 22px;
			}
				.standard .start:hover {
					background-position: left -68px;
				}
				.standard .start:active {
					background-position: left top;
					padding-top: 16px; padding-bottom: 14px;
				}
		.premium {
			background-color: #76b5ac;
		}
			.premium h3 {
				background-color: #589088;
			}
			.premium .more {
				background-image: url('/assets/application/button-more-green.png');
			}
		.agency {
			background-color: #9e9e9e;
			margin-left: 0;
		}
			.agency h3 {
				background-color: #7e7e7e;
			}
			.agency .more {
				background-image: url('/assets/application/button-general.png');
			}
		
	.features {
	}
		.features h2 {
			font-weight: 600; font-size: 21px; text-transform: uppercase; letter-spacing: 0;
		}
		.features ul {
			font-size: 18px; list-style: none; text-align: left;
			width: 800px; margin: 0 auto; margin-bottom: -1px;
			-moz-column-count: 2; -webkit-column-count: 2; -ms-column-count: 2; -o-column-count: 2; column-count: 2;
			-moz-column-gap: 30px; -webkit-column-gap: 30px; -ms-column-gap: 30px; -o-column-gap: 30px;
		}
			.features li {
				background-position: left center; background-repeat: no-repeat;
				padding-left: 43px; padding-top: 12px; padding-bottom: 12px; border-bottom: 1px solid #e0e0e0;
			}
			.icon_bandwidth {
				background-image: url('/assets/application/signup/icon-bandwidth.png');
			}
			.icon_hosting {
				background-image: url('/assets/application/signup/icon-hosting.png');
			}
			.icon_url {
				background-image: url('/assets/application/signup/icon-custom-url.png');
			}
			.icon_analytics {
				background-image: url('/assets/application/signup/icon-analytics.png');
			}
			.icon_newsletter {
				background-image: url('/assets/application/signup/icon-newsletter.png');
			}
			.icon_ecommerce {
				background-image: url('/assets/application/signup/icon-billing.png');
			}
			.icon_support {
				background-image: url('/assets/application/signup/icon-support.png?1');
			}
			.icon_users {
				background-image: url('/assets/application/signup/icon-users.png');
			}
			.icon_whitelabel {
				background-image: url('/assets/application/signup/icon-white-label.png');
			}
	
	.free {
		color: #666; font-size: 14px;
		border-top: 1px solid #fff; padding-top: 30px;
		clear: both; position: relative; z-index: 2;
	}
		.free p {
			padding-bottom: 0;
		}
		.free span {
			text-decoration: underline;
		}
		.free .tooltip_bubbles {
			width: 265px; left: 50%; margin-left: 90px; top: -115px;
			position: absolute; z-index: 2;
		}
		.free .tooltip_bubbles ul {
			list-style: none;
			padding: 0 20px; margin-bottom: 0;
		}
		.free .tooltip_bubbles li {
			font-size: 16px; color: #666; text-align: center;
			padding: 8px 0;  border-top: 1px solid #e9e9e9;
		}
			.free .tooltip_bubbles li:first-child {
				border-top: 0;
			}
			
	.upgrade .paids {
		margin-bottom: 0;
	}
		.upgrade .paid li:last-child {
			text-align: left;
			padding: 10px 0 10px 36px;
		}


/*
--------------------------
Checkout page styles
--------------------------
*/
.domain_input {
	color: #757575; font-size: 24px; line-height: 50px; 
	background-color: #f1f1f1;
	padding: 8px 20px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; 
}
	.domain_input span {
		vertical-align: middle;
		display: inline-block;
	}
	.domain_input .user_input {
		font-size: 24px; line-height: 50px; vertical-align: middle; color: #3f3f3f;
		background-color: transparent;
		border: 0; padding: 0; width: 390px;
	}
		.domain_input .user_input:focus {
			color: #000;
		}
	.check_domains .domain_input .user_input {
		width: 380px;
	}
		.no_custom_domain .domain_input .user_input {
			width: 275px;
		}
.signups .check_domains {
	padding: 0; border: 1px solid #d9dbdb; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; 
}
	.domain_tabs {
		overflow: hidden;
	}
		.domain_tabs span {
			width: 220px; height: 55px; border-left: 1px solid #d9dbdb; border-bottom: 1px solid #d9dbdb;
			float: left; position: relative;
		}
			.domain_tabs span.selected {
				border-bottom: 0;
			}
		.domain_tabs span:first-child {
			border-left: 0;
		}
			.signups .domain_tabs span label {
				text-align: center; cursor: pointer; line-height: 55px; color: #666; text-transform: none; font-size: 14px; font-weight: 400;
				background-color: #fff; background-image: url('/assets/dashboard/background-tabs-domain.png'); background-position: left bottom; background-repeat: repeat-x;
				top: 0; left: 0; width: 100%; height: 55px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; 
				position: absolute; z-index: 1;
			}
				.domain_tabs span.selected label {
					color: #000;
					background-image: none;
				}
			.domain_tabs span input {
				left: 50%; top: 50%; margin-left: -6px; margin-top: -6px;
				position: absolute; z-index: 0;
			}
			
	.check_domains section {
		padding: 25px;
	}
		.check_domains section p {
			font-size: 14px; text-align: center;
			padding-bottom: 25px;
		}
		
		section.no_custom_domain a {
			text-align: center; font-size: 24px; font-weight: normal; line-height: 1.5em;
			display: block;
		}
		
.signups {
	text-align: left;
	width: 984px; margin: 40px auto;
	overflow: hidden;
}
	.signups .errors, .signups .notice {
		margin-bottom: 30px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
	}
	.signups form {
		background-color: #fff;
		width: 664px; padding: 30px; border: 1px solid #d7d9d9; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
		float: left;
	}
	.signups h2 {
		font-size: 24px; color: #000;
		margin-bottom: 20px;
	}
	.signups fieldset {
		padding: 25px; margin-bottom: 50px; border: 1px solid #d7d9d9; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
	}
		.signups fieldset ul {
			list-style: none;
		}
			.signups fieldset li {
				margin-bottom: 10px;
			}
		.signups fieldset label {
			text-transform: uppercase; font-size: 12px; font-weight: 600;
			width: 145px;
			display: inline-block;
		}
		.signups fieldset .user_input {
			vertical-align: middle;
			background-color: #f1f1f1;
			border: 0; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
			display: inline-block;
		}
		
			.billing td {
				padding: 20px 8px 20px 0; border-top: 1px solid #d7d9d9;
			}
				.subscription td {
					border-top: 0; padding-top: 0;
				}
				.billing .note {
					font-size: 12px; line-height: 1.5em;
					padding-bottom: 0; padding-top: 10px;
				}
			.price {
				text-align: right;
			}
			.totals {
				text-align: right; font-weight: bold; vertical-align: top;
			}
			.billing .user_input {
				width: 135px; min-width: 135px; padding: 8px 10px; margin-right: 3px;
			}
		
		.credit_card {
			padding-bottom: 10px;
			position: relative;
		}
			.credit_card .tooltip_bubbles {
				font-size: 12px; line-height: 34px;
				background-image: url('/assets/application/signup/icon-security-codes.png'); background-position: 10px center; background-repeat: no-repeat;
				left: 315px; top: 88px; width: 100px; height: 67px; padding-left: 77px;
				position: absolute;
			}
			.signups .security {
				margin-bottom: 0; margin-top: 20px;
			}
				.security img {
					vertical-align: middle;
					margin-right: 30px;
					display: inline-block;
				}
				
				
		.form_actions {
			text-align: center;
		}
			.signups .form_actions .start {
				font-size: 28px;
				background-image: url('/assets/application/button-start-large.png'); background-position: left 68px;
				padding: 20px 40px; margin-bottom: 10px;
			}
				.signups .form_actions .start:hover {
					background-position: left -68px;
				}
				.signups .form_actions .start:active {
					background-position: left top;
					padding-top: 21px; padding-bottom: 19px;
				}
			
			.signups .form_actions .checkboxes {
				font-size: 14px;
				margin-bottom: 50px;
			}
			
	.disclaimer {
		font-size: 14px; line-height: 1.5em;
		margin-left: 754px; margin-top: 20px;
	}
		.disclaimer h3 {
			font-size: 14px;
		}
		
.upgrade .signups {
	text-align: left;
	background-color: #fff;
	width: 924px; padding: 30px; border: 1px solid #d7d9d9; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
}
	.upgrade .credit_card {
		/*overflow: hidden;*/
	}
		.upgrade .credit_card ul:first-child {
			width: 436px; margin-right: 30px; margin-left: 0;
			float: left;
		}
		.upgrade .credit_card ul {
			margin-left: 466px;
		}
		
	.upgrade .credit_card .tooltip_bubbles {
		left: auto; right: -25px;
	}

/*
--------------------------
Thank you pages styles
--------------------------
*/
.thank_you_content {
	background-color: #fff;
}
	.thank_you_introduction {
		background-color: #f1f1f1;
		padding: 40px 0; border-bottom: 1px solid #d7d9d9;
	}
	.thank_you {
		width: 984px; padding: 40px 0; margin: 0 auto;
		overflow: hidden;
	}
		.thank_you h2 {
			color: #191919;
			margin-bottom: 40px;
		}
		.thank_you article {
			float: left;
			width: 642px; padding: 0; border: 1px solid #d7d9d9; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
		}
			.thank_you article ul {
				list-style: none; text-align: left;
				padding: 30px; margin-bottom: 0; border-bottom: 1px solid #dfe1e1;
			}
			.thank_you article li {
				margin-top: 1em;
			}
				.thank_you article li:first-child {
					margin-top: 0;
				}
				
				.thank_you li strong {
					font-weight: 600; font-size: 12px; text-transform: uppercase; color: #666;
					width: 200px;
					display: inline-block;
				}
			
			.thank_you .buttons {
				padding: 30px;
			}
				.thank_you .buttons strong {
					font-size: 12px; text-transform: uppercase; color: #666; font-weight: 600;
					margin: 10px 0;
					display: block;
				}
				
		.thank_you form {
			text-align: left;
			margin-left: 674px;
		}
			.thank_you label {
				margin-bottom: 15px;
				display: block;
			}
			.thank_you textarea {
				background-color: #f1f1f1;
				border: 0; width: 290px; height: 190px; padding: 10px; margin-bottom: 20px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
			}
			
		.thank_you .upgraded {
			width: auto; padding: 30px;
			float: none;
		}
			.thank_you .upgraded strong {
				font-size: 12px; text-transform: uppercase; color: #666; font-weight: 600;
				margin: 0 15px;
				display: inline-block;
			}
				
			
/*
-----------
SIGN IN
----------
*/
.signin {
	width: 464px; margin: 100px auto;
}
	.signin .notice {
		border: 1px solid #d6dad9; border-top: 0;
	}
	.signin fieldset {
		text-align: left; font-size: 14px;
		background-color: #fff;
		padding: 30px; border: 1px solid #d6dad9; border-bottom-color: #cfcfcf; border-top: 0; -moz-border-radius: 6px 6px 0 0; -webkit-border-radius: 6px 6px 0 0; border-radius: 6px 6px 0 0;
	}
		.signin fieldset label {
			text-transform: uppercase;
			display: block;
		}
		.signin input.user_input {
			margin-bottom: 15px; width: 375px;
			display: block;
		}
	.signin .form_actions {
		text-align: right; color: #666; font-size: 14px;
		background-color: #f7f7f7;
		padding: 20px 30px; border: 1px solid #d6dad9; border-top-color: #fff; -moz-border-radius: 0 0 6px 6px; -webkit-border-radius: 0 0 6px 6px; border-radius: 0 0 6px 6px;
		position: relative;
	}
		.form_actions .checkbox, .form_actions .note {
			line-height: 38px;
			left: 30px; top: 18px;
			position: absolute;
		}
		.checkbox label {
			vertical-align: middle;
			margin-left: 5px;
			display: inline-block;
		}
		.form_actions .note {
			font-size: 12px; font-style: italic;
		}
	.signin p {
		text-align: right; font-size: 14px; color: #666;
		padding: 20px 30px;
	}
		.signin p a {
			color: inherit;
		}