<!DOCTYPE html>
<html>
<head>
	<title>Admin - Onepager</title>
	<meta name="robots" content="noindex, nofollow" />
	
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600|<%= google_webfonts() %>' rel='stylesheet' type='text/css'>
	<!--[if lt IE 9]><script src="/javascripts/lib/shiv.modernizr.js" type="text/javascript"></script><![endif]-->
	
	<%= stylesheet_link_tag 'admin' %>
	<%= javascript_include_tag 'admin' %>
	<%= yield(:head_css) %>
	
	<%= csrf_meta_tags %>
	
	<%= render :partial => "/shared/google_analytics" %>
</head>
<body>
	
	<nav>
		<span class="company_name">Onepager Admin</span>
		<%= link_to 'Users', opgadmin_users_path %>
		<%= link_to 'Themes', opgadmin_themes_path %>
	</nav>

	<%= content_tag(:header, yield(:header)) if content_for?(:header) %>
	<%= yield %>
	<%= yield(:js_inject) %>
	
</body>
</html>