<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) + ' | ' if content_for?(:title) %>Onepager - Build a simple website for your small business</title>
	<meta name="description" content="Onepager is the easiest way for small business owners to create a professional looking website. It's really simple to use and your site will look great on mobile devices. Features include analytics, custom domains, newsletter, social media integration, and optimized for SEO." />
	<meta name="keywords" content="simple website builder for small business, simple website, easy website builder, make your own website, create a professional website, small business website, professional small business website, SMB website, SMB tools, DIY website, easy-to-use website builder, quick website, splash page creator, do it yourself business websites, simple website design" />
	
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
	<!--[if lt IE 9]><script src="/javascripts/lib/shiv.modernizr.js" type="text/javascript"></script><![endif]-->
	
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	
	<%= csrf_meta_tags %>
	
	<%= render :partial => "/shared/google_analytics" %>
</head>
<body>
	
	<header class="main_navigation">
		<nav>
			<a href="/" class="logo"><img src="/assets/application/logo.png?1" width="175" alt="Onepager" /></a>
			<%=
				raw(build_main_navigation([
					['Features','/en/features'],
					['Pricing', '/en/pricing'],
					['For Agencies', '/en/private-label'],
					['Resources', '/en/resources']
				]))
			%>
			<section class="user_session">
			<% if !current_user %>
				<%= link_to "Start Building", Site.new, :method => :post, :rel => 'nofollow', :class => 'start' %>
				<a href="/signin">Sign In</a>
			<% else %>
				<%= link_to "Edit Your Site", edit_site_page_url(current_user.sites.last, current_user.sites.last.pages.last), :class => 'start' %>
				<%= link_to "Sign Out", signin_path, :method => :delete %>
			<% end %>
			</section>
		</nav>
	</header>
	
	<section class="<%= content_for?(:content_class) ? yield(:content_class) : 'articles' %>">
		<%= yield %>
	</section>
	
	<footer>
		<nav>
			<ul>
				<li>
					<h6>Company</h6>
					<a href="/en/company/about-us">About Us</a>
					<a href="/en/company/press">Press</a>
					<a href="/en/company/partners">Partners</a>
					<a href="/en/private-label">Private Label</a>
				</li>
				<li>
					<h6><a href="/en/resources">Resources</a></h6>
					<a href="/en/resources/guides">Guides</a>
					<a href="/en/resources/how-to-videos">How-To Videos</a>
					<a href="/en/resources/showcase">Showcase</a>
					<a href="/en/resources/faq">FAQ</a>
				</li>
				<li>
					<h6>Get In Touch</h6>
					<a href="/en/contact-us">Contact Us</a>
					<a href="/blog/">Blog</a>
				</li>
				<li>
					<h6>Legal</h6>
					<a href="/en/legal/privacy-policy">Privacy Policy</a>
					<a href="/en/legal/terms-conditions">Terms &amp; Conditions</a>
				</li>
			</ul>
			<img src="/assets/application/logo-footer.png" alt="Onepager" />
		</nav>
		<section>
			<a href="http://facebook.com/onepager"><img src="/assets/application/facebook.png" alt="Facebook" /></a>
			<a href="http://twitter.com/onepagerapp"><img src="/assets/application/twitter.png" alt="Twitter" /></a>
			<span>&copy; 2016 Onepager Inc.</span>
		</section>
	</footer>
	
	<%= yield :js_inject %>

	<script type="text/javascript">
		Onepager.Static.show();
	</script>
	
</body>
</html>
