<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) + ' | ' if content_for?(:title) %>Onepager - Build a simple website for your small business</title>
	<meta name="description" content="Onepager is the easiest way for small business owners to create a professional looking website. It's really simple to use and your site will look great on mobile devices. Features include analytics, custom domains, newsletter, social media integration, and optimized for SEO." />
	<meta name="keywords" content="simple website builder for smalle business, simple website, easy website builder, make your own website, create a professional website, small business website, professional small business website, SMB website, SMB tools, DIY website, easy-to-use website builder, quick website, splash page creator, do it yourself business websites, simple website design" />
	
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
	<!--[if lt IE 9]><script src="/javascripts/lib/shiv.modernizr.js" type="text/javascript"></script><![endif]-->
	
	<%= stylesheet_link_tag "dashboard", :media => "all" %>
	<%= javascript_include_tag "dashboard" %>
	<%= yield :head_js %>
	
	<%= csrf_meta_tags %>
	
	<%= render :partial => "/shared/google_analytics" %>
</head>

<body<%= raw(' class="' + yield(:body_class) + '"' ) if content_for?(:body_class) %>>
	
	<%= render 'shared/toolbar' if current_user %>
	
	<section class="dashboard_toolbar">
		<h1><%= @site.company_name %></h1>
		<nav>
			<a href="<%= edit_site_page_path(@site, @page) %>" class="edit_link">Edit Site</a>
			<a href="<%= @site.url_fullpath %>" target="_blank" class="view_link">View Site</a>
		</nav>
	</section>
	
	<section class="dashboard">
		<nav>
			<%=raw dashboard_navigation(
				[
					{ :url => '/dashboard', :class => 'analytics_link', :name => 'Dashboard', :controller => 'analytics' },
					{ :url => '/dashboard/newsletter', :class => 'newsletter_link', :name => 'Newsletter', :controller => 'newsletters' },
					{ :url => '/dashboard/forms', :class => 'forms_link', :name => 'Form Submissions', :controller => 'forms' },
					{ :url => '/dashboard/domain', :class => 'domain_link', :name => 'Domain', :controller => 'sites' },
					{ :url => '/dashboard/setting', :class => 'settings_link', :name => 'Settings', :controller => 'settings' }
				]
			) %>
		</nav>
		<article>
			<%= yield %>
		</article>
	</section>
	
	<%= render 'shared/dashboard_footer' %>
	
	<%= yield :js_inject %>
</body>
</html>