<!DOCTYPE html>
<html>
<head>
	<title><%= strip_tags @page.title_tag %></title>
	<meta name="description" content="<%= truncate(strip_tags(@page.meta_description), :length => 150, :separator => ' ', :omission => '') %>" />
	<meta name="keywords" content="<%= truncate(strip_tags(@page.meta_keywords), :length => 150, :separator => ' ', :omission => '') %>" />
	<% if !@site.deactivate_responsive_styles %>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<% end %>
	<% if (@site.user && @site.user.payment_plan == "Trial") %>
		<meta name="robots" content="noindex, nofollow, noarchive">
	<% end %>
	
	<!--[if lt IE 9]>
		<script src="/javascripts/lib/shiv.modernizr.js" type="text/javascript"></script>
		<link href="/custom/<%= @page.id.to_s %>.ie.css" rel="stylesheet" type="text/css" />
	<![endif]-->
	
	<%= favicon_link_tag @site.favicon_image if !@site.favicon_image.blank? %>
	<% if controller_name == 'pages' && action_name == 'edit' %>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600|<%= google_webfonts() %>' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag 'pages.edit', :media => "all" %>
		<%= javascript_include_tag 'pages.edit'  %>
	<% else %>
		<link href='https://fonts.googleapis.com/css?family=<%= google_webfonts([@site.header_type,@site.subheader_type,@site.body_type]) %>' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag 'pages.show', :media => "all" %>
		<%= javascript_include_tag 'pages.show'  %>
	<% end %>
	<script src="/javascripts/ckeditor/ckeditor.js?12" type="text/javascript"></script>
	<link href="/custom/<%= @page.id.to_s %>.css" rel="stylesheet" type="text/css" />
	
	<%= csrf_meta_tags %>
	
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-24551289-1']);
		_gaq.push(['_setDomainName', 'none']);
		_gaq.push(['_setAllowLinker', true]);
		_gaq.push(['_trackPageview']);
		<% if !@site.analytics_property_id.blank? %>
			_gaq.push(['b._setAccount', '<%= @site.analytics_property_id %>']);
			_gaq.push(['b._trackPageview']);
		<% end %>
		
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>
<body>
	
	<%= yield %>
	<%= yield(:js_inject) %>
	
	<% if @site.background_image_alignment == 'cover' %>
		<!--[if lt IE 9]>
			<script type="text/javascript">
				Onepager.BGSize.create();
			</script>
		<![endif]-->
	<% end %>
	
</body>
</html>