<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) + ' | ' if content_for?(:title) %>Onepager - Build a simple website for your small business</title>
	
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
	<!--[if lt IE 9]><script src="/javascripts/lib/shiv.modernizr.js" type="text/javascript"></script><![endif]-->
	
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	
	<%= csrf_meta_tags %>
	
	<%= render :partial => "/shared/google_analytics" %>
</head>
<body<%= raw(' class="' + yield(:body_class) + '"' ) if content_for?(:body_class) %>>
	
	<header class="main_navigation">
		<nav>
			<img src="/assets/application/logo.png?1" alt="Onepager" class="logo" />
			<section class="user_session">
			<% if !current_user %>
				<%= link_to "< Back to Editing", Site.new, :method => :post if params[:plan].blank? %>
				<%= link_to "< Back to Plans", new_signup_path if !params[:plan].blank? && params[:promo_code].blank? %>
			<% else %>
				<%= link_to "< Back to Sites", account_sites_path %>
			<% end %>
			</section>
		</nav>
	</header>

	<section class="<%= content_for?(:content_class) ? yield(:content_class) : 'articles' %>">
		<%= yield %>
	</section>
	
	<footer>
		<section>&copy; 2016 Onepager, Inc. &nbsp; | &nbsp; <a href="/en/legal/privacy-policy" target="_blank">Privacy Policy</a> &nbsp; | &nbsp; <a href="/en/legal/terms-conditions" target="_blank">Terms &amp; Conditions</a></section>
	</footer>
	
	<%= yield :js_inject %>
</body>
</html>
